*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
!api/lib
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
# Now including these in repo so they get deployed to heroku
# *.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Local Data
local_data/*

# Local Settings
constants_override.py
.env

# Mac OS
.DS_Store

# vim
*.swp

# artifacts from flask-assets
static/.webassets-cache
static/gen

#pytest
.pytest_cache
app/test_project.db
app.log

todo.txt
