<div class="whitepaper-disclaimer">
  <h2>Disclaimer</h2>
  <p>
    {{gettext("""Certain statements in this whitepaper constitute forward-looking statements. Such forward-looking statements, including the intended actions and
    performance objectives of the Company, involve known and unknown risks, uncertainties, and other important factors that could cause the actual results of
    the Company to differ materially from any future results expressed or implied by such forward-looking statements. Accordingly, readers should not place
    undue reliance on forward-looking statements. No representation or warranty is made as to future performance or such forward-looking statements.""")}}
  </p>

  <p>
    {{gettext("""This whitepaper was first published in September 2017, before the Origin Platform was built and deployed on the Ethereum Mainnet in October of 2018. For
    the most up to date information on our product development and business strategy, please refer to our website at originprotocol.com. For the latest technical
    information, please reference our Github account at <a href='https://github.com/OriginProtocol' target='_blank' rel='noreferrer noopener'>www.github.com/OriginProtocol</a>. To use our flagship marketplace application, please download our mobile apps
    (<a href='https://www.originprotocol.com/mobile' target='_blank'>www.originprotocol.com/mobile</a>) or visit our DApp ((<a href='https://www.shoporigin.com' target='_blank' rel='noreferrer noopener'>www.shoporigin.com</a>) with a web3-enabled DApp browser.
    To use our decentralized Shopify alternative, visit <a href='https://originswag.eth.link' target='_blank' rel='noreferrer noopener'>originswag.eth.link</a>.""")}}
  </p>

  <p>
    {{gettext("This whitepaper was last updated on December 26th, 2019.")}}
  </p>
</div>
