<div class="whitepaper-disclaimer">
  <h2>Disclaimer</h2>
  <p>
    {{gettext("""Certain statements in this whitepaper constitute forward-looking statements. Such forward-looking statements, including the intended actions and
    performance objectives of the Company, involve known and unknown risks, uncertainties, and other important factors that could cause the actual results of
    the Company to differ materially from any future results expressed or implied by such forward-looking statements. Accordingly, readers should not place
    undue reliance on forward-looking statements. No representation or warranty is made as to future performance or such forward-looking statements.""")}}
  </p>

  <p>
    {{gettext("""This whitepaper was first published in September 2017, before the Origin Platform was built and deployed on the Ethereum Mainnet in October of 2018. For
    the most up to date information on our product development and business strategy, please refer to our website at <a href='https://www.originprotocol.com'>originprotocol.com</a>. For the latest technical
    information, please reference <a href='https://github.com/OriginProtocol' target='_blank' rel='noreferrer noopener'>Origin's Github account</a>. To use our flagship marketplace application, please download our <a href='https://www.originprotocol.com/mobile' target='_blank'>mobile apps</a> or visit our <a href='https://www.shoporigin.com' target='_blank' rel='noreferrer noopener'>DApp</a> with a web3-enabled DApp browser.
    To use our decentralized Shopify alternative, visit <a href='https://originswag.eth.link' target='_blank' rel='noreferrer noopener'>originswag.eth.link</a>.""")}}
  </p>

  <p>
    {{gettext("This whitepaper was last updated on June 2nd, 2020.")}}
  </p>
</div>