<div id="execsummary">

  <div class="litepaper-alert">
    <div class="font-weight-bold">This original whitepaper has been deprecated.</div>
    <div>Check out our new litepaper to learn about Origin's updated mission.</div>
    <a class="mt-3" href="{{ url_for('litepaper', lang_code=CURRENT_LANGUAGE) }}">
      <div class="text-decoration-underline">{{gettext("View litepaper")}}</div>
    </a>
  </div>

  <h1 class="mt-3">{{gettext("Executive Summary")}}</h1>
  <p>
    {{gettext("Origin is an open-source platform that enables the creation of peer-to-peer marketplaces and e-commerce applications. The Origin Platform initially targets the global sharing economy, allowing buyers and sellers of
    fractional use goods and services (car-sharing, service-based tasks, home-sharing, etc.) to transact on
    the distributed, open web. Using the Ethereum blockchain and Interplanetary File System (IPFS), the
    platform and its community participants can interact in a peer-to-peer fashion, allowing for the creation and booking of
    services and goods without traditional intermediaries. ")}}
  </p>

  <p>{{gettext("We intend to enable a large-scale commerce network that:")}}</p>
  <ul>
    <li><p>{{gettext("Transfers direct financial value (listing, transaction, and service fees) from large corporations like Airbnb, Craigslist, Postmates, etc. to individual buyers and sellers")}}</p></li>
    <li><p>{{gettext("Transfers indirect financial and strategic value (privately aggregated silos of customer and transaction data) from those same corporations to the entire ecosystem")}}</p></li>
    <li><p>{{gettext("Creates new financial value for marketplace participants that contribute to the growth of the network (e.g. building new technology for the Origin Platform, bootstrapping new product verticals, and referring new users and businesses)")}}</p></li>
    <li><p>{{gettext("Is built on an open, distributed, and shared data layer to promote transparency and collaboration")}}</p></li>
    <li><p>{{gettext("Immediately allows buyers and sellers across the world to do business with each other without difficult currency conversions or tariffs")}}</p></li>
    <li><p>{{gettext("Promotes personal liberty by not allowing a central corporation or government to impose arbitrary and oftentimes onerous rules on how to do business")}}</p></li>
  </ul>

  <p>
    {{gettext("To accomplish these ambitious goals, we have created the Origin Platform with incentives that encourage other technologists, businesses, and consumers to build, contribute to, and extend the ecosystem with us. We imagine a broad collection of vertical use cases (e.g short-term vacation rentals, freelance software engineering, tutoring for hire) that are built on top of Origin standards and shared data.")}}
  </p>

  <p>
    {{gettext("As of this writing, the Origin Platform is currently in Mainnet Beta. The 1.0 platform launch is scheduled in Q1 of 2020. While much of the engineering work has thus far been shouldered by our core engineering team, we anticipate that a significant amount of future development after the 1.0 launch will come from our growing open-source community")}}
  </p>

  <p>
    {{gettext("Together, we will create the Internet economy of tomorrow.")}}
  </p>

  <p>
    {{gettext("This Whitepaper details:")}}
  </p>

  <ul>
    <li><p>{{gettext("Why a new form of peer-to-peer commerce needs to exist")}}</p></li>
    <li><p>{{gettext("The proposed benefits of the Origin Platform")}}</p></li>
    <li><p>{{gettext("Our product strategy, key features, and technical overview")}}</p></li>
    <li><p>{{gettext("An overview of the Origin team and community")}}</p></li>
  </ul>
</div>
