<div class="whitepaper-footnotes">
  <div id="footnote1">
    {{gettext("Ridesharing, apartment/home lending, peer-to-peer lending, reselling, coworking, talent-sharing… The sharing economy, sometimes also called the collaboration economy, is taking off in all sorts of niches.")}}
    - <a rel="noopener noreferrer" href="https://www.forbes.com/sites/bernardmarr/2016/10/21/the-sharing-economy-what-it-is-examples-and-how-big-data-platforms-and-algorithms-fuel">Forbes</a>
  </div>
  <div id="footnote2">
    {{gettext("Buyers prefer a large number of sellers, and, meanwhile, sellers prefer a large number of buyers, such that the members in one group can easily find their trading partners from the other group. Therefore, the cross-side network effect is positive.")}}
    - <a rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Two-sided_market">Wikipedia</a>
  </div>
  <div id="footnote3">
    {{gettext("Most competition in Silicon Valley now heads toward there being one monopolistic winner. And that is why it is hard not to see that, right now, the only competition that matters in ride-sharing is between the two largest companies: Uber and Lyft.")}}
    - <a rel="noopener noreferrer" href="https://www.newyorker.com/tech/elements/in-silicon-valley-now-its-almost-always-winner-takes-all">Om Malik</a>
  </div>
  <div id="footnote4">
    {{gettext("Years — and over 4 million listings — later, Airbnb doesn’t need to meet hosts in person anymore; the flywheel is officially spinning.")}}
    - <a rel="noopener noreferrer" href="https://medium.com/@jgolden/lessons-learned-scaling-airbnb-100x-b862364fb3a7">Jonathan Golden (Airbnb’s first product manager)</a>
  </div>
  <div id="footnote5">
    {{gettext("Locations in popular tourist destinations such as New York, London, and Paris will also have higher commission rates than less-known areas due to greater competition, and upscale properties with higher profit margins on average will have a higher commission rate than properties such as hostels, motels, etc. that have thinner margins.")}}
    - <a rel="noopener noreferrer" href="https://www.quora.com/How-much-commission-is-booking-com-charging-their-partner-hotels">Quora</a>
  </div>
  <div id="footnote6">
    {{gettext("...conventional wisdom suggests Craigslist should have vanished long ago. Launched by Craig Newmark in 1995, the website, which has kept roughly the same design through the years and now has some 55 million visitors a month, has not only survived but also thrived...Craigslist's effectiveness cannot be understated...Last year, it took in upwards of $690 million in revenue, according to an estimate by the AIM Group, a research firm in Altamonte Springs, Florida.")}}
    - <a rel="noopener noreferrer" href="https://www.forbes.com/sites/ryanmac/2017/05/02/offerup-letgo-killing-craigslist">Forbes</a>
  </div>
  <div id="footnote7">
    {{gettext(" We...found the median ‘real commission’ over the course of 37 rides in San Francisco was 39.01%%. ")}}
    - <a rel="noopener noreferrer" href="https://therideshareguy.com/uber-increases-booking-fee-and-effective-commission/">The Rideshare Guy</a>
  </div>
  <div id="footnote8">
    {{gettext(" Airbnb has canceled a number of accounts and bookings associated with the Unite the Right Free Speech Rally")}}
    - <a rel="noopener noreferrer" href="http://www.nytimes.com/2017/08/09/us/airbnb-white-nationalists-supremacists.html?mcubz=0">The New York Times</a>
  </div>
  <div id="footnote9">
    {{gettext("San Francisco estimates that more than 50%% of current Airbnb listings in the city aren't eligible to be registered and thus would need to stop hosting visitors unless they can comply")}}
    - <a rel="noopener noreferrer" href="https://www.usatoday.com/story/tech">USA Today</a>
  </div>
  <div id="footnote10">
    {{gettext("TIME’s poll of 3,000 people, conducted by Penn Schoen Berland in late November, found that 22%% of American adults, or 45 million people, have already offered some kind of good or service in this economy. ")}}
    - <a rel="noopener noreferrer" href="http://time.com/4169532/sharing-economy-poll/">Time</a>
  </div>
  <div id="footnote11">
    {{gettext("The sharing economy is estimated to grow from $14 billion in 2014 to $335 billion by 2025")}}
    - <a rel="noopener noreferrer" href="http://www.brookings.edu/wp-content/uploads/2016/12/sharingeconomy_032017final.pdf">Brookings Institution</a>
  </div>
  <div id="footnote12">
    {{gettext("The new research, Sharing Economy: Opportunities, Impacts & Disruptors 2017-2022, forecasts that the sharing economy will reach $40.2 billion in 2022, in terms of platform provider revenues, up from $18.6 billion in 2017.")}}
    - <a rel="noopener noreferrer" href="https://www.juniperresearch.com/press/press-releases/sharing-economy-revenues-to-double-by-2022">Juniper Research</a>
  </div>
  <div id="footnote13">
    {{gettext("property managers...will be charged a 14 percent host-only fee by default. Until now, the default was that Airbnb charged hosts a 3 to 5 percent fixed fee")}}
    - Skift
  </div>
  <div id="footnote14">
    {{gettext("TNCs can take as much as 42.75%% from a minimum fare ride in San Francisco")}}
    - Ridester
  </div>
  <div id="footnote15">
    {{gettext("Projects built on IPFS")}}
    - <a rel="noopener noreferrer" href="https://github.com/ipfs/awesome-ipfs">IPFS github</a>
  </div>
  <div id="footnote16">
    {{gettext("...consider how easy it is to switch from Poloniex to GDAX, or to any of the dozens of cryptocurrency exchanges out there, and vice-versa in large part because they all have equal and free access to the underlying data, blockchain transactions. Here you have several competing, non-cooperating services which are interoperable with each other by virtue of building their services on top of the same open protocols. This forces the market to find ways to reduce costs, build better products, and invent radical new ones to succeed.")}}
    - <a rel="noopener noreferrer" href="http://www.usv.com/blog/fat-protocols">Union Square Ventures</a>
  </div>
  <div id="footnote17">
    {{gettext("This relationship between protocols and applications is reversed in the blockchain application stack. Value concentrates at the shared protocol layer and only a fraction of that value is distributed along at the applications layer. It's a stack with \"fat\" protocols and \"thin\" applications.")}}
    - <a rel="noopener noreferrer" href="http://www.usv.com/blog/fat-protocols">Union Square Ventures</a>
  </div>
</div>