<div id="platform">
  <h1>{{gettext("The Origin Platform")}}</h1>

  <img src="/static/img/whitepaper/07.png" class="whitepaper-image" />

  <div id="decentralizedmarketplaces">
    <h2>{{gettext("Enabling <span>Decentralized Marketplaces</span>")}}</h2>

    <p>{{gettext("Our vision is to promote the open and free exchange of services in the new Internet. To do this, we have built a platform that replicates much, if not all, of the functionality of third-party intermediaries on the blockchain and other distributed systems. This is an ambitious goal and a technically difficult engineering challenge, but we have already hit early milestones to prove out our technology and early use cases.")}}</p>

    <p>{{gettext("The Origin Platform has three major components that are all open-source:")}}</p>

    <ul>
      <li><p>{{gettext("Origin-enabled end-user applications")}}</p></li>
      <li><p>{{gettext("Origin developer infrastructure")}}</p></li>
      <li><p>{{gettext("Origin protocols")}}</p></li>
    </ul>

    <img src="/static/img/whitepaper/08.png" class="whitepaper-image" />
    
    <p class="font-weight-bold">{{gettext("Origin-enabled end-user applications")}}</p>

    <p>{{gettext("The Origin flagship marketplace app is our consumer marketplace product that allows buyers and sellers on the network to do business. It is available today on the web at shoporigin.com and on both iOS and Android mobile devices at originprotocol.com/mobile.")}}</p>

    <img src="/static/img/whitepaper/09.png" class="whitepaper-image" />

    <p>{{gettext("Today, there is one primary Origin marketplace decentralized app (DApp), though there are multiple vertical-specific DApps (e.g. in the home-sharing or services verticals) that are currently being actively developed. There are also multiple third-party applications already running on the Origin Platform.")}}</p>

    <p>{{gettext("Users can use the Origin flagship marketplace app provided they have the Origin Mobile app or an Ethereum wallet and a web3-enabled browser like Coinbase Wallet, imToken, Trust Wallet, or Metamask.")}}</p>

    <p>{{gettext("Sellers can create listings, set availability of their offerings, and accept payment. Buyers can browse and search a full index of all goods and services offered on the Origin marketplace DApp, and most importantly, make purchases.")}}</p>

    <p>{{gettext("The Origin DApp serves as a lightweight client on the Origin Platform. The frontend code can even be hosted and distributed on the open IPFS network.")}}</p>

    <p>{{gettext("Of particular note is that we don’t intend for the Origin DApp to be the only way to access user and transaction data. Our code, protocols, and specifications are all 100%% open-source, and we expect and hope that others will extend and fork the code to create their own frontend experiences. Already, we have had over 170 open-source contributors participate in improving our core libraries and initial marketplace app. There are already multiple third-party DApps running on the Origin Platform across numerous verticals such as home-sharing, luxury ecommerce, and fine art.")}}</p>

    <p>{{gettext("We see the Origin flagship marketplace app as just the first way to interact with the Origin protocols. In the coming months and years after our 1.0 launch, we expect hundreds of third-party websites, mobile apps, and even new APIs to be built on top of the network.")}}</p>

    <p>{{gettext("To that end, we expect new and better user experiences that focus on specific verticals (e.g. home-sharing vs. tasks) or regions (e.g. Brazil vs. Switzerland) to be created that can drill deeper on custom features and localization. These third-party developer applications will take advantage of all or parts of the underlying Origin developer infrastructure and protocols. We intend to support fully decentralized applications, partially decentralized applications (e.g. applications that use managed wallets), and even mostly-centralized applications that are still focused on peer-to-peer commerce (e.g. applications that utilize the Origin Token for incentives that are hosted on traditional infrastructure).")}}</p>

    <p class="font-weight-bold">{{gettext("Origin developer infrastructure")}}</p>

    <p>{{gettext("We intend to build a robust developer ecosystem that results in many successful third-party applications. As blockchain and distributed technologies are still nascent and challenging to work with for most developers, Origin intends to release easy-to-use developer libraries that simplify the development process for third-parties. By implementing an easy-to-use abstraction layer, we hope to attract many more developers that have experience in traditional web and mobile technologies, but may not be familiar with blockchain programming")}}</p>

    <p>{{gettext("The first of these libraries will be a Javascript GraphQL library that web developers can use in their web applications. Future libraries may include mobile libraries for popular mobile operating systems like Apple’s iOS and Google’s Android.")}}</p>

    <p>{{gettext("In addition, we expect that some marketplace operators will want to get started without spending as much time and effort engineering fully-customized apps. As such, we’ve also launched an early version of our Marketplace Creator (creator.originprotocol.com) that enables marketplace operators to launch marketplaces with little or no programming required.")}}</p>

    <p class="font-weight-bold">{{gettext("Origin protocols")}}</p>

    <p>{{gettext("Origin protocols encompass our open-source standards for many marketplace features, including user identity, publishing listings, and peer-to-peer transactions. The Protocols also include an open and shared data layer of users, listings, and other data on our Marketplace contract.")}}</p>

    <p>{{gettext("A full list of our Ethereum smart contracts is below:")}}</p>

    <ul>
      <li><p>{{gettext("Origin Token (OGN) Contract")}} - <a href="http://etherscan.io/address/origintoken.eth" rel="noopener noreferrer">http://etherscan.io/address/origintoken.eth</a></p></li>
      <li><p>{{gettext("Origin Marketplace Contract")}} - <a href="http://etherscan.io/address/originmarketplace.eth" rel="noopener noreferrer">http://etherscan.io/address/originmarketplace.eth</a></p></li>
      <li><p>{{gettext("Origin Identity Contract")}} - <a href="http://etherscan.io/address/originid.eth" rel="noopener noreferrer">http://etherscan.io/address/originid.eth</a></p></li>
    </ul>

    <p>{{gettext("User and transaction data is stored on the Ethereum blockchain and IPFS. This means that third-parties can query the public Ethereum blockchain and IPFS network for currently available listings, a history of previous transactions, and the reputations of various ecosystem buyers and sellers")}}</p>

    <p>{{gettext("This creates several benefits. First, the corpus of data is open and immutable, which means it can be trusted without requiring the traditional third-party intermediary that imposes its “trust tax”. Second, it levels the competitive playing field and allows for new teams of developers, entrepreneurs, and organizations to compete with each other off of this shared data, and ultimately creates greater value for the platform. After our 1.0 launch, we anticipate that much of the development of the Origin Platform will come from third-party developers that make use of this open data layer.")}}</p>

    <p>{{gettext("The best precedent of this is Bitcoin itself. An open, immutable transaction history allowed many Bitcoin exchanges to pop up worldwide. They now compete for customers and trading volume with no single party having the luxury of benefiting off of private data. Far from giving away the keys to the kingdom, this has encouraged exchanges to compete on security, user experience, marketing, and fees<a class='whitepaper-footnote-link' href='#footnote16'>16</a>. The aggregate efforts have pushed Bitcoin and cryptocurrency immeasurably further than if a single company had tried to pioneer a private digital currency and exchange")}}</p>

    <p>{{gettext("Again, the intended goal is to have many minds collectively tackle the problem of building the right infrastructure, data models, information architecture, etc. to organize and consume data for the decentralized sharing economy.")}}</p>
  </div>


  <div id="keyfeatures">
    <h2>{{gettext("Key Product Features <span>& Benefits</span>")}}</h2>

    <p>{{gettext("To recap, at a high-level, the Origin Platform and third-party applications built on top of it have several intended advantages when compared to existing sharing economy marketplaces.")}}</p>

    <p>{{gettext("Of paramount importance is the ability to cut out almost all of the transaction fees associated from bookings between buyers and suppliers. Because of the Fat Protocol phenomenon, the value of the network lies mostly in the value of the protocol layer<a class='whitepaper-footnote-link' href='#footnote17'>17</a>, and less on the applications layer (in this case, websites that would otherwise charge fees). Our incentives are to build a rich ecosystem of buyers and sellers, so we do not intend to charge onerous transaction fees on the protocol level.")}}</p>

    <p>{{gettext("Note that this does not necessarily prohibit transaction fees charged by third-party application developers. Today, Origin Tokens are used as an incentive mechanism that provides third-party marketplace operators with a revenue stream via Origin Commissions. Sellers can choose to promote their listings, providing an optional commission to the marketplace operator that helps connect them with a buyer. While we expect these fees to be significantly lower than existing centralized incumbents, it’s important that marketplace operators and e-commerce merchants have an incentive to build feature-rich dedicated experiences on top of the Origin developer libraries and protocols. ")}}</p>

    <p>{{gettext("We turn again to examples of highly verticalized sites (e.g. dog sitting) and regional players (e.g. bikesharing in Boulder, CO) as potential use cases that would benefit from a more specialized experience than what the default Origin flagship marketplace app or decentralized e-commerce store creator currently offer.")}}</p>

    <p>{{gettext("Today, if you wanted to start a traditional company to compete in the global economy, you would have to set up banking arrangements one country at a time and deal with all the related financial regulations. This creates a non-trivial barrier to entry for most startups looking to expand internationally. In fact, we often see regional clones who are able to launch faster in specific regions than the company that came up with the original idea. However, cryptocurrency is a global phenomenon. Thanks to the widespread availability of the Internet, the Origin platform and flagship marketplace app were immediately available in nearly every country in the world when we launched on the Ethereum mainnet. We view this as a significant advantage.")}}</p>

    <p>{{gettext("Other high-level benefits include having a built-in mechanism to incentivize early ecosystem participants who hold and use Origin Tokens (OGN). We are constantly thinking about the right incentives that will encourage ecosystem participants like developers, individual buyers and sellers, and others to use and promote the Platform. We intend to reward behavior that encourages new referrals to the Platform and builds marketing, operational, and trust/safety infrastructure for the Platform. You can see these economic incentives in action with our initial implementation of Origin Rewards.")}}</p>

    <p>{{gettext("At a lower-level, Origin has built upon existing product paradigms and user features. These features include:")}}</p>

    <ul>
      <li><p>{{gettext("User profiles and data")}}</p></li>
      <li><p>{{gettext("Listing of for sale goods and fractional use of assets and services")}}</p></li>
      <li><p>{{gettext("Escrow of funds for deposits, with release of funds upon completion of services or exchange of goods")}}</p></li>
      <li><p>{{gettext("Setting and browsing availability/scheduling")}}</p></li>
      <li><p>{{gettext("Reputation in the form reviews and ratings")}}</p></li>
      <li><p>{{gettext("Secure and encrypted messaging")}}</p></li>
    </ul>
    
    <img src="/static/img/whitepaper/10.png" class="whitepaper-image" />
  </div>

  <div id="ogntoken">
    <h2>{{gettext("Origin <span>Token (OGN)</span>")}}</h2>

    <p>{{gettext("The Origin Token (also known as OGN) is a utility token that serves multiple purposes in ensuring the health and growth of the network. The ERC20 contract is live on the Ethereum network today at: 0x8207c1FfC5B6804F6024322CcF34F29c3541Ae26.")}}</p>

    <p>{{gettext("At a high-level, this native token is intended to serve several key functions on the platform. First, OGN is a multi-purpose incentive token that drives behavior for end users, developers, marketplace operators, and other ecosystem participants. In addition, OGN is a medium-of-exchange token that can be used for payments between buyers and sellers on the platform. Finally, it is intended that OGN will serve a critical piece in the future governance of the network.")}}</p>

    <p>{{gettext("Since April of 2019, Origin Tokens have already been used to incentivize various forms of participation from the Platform’s ecosystem participants. Origin Tokens are used to reward users, developers, marketplace operators, and/or other participants to perform actions and services that are beneficial to the health and growth of the Platform. ")}}</p>

    <p class="font-weight-bold">{{gettext("Origin Rewards")}}</p>

    <p>{{gettext("Origin Rewards (originrewards.com) is an incentive program targeted at end users on the Platform. Buyers and sellers on the platform have been able to earn OGN since our inaugural Origin Rewards campaign in April of 2019. Origin Rewards enables everyone to have a stake in the network. We’ve intentionally designed the program so that even novice, non-technical users can participate.")}}</p>

    <p>{{gettext("With Origin Rewards, users can receive OGN for creating user profiles and verifying their identities.")}}</p>

    <img src="/static/img/whitepaper/11.png" class="whitepaper-image" />

    <p>{{gettext("One of the best ways to grow the network is through referrals. As such, end users can also earn tokens by inviting new users to the network. This creates more trust between buyers and sellers on the network.")}}</p>

    <img src="/static/img/whitepaper/12.png" class="whitepaper-image" />

    <p>{{gettext("Users can also earn OGN by following Origin’s social media accounts or promoting news about the project on public channels.")}}</p>

    <img src="/static/img/whitepaper/13.png" class="whitepaper-image" />

    <p>{{gettext("To encourage transaction volume on the Origin Platform, we are also offering “cashback” mechanisms to users that purchase from our trusted network of top sellers.")}}</p>

    <img src="/static/img/whitepaper/14.png" class="whitepaper-image" />

    <p class="font-weight-bold">{{gettext("Origin Commissions")}}</p>

    <p>{{gettext("It is essential that we also incentivize developers and marketplace operators to use the Origin Platform. As such, we have launched an advertising and promotions program that creates a built-in business model for the decentralized marketplaces operating on Origin.")}}</p>

    <p>{{gettext("Sellers on Origin-enabled applications can promote their listings with OGN to get higher visibility on the search and browse results on our flagship app and partner apps. Currently, the only way to participate in this program is to pay with OGN. When sellers create listings, they can add OGN commissions to their listings. This OGN is placed into escrow in our Marketplace Smart Contract")}}</p>

    <img src="/static/img/whitepaper/15.png" class="whitepaper-image" />

    <p>{{gettext("Then, when sales are finalized, OGN commissions are given to the apps that brought counterparties (the buyers) to fulfill the sales. This gives developers incentives to promote these seller listings, as well as compete amongst themselves to drive the most sales for sellers. ")}}</p>

    <img src="/static/img/whitepaper/16.png" class="whitepaper-image" />

    <p>{{gettext("To give a more specific example, let’s assume that a NYC-based home owner wants to put her apartment up for home-sharing on the Origin network. She inputs that she is willing to pay a 20 OGN commission every single time her apartment is rented out for one evening. Multiple home-sharing applications are now incentivized to feature her apartment so that they can compete for the OGN commissions. When one application acts as the final point of sale for a booking by finding the seller a renter, the application developer is rewarded the 20 OGN that she has offered up as commission")}}</p>

    <p>{{gettext("In the future, it is intended that other types of commission earners like bloggers, social media influencers, and other affiliates will be able to earn OGN commissions from sellers. ")}}</p>

    <p>{{gettext("Origin Commissions is a new advertising and promotions model that is superior to traditional paid marketing (CPC and CPM) models. Advertisers (sellers) only pay in OGN tokens when successful sales have occurred. Similarly, the publishers (application creators, bloggers, other affiliates, etc.) are only paid when real transactions happen. This creates a much more efficient attribution model than the one that traditional advertising offers. Origin Commissions aligns the interests of sellers, application creators, and other affiliates to promote listings to buyers across the Origin network.")}}</p>

    <p class="font-weight-bold">{{gettext("OGN as a payment token")}}</p>

    <p>{{gettext("Today, users of the platform are able to transact using ETH or DAI. After our 1.0 platform launch in Q1 of 2020, OGN will be enabled as one of the preferred payment methods between buyers and sellers on the platform.")}}</p>

    <p>{{gettext("For example, users that earn OGN through Origin Rewards will be able to instantly use their tokens to purchase goods and services on our flagship marketplace, decentralized e-commerce platform and other future applications. This lowers the user friction of users having to acquire ETH or DAI outside of the platform before they are able to be viable buyers in the system.")}}</p>

    <p>{{gettext("In addition, we anticipate offering the ability for users to instantly acquire OGN via one or more decentralized exchange smart contracts to use when they do not have enough OGN in their wallets.")}}</p>

    <p class="font-weight-bold">{{gettext("Origin Staking")}}</p>

    <p>{{gettext("After our 1.0 launch, we intend to collaborate with our large community on several new token use case initiatives. Origin is currently researching and developing new staking models that will generate yields for token holders in exchange for powering and supporting other parts of the network.")}}</p>

    <p>{{gettext("For example, we intend for Origin to be a highly scalable and performant platform. We intend to incentivize developers and other participants to run Origin infrastructure, such as Origin Nodes.")}}</p>

    <p>{{gettext("Currently, we run Origin Nodes that store, update, and validate profile, listing, and reputation metadata across the web. In the future, it is intended that third-party node operators will be able to stake OGN for the right to “do work” in validating and replicating data across the system as well; as they perform these operations, they will be rewarded their pro rata shares of OGN rewards based on the amount of work they do in every given node operation interval.")}}</p>

    <p>{{gettext("In addition, we are also researching several consumer staking models that will enable end users to earn OGN returns for holding and locking their tokens within Origin applications.")}}</p>

    <p>{{gettext("Origin staking models are currently an active area of research and development.")}}</p>

    <p class="font-weight-bold">{{gettext("OGN as a governance token")}}</p>

    <p>{{gettext("Origin Tokens are intended to be used for governance of the Origin Platform. At a later date, it is intended that Origin Token holders will be able to influence the direction of software development and business policies on the Origin Platform.")}}</p>

    <p>{{gettext("Token holders will be able to cast votes that are proportional to their stake in the network on important community governance issues")}}</p>

    <p>{{gettext("As network governance becomes increasingly important as our token holder numbers increase, we anticipate that we will collaborate with the community on rolling out this OGN use case as the network continues to mature.")}}</p>
  </div>
</div>
