<div id="roadmap">
  <h1>{{gettext("Roadmap & milestones")}}</h1>

  <div class="milestones-timeline">
    <div class="milestone completed">
      <div class="step">1</div>
      <div class="timestamp">{{gettext("May 2017")}}</div>
      <div class="title">{{gettext("Began initial development")}}</div>
    </div>
    <div class="milestone completed">
      <div class="step">2</div>
      <div class="timestamp">{{gettext("September 2017")}}</div>
      <div class="title">{{gettext("Released initial whitepaper")}}</div>
    </div>
    <div class="milestone completed">
      <div class="step">3</div>
      <div class="timestamp">{{gettext("December 2017")}}</div>
      <div class="title">{{gettext("Launched Alpha on Ethereum testnet")}}</div>
    </div>
    <div class="milestone completed">
      <div class="step">4</div>
      <div class="timestamp">{{gettext("October 2018")}}</div>
      <div class="title">{{gettext("Launched Beta on Ethereum mainnet")}}</div>
    </div>
    <div class="milestone completed">
      <div class="step">5</div>
      <div class="timestamp">{{gettext("February 2019")}}</div>
      <div class="title">
        <span>{{gettext("Launched Marketplace Creator 1.0 and our first mobile apps")}}</span>
        <span>{{gettext("Supported first partner app launches")}}</span>
      </div>
    </div>
    <div class="milestone completed">
      <div class="step">6</div>
      <div class="timestamp">{{gettext("April 2019")}}</div>
      <div class="title">{{gettext("Launched Origin Rewards")}}</div>
    </div>
    <div class="milestone completed">
      <div class="step">7</div>
      <div class="timestamp">{{gettext("July 2019")}}</div>
      <div class="title">
        <span>{{gettext("Launched shoporigin.com and new mobile apps")}}</span>
        <span>{{gettext("Launched Meta Transactions")}}</span>
      </div>
    </div>
    <div class="milestone completed recent">
      <div class="step">8</div>
      <div class="timestamp">{{gettext("September 2019")}}</div>
      <div class="title">{{gettext("Launched OGN Commissions")}}</div>
    </div>
    <div class="milestone future">
      <div class="step">9</div>
      <div class="timestamp">{{gettext("Q4 2019")}}</div>
      <div class="title">
          <span>{{gettext("Launch Mainnet 1.0")}}</span>
          <span>{{gettext("Launch OGN as payment token")}}</span>
          <span>{{gettext("Distribute investor OGN tokens")}}</span>
      </div>
    </div>
    <div class="milestone future">
      <div class="step">10</div>
      <div class="timestamp">{{gettext("Q1 2020")}}</div>
      <div class="title">
        <span>{{gettext("Increase the decentralization of the Origin network with Origin Nodes and other research initiatives")}}</span>
      </div>
    </div>
    <div class="milestone future">
      <div class="step">11</div>
      <div class="timestamp">{{gettext("Q2 2020")}}</div>
      <div class="title">
          <span>{{gettext("Focus on expanding developer adoption with new developer tools and APIs")}}</span>
      </div>
    </div>
    <div class="milestone future">
      <div class="step">12</div>
      <div class="timestamp">{{gettext("Q3 2020 and beyond")}}</div>
      <div class="title">
        {{gettext("Continued development of the Origin platform with a focus on achieving decentralized governance")}}
      </div>
    </div>
  </div>
</div>
