
<div class="whitepaper-sidebar-nav">
  <nav id="whitepaperNavbar" class="sidebar-wrapper" data-scroll-target="#whitepaperContent">
    <a class="nav-link whitepaper-nav-title" href="#execsummary">
      <span class="content-index">01</span> 
      <span>{{gettext("Executive Summary")}}</span>
    </a>

    <a class="nav-link whitepaper-nav-title" href="#why">
      <span class="content-index">02</span> 
      <span>{{gettext("Why")}}</span>
    </a>
      <a class="nav-link" href="#background">
        <span>{{gettext("Background")}}</span>
      </a>
      <a class="nav-link" href="#shortcomings">
        <span>{{gettext("Shortcomings of existing Internet marketplaces")}}</span>
      </a>
      <a class="nav-link" href="#timeforchange">
        <span>{{gettext("Now is the time for change")}}</span>
      </a>

    <a class="nav-link whitepaper-nav-title" href="#platform">
      <span class="content-index">03</span> 
      <span>{{gettext("The Origin Platform")}}</span>
    </a>
      <a class="nav-link" href="#decentralizedmarketplaces">
        <span>{{gettext("Enabling peer-to-peer commerce")}}</span>
      </a>
      <a class="nav-link" href="#keyfeatures">
        <span>{{gettext("Key product features and benefits")}}</span>
      </a>
      <a class="nav-link" href="#ogntoken">
        <span>{{gettext("The Origin Token (OGN)")}}</span>
      </a>

    <a class="nav-link whitepaper-nav-title" href="#team">
      <span class="content-index">05</span> 
      <span>{{gettext("Team")}}</span>
    </a>
      <a class="nav-link" href="#founders">
        <span>{{gettext("Founders")}}</span>
      </a>
      <a class="nav-link" href="#coreteam">
        <span>{{gettext("Core team")}}</span>
      </a>
      <a class="nav-link" href="#community">
        <span>{{gettext("Community")}}</span>
      </a>
      <a class="nav-link" href="#devcommunity">
        <span>{{gettext("Developer community")}}</span>
      </a>

    <a class="nav-link whitepaper-nav-title" href="#summary">
      <span class="content-index">06</span> 
      <span>{{gettext("Summary")}}</span>
    </a>
  </nav>
</div>
