<div id="team">
  <h1>{{gettext("Team")}}</h1>

  <div id="founders">
    <h2>{{gettext("Founders")}}</h2>

    <div class="team-member large mt-5">
      <div class="headshot-wrapper">
        <img src="/static/img/headshot-matt.jpg" class="headshot" alt="Matthew Liu headshot" />
      </div>
      <div class="name">
        <a href="http://www.linkedin.com/in/matthewliu" target="_blank"
          rel="noopener noreferrer">{{ gettext("Matthew Liu") }}
        </a>
      </div>
      <div class="title">
        {{ gettext("Co-founder") }}
      </div>
    </div>

    <p>
      {{gettext("Matthew Liu is co-founder of Origin Protocol and is an
      experienced product and business executive and full-stack software
      engineer. He became interested in cryptocurrency after investing in the
      Ethereum crowdsale, and has been investing in blockchain and token
      projects ever since.")}}
    </p>
    <p>
      {{gettext("Liu was one of the earliest product managers/25th employee at
      YouTube (acquired by Google), and was a founding member of YouTube’s
      monetization team that eventually built a multi-billion dollar advertising
      business.")}}
    </p>
    <p>
      {{gettext("He later served as Vice President of Product at Qwiki (acquired
      by Yahoo) and Vice President of Product at Bonobos (acquired by Walmart).
      Together, Liu and Fraser have founded several profitable bootstrapped
      Internet businesses in the growth marketing (7-figure annual recurring
      revenue) and personal finance (acquired) spaces over the past three
      years.")}}
    </p>
    <p>
      {{gettext("In 2014, as CEO of Unicycle Labs, Liu built a real-time
      comparison tool for ride-sharing that was widely adopted and then promptly
      given a cease and desist by Uber for scraping their data and using their
      trademarks. This was one of his first inspirations to fight for open data,
      pricing transparency, and fair consumer practices in the sharing
      economy.")}}
    </p>

    <div class="team-member large mt-5">
      <div class="headshot-wrapper">
        <img src="/static/img/headshot-josh.jpg" class="headshot" alt="Josh Fraser headshot" />
      </div>
      <div class="name">
        <a href="http://www.linkedin.com/in/joshuafraser" target="_blank"
          rel="noopener noreferrer">{{ gettext("Josh Fraser") }}
        </a>
      </div>
      <div class="title">
        {{ gettext("Co-founder") }}
      </div>
    </div>

    <p>
      {{gettext("Joshua Fraser is co-founder of Origin Protocol and is a serial
      entrepreneur and experienced technical executive. He mined his first
      bitcoin in 2010 and is an active member of the cryptocurrency community.
      He has contributed and led several open-source projects as well as
      innovative protocols like PubSubHubbub. ")}}
    </p>
    <p>
      {{gettext("He previously served as founder and CTO of Eventvue (social
      networking for events) and Forage/Din (healthy gourmet meal kits). Fraser
      was also founder and CEO of Torbit where he developed an expertise in
      networking infrastructure, web performance and internet security before
      selling the company to Walmart Labs.")}}
    </p>
    <p>
      {{gettext("Fraser has founded several bootstrapped, profitable businesses
      with Liu, one of which was PriceSlash (acquired by BillShark). As a former
      Airbnb host, he has experienced first-hand the downsides of marketplace
      intermediaries (large fees, arbitrary rules, and government
      regulation).")}}
    </p>
  </div>

  <div id="coreteam">
    <h2>{{gettext("Core <span>team</span>")}}</h2>

    <p>
      {{gettext("Origin’s headquarters are in San Francisco, CA, USA. However,
      we have team members across the globe and run an efficient and open
      distributed company. Our full-time staff of 16 is currently situated
      across 4 continents.")}}
    </p>

    <div class="row">
      <div class="col-md-4 mt-3">
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-yupan.jpg" class="headshot" alt="Yu Pan headshot" />
          </div>
          <div class="name">
            <a href="https://en.wikipedia.org/wiki/Yu_Pan" target="_blank"
              rel="noopener noreferrer">{{ gettext("Yu Pan") }}
            </a>
          </div>
          <div class="title">
            {{ gettext("R&D Engineer") }}
          </div>
          <div class="bio text-center">
            {{ gettext("Yu Pan was one of the 6 founding team members of PayPal
            and was the 1st employee at YouTube. He is a former Google employee
            and co-founder of Kiwi Crate.") }}
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-franck.jpg" class="headshot" alt="Franck Chastagnol headshot" />
          </div>
          <div class="name">
            <a href="https://www.linkedin.com/in/franckc/" target="_blank"
              rel="noopener noreferrer">{{ gettext("Franck Chastagnol") }}
            </a>
          </div>
          <div class="title">
            {{ gettext("Senior Engineer") }}
          </div>
          <div class="bio text-center">
            {{ gettext("Franck has had a successful career as an early employee
            at numerous high-profile companies. He previously led engineering
            teams at Inktomi, Paypal, YouTube, Google and Dropbox.") }}
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-coleman.jpg" class="headshot" alt="Coleman Maher headshot" />
          </div>
          <div class="name">
            <a href="https://www.linkedin.com/in/coleman-maher-sf/" target="_blank" rel="noopener noreferrer">Coleman
              Maher
            </a>
          </div>
          <div class="title">
            {{ gettext("Business Development") }}
          </div>
          <div class="bio text-center">
            {{ gettext("Coleman is an active cryptocurrency investor and real
            estate entrepreneur, owning and managing multiple Airbnb properties.
            He studied mathematics at Berkeley.") }}
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-micah.jpg" class="headshot" alt="Micah Alcorn headshot" />
          </div>
          <div class="name">
            <a href="https://twitter.com/micahalcorn" target="_blank"
              rel="noopener noreferrer">{{ gettext("Micah Alcorn") }}
            </a>
          </div>
          <div class="title">
            {{ gettext("Product Manager/Engineer") }}
          </div>
          <div class="bio text-center">
            {{ gettext("Micah was the technical co-founder of WellAttended, a
            bootstrapped box office management platform. He worked as a
            commercial real estate broker while learning to code.") }}
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-kay.jpg" class="headshot" alt="Kay Yoo headshot" />
          </div>
          <div class="name">
            <a href="https://www.linkedin.com/in/kay-yoo-53006960/" target="_blank"
              rel="noopener noreferrer">{{ gettext("Kay Yoo") }}
            </a>
          </div>
          <div class="title">
            {{ gettext("Finance & Operations") }}
          </div>
          <div class="bio text-center">
            {{ gettext("Kay is a Chartered Professional Accountant (CPA). She
            previously worked as a Senior Accountant and then as a Senior
            Consultant at KPMG Canada.") }}
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-aure.jpeg" class="headshot" alt="Aure Gimon headshot" />
          </div>
          <div class="name">
            <a href="https://www.linkedin.com/in/aure-gimon-8501041/" target="_blank"
              rel="noopener noreferrer">{{ gettext("Aure Gimon") }}
            </a>
          </div>
          <div class="title">
            {{ gettext("Product Designer") }}
          </div>
          <div class="bio text-center">
            {{ gettext("Aure is a product designer with 10+ years of experience.
            Prior to joining Origin, Aure worked at multiple startups and
            Fortune 500 companies. In a past life, he was also a software
            engineer.") }}
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-mila.jpg" class="headshot" alt="Mila Choi headshot" />
          </div>
          <div class="name">
            <a href="https://www.linkedin.com/in/so-young-mila-choi-30514769/" target="_blank"
              rel="noopener noreferrer">{{ gettext("Mila Choi") }}
            </a>
          </div>
          <div class="title">
            {{ gettext("Regional Manager Korea") }}
          </div>
          <div class="bio text-center">
            {{ gettext("Mila is leading our community efforts in South Korea.
            She previously organized blockhain hackathons and has degrees from
            Penn State and Erasmus University Rotterdam.") }}
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-tom.jpg" class="headshot" alt="Tom Linton headshot" />
          </div>
          <div class="name">
            <a href="https://www.linkedin.com/in/tom-linton-68866b140/" target="_blank"
              rel="noopener noreferrer">{{ gettext("Tom Linton") }}
            </a>
          </div>
          <div class="title">
            {{ gettext("Senior Engineer") }}
          </div>
          <div class="bio text-center">
            {{ gettext("Before Origin, Tom had a successful career as a solo
            startup founder. He has two Masters degrees in Distributed Systems
            from the Technical University of Berlin and KTH in Stockholm.") }}
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-nick.jpg" class="headshot" alt="Nick Poulden headshot" />
          </div>
          <div class="name">
            <a href="https://www.linkedin.com/in/nickpoulden/" target="_blank"
              rel="noopener noreferrer">{{ gettext("Nick Poulden") }}
            </a>
          </div>
          <div class="title">
            {{ gettext("Senior Engineer") }}
          </div>
          <div class="bio text-center">
            {{ gettext("Nick studied Computer Science at the University of
            Warwick. Prior to joining Origin, he worked as an engineer at
            Sencha, C3 Energy Network and Palo Alto Networks.") }}
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-anna.jpg" class="headshot" alt="Anna Wang headshot" />
          </div>
          <div class="name">
            <a href="https://www.linkedin.com/in/anna-wang-sijia/" target="_blank"
              rel="noopener noreferrer">{{ gettext("Anna Wang") }}
            </a>
          </div>
          <div class="title">
            {{ gettext("Regional Manager China") }}
          </div>
          <div class="bio text-center">
            {{ gettext("Anna is leading our community efforts for Chinese
            speakers. Before Origin, Anna managed global social media at Exness,
            a leading forex broker. She also co-founded a non-profit in
            Australia.") }}
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-domen.jpg" class="headshot" alt="Domen Grabec headshot" />
          </div>
          <div class="name">
            <a href="https://www.linkedin.com/in/domen-grabec-a5821a7/" target="_blank"
              rel="noopener noreferrer">{{ gettext("Domen Grabec") }}
            </a>
          </div>
          <div class="title">
            {{ gettext("Engineer") }}
          </div>
          <div class="bio text-center">
            {{ gettext("Domen co-founded and led a team developing a mobile
            application with 2 chess Grandmasters. He previously had a
            successful career at Cetra, Zemanta and Peerindex.") }}
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-shahul.jpg" class="headshot" alt="Shahul Hameed headshot" />
          </div>
          <div class="name">
            <a href="https://www.linkedin.com/in/shahthepro/" target="_blank"
              rel="noopener noreferrer">{{ gettext("Shahul Hameed") }}
            </a>
          </div>
          <div class="title">
            {{ gettext("Engineer") }}
          </div>
          <div class="bio text-center">
            {{ gettext("Shahul is a fullstack engineer who started programming
            at age of 10. He previously worked as a freelancer and then joined
            Zoho as a front-end developer.") }}
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-3 mr-auto">
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-mike.jpg" class="headshot" alt="Mike Shultz headshot" />
          </div>
          <div class="name">
            <a href="https://www.linkedin.com/in/shultzm/" target="_blank"
              rel="noopener noreferrer">{{ gettext("Mike Shultz") }}
            </a>
          </div>
          <div class="title">
            {{ gettext("Engineer") }}
          </div>
          <div class="bio text-center">
            {{ gettext("Mike is a long-time contributor to open-source. He
            created a dev toolkit for creating Ethereum smart contracts with
            Python and previously worked with Ethereum and IPFS at Lunyr.") }}
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-3 mr-auto">
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-max.png" class="headshot" alt="Max Unger headshot" />
          </div>
          <div class="name">
            <a href="https://www.linkedin.com/in/max-unger-3ba1621a6/" target="_blank"
              rel="noopener noreferrer">{{ gettext("Max Unger") }}
            </a>
          </div>
          <div class="title">
            {{ gettext("Head of Community") }}
          </div>
          <div class="bio text-center">
            {{ gettext("Before joining Origin, Max helped build communities for
            notable blockchain companies like OKEx. He also worked with RedNova,
            the marketing and incubation entity for Du Capital.") }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-wrap align-items-center justify-content-center my-5 mx-md-5">
    <img src="/static/img/whitepaper/teamlogo1.png" class="whitepaper-team-logo" />
    <img src="/static/img/whitepaper/teamlogo2.png" class="whitepaper-team-logo" />
    <img src="/static/img/whitepaper/teamlogo3.png" class="whitepaper-team-logo" />
    <img src="/static/img/whitepaper/teamlogo4.png" class="whitepaper-team-logo" />
    <img src="/static/img/whitepaper/teamlogo5.png" class="whitepaper-team-logo" />
    <img src="/static/img/whitepaper/teamlogo6.png" class="whitepaper-team-logo" />
    <img src="/static/img/whitepaper/teamlogo7.png" class="whitepaper-team-logo" />
    <img src="/static/img/whitepaper/teamlogo8.png" class="whitepaper-team-logo" />
    <img src="/static/img/whitepaper/teamlogo9.png" class="whitepaper-team-logo" />
  </div>

  <div id="community" class="mt-5">
    <h2>{{gettext("Community")}}</h2>
    <div class="d-flex flex-sm-row flex-wrap align-items-center justify-content-around">
      <div class="team-member">
        <div class="headshot-wrapper">
          <img src="/static/img/headshot-zoe.jpg" class="headshot" alt="Zoe Hoang headshot" />
        </div>
        <div class="name">
          {{ gettext("Zoe Hoang") }}
        </div>
      </div>
      <div class="team-member">
        <div class="headshot-wrapper">
          <img src="/static/img/headshot-spyros.jpg" class="headshot" alt="Spyros Kekos headshot" />
        </div>
        <div class="name">
          {{ gettext("Spyros Kekos") }}
        </div>
      </div>
      <div class="team-member">
        <div class="headshot-wrapper">
          <img src="/static/img/headshot-aaron.jpg" class="headshot" alt="Aaron Faulkner headshot" />
        </div>
        <div class="name">
          {{ gettext("Aaron Faulkner") }}
        </div>
      </div>
      <div class="team-member">
        <div class="headshot-wrapper">
          <img src="/static/img/headshot-moises.jpg" class="headshot" alt="Moisés Sosa headshot" />
        </div>
        <div class="name">
          {{ gettext("Moisés Sosa") }}
        </div>
      </div>
      <div class="team-member">
        <div class="headshot-wrapper">
          <img src="/static/img/headshot-leslie.png" class="headshot" alt="Leslie Song headshot" />
        </div>
        <div class="name">
          {{ gettext("Leslie Song") }}
        </div>
      </div>
    </div>
  </div>

  <div id="devcommunity" class="mt-5">
    <h2>{{gettext("Developer <span>community</span>")}}</h2>

    <p>
      {{gettext("In addition to our full-time staff, Origin has a very active
      open-source developer community. Since the project’s inception, we’ve had
      over 170 contributors to our Github repository. We anticipate the number
      of developers and supporters to increase dramatically after our 1.0 launch
      in Q1 of 2020. ")}}
    </p>

    <img src="/static/img/whitepaper/18.png" class="whitepaper-image" />
  </div>
</div>