<div id="conclusion" class="mb-5 pb-5">
  <h1>{{gettext("Conclusion")}}</h1>

  <p>{{gettext("With a renewed focus and mission to bring peer-to-peer commerce with NFTs and decentralized finance to the masses, we believe we are better positioned than ever before to unlock multiple billion dollar opportunities for the mainstream. While we are starting with users that already have basic understandings of cryptocurrency that already number in the millions, we will aggressively begin targeting mainstream users this year. In the next several years, our products will cross the chasm and our ambitions are to amass hundreds of millions of users using Origin products backed by our underlying protocols.")}}</p>
</div>
