<div id="execsummary">
  <h1>{{gettext("Executive Summary")}}</h1>
  <p>
    {{gettext("Origin’s mission is to bring peer-to-peer commerce (NFTs) and decentralized finance (DeFi) to the masses.")}}
  </p>

  <p>{{gettext("After three years of building consumer-friendly products in the blockchain space, we’ve learned many valuable lessons.")}}</p>
  <ul>
    <li><p>
      {{gettext("The first significant wave of users of decentralized commerce applications will be those seeking experiences or products they cannot get from centralized alternatives. Many of these early users will be crypto natives. The most prominent product category to emerge is the Non-Fungible Tokens (NFTs) vertical. NFTs do not merely represent digital collectibles but can create entirely new experiences for creators and communities.")}}
    </p></li>
    <li><p>
      {{gettext("NFTs can function as digital collectible. Further, they can be  tokenized representations of physical goods and collectibles, unlock other digital content, and act as access tokens to digital or in-person experiences. NFTs can be used for a wide array of financial applications and use cases. The design space for NFTs is nearly unlimited and represents an exciting paradigm shift for blockchain technology.")}}
    </p></li>
    <li><p>
      {{gettext("Decentralized Finance (DeFi) is the gateway to unlocking massive new financial opportunities for lenders, creditors, and liquidity providers. Over <a href='https://defipulse.com/' target='_blank' rel='noopener noreferrer'>$40B of value</a> is locked in DeFi protocols, and this number is expected to grow by multiple orders of magnitude in the next few years. However, we are still in the very early innings of the DeFi movement.")}}
    </p></li>
    <li><p>
      {{gettext("Today most DeFi participants are highly sophisticated and number in the tens of thousands of users, while the majority of cryptocurrency users numbering in the millions have not yet adopted these technologies en masse. Interacting with DeFi protocols is difficult and cumbersome, requiring complicated operations like staking/unstaking, measuring impermanent loss, and paying expensive gas fees. Further, hundreds of millions to billions of mainstream consumers, merchants, retail investors, small businesses, and global enterprises have very little knowledge of these permissionless financial protocols and are unable to participate in perhaps the most disruptive movement in finance since the very invention of money itself.")}}
    </p></li>
    <li><p>
      {{gettext("While there are both buyers and sellers that transact across various verticals with stablecoins and/or Bitcoin and Ether, existing widespread payment methods like credit cards and mobile payments are still preferred by many crypto-savvy users for their ubiquity, convenience, and lack of pricing volatility. Peer-to-peer commerce is handicapped until cryptocurrencies become the dominant form of medium of exchange.")}}
    </p></li>
    <li><p>
      {{gettext("Simply creating a commerce platform using decentralized technologies does not guarantee widespread merchant and consumer adoption. Only by creating new killer applications that are not possible without crypto-centric technologies will our industry succeed in creating a more open, permissionless, and resilient future for global commerce and finance that impacts hundreds of millions or billions of lives.")}}
    </p></li>
    <li><p>
      {{gettext("The Origin Token (OGN) is the governance and value accrual token for the entire Origin Platform and suite of products. OGN token holders will be able to create and vote on proposals to govern the underlying protocol. OGN holders also directly benefit from the success of the Origin Platform and products built on top of it. Revenues generated accrue directly to OGN via several economic models which can be changed in the future through the governance process.")}}
    </p></li>
  </ul>
</div>
