
<div class="whitepaper-sidebar-nav">
  <nav id="whitepaperNavbar" class="sidebar-wrapper" data-scroll-target="#whitepaperContent">
    <a class="nav-link whitepaper-nav-title" href="#execsummary">
      <span class="content-index">01</span> 
      <span>{{gettext("Executive Summary")}}</span>
    </a>

    <a class="nav-link whitepaper-nav-title" href="#intro">
      <span class="content-index">02</span> 
      <span>{{gettext("Introduction")}}</span>
    </a>

    <a class="nav-link whitepaper-nav-title" href="#platform">
      <span class="content-index">03</span> 
      <span>{{gettext("Origin Commerce Platform")}}</span>
    </a>
      <a class="nav-link" href="#NFTlaunchpad">
        <span>{{gettext("NFT Launchpad")}}</span>
      </a>
      <a class="nav-link" href="#ousd">
        <span>{{gettext("The Origin Dollar (OUSD)")}}</span>
      </a>
      <a class="nav-link" href="#ogn">
        <span>{{gettext("The Origin Token (OGN)")}}</span>
      </a>

    <a class="nav-link whitepaper-nav-title" href="#team">
      <span class="content-index">04</span> 
      <span>{{gettext("Founding Team")}}</span>
    </a>

    <a class="nav-link whitepaper-nav-title" href="#conclusion">
      <span class="content-index">05</span> 
      <span>{{gettext("Conclusion")}}</span>
    </a>
  </nav>
</div>
