/** Email Input */
.email-input.input-group {
  margin-bottom: 1rem;
  justify-content: center;
}

.email-input.input-group input {
  max-width: 400px;
  background-color: transparent;
  color: #fff;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #bdcbd5;
  margin-right: 1.5rem;
  font-style: normal;
}

.email-input.input-group .btn {
  height: 3.25rem;
  text-align: center;
  border-radius: 50%;
  width: 3.25rem;
  display: inline-block;
  line-height: 3.25rem;
  padding: 0;
  cursor: pointer;
}

.email-input.input-group .btn i {
  margin: 0;
}

.email-input.input-group.light .btn {
  color: #fff;
  background-color: #007bff;
}

.email-input.input-group.light input {
  color: #000;
}

@media (max-width: 575px) {
  .email-input.input-group input {
    max-width: 100%;
  }
}

/** Section header styles */

main section h1 {
  color: #061d2a;
  margin: 4.375rem auto 3.125rem auto;
  text-align: center;
  font-weight: normal;
}

main section h3 {
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}

/** Section background colors */

section.blue-section {
  background-color: #007cff;
  color: #fff;
}

section.blue-section h1 {
  color: #fff;
}

section.grey-section {
  background-color: #fafbfc;
  border-top: 1px solid #e9f0f3;
}

section.white-section {
  background-color: #fff;
}

/** buttons */
main section .btn {
  width: 400px;
  margin: 0 0.5rem;
  cursor: pointer;
  padding: 0.8rem;
}

main section .btn.btn-inverse.btn-primary {
  border: 1px solid #fff;
}
main section .btn.btn-inverse.btn-primary:hover {
  border: 1px solid transparent;
}

@media (max-width: 575px) {
  main section .btn {
    width: 100%;
    display: block;
    margin: 0;
  }

  .email-input.input-group input {
    margin-right: 0.4rem;
  }

  main section h1 {
    color: #061d2a;
    margin: 3.25rem auto 3.125rem auto;
    text-align: center;
    font-weight: normal;
  }
}

.mb-6, .my-6 {
  margin-bottom: 4.375rem!important;
}

.mt-6, .my-6 {
  margin-top: 4.375rem!important;
}

.mw-568 {
  max-width: 568px!important;
}

.mw-562 {
  max-width: 562px!important;
}

.mw-220 {
  max-width: 220px!important;
}

.mw-940 {
  max-width: 940px!important;
}

.mw-470 {
  max-width: 470px!important;
}

.mw-460 {
  max-width: 460px!important;
}

.mw-549 {
  max-width: 549px!important;
}

.mw-461 {
  max-width: 461px!important;
}

@media (min-width: 992px) {
  .mw-lg-568 {
    max-width: 568px!important;
  }

  .mw-lg-562 {
    max-width: 562px!important;
  }

  .mw-lg-220 {
    max-width: 220px!important;
  }

  .mw-lg-940 {
    max-width: 940px!important;
  }

  .mw-lg-470 {
    max-width: 470px!important;
  }

  .mw-lg-460 {
    max-width: 460px!important;
  }

  .mw-lg-549 {
    max-width: 549px!important;
  }

  .mw-lg-461 {
    max-width: 461px!important;
  }
}
