footer {
  padding: 6.25rem 0;
  background-color: #061d2a;
  color: #bdcbd5;
  font-weight: normal;
}

footer a {
  color: #fff;
  cursor: pointer;
}

footer a:hover {
  color: #fff;
  opacity: 0.75;
}

.footer-links a,
.footer-links {
  font-size: 0.875rem;
  color: #bdcbd5;
}

.footer-links strong {
  color:#ffffff;
}

.footer-links a {
  padding-top: 12px;
}

footer p {
  font-size: 0.75rem;
  font-weight: normal;
}

footer .social-links {
  margin-bottom: 1.5rem
}

footer .social-links a {
  margin-right: 0.75rem;
  border-radius: 50%;
  background-color: #bdcbd5;
  color: #061d2a;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

footer .copyright-text {
  font-size:0.75rem;
  margin-bottom: 1.2rem;
}

footer .mailing-list {
  margin-bottom: 1.5rem;
}

footer .mailing-list .section-title {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--white);
  margin-bottom: 0.5rem;
}

footer .mailing-list p {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1rem;
}

footer .social-links a i {
  margin: 0;
}

footer .mailing-list .input-group {
  justify-content: left;
}

footer .tooltip_hover {
  position: relative;
}

footer button.btn {
  color: white;
  border-color: white;
}

footer button.btn:hover {
  color: #061d2a;
  background-color: white;
  border-color: white;
}

.tooltip .tooltip-inner  {
  font-weight: normal!important;
  padding: 0.6rem 1.2rem!important;
}

.tooltip .tooltip-img {
  padding: 0.6rem 0;
}

footer .tooltip_hover .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  white-space: nowrap;
  top: -5px;
  right: 135%;
  position: absolute;
  z-index: 1;
}

footer .tooltip_hover:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 768px) {
  footer {
    padding: 2.75rem 0;
  }
}
