
footer {
  padding: 6.25rem 0;
  background-color: #061d2a;
  color: #bdcbd5;
}

footer a {
  color: #fff;
  cursor: pointer;
}

footer a:hover {
  color: #fff;
  opacity: 0.75;
}

footer .footer-links {
  margin-bottom: 0.5rem
}

footer .footer-links a {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

footer .footer-links a:last-child {
  margin-right: 0;
}

footer p {
  font-size: 0.75rem;
}

footer .social-links {
  margin-bottom: 1.5rem
}

footer .social-links a {
  margin-right: 1.125rem;
  border-radius: 50%;
  background-color: #bdcbd5;
  color: #061d2a;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

footer .copyright-text {
  margin-bottom: 1rem;
}

footer .mailing-list {
  margin-bottom: 1.5rem;
}

footer .mailing-list .section-title {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--white);
  margin-bottom: 0.5rem;
}

footer .mailing-list p {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.125rem;
}

footer .social-links a i {
  margin: 0;
}

footer .mailing-list .input-group {
  justify-content: left;
}
