html {
  height: 100%;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  font-size: 1.0rem;
  font-weight: 300;
  font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
}

#rtl {
  text-align: right;
}

/* Common */

h1 {
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  margin: 70px auto 40px auto;
}

h2 {
  font-size: 1.75rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 20px auto;
}

h3 {
  font-size: 1.75rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

h4 {
  font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 200;
}

p {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 20px auto;
}

label {
  cursor: pointer;
}

.tooltip {
  font-size: 0.8rem;
  font-weight: 300;
  font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
}

.tooltip .tooltip-inner {
  padding: 1.2rem;
  max-width: 270px;
}


.form-control {
  background-color: #ebf0f3;
  color: #98a7b4;
  font-style: italic;
  text-align: left;
}

#rtl .form-control {
  text-align: right;
}

input.form-control,
textarea.form-control {
  border-radius: 10px;
}

.btn {
  border-radius: 30px;
  font-weight: 900;
  white-space: normal;
}

.btn-min-size {
  font-size: 1.125rem;
  padding: 0.5rem 2.9rem;
}

.btn > i {
  margin: 0px 0.5rem 0px 0px;
}


#rtl .btn > i {
  margin: 0px 0px 0px 0.5rem;
}

.badge-dark {
  background-color: #000;
}

.badge-info {
  background-color: #6e3bea;
}

.badge-light {
  background-color: #fff;
}

.badge-primary {
  background-color: #1a82ff;
}

.badge-success {
  background-color: #26d198;
}

textarea.form-control {
  height: 68px;
}

.btn-min-size,
input.form-control {
  min-height: 48px;
  min-width: 250px;
}

a:hover {
  text-decoration: none;
}

.url-warning {
  display: block;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  margin: 10px auto;
  color: #000;
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 10px;
  pointer-events: none;
  opacity: 0.15;
  position: fixed;
  z-index: 99999;
  padding: 0.5rem 1.0rem;
  border-radius: 30px;
}

.url-warning.mobile {
  display: none;
}

.warning {
  display: flex;
  background-color: #111d28;
  color: #fff;
}

.warning-light {
  background-color: #2e3f53;
}

.warning .img-container {
  flex-grow: 1;
  margin: 10px 0 10px 20px;
  padding-top: 10px;
  text-align: right;
}

.blue-bar {
  background-color: #1a82ff;
  height:85px;
  padding-top:10px;
  padding-bottom:5px;
  color:#fff;
  font-size:18px;
  border-bottom:1px solid #213040;
}
.blue-bar img {
  margin-right:20px;
  margin-bottom:10px;
}
.blue-bar strong {
  top:5px;
}
.blue-bar-text {
  margin-top:18px;
}
.blue-bar .btn {
  background-color:#2e3f53;
  color:#fff !important;
  margin-top:12px;
  width:96px;
}
.blue-bar .btn:hover {
  background-color:#0c2033;
}
@media (min-width: 992px) {
  .blue-bar-text {
    margin-top:5px;
  }
}


#rtl .warning .img-container {
  text-align: left;
  margin: 10px 20px 10px 0;
}

.warning p {
  flex-grow: 1;
  font-size: 1.0rem;
  margin: 20px 20px 20px 10px;
  text-align: left;
}

#rtl .warning p {
  margin: 20px 10px 20px 20px;
  text-align: right;
}

.header-section {
  background-color: #f7f9fb;
}

.header-section h1 {
  font-weight: 200;
}

.header-section.mobile {
  background-color: #f7f8f8;
}

footer,
section {
  position: relative;
  z-index: 0;
}

nav {
  z-index: 9;
}

.landing-page {
  position: relative;
  background-color: #2e3f53;
}

main.landing-page > .background-wrapper {
  margin-bottom: -160px;
}

.landing-page .image-container {
  text-align: center;
  padding-bottom: 90px;
}

.landing-page .general-panel {
  padding-bottom: 30px;
  padding-top: 30px;
}

.background-wrapper {
  position: relative;
}

.particles-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.particles-container svg .dot {
  z-index: 2;
}

.particles-container svg .node {
  z-index: 1;
}

#rtl .ml-auto,
#rtl .mx-auto {
  /* override Bootstrap _spacing.scss:46 */
  margin-left: 0px !important;
  margin-right: auto;
}

.navbar-origin {
  position: absolute;
  padding-top: 20px;
  right: 0px;
  left: 0px;
}

.navbar-origin .brand-container {
  flex-grow: 1;
}

.navbar-origin .brand-container.mobile {
  margin-top: 15px;
}

.navbar-origin .logo-container {
  width: 120px;
}

.navbar-origin .logo-container img{
  width: 90%;
}

.navbar-origin .mobile-background {
  position: absolute;
  height: calc(100% - 20px - 40px - 20px - 35px);
  left: 0px;
  top: 75px;
  width: 100%;
  z-index: 2;
}

.navbar-origin.mobile {
  background-color: white;
  text-align: center;
  height: 40px;
}

.navbar-dark .mobile-background {
  background-color: white;
}

.navbar-light .mobile-background {
  background-color: white;
}

.navbar-origin .nav-item {
  font-size: 1.125rem;
  font-weight: 400;
}

.navbar-origin .brand-container .navbar-brand {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-origin .navbar-collapse {
  margin: 20px 0px 40px 0px;
  padding: 0px 30px;
  z-index: 3;
}

.navbar-origin .navbar-collapse.obscured {
  height: 0px;
  margin: 0px;
  padding: 0px;
}

#rtl .navbar-origin .navbar-collapse .navbar-nav {
  padding-right: 15px;
}

#ltr .navbar-origin .navbar-collapse .col-6 {
  padding-left: 0px;
}

#rtl .navbar-origin .navbar-collapse .col-6 {
  padding-right: 0px;
}

.navbar-origin .navbar-collapse .col-6:nth-of-type(1),
.navbar-origin .navbar-collapse .col-6:nth-of-type(2),
.navbar-origin .navbar-collapse .nav-item:nth-of-type(1) {
  padding-top: 20px;
}

.navbar-origin .navbar-collapse .col-6:nth-last-of-type(1),
.navbar-origin .navbar-collapse .nav-item:nth-last-of-type(2) {
  padding-bottom: 20px;
}

.navbar-origin .navbar-collapse .col-6 .nav-link {
  font-size: 1.125rem;
  font-weight: 400;
  padding-left: 0px;
}

.navbar-origin .navbar-collapse .col-6 .nav-link:active,
.navbar-origin .navbar-collapse .col-6 .nav-link:hover,
.navbar-origin .navbar-collapse .col-6 .nav-link.selected {
  font-weight: 600;
  color: #061d2a;
}

.navbar-origin .navbar-collapse .nav-item {
  padding: 0px;
}

.navbar-origin .navbar-collapse .nav-item.dropdown {
  padding: 0px;
}

.navbar-toggler {
  cursor: pointer;
  height: 30px;
  width: 44px;
}

.navbar-origin .navbar-toggler .close-icon {
  display: none;
  margin-bottom: 2px;
}

.navbar-origin .navbar-toggler .globe-icon {
  margin-bottom: 2px;
}

.navbar-origin .navbar-toggler .menu-icon {
  margin-bottom: 3px;
}

.navbar-dark .navbar-toggler,
.navbar-light .navbar-toggler {
  border-width: 0;
}

.navbar-dark .nav-item .nav-link,
.navbar-dark .navbar-collapse .col-6 .nav-link {
  color: #dbe6eb;
}

.navbar-dark .navbar-toggler i {
  color: #345d7a;
}

.navbar-dark .navbar-toggler i:active,
.navbar-dark .navbar-toggler i:hover {
  color: #061d2a;
  font-weight: 600;
}

.navbar-light .nav-item .nav-link,
.navbar-light .navbar-collapse .col-6 .nav-link {
  color: #111d28;
}

.navbar-light .navbar-toggler i {
  color: #98a7b4;
}

.navbar-light .navbar-collapse .col-6 .nav-link:active,
.navbar-light .navbar-collapse .col-6 .nav-link:hover,
.navbar-light .navbar-toggler i:active,
.navbar-light .navbar-toggler i:hover,
.navbar-light .nav-item .nav-link:active,
.navbar-light .nav-item .nav-link:hover {
  color: rgba(0, 0, 0, .7);
}

#rtl .dropdown-toggle::after {
  margin: 0 0.255em 0 0;
}

.dropdown-menu {
  z-index: 100000;
  width: 350px;
  background-color: white;
  right: 0;
  left: auto;
  border-radius: 10px;
}

.navbar-collapse .dropdown-menu.show {
  display: flex;
}

#rtl .dropdown-menu {
  text-align: right;
}

.language .dropdown-item  {
  text-transform: capitalize;
  width: 50%;
  display: block;
  padding: .25rem 1.5rem;
  color: #345d7a;
}

.language .dropdown-item:hover {
  background-color: #007bff;
  color: #fff;
}

.language .dropdown-item-selected {
  text-transform: capitalize;
  width: 50%;
  color: #061d2a;
  padding: .25rem 1.5rem;
  font-weight: 600;
}

.row-pane {
  margin-left: 0px;
  margin-right: 0px;
}

.container-panes {
  position: relative;
}

.col-pane {
  padding-left: 0px;
  padding-right: 0px;
}

.background-panes {
  position: absolute;
}

.background-panes .row-pane:not(:first-of-type) {
  height: 100%;
}

.background-panes.bottom-panes {
  bottom: 0px;
  display: flex;
  flex: 1;
  left: 0px;
}

.background-panes.bottom-panes > .align-items-end {
  flex: 1;
}

.foreground-content {
  position: relative;
  z-index: 100;
}

.core-team-bottom-pane,
.platform-bottom-pane {
  background-color: #fff;
  flex: 1;
}

.left-upper-pane {
  -webkit-clip-path: polygon(0 100%, 100% 0, 0 0);
  clip-path: polygon(0 100%, 100% 0, 0 0);
  padding-top: 57.735026918%;
}

.right-upper-pane {
  -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  padding-top: 57.735026918%;
}

.left-lower-pane {
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 100%);
  clip-path: polygon(0 100%, 0 0, 100% 100%);
  padding-top: 57.735026918%;
}

.right-lower-pane {
  -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%);
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  padding-top: 57.735026918%;
}

.indented {
  border: 1px solid #dee0e2;
}

#ltr .indented {
  border-width: 0px 0px 0px 1px;
  padding: 0px 0px 0px 20px;
}

#rtl .indented {
  border-width: 0px 1px 0px 0px;
  padding: 0px 20px 0px 0px;
}

/*
 * Right-to-left languages: Swap left/right pane graphics
 * See: https://meiert.com/en/blog/css-how-to-host-right-to-left-styling/
 */
#rtl .left-upper-pane {
  -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  padding-top: 57.735026918%;
}

#rtl .right-upper-pane {
  -webkit-clip-path: polygon(0 100%, 100% 0, 0 0);
  clip-path: polygon(0 100%, 100% 0, 0 0);
  padding-top: 57.735026918%;
}

#rtl .left-lower-pane {
  -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%);
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  padding-top: 57.735026918%;
}

#rtl .right-lower-pane {
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 100%);
  clip-path: polygon(0 100%, 0 0, 100% 100%);
  padding-top: 57.735026918%;
}

.btn-container {
  margin: 60px auto;
}

/* Alertify */

.alertify-log {
  padding: 20px;
  border-radius: 4px;
  color: #212529;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25' height='30'><line x1='5' y1='10' x2='15' y2='20' stroke='%23bbb' stroke-width='2'/><line x1='15' y1='10' x2='5' y2='20' stroke='%23bbb' stroke-width='2'/></svg>");
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #ebf0f3;
}

/* Mainnet modal */

.mainnet-modal {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9999999;
  position: fixed;

  background: #121D27 url("/static/img/mainnet-rockets-mobile.png");
  background-size: cover;
  padding: 30px;
}
.mainnet-modal h2 {
  color: #1a82ff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  padding-top: 20px;
}
.mainnet-modal .close-button {
  position: absolute;
  cursor: pointer;

  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
}
.mainnet-modal h1 {
  margin: 0;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;

  font-size: 70px;
  line-height: 70px;
}
.mainnet-modal h3 {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #fff;

  font-size: 20px;
  line-height: 20px;
}
.mainnet-modal .btn {
  margin-bottom: 5px;
}
.mainnet-modal p a {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  .mainnet-modal {
    background: #121D27 url("/static/img/mainnet-rockets.png");
    background-size: cover;
    padding: 60px;
  }
  .mainnet-modal h2 {
    font-size: 42px;
    line-height: 42px;
  }
  .mainnet-modal h1 {
    font-size: 100px;
    line-height: 100px;
  }
  .mainnet-modal h3 {
    font-size: 26px;
    line-height: 26px;
    margin: 10px 0 10px 0;
  }
  .mainnet-modal .close-button {
    top: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
  }
  .mainnet-modal .btn {
    font-size: 25px;
    padding: 15px 30px 15px 30px;
    border-radius: 35px;
    margin-bottom: 10px;
  }

  .navbar-light {
    background-color: #fff;
  }

}

@media (min-width: 768px) {
  .mainnet-modal h2 {
    font-size: 57px;
    line-height: 57px;
  }
  .mainnet-modal h1 {
    font-size: 135px;
    line-height: 135px;
  }
  .mainnet-modal h3 {
    font-size: 32px;
    line-height: 32px;
    margin: 20px 0 20px 0;
  }
  .mainnet-modal .close-button {
    top: 60px;
    right: 60px;
    width: 60px;
    height: 60px;
  }
  .mainnet-modal .btn {
    font-size: 35px;
    padding: 20px 40px 20px 40px;
    border-radius: 45px;
    margin-bottom: 15px;
  }
}

/* Index Page */

.hero-section {
  z-index: 2;
}

.hero-section h1 {
  font-weight: 200;
  color: #fff;
  word-break: break-word;
}

.hero-section p {
  color: #fff;
}

.embed-responsive {
  border: 8px solid #111d28;
}

.platform-section {
  top: -160px;
  z-index: 1;
}

.platform-section .background-panes {
  height: 100%;
}

.platform-section .top-panes .col-pane {
  display: flex;
}

.platform-section > div > .row {
  position: relative;
  overflow-y: hidden;
}

.platform-section .background-panes .row:last-of-type > .col-12 {
  display: flex;
}

.platform-section .left-upper-pane,
.platform-section .right-upper-pane {
  position: relative;
  flex: 1;
  background-color: #fff;
}

.platform-section .left-upper-pane {
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  margin: 0px -1px -1px 0px;
}

.platform-section .right-upper-pane {
  -webkit-clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
  margin-bottom: -1px;
}

#rtl .platform-section .left-upper-pane {
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

#rtl .platform-section .right-upper-pane {
  -webkit-clip-path: polygon(0 50%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 50%, 100% 0%, 100% 100%, 0% 100%);
  margin: 0px -1px -1px 0px;
}

.platform-section .foreground-content .row {
  padding-bottom: 60px;
}

.platform-section .btn-container {
  display: inline-block;
  margin: 20px 0px 0px 0px;
}

.features-section {
  position: relative;
  background-color: #fff;
}

.partners-section {
  background-color: #fff;
}

.partners-section .bottom-panes .row-pane {
  height: 100%;
}

.partners-section > div > .row {
  position: relative;
}

.partners-section .left-lower-pane,
.partners-section .right-lower-pane {
  background-color: #f7f9fb;
}

.partners-section .foreground-content .row {
  padding-bottom: 220px;
}

.partners-section .btn-container {
  display: inline-block;
}

.partners-section .card-deck {
  position: relative;
  height: 240px;
  margin: 40px auto;
  max-width: 100%;
  width: 340px;
}

/* not to be confused with a Bootstrap card */
.partners-section .card-deck .partner-card {
  position: absolute;
  padding: 29px;
  text-align: center;

  -webkit-transition: 500ms linear;
  -moz-transition: 500ms linear;
  -ms-transition: 500ms linear;
  -o-transition: 500ms linear;
  transition: 500ms linear;

  background-color: #6f8294;
  border-radius: 6px;
  color: #fff;
  height: 188px;
  left: 20px;
  max-width: calc(100% - 40px);
  top: 20px;
  width: 300px;
  z-index: 101;
}

.partners-section .card-deck .partner-card.next {
  background-color: #455d75;
  border-radius: 8px;
  height: 188px;
  left: 10px;
  max-width: calc(100% - 20px);
  top: 10px;
  width: 320px;
  z-index: 102;
}

.partners-section .card-deck .partner-card.current {
  background-color: #2e3f53;
  border-radius: 10px;
  height: 188px;
  left: 0px;
  max-width: 100%;
  top: 0px;
  width: 340px;
  z-index: 103;
}

.partners-section .card-deck .partner-card[data-pos="0"] {
  background-color: #2e3f53;
  border-radius: 10px;
  height: 188px;
  left: 0px;
  max-width: 100%;
  opacity: 0;
  top: -20px;
  width: 340px;
  z-index: 103;
}

.partners-section .card-deck .partner-card[data-pos="1"] {
  background-color: #6f8294;
  /* if there are more than four cards, remove opacity transitions and set opacity: 0; */
  -webkit-transition: opacity 100ms linear 400ms;
  -moz-transition: opacity 100ms linear 400ms;
  -ms-transition: opacity 100ms linear 400ms;
  -o-transition: opacity 100ms linear 400ms;
  transition: opacity 100ms linear 400ms;
}

.partners-section .card-deck .partner-card img {
  margin-bottom: 14px;
  max-width: 100%;
  height: 56px;

  /* match p transition */
  -webkit-transition: opacity 60ms linear 440ms;
  -moz-transition: opacity 60ms linear 440ms;
  -ms-transition: opacity 60ms linear 440ms;
  -o-transition: opacity 60ms linear 440ms;
  transition: opacity 60ms linear 440ms;
}

.partners-section .card-deck .partner-card p {
  font-size: 14px;
  height: 66px;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;

  /* text wrap will flicker without late transition due to expanding width */
  -webkit-transition: opacity 60ms linear 440ms;
  -moz-transition: opacity 60ms linear 440ms;
  -ms-transition: opacity 60ms linear 440ms;
  -o-transition: opacity 60ms linear 440ms;
  transition: opacity 60ms linear 440ms;
}

/* match p transition */
.partners-section .card-deck .partner-card.next img {
  opacity: 0;
}

/* hide until width transition is nearly complete */
.partners-section .card-deck .partner-card.next p {
  opacity: 0;
}

.partners-section .card-deck .oval-shadow {
  position: absolute;
  background-color: rgba(17, 29, 40, 0.1);
  border-radius: 200px / 10px;
  bottom: 0px;
  height: 18px;
  left: 2px;
  max-width: 100%;
  width: 336px;
}

.discord-btn-container,
.telegram-btn-container {
  margin: 10px 10px 10px 0 !important;
}

.shop-origin-btn {
  margin-right: 20px;
}

#rtl .shop-origin-btn {
  margin-left: 20px;
  margin-right: 0px;
}

.use-cases-section {
  background-color: #f7f9fb;
}

.use-cases-section .btn-container {
  display: inline-block;
}

.use-cases-section .btn-container .btn {
  min-width: 200px;
}

.demo-btn-container,
.github-btn-container {
  margin: 10px 0px;
}

.demo-btn-container {
  margin-right: 20px;
}

#rtl .demo-btn-container {
  margin-left: 20px;
  margin-right: 0px;
}

.middlemen-section {
  background-color: #f7f9fb;
}

.img-feature {
  width: 48px;
  text-align: left;
  margin-top: 20px;
}

#rtl .img-feature {
  text-align: right;
}

.feature-description {
  font-size: 0.875rem;
}

.features-section .left-upper-pane,
.features-section .right-upper-pane {
  background-color: #f7f9fb;
}

.technology-section {
  background-color: #fff;
}

.technology-section .img-technology {
  text-align: center;
  margin: 30px 0px;
  max-width: 150px;
}

.technology-section .img-technology img {
  max-height: 100%;
  max-width: 100%;
}

.technology-section .img-technology .ipfs-logo {
  margin-top: 7px;
}

.technology-section .img-technology .react-logo {
  margin-top: 21px;
}

.technology-section > div > .row {
  position: relative;
}

.technology-section .background-panes {
  border-bottom: 2px solid #f7f9fb;
  bottom: 0px;
}

.technology-section .left-lower-pane,
.technology-section .right-lower-pane {
  background-color: #f7f9fb;
}

.roadmap-section {
  background-color: #f7f9fb;
}

.roadmap-section > div > .row {
  position: relative;
}

.roadmap-section .foreground-content {
  padding-bottom: 60px;
}

.roadmap-section .roadmap {
  font-size: 14px;
}

.roadmap-section .background-panes {
  bottom: 0px;
}

.roadmap > div {
  margin-left: 20px;
  text-align: center;
}

#rtl .roadmap > div {
  margin-left: 0px;
  margin-right: 20px;
}

.roadmap .green-to-blue,
.roadmap .blue-to-purple,
.roadmap .purple-to-green,
.roadmap .blue-to-grey,
.roadmap .grey-to-green {
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-image-slice: 1;
  padding: 10px 10px 40px 10px;
}

#rtl .roadmap .green-to-blue,
#rtl .roadmap .blue-to-purple,
#rtl .roadmap .purple-to-green,
#rtl .roadmap .blue-to-grey,
#rtl .roadmap .grey-to-green {
  border-width: 0px 1px 0px 0px;
}

.roadmap .green-circle,
.roadmap .purple-circle,
.roadmap .blue-circle {
  width: 29px;
  height: 29px;
  border-radius: 14.5px;
  position: relative;
  top: -25px;
  left: -25px;
  background-color: #f7f9fb;
}

#rtl .roadmap .green-circle,
#rtl .roadmap .purple-circle,
#rtl .roadmap .blue-circle {
  left: unset;
  right: -25px;
}

.roadmap .green-circle {
  border: solid 1px #26d198;
}
.roadmap .blue-circle {
  border: solid 1px #1a82ff;
}
.roadmap .purple-circle {
  border: solid 1px #6e3bea;
}

/* vertical */
.roadmap .grey-to-green {
  border-image-source: linear-gradient(to top, #26d198, #f7f9fb);
}

.roadmap .green-to-blue {
  border-image-source: linear-gradient(to top, #1a82ff, #26d198);
}

.roadmap .blue-to-purple {
  border-image-source: linear-gradient(to top, #6e3bea, #1a82ff);
}

.roadmap .purple-to-green {
  border-image-source: linear-gradient(to top, #26d198, #6e3bea);
}

.roadmap .blue-to-grey {
  border-image-source: linear-gradient(to top, #f7f9fb, #1a82ff);
}

.roadmap-section .roadmap .when {
  color: #455d75;
  margin-bottom: 10px;
}

.roadmap-section .right-lower-pane {
  background-color: #fff;
}

.email-signup-input {
  display: inline-block;
  height: 45px;
  max-width: 324px;
  width: 100%;
}

.email-section {
  background-color: #fff;
}

.email-section form {
  position: relative;
  top: 2px;
}

.email-section form .btn {
  display: block;
}

.email-section .foreground-content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.email-section .form-group {
  display: inline-block;
  margin: 20px auto 0px;
}

.email-section .btn-container {
  display: inline-block;
  margin: 20px auto 0px;
}

.press-section {
  background-color: #f7f9fb;
  padding-top: 40px;
  padding-bottom: 100px;
}

.press-section h2 {
  margin: 60px 0px 40px 0px;
}

.press-section .embed-responsive {
  margin-bottom: 30px;
}

.press-mention {
  margin: 20px;
  margin-top: 50px;
}

.press-logo-wrapper {
  text-align: center;
  margin: 20px auto 30px auto;
}

.press-logo-wrapper img {
  height: 40px;
}

.press-quote {
  margin: 20px auto 0px auto;
  text-align: center;
  font-weight: 400;
  font-style: italic;
}

.carousel-indicators li {
  background-color: #dfe6ea;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}

.carousel-indicators li.active {
  background-color: #2e3f53;
}

/* Terms of Service, Privacy Policy & AUP */

.legal {
  counter-reset: section;
}
.legal h4, .privacy h4 {
  margin-top: 1em;
  font-size: 16px;
  margin-bottom: 1em;
}
.legal h4:before {
  counter-increment: section;
  content: counter(section) ". ";
}
.legal ol {
  counter-reset: clause;
  list-style: none outside none;
}
.legal ol li {
  margin-top: 1em;
  counter-increment: clause;
  margin-bottom: 1em;
}
.legal ol li:before {
  font-weight: bold;
  content: counter(section) "." counters(clause, ".") ". ";
}
.legal ol li ol li:before {
  content: "(" counter(clause, lower-alpha) ") ";
}

/* NFT terms have different counter system */
#nft-legal ol li:before { 
  content: counter(clause, lower-alpha) ". ";
}

#nft-legal ol li ol li:before { 
  content: counter(clause, lower-roman) ". ";
}

#nft-legal ol li ol li ol li:before { 
  content: counter(clause) ". ";
}

/* Partners page */

.build-page {
  /* hack the background so that we don't have to invert the background panes */
  background: rgb(247,249,251);
  background: -moz-linear-gradient(180deg, rgba(247,249,251,1) 243px, rgba(255,255,255,1) 243px);
  background: -webkit-linear-gradient(180deg, rgba(247,249,251,1) 243px, rgba(255,255,255,1) 243px);
  background: linear-gradient(180deg, rgba(247,249,251,1) 243px, rgba(255,255,255,1) 243px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f9fb",endColorstr="#ffffff",GradientType=1);
}

.build-header-section {
  background-color: #f7f9fb;
}

.build-header-section h1 {
  font-weight: 200;
}

.building-partners-section h2 {
  margin: 80px auto 40px auto;
}

.building-partners-section .left-upper-pane,
.building-partners-section .right-upper-pane {
  position: relative;
  background-color: #f7f9fb;
}

.logos {
  padding-top: 120px;
  text-align: center;
}

.logos.collapsing {
  margin-bottom: calc(50px + 1.5rem);
}

.logos.collapsing,
.logos.collapse.show {
  display: flex;
  padding-top: 0px;
}

.logos .col-12 {
  align-items: center;
  display: flex;
  padding-bottom: 100px;
}

.logos .img-graphic img {
  max-height: 60px;
  max-width: 100%;
}

.building-partners-section .btn-container {
  margin: auto;
  text-align: center;
}

.building-partners-section .btn-container [data-toggle="collapse"] {
  font-size: 1.125rem;
  margin-bottom: 100px;
  padding: 0.4rem 2.2rem;
}

.building-partners-section > div > .row {
  position: relative;
}

.building-partners-section .foreground-content {
  padding-bottom: 540px;
}

.building-interest-section .foreground-content {
  padding-bottom: 120px;
  margin-top: -483px;
}

.building-interest-section .build-on-origin-form {
  background-color: #111d28;
  border-radius: 10px;
  color: #fff;
  margin: auto;
  max-width: 560px;
  padding: 47px 43px 41px;
}

.building-interest-section .build-on-origin-form > h2 {
  margin-top: 0px;
}

.building-interest-section .build-on-origin-form label[for=note] {
  display: block;
}

.building-interest-section .btn-container {
  margin: 0px;
  text-align: right;
}

#rtl .building-interest-section .btn-container {
  text-align: left;
}

.building-interest-section .partners.img-graphic {
  margin: 120px auto 0px;
}

.building-interest-section,
.building-partners-section .left-lower-pane,
.building-partners-section .right-lower-pane {
  background-color: #f7f9fb;
}

.filler-section {
  background-color: #f7f9fb;
  height: 100px;
}

.logos .img-graphic .spin-logo {
  max-height: 36px;
}

/* Mobile page */

.mobile-page {
  background-color: #f7f9fb;
}

.mobile-page section {
  margin-bottom: 100px;
}

.mobile-page .image-container {
  padding-top: 40px;
}

.mobile-page .download-badge {
  height: 70px;
  margin: 5px;
}

/* Error page */

.error-page {
  background-color: #f7f9fb;
}

.error-header-section h1 {
  font-size: 3.7rem;
  font-weight: 200;
}

.error-header-section p {
  margin-bottom: 0px;
}

.error-header-section .btn-container {
  margin: 0px;
}

.error-header-section .btn {
  font-size: 1.125rem;
  margin-top: 30px;
  padding: 0.4rem 2.2rem;
}

.error-content-section {
  position: relative;
  margin-bottom: 40px;
  overflow: hidden;
  top: 40px;
}

.error-content-section .images-container {
  position: relative;
  height: 70vw;
}

.error-content-section .images-container .mask {
  position: relative;
  left: -70%;
  top: 0px;
  width: 200%;
}

.error-content-section .images-container .code {
  position: absolute;
  right: -5%;
  top: 0px;
  width: 60%;
}

.error-content-section .images-container .blocks-1 {
  position: absolute;
  bottom: -5%;
  left: 40%;
  width: 50%;
}

.error-content-section .images-container .blocks-2 {
  position: absolute;
  right: 62%;
  top: 36%;
  width: 50%;
}

.error-content-section .images-container .dude {
  position: absolute;
  left: 36%;
  top: 20%;
  width: 20%;
}

/* Creator page */

/* hero section */

.creator-header {
  background-color: #111d28;
  color: #fff;
}
.creator-header .navbar {
  z-index: 101;
}
.creator-hero-graphic {
  background-image: url('/static/img/creator-hero-graphic-clipped.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.creator-hero-graphic h1 {
  font-size: 3rem;
  line-height: 3.75rem;
}
#rtl .creator-hero-graphic, #rtl .creator-hero-graphic .foreground-content  {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/* verticals section */
.creator-verticals-graphic {
  background-image: url('/static/img/marketplace-screenshots-graphic@3x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 346px;
  margin-bottom: 100px;
}
.creator-verticals, .creator-verticals h1 {
  margin-bottom: 60px;
}

.creator-verticals .media {
  min-height: 66px;
  margin-bottom: 60px;
}
.creator-verticals .media b, .creator-verticals .media p {
  font-size: 1.25rem;
  margin: 5px 0px 5px 30px;
}

#rtl .creator-verticals .media b, #rtl .creator-verticals .media p {
  margin: 5px 30px 5px 0px;
}

/* reasons section */
.reasons .inner-box {
  text-align: left;
  max-width: 720px;
  padding: 30px;
}
.reasons .dark, .reasons .light {
  min-height: 500px;
  max-height: 500px;
  width: 100%;
  margin: 0;
}
.reasons .left-graphic, .reasons .right-graphic {
  height: 341px;
  width: 100%;
  background-repeat: no-repeat;
  margin: 0;
}
.reasons .left-graphic {
  background-position: bottom right;
}
.reasons .right-graphic {
  background-position: bottom left;
}

.reasons .dark {
  background-color: #2e3f53;
  color: #fff;
}
.reasons .light {
  background-color: #f1f6f9;
  color: #000;
}
.reasons .blue {
  color: #1a82ff;
}
.reasons .purple {
  color: #6e3bea;
}
.reasons .green {
  color: #26d198;
}
.reasons .red {
  color: #ff1a1a;
}
.reasons .blue-coins {
  background-color: #1a82ff;
  background-image: url("/static/img/blue-coins.svg");
}
.reasons .purple-censorship {
  background-color: #6e3bea;
  background-image: url("/static/img/purple-censorship.svg");
}
.reasons .green-coins {
  background-color: #26d198;
  background-image: url("/static/img/green-coins.svg");
}
.reasons .red-boxes {
  background-color: #ff1a1a;
  background-image: url("/static/img/red-boxes.svg");
}
/* Can't move these graphics yet as they have logos that do not mirror
#rtl .reasons .purple-censorship {
  background-position-x: right;
}
#rtl .reasons .blue-coins,
#rtl .reasons .green-coins {
  background-position-x: left
}
#rtl .reasons .red-boxes {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
} */

.reasons .earn-tokens .inner-box {
  padding-top: 90px;
}
.reasons .borderless-payments .inner-box {
  padding-top: 70px;
}
#rtl .reasons .earn-tokens .inner-box, 
#rtl .reasons .borderless-payments .inner-box, 
#rtl .reasons .run-business .inner-box,
#rtl .reasons .bootstrap-marketplace .inner-box {
  text-align: right;
}

/* features section */
.creator-features {
  background-color: #2e3f53;
  padding: 40px 0px 80px;
}
.creator-features-graphic {
  background-image: url('/static/img/vitalik-profile@3x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 357px;
  margin-bottom: 40px;
}

.creator-features .media {
  margin-bottom: 30px;
}
.creator-features h1, .creator-features b {
  color: #ffffff;
}
.creator-features p {
  color: #c2cbd3;
  margin: 0;
}
.creator-features img {
  margin-right: 20px;
  width: 30px;
  height: 30px;
}

.creator-features img {
  margin-left: 20px;
}

.creator-bottom-cta {
  background-color: #1a82ff;
  color: #fff;
  padding: 100px 0px;
}

.creator-bottom-cta h2 {
  font-size: 2.25rem;
}

.creator-bottom-cta a:not([role=button]) {
  color: #fff;
  text-decoration: underline;
}

.creator-bottom-cta .btn-outline-white {
  margin: 20px 0px 40px 0px;
}

.btn-outline-white {
  border-color: #fff;
  color: #fff;
}

.btn-outline-white:hover {
  background-color: #fff;
  color: #1a82ff;
}

/* Developers page */

.developers-page,
.developers-page .left-lower-pane,
.developers-page .left-upper-pane,
.developers-page .right-lower-pane,
.developers-page .right-upper-pane {
  background-color: #061d2a;
  color: #fff;
}

.developers-page section a:not([role=button]) {
  color: #458efe;
}

.developers-page section a:not(.badge):not(.btn):hover {
  color: #0056b3;
}

.developers-page section .btn-outline-primary {
  border-color: #458efe;
  color: #458efe;
}

.developers-page section .btn-outline-primary:hover {
  background-color: #458efe;
  color: white;
}

.developers-page h1 {
  font-weight: 300;
}

.developers-page h2 {
  margin-bottom: 2rem;
}

.developers-page .introduction-section {
  z-index: 1;
}

.developers-page .img-graphic {
  min-height: 300px;
}

#rtl .developers-page .computer,
#rtl .developers-page .people {
  -moz-transform: scalex(-1);
  -o-transform: scalex(-1);
  -webkit-transform: scalex(-1);
  transform: scalex(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

.developers-page .introduction-section p {
  border-left: 1px solid #98a7b4;
  padding-left: 30px;
}

#rtl .developers-page .introduction-section p {
  border-left: 0;
  border-right: 1px solid #98a7b4;
  padding-left: 0;
  padding-right: 30px;
}

.developers-page .plane-section {
  background-color: #2e3f53;
}

.developers-page .plane-section a:not(.badge):not(.btn) {
  font-weight: normal;
}

.developers-page section:nth-of-type(2) {
  margin-top: -100px;
}

.developers-page section:nth-of-type(2) .foreground-content {
  padding-top: 200px;
}

.developers-page section:nth-of-type(3) .foreground-content {
  padding-bottom: 200px;
}

.developers-page .resources-section {
  padding: 100px 0;
}

.developers-page .resources-section h3,
.developers-page .resources-section p {
  font-size: 0.875rem;
}

.developers-page .resources-section h3 {
  font-weight: bold;
  text-transform: uppercase;
}

.developers-page .badge {
  margin-bottom: 4px;
}

.developers-page .badge:hover {
  text-decoration: underline;
}

.header-text .header-link {
  padding-left: 1em;
  margin-left: -1em;
}

.header-text .header-link i {
  visibility: hidden;
  margin-left: -1.5em;
  padding-right: .5em;
  font-size: 15px;
  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

.header-text:hover .header-link i {
  visibility: visible;
}

.header-link:hover i {
  visibility: visible;
}

#rtl .header-link {
  padding-left: 0;
  padding-right: 1em;
  margin-left: 0;
  margin-right: -1em;
}

#rtl .header-text .header-link i {
  margin-left: 0;
  margin-right: -1.5em;
  padding-left: .5em;
  padding-right: 0;
}

/* xs */
@media (max-width: 575px) {
  .carousel-item {
    height: 850px;
  }
  .btn,
  .btn-container,
  form,
  .form-control,
  .form-group {
    width: 100%;
  }

  footer .container,
  .foreground-content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .navbar {
    padding-left: 30px;
    padding-right: 20px;
  }

  .hero-devices {
    top: 30px;
  }
  .platform-section h2 {
    margin-top: 240px;
  }
  .platform-graphic {
    display: none;
  }
  .partners-section {
    margin-bottom: -180px;
  }
  .partners-section .background-panes {
    bottom: 180px;
  }
  .partners-section h2 {
    margin-top: 40px;
  }
  .use-cases-section .video {
    margin-top: 60px;
  }
  .middlemen-section h2 {
    margin-top: 40px;
  }
  .middlemen-graphic {
    display: none;
  }
  .features-graphic {
    display: none;
  }
  .features-section h2 {
    margin-top: 160px;
  }
  .technology-section {
    padding-top: 120px;
  }
  .technology-section h2 {
    margin-top: 40px;
  }
  .tech-stack-graphic {
    display: none;
  }
  .roadmap-section {
    padding-top: 120px;
  }
  .roadmap-section h2 {
    margin-top: 60px;
  }
  .email-section h2 {
    margin-top: 60px;
  }
  .email-section input {
    max-width: 100%;
  }
  .build-header-section {
    padding-bottom: 120px;
  }
  .building-partners-section .bottom-panes {
    bottom: 0px;
  }
  .logos {
    padding-top: 100px;
  }
  .logos .img-graphic {
    max-width: 200px;
  }
  .creator-hero-graphic {
    min-height: 900px;
    background-position: 0px 500px; 
  }

  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link.selected {
    color: #061d2a;
    font-weight: 600;
  }

  .navbar-dark .nav-item .nav-link,
  .navbar-dark .navbar-collapse .col-6 .nav-link {
    color: #345d7a;
  }
}

/* sm + */
@media (min-width: 576px) {
  .navbar {
    margin: auto;
    max-width: 540px;
  }
  .navbar-origin .nav-item {
    font-size: 1.125rem;
  }
  .platform-section h2 {
    margin-top: 280px;
  }
  .partners-section h2 {
    margin-top: 40px;
  }
  .use-cases-section {
    padding-bottom: 60px;
  }
  .email-section h2 {
    margin-top: 60px;
  }
  .email-section .form-group {
    max-width: 324px;
    width: 100%;
  }
  .creator-hero-graphic {
    min-height: 692px;
    background-position: bottom right;
  }
  .reasons .inner-box {
    padding: 50px;
  }
}

/* sm - md */
@media (min-width: 576px) and (max-width: 767px) {
  .carousel-item {
    height: 750px;
  }
  .navbar,
  footer .container,
  .foreground-content {
    padding-left: 60px;
    padding-right: 60px;
  }
  .hero-devices {
    top: 50px;
    left: 100px;
  }
  .platform-graphic {
    display: none;
  }
  .use-cases-section .video {
    margin-top: 60px;
  }
  .middlemen-section h2 {
    margin-top: 40px;
  }
  .middlemen-graphic {
    display: none;
  }
  .features-graphic {
    display: none;
  }
  .features-section h2 {
    margin-top: 60px;
  }
  .technology-section h2 {
    margin-top: 40px;
  }
  .tech-stack-graphic {
    display: none;
  }
  .roadmap-section h2 {
    margin-top: 60px;
  }
  .build-header-section {
    padding-bottom: 80px;
  }
  .logos {
    padding-top: 100px;
  }
  .creator-hero-graphic {
    min-height: 560px;
    background-size: 60%;
  }
}

/* md + */
@media (min-width: 768px) {
  .carousel-item {
    height: 450px;
  }
  .navbar {
    max-width: 720px;
  }
  .navbar-origin .navbar-collapse .col-md-4:nth-of-type(3) {
    padding-top: 20px;
  }
  .navbar,
  footer .container,
  .foreground-content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .hero-devices {
    top: 10px;
    left: -30px;
  }
  #rtl .hero-devices {
    left: unset;
    right: -30px;
  }
  .platform-graphic {
    display: inline-block;
    width: 260px;
    margin-top: 140px;
  }
  .partners-graphic {
    margin-bottom: 120px;
  }
  .partners-section .foreground-content {
    padding-top: 100px;
  }
  .use-cases-section .video {
    top: -120px;
    left: 40px;
  }
  #rtl .use-cases-section .video {
    left: unset;
    right: 40px;
  }
  .use-cases-section h2,
  .use-cases-section p,
  .use-cases-section .btn-container {
    position: relative;
    top: -120px;
    left: 80px;
  }
  #rtl .use-cases-section h2,
  #rtl .use-cases-section p,
  #rtl .use-cases-section .btn-container {
    position: relative;
    left: unset;
    right: 80px;
  }
  .middlemen-section {
    margin-top: -180px;
  }
  .middlemen-section .foreground-content {
    margin-top: 80px;
  }
  .middlemen-section h2,
  .middlemen-section p,
  .middlemen-section .btn-container {
    position: relative;
    top: 60px;
  }
  .middlemen-graphic {
    display: inline-block;
    top: 120px;
    left: -40px;
  }
  #rtl .middlemen-graphic {
    display: inline-block;
    left: unset;
    right: -40px;
  }
  .features-graphic {
    display: inline-block;
    margin-top: 200px;
  }
  .features-section h2 {
    margin-top: 200px;
  }
  .technology-section h2 {
    margin-top: 100px;
  }
  .tech-stack-graphic {
    display: inline-block;
    margin-top: 100px;
  }
  .roadmap-section h2 {
    margin-top: 120px;
    margin-bottom: 60px;
  }
  .roadmap {
    margin-bottom: 60px;
  }
  .email-section .btn-container {
    margin-left: 20px;
  }
  #rtl .email-section .btn-container {
    margin-left: unset;
    margin-right: 20px;
  }
  footer .logo-container {
    margin: 40px auto 20px auto;
  }
  footer .company-mission {
    max-width: 360px;
    margin-left: 0px;
  }
  #rtl footer .company-mission {
    margin-right: 0px;
  }
  .roadmap > div {
    margin-left: 0px;
    max-height: 80px;
    margin-bottom: 100px;
    text-align: center;
  }
  #rtl .roadmap > div {
    margin-right: 0px;
  }
  .roadmap .green-to-blue,
  .roadmap .blue-to-purple,
  .roadmap .purple-to-green,
  .roadmap .blue-to-grey,
  .roadmap .grey-to-green {
    border-width: 1px 1px 0px 0px;
    padding: 40px 10px 10px 10px;
  }
  #rtl .roadmap .green-to-blue,
  #rtl .roadmap .blue-to-purple,
  #rtl .roadmap .purple-to-green,
  #rtl .roadmap .blue-to-grey,
  #rtl .roadmap .grey-to-green {
    border-width: 1px 1px 0px 0px;
  }
  .roadmap .green-circle,
  .roadmap .purple-circle,
  .roadmap .blue-circle {
    top: -55px;
    left: -25px;
  }
  #rtl .roadmap .green-circle,
  #rtl .roadmap .purple-circle,
  #rtl .roadmap .blue-circle {
    left: unset;
    right: -25px;
  }
  .roadmap .grey-to-green {
    border-image-source: linear-gradient(to left, #26d198, #f7f9fb);
  }
  .roadmap .green-to-blue {
    border-image-source: linear-gradient(to left, #1a82ff, #26d198);
  }
  .roadmap .blue-to-purple {
    border-image-source: linear-gradient(to left, #6e3bea, #1a82ff);
  }
  .roadmap .purple-to-green {
    border-image-source: linear-gradient(to left, #26d198, #6e3bea);
  }
  .roadmap .blue-to-grey {
    border-image-source: linear-gradient(to left, #f7f9fb, #1a82ff);
  }
  #rtl .roadmap .grey-to-green {
    border-image-source: linear-gradient(to right, #26d198, #f7f9fb);
  }
  #rtl .roadmap .green-to-blue {
    border-image-source: linear-gradient(to right, #1a82ff, #26d198);
  }
  #rtl .roadmap .blue-to-purple {
    border-image-source: linear-gradient(to right, #6e3bea, #1a82ff);
  }
  #rtl .roadmap .purple-to-green {
    border-image-source: linear-gradient(to right, #26d198, #6e3bea);
  }
  #rtl .roadmap .blue-to-grey {
    border-image-source: linear-gradient(to right, #f7f9fb, #1a82ff);
  }
  .building-partners-section h2,
  .core-team-section h2 {
    margin-top: 120px;
  }
  .advisor-team-section .foreground-content {
    margin-bottom: 50px;
  }
  .filler-section {
    height: 0px;
  }
  .build-page .filler-section {
    height: 100px;
  }
  .consensys {
    position: relative;
    top: -42px;
  }
  .error-content-section {
    margin-bottom: -40px;
    top: -40px;
  }
  .error-content-section .images-container .mask {
    top: 20px;
  }
  .error-content-section .images-container {
    height: 50vw;
  }
  .error-content-section .images-container .mask {
    left: 0%;
    top: 10px;
    width: 100%;
  }
  .error-content-section .images-container .code {
    right: 5%;
    width: 40%;
  }
  .error-content-section .images-container .blocks-1 {
    left: 50%;
    width: 30%;
  }
  .error-content-section .images-container .blocks-2 {
    right: 60%;
    top: 50%;
    width: 30%;
  }
  .error-content-section .images-container .dude {
    left: 39%;
    top: 36%;
    width: 8%;
  }
  .logos .img-graphic img {
    max-width: 90%;
  }
  .creator-hero-graphic h1 {
    margin-top: 60px;
  }
  .creator-hero-graphic {
    background-position: 500px 0px;
    min-height: 640px;
  }
  .reasons .inner-box {
    padding: 50px;
  }
}

/* lg + */
@media (min-width: 992px) {
  .carousel-item {
    height: 380px;
  }
  .navbar {
    max-width: 960px;
  }
  .navbar .container {
    padding-left: 0;
    padding-right: 0;
  }

  /* override Bootstrap _navbar.scss:178 for second menu */
  .navbar-expand-lg #languageOptions.navbar-collapse {
    display: none !important;
  }

  .navbar-origin .brand-container {
    flex-grow: 0;
    position: absolute;
  }
  .navbar-origin .navbar-nav {
    flex-grow: 1;
    justify-content: flex-end;
  }
  .navbar-origin .navbar-collapse {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    z-index: auto;
  }
  .navbar-origin .nav-item {
    font-size: 0.875rem;
  }
  .navbar-light .nav-item .nav-link {
    color: #6f8294;
  }
  .navbar-light .navbar-toggler i {
    color: #6f8294;
  }
  .navbar-origin .navbar-collapse .nav-item,
  .navbar-origin .navbar-collapse .nav-item.dropdown {
    padding: 20px 5px;
  }

  .headshot-wrapper {
    height: 160px;
    width: 160px;
  }
  .platform-section .btn {
    padding: 0.5rem 1.7rem;
  }
  .use-cases-section .btn {
    padding: 0.5rem 1.7rem;
  }
  .building-partners-section h2,
  .core-team-section h2 {
    margin-top: 200px;
  }
  .advisor-team-section .foreground-content {
    margin-bottom: 50px;
  }
  .building-interest-section .build-on-origin-form .form-group.flex {
    align-items: center;
    display: flex;
  }
  .building-interest-section .build-on-origin-form .form-group.flex label,
  .building-interest-section .build-on-origin-form .form-group.flex .flex-offset {
    flex: 1;
    margin-bottom: 0px;
  }
  .building-interest-section .build-on-origin-form .form-group.flex input,
  .building-interest-section .build-on-origin-form .form-group.flex textarea {
    flex: 3;
    margin-left: 10px;
  }
  #rtl .building-interest-section .build-on-origin-form .form-group.flex input,
  #rtl .building-interest-section .build-on-origin-form .form-group.flex textarea {
    margin-left: 0px;
    margin-right: 10px;
  }
  .building-interest-section .partners.img-graphic {
    margin-top: 0px;
  }
  .creator-hero-graphic {
    background-position: bottom right;
    background-size: contain;
  }

  .creator-wrapper {
    /* 8 col equals 1140 which is the standard container width. */
    max-width: 1710px; 
    margin: auto;
  }
  .reasons .inner-box {
    padding: 50px;
  }
}

/* xl + */
@media (min-width: 1200px) {
  .navbar {
    max-width: 1140px;
  }
  .technology-section .container-fluid > .row {
    padding-bottom: 200px;
  }
  .reasons .inner-box {
    padding: 100px;
  }
}

/* xxl + */
@media (min-width: 1600px) {
  .creator-hero-graphic {
    background-image: url('/static/img/creator-hero-graphic.png');
  }
}

/* firefox hacks */
@-moz-document url-prefix() {
  .core-team-section .top-panes .col-pane,
  .platform-section .top-panes .col-pane {
    display: block;
  }

  .core-team-section .left-upper-pane,
  .core-team-section .right-upper-pane,
  .platform-section .left-upper-pane,
  .platform-section .right-upper-pane {
    height: 100%;
  }
}
