html {
  height: 100%;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  font-size: 1.0rem;
  font-weight: 300;
  font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
}

/* Common */

h1 {
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  margin: 40px auto;
}

h2 {
  font-size: 1.75rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 20px auto;
}

h3 {
  font-size: 1.75rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

p {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 20px auto;
}

label {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.navbar-origin {
  padding-top: 60px;
}

.navbar-origin .nav-item {
  font-size: 0.875rem;
  padding: 20px 30px;
  font-weight: 400;
}

.navbar-dark {
  background-color: #455d75;
}

.navbar-dark .nav-item>a {
  color: #ffffff !important;
}

.navbar-light {
  background-color: #f7f9fb;
}

.navbar-light .nav-item a {
  color: #6f8294;
}

.dropdown-menu {
  z-index: 100000;
  background-color: #ebf0f3;
}

.language .dropdown-item  {
  text-transform: capitalize;
  width: 100%;
  display: block;
  padding: .25rem 1.5rem;
  color: #007bff;
}

.language .dropdown-item:hover {
  background-color: #007bff;
  color: #ffffff;
}

.language  .dropdown-item-selected {
  text-transform: capitalize;
  width: 100%;
  color: black;
  padding: .25rem 1.5rem;
}

.row-pane {
  margin-left: 0px;
  margin-right: 0px;
}

.container-panes {
  position: relative;
}

.col-pane {
  padding-left: 0;
  padding-right: 0;
}

.background-panes {
  position: absolute;
}

.partners-section .background-panes {
  height: 100%;
}

.partners-section .bottom-panes .row-pane {
  height: 100%;
}

.foreground-content {
  position: relative;
  z-index: 100;
}

.left-upper-pane {
  -webkit-clip-path: polygon(0 100%, 100% 0, 0 0);
  clip-path: polygon(0 100%, 100% 0, 0 0);
  padding-top: 57.735026918%;
}

.right-upper-pane {
  -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  padding-top: 57.735026918%;
}

.left-lower-pane {
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 100%);
  clip-path: polygon(0 100%, 0 0, 100% 100%);
  padding-top: 57.735026918%;
}

.right-lower-pane {
  -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%);
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  padding-top: 57.735026918%;
}

/*
 * Right-to-left languages: Swap left/right pane graphics
 * See: https://meiert.com/en/blog/css-how-to-host-right-to-left-styling/
 */
#rtl .left-upper-pane {
  -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  padding-top: 57.735026918%;
}

#rtl .right-upper-pane {
  -webkit-clip-path: polygon(0 100%, 100% 0, 0 0);
  clip-path: polygon(0 100%, 100% 0, 0 0);
  padding-top: 57.735026918%;
}

#rtl .left-lower-pane {
  -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%);
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  padding-top: 57.735026918%;
}

#rtl .right-lower-pane {
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 100%);
  clip-path: polygon(0 100%, 0 0, 100% 100%);
  padding-top: 57.735026918%;
}



.btn-container {
  margin: 40px auto;
}

.btn {
  border-radius: 30px;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  font-weight: 400;
}

.btn:hover {
  cursor: pointer;
}

.img-graphic {
  margin: 0px auto;
  text-align: center;
  max-width: 320px;
}

.img-graphic img {
  max-width: 100%;
  object-fit: contain;
  position: relative;
}

.dark-footer {
  background-color: #2e3f53;
  padding: 80px 0px;
  min-height: 522px;
}

footer .logo-container {
  margin: 40px auto;
}

footer p {
  color: #ffffff;
  font-size: 0.75rem;
}

footer .footer-header {
  margin: 40px auto 15px auto;
  color: #ffffff;
  font-weight: 400;
  font-size: 0.875rem;
}

footer .footer-links {
  list-style-type: none;
  padding-left: 0px;
}

footer .footer-link {
  margin: 15px auto;
  font-size: 0.875rem;
}

footer .footer-link a {
  color: #ffffff;
}

footer .logo-container {
  margin: 40px auto 20px auto;
}

footer .company-mission {
  max-width: 360px;
  margin-left: 0px;
}

/* Alertify */
.alertify-log {
  padding: 20px;
  border-radius: 4px;
  color: #212529;
  font-size:18px;
  font-weight: 400;
  text-align: center;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25' height='30'><line x1='5' y1='10' x2='15' y2='20' stroke='#bbb' stroke-width='2'/><line x1='15' y1='10' x2='5' y2='20' stroke='#bbb' stroke-width='2'/></svg>");
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #ebf0f3;
}

/* Index */

.hero-section {
  background-color: #455d75;
  background-size: 80px 80px;
  margin-top: -160px;
}

.hero-section .foreground-content {
  top: 160px;
}

.hero-section h1 {
  font-weight: 200;
  color: #ffffff;
}

.hero-section p {
  color: #ffffff;
}

.platform-section .background-panes {
  height: 100%;
}

.platform-section .left-upper-pane,
.platform-section .right-upper-pane {
  position: relative;
  top: -1px; /* hack to get rid of mysterious line */
  background-color: #455d75;
  background-size: 80px 80px;
}

.features-section {
  position: relative;
  top: -1px; /* hack to get rid of mysterious line */
}

.partners-section > div > .row {
  position: relative;
}

.partners-section .left-lower-pane,
.partners-section .right-lower-pane {
  background-color: #f7f9fb;
}

.partners-section .btn-container {
  display: inline-block;
}

.alertify-log button {
  white-space: normal;
}

.slack-btn-container, .telegram-btn-container {
  margin: 10px 10px 10px 0 !important;
}

.slack-btn {
  padding-left:42px;
  background-image: url('/static/img/slack-logo.svg');
  background-repeat: no-repeat;
  background-position: 15px 13px;
}

.slack-btn:hover {
  background-image: url('/static/img/slack-logo-white.svg');
}

.telegram-btn {
  padding-left:45px;
  background-image: url('/static/img/telegram-logo.svg');
  background-repeat: no-repeat;
  background-position: 15px 13px;
}

.telegram-btn:hover {
  background-image: url('/static/img/telegram-logo-white.svg');
}

.use-cases-section {
  background-color: #f7f9fb;
}

.use-cases-section .btn-container {
  display: inline-block;
}

.demo-btn-container, .github-btn-container {
  margin: 10px 10px 10px 0 !important;
}

.middlemen-section {
  background-color: #f7f9fb;
}

.img-feature {
  width: 48px;
  text-align: left;
  margin-top: 20px;
}

.feature-description {
  font-size: 0.875rem;
}

.features-section .left-upper-pane,
.features-section .right-upper-pane {
  background-color: #f7f9fb;
}

.technology-section > div > .row {
  position: relative;
}

.technology-section .background-panes {
  bottom: 0;
}

.technology-section .left-lower-pane,
.technology-section .right-lower-pane {
  background-color: #f7f9fb;
}

.img-technology {
  max-width: 100px;
  margin: 40px auto;
}

.img-technology img {
  width: 80%;
}

.ethereum-logo,
.react-logo {
  width: 100% !important;
}

.roadmap-section {
  background-color: #f7f9fb;
}

.roadmap-section > div > .row {
  position: relative;
}

.roadmap-section .foreground-content {
  padding-bottom: 60px;
}

.roadmap-section .roadmap {
  font-size: 14px;
}

.roadmap-section .background-panes {
  bottom: 0;
}

.roadmap > div {
  margin-left: 20px;
  text-align: center;
}

.roadmap .green-to-blue, .roadmap .blue-to-purple, .roadmap .purple-to-green, .roadmap .blue-to-grey, .roadmap .grey-to-green {
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-image-slice: 1;
  padding:10px 10px 40px 10px;
}

.roadmap .green-circle, .roadmap .purple-circle, .roadmap .blue-circle {
  width: 29px;
  height: 29px;
  border-radius: 14.5px;
  position: relative;
  top:-25px;
  left:-25px;
  background-color: #f7f9fb;
}

.roadmap .green-circle {
  border: solid 1px #26d198;
}
.roadmap .blue-circle {
  border: solid 1px #1a82ff;
}
.roadmap .purple-circle {
  border: solid 1px #6e3bea;
}

/* vertical */
.roadmap .grey-to-green {
  border-image-source: linear-gradient(to top, #26d198, #f7f9fb);
}

.roadmap .green-to-blue {
  border-image-source: linear-gradient(to top, #1a82ff, #26d198);
}

.roadmap .blue-to-purple {
  border-image-source: linear-gradient(to top, #6e3bea, #1a82ff);
}

.roadmap .purple-to-green {
  border-image-source: linear-gradient(to top, #26d198, #6e3bea);
}

.roadmap .blue-to-grey {
  border-image-source: linear-gradient(to top, #f7f9fb, #1a82ff);
}

.roadmap-section .roadmap .when {
  color:#455d75;
  margin-bottom: 10px;
}

.roadmap-section .right-lower-pane {
  background-color: #ffffff;
}

.email-signup-input {
  display: inline-block;
  border-radius: 30px;
  background-color: #ebf0f3;
  font-style: italic;
  width: 324px;
  height: 45px;
}

.email-section form {
  width: 324px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.email-section .foreground-content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.email-section .form-group {
  width: 324px;
  display: inline-block;
  margin: 20px auto 0px auto;
}

.email-section .btn-container {
  display: inline-block;
  margin: 20px auto 0px auto;
}

.press-section {
  background-color: #f7f9fb;
  padding-top: 40px;
  padding-bottom: 100px;
}

.press-section h2 {
  margin: 60px 0px 40px 0px;
}

.press-mention {
  margin: 20px;
}

.press-logo-wrapper {
  text-align: center;
  width: 200px;
  margin: 20px auto 30px auto;
}

.press-logo-wrapper img {
  width: 100%;
}

.press-quote {
  margin: 20px auto 0px auto;
  text-align: center;
  font-weight: 400;
  font-style: italic;
}

/* presale page */

.presale-form .form-group {
  margin-bottom: 40px;
}

/* Team page */

.team-member {
  margin: 20px;
}

.headshot-wrapper {
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 20px auto;
}

.headshot-wrapper img {
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  height: 100%;
  width: 100%;
}

.name {
  margin: 20px auto 0px auto;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
}

.title {
  margin: 0px auto 10px auto;
  text-align: center;
  font-weight: 500;
}

.bio {
  margin: 10px auto;
  text-align: center;
  font-size: 0.75rem;
}

.team-header-section {
  background-color: #f7f9fb;
}

.team-header-section h1 {
  font-weight: 200;
}

.core-team-section h2 {
  margin: 80px auto 40px auto;
}

.core-team-section .left-upper-pane,
.core-team-section .right-upper-pane {
  position: relative;
  top: -1px;
  background-color: #f7f9fb;
}

.contributing-team-section > div > .row {
  position: relative;
}

.contributing-team-section .foreground-content {
  margin-bottom: 140px;
}

.contributing-team-section h2 {
  margin: 80px auto 40px auto;
}

.contributing-team-section .background-panes {
  bottom: 0;
}

.contributing-team-section .left-lower-pane,
.contributing-team-section .right-lower-pane {
  background-color: #f7f9fb;
}

.filler-section {
  background-color: #f7f9fb;
  height: 100px;
}

.investors-section .left-upper-pane,
.investors-section .right-upper-pane {
  position: relative;
  top: -1px;
  background-color: #f7f9fb;
}

.investors-section .foreground-content {
  margin-bottom: 120px;
}

.investors-section h2 {
  margin: 140px auto 40px auto;
}

.investor {
  margin: 30px;
}

.logo-wrapper {
  text-align: center;
  width: 200px;
  margin: 20px auto;
}

.logo-wrapper img {
  height: 100%;
}

@media (max-width: 575px) {
  .navbar,
  footer .container,
  .foreground-content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn-container {
    text-align: center;
    margin-bottom: 60px;
  }
  .hero-devices {
    top: 30px;
  }
  .platform-section h2 {
    margin-top: 240px;
  }
  .platform-graphic {
    display: none;
  }
  .partners-section h2 {
    margin-top: 40px;
  }
  .use-cases-section .video {
    margin-top: 60px;
  }
  .middlemen-section h2 {
    margin-top: 40px;
  }
  .middlemen-graphic {
    display: none;
  }
  .features-graphic {
    display: none;
  }
  .features-section h2 {
    margin-top: 160px;
  }
  .technology-section h2 {
    margin-top: 40px;
  }
  .tech-stack-graphic {
    display: none;
  }
  .roadmap-section h2 {
    margin-top: 60px;
  }
  .email-section h2 {
    margin-top: 60px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .navbar,
  footer .container,
  .foreground-content {
    padding-left: 60px;
    padding-right: 60px;
  }
  .btn-container {
    text-align: left;
    margin-bottom: 60px;
  }
  .hero-devices {
    top: 50px;
    left: 100px;
  }
  .platform-section h2 {
    margin-top: 280px;
  }
  .platform-graphic {
    display: none;
  }
  .partners-section h2 {
    margin-top: 40px;
  }
  .use-cases-section .video {
    margin-top: 60px;
  }
  .middlemen-section h2 {
    margin-top: 40px;
  }
  .middlemen-graphic {
    display: none;
  }
  .features-graphic {
    display: none;
  }
  .features-section h2 {
    margin-top: 60px;
  }
  .technology-section h2 {
    margin-top: 40px;
  }
  .tech-stack-graphic {
    display: none;
  }
  .roadmap-section h2 {
    margin-top: 60px;
  }
  .email-section h2 {
    margin-top: 60px;
  }
}

@media (min-width: 768px) {
  .navbar,
  footer .container,
  .foreground-content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn-container {
    text-align: left;
    margin-bottom: 60px;
  }
  .hero-devices {
    top: 10px;
    left: -30px;
  }
  .platform-section h2 {
    margin-top: 280px;
  }
  .platform-graphic {
    display: inline-block;
    width: 260px;
    margin-top: 140px;
  }
  .partners-graphic {
    margin-bottom: 180px;
  }
  .partners-section .foreground-content {
    padding-top: 100px;
  }
  .partners-section h2 {
    margin-top: 40px;
  }
  .use-cases-section .video {
    top: -120px;
    left: 40px;
  }
  .use-cases-section h2,
  .use-cases-section p,
  .use-cases-section .btn-container {
    position: relative;
    top: -120px;
    left: 80px;
  }
  .middlemen-section {
    margin-top: -180px;
  }
  .middlemen-section .foreground-content {
    margin-top: 80px;
  }
  .middlemen-section h2,
  .middlemen-section p,
  .middlemen-section .btn-container {
    position: relative;
    top: 60px;
  }
  .middlemen-graphic {
    display: inline-block;
    top: 120px;
    left: -40px;
  }
  .features-graphic {
    display: inline-block;
    margin-top: 200px;
  }
  .features-section h2 {
    margin-top: 200px;
  }
  .technology-section h2 {
    margin-top: 100px;
  }
  .tech-stack-graphic {
    display: inline-block;
    margin-top: 100px;
  }
  .roadmap-section h2 {
    margin-top: 120px;
    margin-bottom: 60px;
  }
  .roadmap {
    margin-bottom: 60px;
  }
  .email-section h2 {
    margin-top: 60px;
  }
  .email-section .btn-container {
    margin-left: 20px;
  }
  footer .logo-container {
    margin: 40px auto 20px auto;
  }
  footer .company-mission {
    max-width: 360px;
    margin-left: 0px;
  }
  .roadmap > div {
    margin-left: 0px;
    max-height: 80px;
    margin-bottom: 100px;
    text-align: center;
  }
  .roadmap .green-to-blue, .roadmap .blue-to-purple, .roadmap .purple-to-green, .roadmap .blue-to-grey, .roadmap .grey-to-green {
    border-width: 1px 1px 0px 0px;
    padding:40px 10px 10px 10px;
  }
  .roadmap .green-circle, .roadmap .purple-circle, .roadmap .blue-circle {
    top:-55px;
    left:-25px;
  }
  .roadmap .grey-to-green {
    border-image-source: linear-gradient(to left, #26d198, #f7f9fb);
  }
  .roadmap .green-to-blue {
    border-image-source: linear-gradient(to left, #1a82ff, #26d198);
  }
  .roadmap .blue-to-purple {
    border-image-source: linear-gradient(to left, #6e3bea, #1a82ff);
  }
  .roadmap .purple-to-green {
    border-image-source: linear-gradient(to left, #26d198, #6e3bea);
  }
  .roadmap .blue-to-grey {
    border-image-source: linear-gradient(to left, #f7f9fb, #1a82ff);
  }
  .core-team-section h2 {
    margin-top: 120px;
  }
  .contributing-team-section .foreground-content {
    margin-bottom: 300px;
  }
  .filler-section {
    height: 0px;
  }
  .investors-section h2 {
    margin-top: 180px;
  }
  .consensys {
    position: relative;
    top: -42px;
  }
}

@media (min-width: 992px) {
  .headshot-wrapper {
    height: 160px;
    width: 160px;
  }
  .core-team-section h2 {
    margin-top: 200px;
  }
  .contributing-team-section .foreground-content {
    margin-bottom: 360px;
  }
}


