<div class="country-section">
  <div class="country-name">{{gettext("China")}}</div>
  <div class="vc-firm">
    <img src="/static/img/investors/vc/preangel@3x.png" />
    <div class="firm-name">{{gettext("PreAngel Fund")}}</div>
  </div>
  <div class="vc-firm">
    <img src="/static/img/investors/vc/fbg@3x.png" />
    <div class="firm-name">{{gettext("FBG")}}</div>
  </div>
  <div class="vc-firm">
    <img src="/static/img/investors/vc/snz-holdings@3x.png" />
    <div class="firm-name">{{gettext("SNZ Holdings")}}</div>
  </div>
  <div class="vc-firm">
    <img src="/static/img/investors/vc/continue-capital.png" />
    <div class="firm-name">{{gettext("Continue Capital")}}</div>
  </div>
  <div class="ml-1 vc-firm smaller">
    <img src="/static/img/investors/vc/block-assist@3x.png" />
    <div class="firm-name">{{gettext("BlockAsset")}}</div>
  </div>
  <div class="ml-1 vc-firm smaller">
    <img src="/static/img/investors/vc/danhuacapital@3x.png" />
    <div class="firm-name">{{gettext("Danhua Capital")}}</div>
  </div>
</div>
