<div class="country-section">
  <div class="country-name">{{gettext("United States")}}</div>
  <div class="vc-firm">
    <img src="/static/img/investors/vc/pantera@3x.png" />
    <div class="firm-name">{{gettext("Pantera Capital")}}</div>
  </div>
  <div class="vc-firm">
    <img src="/static/img/investors/vc/foundation-capital@3x.png" />
    <div class="firm-name">{{gettext("Foundation Capital")}}</div>
  </div>
  <div class="vc-firm">
    <img src="/static/img/investors/vc/blocktower-capital@3x.png" />
    <div class="firm-name">{{gettext("Blocktower Capital")}}</div>
  </div>
</div>
