.about-page h1 {
  font-family: Poppins;
  font-size: 2.375rem;
  font-weight: normal;
  text-align: center;
  line-height: normal;
}

.about-page .segment-title {
  margin-top: 88px;
}

.about-page .segment-subtitle {
  margin-top: -20px;
}

.about-page .team-photo {
  margin-top: 86px;
  margin-bottom: 102px;
}

.about-page .blue-section {
  background-color: #007cff;
  color: white;
}

.about-page .blue-section .section-name {
  font-family: Poppins;
  font-size: 2.375rem;
  font-weight: normal;
}

.about-page .blue-section .section-text{
  font-family: Lato;
  font-size: 1.125rem;
  font-weight: normal;
  max-width: 340px;
  line-height: normal;
}

.about-page .section-content {
  max-width: 940px;
  width: 100%;
}

.about-page .white-section {
  background-color: white;
  color: #061d2a;
}

.about-page .white-section .section-name {
  font-family: Poppins;
  font-size: 2.375rem;
  font-weight: normal;
}

.about-page .white-section .section-text{
  font-family: Lato;
  font-size: 1.125rem;
  font-weight: normal;
  max-width: 404px;
  line-height: normal;
}

.about-page .better-incentives.white-section .section-text,
.about-page .access-section.blue-section .section-text {  
  max-width: 386px;
}

.the-press {
  background-color: #fafbfc;
}

.the-press .content {
  max-width: 1000px; 
  margin-top: 5px;
  margin-bottom: 70px;
}

.the-press .content a {
  width: 180px;
  margin: 45px 30px;
}

.the-press .content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}