.screen-size-segment {
  min-height: 580px;
  max-height: 800px;
  height: 100vh;
}

.white-button-blue-border {
  font-size: 1.125rem;
  border-radius: 26px;
  border: solid 1px #007cff;
  padding: 12px 25px;
  color: #007cff;
  background-color: transparent;
  text-align: center;
}

.video-block {
  position: relative;
  background-color: #061d2a;
  color: white;
  font-family: Lato;
  font-size: 1.125rem;
  font-weight: normal;
}

.video-block .video-title {
  max-width: 860px;
}