.dashboard-page {
  background-color: #007cff;
  padding-top: 75px;
}

.dashboard-page section {
  padding: 50px 0 30px 0;
}

.dashboard-page section > .container {
  padding: 0 30px;
}

.dashboard-page .title-section {
  padding-bottom: 30px;
}

.dashboard-page .title-section h1 {
  margin-top: 20px;
  text-align: left;
  font-family: Poppins;
  font-size: 34px;
  font-weight: 500;
}

.dashboard-page .stats-widget {
  margin: 0 0 0 20px;
  padding: 20px 20px;
  border-left: 1px solid #399aff;
}

.dashboard-page .stats-widget img {
  object-fit: contain;
  height: 24px;
  width: 24px;
  margin-bottom: 16px;
}

.dashboard-page .stats-widget .stats-label {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
}

.dashboard-page .stats-widget .stats-value {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  color: var(--white);

  display: flex;
  align-items: flex-end;
}

.dashboard-page .stats-widget .stats-value .ogn-label {
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.dashboard-page h3 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #061d2a;
  margin-bottom: 8px;
  text-align: left;
}

.dashboard-page .desc {
  font-family: Lato;
  font-size: 12px;
  color: #000;
  margin-bottom: 17px;
}

.dashboard-page .locked-tokens-section .additional-token-metrics .subtitle {
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: normal;
}

.dashboard-page .locked-tokens-section hr {
  width: 100%;
  height: 1px;
  background-color: #fafbfc;
  margin-bottom: 60px;
}

.dashboard-page .locked-tokens-section .additional-token-metrics .metric-holder .metric:not(:last-child) {
  margin-right: 45px;
}

.dashboard-page .locked-tokens-section .additional-token-metrics h3 {
  margin-bottom: 29px;
}

.dashboard-page .locked-tokens-section .additional-token-metrics .metric {
  max-width: 142px;
  font-family: Lato;
  font-size: 14px;
  color: black;
  font-weight: normal;
  margin-bottom: 28px;
}

.dashboard-page .locked-tokens-section .additional-token-metrics .metric.bigger {
  max-width: 146px;
}

.dashboard-page .locked-tokens-section .additional-token-metrics .metric .name {
  margin-bottom: 5px;
}

.dashboard-page .locked-tokens-section .additional-token-metrics .metric .value {
  font-size: 24px;
  font-weight: bold;
  margin-top: auto;
}

.dashboard-page .locked-token-widget {
  margin-top: 28px;
}

.dashboard-page .locked-token-widget .title {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  color: #061d2a;
}

.dashboard-page .locked-token-widget .value {
  font-family: Lato;
  font-size: 30px;
  color: #061d2a;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}

.dashboard-page .locked-token-widget .ogn-label {
  font-size: 18px;
  color: #8fa7b7;
  margin-bottom: 5px;
  margin-left: 5px;;
}

.dashboard-page .subtitle2 {
  margin-bottom: 57px;
  font-size: 14px;
  font-weight: normal;
  color: #638298;
  margin-top: 30px;
}

.dashboard-page .reserved-wallets {
  margin: 20px 0;
}

.dashboard-page .reserved-wallet {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #98a7b4;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.dashboard-page .reserved-wallets .staked-chart {
  margin: 25px 0 35px 0;
}

.dashboard-page .reserved-wallets .staked-chart .chart-container{
  height: 110px; 
  width: 110px;
}

.dashboard-page .reserved-wallet .wallet-name {
  font-size: 14px;
  font-weight: bold;
  flex: 160px 0 0;
}

.dashboard-page .reserved-wallet .wallet-balance {
  font-size: 11px;
  font-weight: normal;
  color: black;
  flex: 1;
  text-align: right;
}

.dashboard-page .reserved-wallet .placeholder {
  min-width: 50px;
}

.dashboard-page .reserved-wallet .wallet-address {
  font-size: 11px;
  flex: 1;
}

.dashboard-page .reserved-wallet img {
  flex: auto 0 0;
}

.dashboard-page .chart-legends {
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
}

.dashboard-page .chart-legends.grid-type {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
}

.dashboard-page .chart-legends .legend-item {
  display: flex;
  align-items: center;
}

.dashboard-page .chart-legends .legend-item {
  margin-top:  10px;
}

.dashboard-page .legend-color {
  width: 32px;
  height: 18px;
  display: block;
  margin-right: 5px;
}

.dashboard-page .legend-color.legend-small {
  width: 25px;
  height: 14px;
  margin-right: 8px;
}

.dashboard-page .legend-name {
  font-size: 12px;
  white-space: nowrap;
  margin-right: 20px;
}

/* .dashboard-page .exchanges-section {
  padding: 60px 20px 70px 20px;
} */

.dashboard-page .exchanges-section h3 {
  margin-bottom: 30px;
  margin-top: 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #061d2a;
}

.dashboard-page .exchanges-section .exchanges {
}

.dashboard-page .exchanges-section .exchanges .token-exchange img {
  max-height: 18px;
  margin: 22px 0px;
}

.dashboard-page .exchanges-section .exchanges .token-exchange.medium img {
  max-height: 20px;
}

.dashboard-page .exchanges-section .exchanges .token-exchange.large img {
  max-height: 22px;
}

.dashboard-page .exchanges-section .exchanges .token-exchange.larger img {
  max-height: 30px;
}

.dashboard-page .exchanges-section .exchanges .token-exchange.xxl img {
  max-height: 32px;
}

.dashboard-page .exchanges-section a {
  font-size: 14px;
  font-weight: normal;
  color: #007cff;
}

@media (max-width: 767px) {
  .dashboard-page .stats-widget {
    margin: 0 0 20px 0;
  }

  .dashboard-page .chart-legends.grid-type {
    display: grid;
    grid-template-columns: repeat(1, 0fr);
  }

  .dashboard-page .reserved-wallet .placeholder {
    display: none;
  }

  .dashboard-page h3 {
    text-align: center;
  }

  .additional-token-metrics h3 {
    text-align: left;
  }

  .dashboard-page .reserved-wallets .staked-chart .chart-container{
    width: unset;
  }
} 


.stake-banner-blue {
  margin-bottom: 60px;
  background-color: #007cff;
  border-radius: 10px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
}

.stake-banner-blue.governance {
  background-image: url('/static/img/coins/coin-waves-rectangle.svg');
  background-position-y: top;
  background-position-x: inherit;
  background-repeat: repeat-y;
  padding: 20px 30px;
}

.stake-banner-blue .coins-icon {
  margin-right: 20px;
}

.stake-banner-blue.story {
  background-image: url('/static/img/splines.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  padding: 20px 80px 20px 30px;
}

.stake-banner-blue .stake-content h1 {
  margin: 0px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  line-height: 1.04;
  color: #ffffff;
}

.stake-banner-blue .stake-content p {
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  color: #dbe6eb;
}

.stake-banner-blue .title {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 500;
  font-stretch: normal;
  line-height: 1.04;
  color: #ffffff;
}

.stake-banner-blue .text {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 65%;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  color: #dbe6eb;
}

.stake-banner-blue a.btn {
  width: 210px;
  padding: 7px;
  font-size: 18px;
  font-weight: bold;
  background-color: #061d2a;
  color:#fff;
}

.stake-banner-blue .btn:hover {
  background-color: #343a40;
}


@media (max-width: 992px) {
  .stake-banner-blue .coins-icon {
    margin-right: unset;
  }

  .stake-banner-blue.governance {
    padding: 25px 15px;
  }

  .stake-banner-blue.story {
    padding: 20px 10px;
  }

  .stake-banner-blue .stake-content {
    text-align: center;
    margin: 15px 0px;
  }

  .stake-banner-blue .stake-content h1 {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .stake-banner-blue .stake-content p {
    display: none;
  }

  .stake-banner-blue .stake-box {
    margin: auto;
    text-align: center;
  }

  .stake-banner-blue .stake-box .btn {
    margin: auto;
  }

  .stake-banner-blue .stake-box .title {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .stake-banner-blue .story-logo {
    display: none;
  }

  .stake-banner-blue .text {
    display: none;
  }
}

@media (max-width: 1200px) {
  .dashboard-page .stats-widget {
    margin: 0 0 20px 0;
  }

  .dashboard-page .chart-legends.grid-type {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
  }
}





.dashboard-page .vc-section.vc-firms {
  background-image: url('/static/img/investors/map.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.dashboard-page .vc-section.vc-firms .container {
  padding: 0 7rem 5rem 7rem;
}

.dashboard-page .vc-section .country-name {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
  text-align: left;
}

.dashboard-page .vc-section .vc-firm + .country-name {
  margin-top: 2rem;
}

.dashboard-page .vc-section .vc-firm {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
}

.dashboard-page .vc-firm.smaller img {
  flex: 38px 0 0;
  width: 38px;
  height: 38px;
  margin-right: 12px;
}

.dashboard-page .vc-firm img {
  flex: 45px 0 0;
  width: 45px;
  height: 45px;
  object-fit: contain;
  margin-right: 1rem;
}

.dashboard-page .vc-firm .firm-name {
  flex: 1;
  font-size: 1.125rem;
  color: #fff;
  font-weight: normal;
}