.developers-page {
  font-family: Lato;
  font-size: 1.125rem;
  font-weight: normal;
}

.developers-page .stack-section h1 {
  max-width: 600px;
  font-weight: normal;
  margin-top: 13.25rem;
}

.developers-page .stack-section h2 {
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 0.5rem;
}

.developers-page .stack-section .text {
  text-align: left;
  max-width: 250px;
}

.developers-page .stack-section .stack2 .text {
  max-width: 300px;
}

.developers-page .desktop .column1 > div:nth-child(1) {
  margin-top: 15px;
}

.developers-page .desktop .column1 > div:nth-child(2) {
  margin-top: 155px;
}

.developers-page .desktop .column3 > div:nth-child(1) {
  margin-top: 170px;
}

.developers-page .desktop .column3 > div:nth-child(2) {
  margin-top: 28px;
}

.developers-page .desktop .column2 > img {
  max-width: 264px;
}

.developers-page .desktop .column2 > img:nth-child(2) {
  margin-top: 10px;
}

.developers-page .desktop .column2 > img:nth-child(3) {
  margin-top: -40px;
}

.developers-page .desktop .column2 > img:nth-child(4) {
  margin-top: -15px;
}

.developers-page .indicator-right {
  margin-left: -1.56rem;
  margin-top: 1rem;
}

.developers-page .indicator-left {
  margin-left: 2rem;
}

.developers-page .left-indicator-holder {
  width: 100%;
}

.developers-page .dapps-block {
  margin-top: -5.6rem;
}

.developers-page .button {
  font-size: 1.125rem;
  border-radius: 26px;
  border: solid 1px white;
  padding: 12px 25px;
  color: white;
  background-color: transparent;
  text-align: center;
  font-weight: normal;
  min-width: 309px;
  cursor: pointer;
}

.developers-page .button:hover {
  background-color: #ffffff1c;
}

.developers-page .getting-involved h1 {
  margin-top: 8rem;
}

.developers-page .getting-involved .subtitle {
  max-width: 680px;
  margin: 0px 2px;
  text-align: center;
  margin-top: -20px;
}

.developers-page .getting-involved .number {
  margin-left: auto;
  font-family: Poppins;
  font-size: 1.875rem;
  font-weight: normal;
  text-align: center;
  width: 3.75rem;
  height: 3.75rem;
  border: solid 1px var(--white);
  border-radius: 1.875rem;
}

.developers-page .getting-involved .steps {
  margin-top: 60px;
}

.developers-page .getting-involved .step {
  margin-bottom: 40px;
}

.developers-page .getting-involved .github-label {
  border-radius: 5px;
  background-color: #bdcbd5;
  font-family: Lato;
  font-size: 0.875rem;
  font-weight: normal;
  color: #061d2a;
  padding: 0.2rem 0.4rem;
}

.developers-page .behind-the-scenes h1 {
  margin-top: 130px;
}

.developers-page .behind-the-scenes .subtitle {
  text-align: center;
  max-width: 680px;
  margin-top: -20px;
}

.developers-page .behind-the-scenes img {
  margin-top: 60px;
}

.developers-page .behind-the-scenes .button {
  margin-top: 60px;
  margin-bottom: 100px;
}

@media (max-width: 575px) {
}

@media (max-width: 767px) {
  .developers-page .container {
    padding-left: 33px;
    padding-right: 33px;
  }

  .developers-page .stack-section h1 {
    margin-top: 7rem;
  }

  .developers-page .mobile > img {
    max-width: 170px;
    width: 100%;
  }

  .developers-page .text-holder {
    padding-left: 0px;
    padding-right: 0px;
  }

  .developers-page .dapps-block {
    margin-top: 0rem;
  }

  .developers-page .stack-section .mobile .img1 {
    margin-top: 35px;
  }

  .developers-page .stack-section .mobile .img2 {
    margin-top: 68px;
  }

  .developers-page .stack-section .mobile .img3 {
    margin-top: 53px;
  }

  .developers-page .stack-section .mobile .img4 {
    margin-top: 81px;
  }

  .developers-page .stack-section h2 {
    width: 100%;
    text-align: left;
    margin-top: 35px;
    font-size: 22px;
  }

  .developers-page .getting-involved .number {
    margin-right: auto;
  }

  .developers-page .getting-involved .subtext {
    margin-top: 20px;
    text-align: center;
  }

  .developers-page .stack-section .text {
    text-align: left;
    max-width: 500px;
    font-size: 14px;
  }

  .developers-page .mobile-map-holder {
    background-image: url('/static/img/developers/map_clean.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
  }

  .developers-page .mobile-map-holder .city {
    font-size: 0.75rem;
    font-weight: 800;
    margin-top: 21px;
  }

  .developers-page .mobile-map-holder .time {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 800;
  }

  .developers-page .subtitle {
    font-size: 0.875rem;
  }
}