.dshop section {
  display: inline-block;
  width: 100%;
}

.dshop .outline-button {
  border-radius: 5px;
  border: solid 1px var(--white);
  font-size: 0.875rem;
  text-align: center;
  color: var(--white);
  padding: 0.5rem 0.75rem;
  margin: 0 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dshop .outline-button:hover {
  background-color: var(--white);
  color: var(--primary);
}

.dshop li .outline-button {
  display: list-item;
}

.dshop .primary-button {
  border-radius: 5px;
  box-shadow: 5px 5px 8px 0 #0065d2, -3px -3px 6px 0 #2a92ff, inset 3px 3px 2px 0 #0e4d90, inset -3px -3px 2px 0 #021d3a;
  background-image: linear-gradient(285deg, #02203f, #053c77 5%);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 0.8rem 2rem;
  margin: 0.5rem 0;
  color: var(--white);
  text-decoration: none;
  transition: background-image 0.3s ease;
  cursor: pointer;
  display: inline-block;
}

.dshop .primary-button:hover {
  text-decoration: none;
  background-image: linear-gradient(285deg, #00102f, #002c67 5%);
}

.dshop .light-button {
  border-radius: 11px;
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.08), -5px -5px 8px 0 rgba(255, 255, 255, 0.9);
  background-image: linear-gradient(289deg, #f2f6f9 93%, #f2f6f9 6%);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 1.5rem;
  margin: 0.5rem 0;
  color: var(--primary);
  text-decoration: none;
  transition: background-image 0.3s ease;
  cursor: pointer;
  display: inline-block;
}

.dshop .light-button:hover {
  text-decoration: none;
  background-image: linear-gradient(289deg, #f2f6f9 93%, #f2f6f9 6%);
}

.dshop .build-section {
  width: 100%;
  padding-top: 70px;
  background-image: linear-gradient(to right, #007cff, #0072ea 100%);
  overflow: hidden;
}

.dshop .title-section {
  width: 100%;
  padding-top: 70px;
  background-image: linear-gradient(to right, #007cff, #0072ea 100%);
  color: white;
}

.dshop .title-section .container {
  min-height: 500px;
}

.dshop .title-section h1 {
  font-family: Poppins;
  font-size: 34px;
  color: white;
  text-align: center;
  margin-bottom: 23px;
}

.dshop .title-section .sub-title {
  opacity: 0.8;
  font-family: Lato;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

.dshop .people-image-section {
  max-height: 480px;
  overflow: hidden;
}

.dshop .support-section {
  background-color: white;
  min-height: 615px;
}

.dshop .support-section .image-holder {
  position: relative;
}

.dshop .support-section .support-image {
  box-shadow: 5px 5px 20px 0 #00000033, -5px -5px 20px 0 #00000033;
}

.dshop .support-section .support-image.center {
  margin-bottom: -180px;
}

.dshop .support-section .support-image.left,
.dshop .support-section .support-image.right {
  position:absolute;
  top: 40px;
  z-index: -1;
}

.dshop .support-section .support-image.left {
  left: -75%;
}

.dshop .support-section .support-image.right {
  left: 75%;
}

.dshop .support-section .title {
  font-family: Poppins;
  font-size: 24px;
}

.dshop .support-section .sub-title {
  margin-bottom: 70px;
}

.dshop .support-section-2 {
  min-height: 660px;
  background-image: linear-gradient(to right, #000000, #2f2f2f 100%);
  color: white;
  padding-bottom: 83px;
  z-index: -1;
}

.dshop .support-section-2 .title {
  color: white;
  margin-bottom: 66px;
  font-size: 24px;
}

.dshop .support-section-2 .info-box {
  max-width: 200px;
  margin-left: 30px;
  margin-right: 30px;
}

.dshop .support-section-2 .info-box .icon-holder {
  min-height: 108px;
  font-family: Lato;
  font-size: 16px;
}

.dshop .support-section-2 .info-box .emphasised {
  font-weight: bold;
}

.dshop .support-section-2 .info-box .text {
  color: #999999;
  line-height: normal;
}

.dshop .tools-section {
  margin-bottom: 50px;
}

.dshop .tools-section .title {
  font-family: Poppins;
  font-size: 24px;
  margin-bottom: 8px;
  margin-top: 84px;
}

.dshop .tools-section .brands {
  margin-bottom: 45px;
  max-width: 660px;
}

.dshop .tools-section .sub-title {
  margin-bottom: 25px;
}

.dshop .tools-section .brand-box {
  margin: 20px;
  min-width: 112px;
  min-height: 112px;
  border-radius: 10px;
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.04), -5px -5px 8px 0 rgba(255, 255, 255, 0.9);
  background-image: linear-gradient(313deg, #ffffff 0%, #f2f6f9 90%);
}

.dshop .content-wrapper {
  max-width: 300px;
  font-weight: normal;
}

.dshop .build-section h1 {
  font-family: Poppins;
  font-size: 24px;
  line-height: 1.25;
  color: var(--white);
  text-align: left;
  margin: 0 0 1rem 0;
}

.dshop .build-section .sub-title {
  opacity: 0.8;
  font-size: 1rem;
  line-height: 1.31;
  margin-bottom: 40px;
  color: var(--white);
}

.dshop .build-section a {
  font-family: Lato;
  line-height: 1.31;
  color: white;
  margin-left: 17px;
}

.dshop .build-section a:hover {
  text-decoration: underline;
}

.dshop .build-section .primary-button {
  margin-top: 2.5rem;
}

.dshop .build-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 600px;
}

.dshop .build-section .hero-graphic {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 30px;
  z-index: -1;
}

.dshop .demo-section {
  background-image: linear-gradient(to right, #007cff, #0072ea 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 320px;
}

.dshop .demo-section .subtitle {
  margin-bottom: 1.75rem;
  font-size: 1.675rem;
  text-align: center;
  color: var(--white);
  font-weight: normal;
}

.dshop .gradient-box {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
  margin: 1.25rem;
  background-color: #f6fafd;
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.04), -5px -5px 8px 0 rgba(255, 255, 255, 0.9);
  background-image: linear-gradient(to bottom right, #f2f6f9, var(--white));
}


.dshop .contact-box {
  max-width: 700px;
  margin: 3rem auto;
  padding: 4rem;
  margin-bottom: 90px;
}

.dshop .contact-box h3 {
  font-family: Lato;
  font-size: 1.675rem;
  font-weight: normal;
  text-align: center;
  color: #000000;
  margin: 0 0 0.75rem 0;
}

.dshop .contact-box .sub-title {
  margin: 0.5rem 0;
  font-size: 1rem;
  text-align: center;
  color: #666666;
}

.dshop .features-section {
  padding: 2.5rem 0;
}

.dshop .features-section .light-button {
  margin-top: 1.5rem;
  padding: 1rem 2.5rem;
}

.dshop .customers .sub-title {
  margin: 0.5rem auto 4rem auto;
  font-family: Lato;
  font-size: 1rem;
  text-align: center;
  color: #666666;
}

.dshop .customers h3, .dshop .features h3 {
  font-family: Lato;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  color: #000000;
  margin: 1rem 0 0 0;
}

.dshop .customers h3 {
  margin-top: 80px;
}

.dshop .customer-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6.5rem;
  text-align: center;
  max-width: 80%;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.dshop .customer-logos img {
  height: 61px;
  object-fit: contain;
  margin: 0 1.5rem;
}

.dshop .customer-logos .brave-logo {
  height: 41px;
}

.dshop .customer-logos .kyber {
  height: 49px;
}

.dshop .customer-logos .solana-logo {
  height: 22px;
}

.dshop .customer-logos .contentos {
  height: 35px;
}

.dshop .customer-logos .ternio {
  height: 26px;
}

.dshop .succeed-section {
  padding: 97px 0px 90px 0px;
  background-color: #2c2c2c;
  color: white;
  font-weight: normal;
}

.dshop .succeed-section h3 {
  font-family: Poppins;
  font-size: 24px;
  margin-bottom: 17px;
  font-weight: normal;
}

.dshop .succeed-section .sub-title {
  font-family: Lato;
  line-height: 1.81;
  text-align: center;
  color: #999999;
  margin-bottom: 40px;
}

.dshop .success-stories {
  color: black;
  padding: 80px 20px 100px 20px;
  background-color: #f6fafd;
}

.dshop .success-stories h3 {
  color: black;
  font-family: Poppins;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 17px;
}

.dshop .success-stories .gradient-box {
  max-width: 450px;
  min-height: 312px;
  margin: 20px;
  padding: 30px;
}

.dshop .success-stories .headshot {
  margin-bottom: 21px;
}

.dshop .success-stories .success-text {
  margin-bottom: 21px;
  font-family: Lato;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
}

.dshop .success-stories .success-signature {
  margin-bottom: 30px;
  font-family: Lato;
  font-weight: bold;
  letter-spacing: normal;
  text-align: center;
}

.dshop .success-stories .contentos {
  height: 28px;
}

.dshop .features .laptop {
  max-width: 100%;
  margin: 50px auto 0 auto;
  object-fit: contain;
  display: block;
}

.dshop .features-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.dshop .features-list .feature-box {
  height: 328px;
  width: 328px;
  text-align: center;
  display: inline-block;
  padding: 3.5rem 2.5rem;
}

.dshop .feature-box .feature-title {
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 0.75rem;
}
.dshop .feature-box .sub-title {
  font-size: 1rem;
  color: #666;
}

.dshop .feature-box img {
  object-fit: contain;
  width: 74px;
  height: 74px;
  margin-bottom: 1.25rem;
}

.dshop .testimonial {
  width: 100%;
  padding: 2.5rem 1.5rem;
  margin-bottom: 80px;
}

.dshop .testimonial .title {
  font-family: Helvetica;
  margin-bottom: -65px;
  font-size: 150px;
  color: #007cff;
  font-weight: 900;
}

.dshop .testimonial .footer-text {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.dshop .testimonial .text {
  max-width: 730px;
  font-family: Lato;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.45;
  text-align: center;
  color: black;
  margin-bottom: 40px;
}

.navbar.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.navbar .dshop-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
}

.navbar #dshop-background {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s;
}

.navbar .dshop-sidenav .menu-container {
  padding: 77px 30px 30px 30px;
}

.navbar .dshop-sidenav a {
  text-decoration: none;
  display: block;
  transition: 0.3s;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  color: black;
  margin-bottom: 35px;
}

.navbar .dshop-sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 35px;
  font-size: 36px;
  margin-left: 50px;
}

@media (max-width: 768px) {
  .dshop .title-section h1 {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 19px;
    margin-top: 39px;
  }

  .dshop .title-section .sub-title {
    font-size: 13px;
    line-height: 1.38;
    margin-bottom: 32px;
  }

  .dshop .title-section {
    padding-bottom: 57px;
  }

  .dshop .title-section .container {
    min-height: 350px;
  }

  .dshop .support-section {
    min-height: 275px;
  }

  .dshop .support-section .support-image.left,
  .dshop .support-section .support-image.right {
    top: 60px;
  }

  .dshop .support-section-2 .title {
    margin-top: 115px;
    font-size: 16px;
    margin-bottom: 45px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .dshop .support-section-2 .info-box {
    max-width: 150px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 32px;
  }

  .dshop .support-section-2 .info-box .icon-holder {
    min-height: 76px;
  }

  .dshop .support-section-2 .info-box .icon-holder img {
    max-width: 44px;
  }

  .dshop .support-section-2 .info-box .emphasised {
    font-size: 13px;
  }

  .dshop .support-section-2 .info-box .text {
    font-size: 13px;
  }

  .dshop .support-section .title {
    margin-top: 33px;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 7px;
  }

  .dshop .support-section .sub-title {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.38;
    text-align: center;
    margin-bottom: 28px;
  }

  .dshop .support-section .support-image {
    height: 141px;
  }

  .dshop .tools-section {
    margin-bottom: 10px;
  }

  .dshop .tools-section .title {
    font-size: 18px;
    margin-bottom: 12px;
    margin-top: 43px;
  }

  .dshop .tools-section .sub-title {
    font-size: 13px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }

  .dshop .tools-section .brand-box {
    min-width: 62px;
    min-height: 62px;    
  }

  .dshop .tools-section .stripe {
    height: 39px;
  }

  .dshop .tools-section .uphold {
    height: 45px;
  }

  .dshop .tools-section .paypal {
    height: 42px;
  }

  .dshop .tools-section .printful {
    height: 23px;
  }

  .dshop .tools-section .sendgrid {
    height: 37px;
  }

  .dshop .tools-section .aws {
    height: 40px;
  }

  .dshop .tools-section .mailgun {
    height: 37px;
  }

  .dshop .build-section {
    overflow: hidden;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 47px;
    min-height: 500px;
  }

  .dshop .build-section .hero-graphic {
    object-fit: contain;
    position: relative;
    height: 300px;
    margin-bottom: -25px;
    margin-left: -140px;
    margin-top: -25px;
  }

  .dshop .build-section h1 {
    font-size: 18px;
    line-height: 1.39;
  }

  .dshop .content-wrapper {
    max-width: 100%;
  }

  .dshop .features-list {
    flex-direction: column;
  }

  .dshop .features-list + .features-list .feature-box:first-child {
    margin-top: 0px;
  }

  .dshop .demo-section {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .dshop .contact-box {
    width: 100%;
    padding: 2.5rem 1.5rem;
    margin-bottom: 0px;
  }

  .dshop .testimonial .text {
    font-size: 18px;
  }

  .dshop .contact-box h3 {
    margin-bottom: 1.5rem;
  }

  .dshop .contact-box .sub-title {
    margin: 0.25rem 0;
  }

  .dshop .customers h3 {
    margin-top: 40px;
    font-size: 18px;
    margin-bottom: 14px;
  }

  .dshop .customers .sub-title {
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 43px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .dshop .customer-logos {
    max-width: 90%;
    margin-bottom: 51px;
  }

  .dshop .customer-logos img {
    margin: 16px;
  }

  .dshop .customer-logos .brave-logo {
    height: 25px;
  }

  .dshop .customer-logos .kyber {
    height: 29px;
  }

  .dshop .customer-logos .solana-logo {
    height: 13px;
  }

  .dshop .customer-logos .contentos {
    height: 24px;
  }

  .dshop .customer-logos .ternio {
    height: 16px;
  }


  .dshop .features-list .feature-box {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    padding: 1.25rem;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }

  .dshop .feature-box img {
    height: 55px;
    width: 55px;
    margin: 1.25rem 1.5rem auto 0;
  }

  .dshop .feature-box .feature-title {
    margin-bottom: 0.3rem;
    margin-top: 1rem;
    font-size: 0.875rem;
  }

  .dshop .feature-box .sub-title {
    font-size: 0.875rem;
  }

  .dshop .succeed-section {
    padding: 43px 20px 50px 20px;
  }

  .dshop .succeed-section h3 {
    font-size: 18px;
    margin-bottom: 18px;
  }

  .dshop .succeed-section .sub-title {
    font-size: 13px;
    line-height: 1.38;
  }

  .dshop .success-stories {
    padding: 42px 20px 30px 20px;
  }

  .dshop .success-stories h3 {
    font-size: 18px;
    margin-bottom: 18px;
  }

  .dshop .success-stories .gradient-box {
    margin-left: 10px;
    margin-right: 10px;
  }

  .dshop .success-stories .success-text {
    font-size: 13px;
    margin-bottom: 15px;
  }

  .dshop .success-stories .success-signature {
    font-size: 13px;
  }

  .dshop .success-stories .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .dshop .demo-section .subtitle {
    font-size: 18px;
  }

  .dshop .demo-section {
    height: 230px;
  }

  .navbar .dshop-sidenav a {
    font-family: Lato;
    font-size: 18px;
    padding: 0px;
    white-space: nowrap;
  }

  .navbar .dshop-sidenav .menu-container a.outline-button {
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #007cff;
    width: 196px;
    height: 43px;
    border-radius: 5px;
    border: solid 1px #007cff;
    margin: auto 0px 0px 0px;
  }
}
