.landing-page h1 {
  font-family: Poppins;
  font-weight: normal;
  text-align: center;
  line-height: normal;
  margin: 70px auto 27px auto;
}

.landing-page .video-block h1 {
  margin-top: 10px;
}

.video-block .bottom {
  position: absolute;
  bottom: 0px;
}

.video-block .bottom img,
.buy-sell-block .bottom img,
.vc-backed .bottom img {
  margin: 10px;
  max-height: 16px;
}

.buy-sell-block .bottom img.big {
  max-height: 22px;
}

.vc-backed.video-block .contents {
  margin-bottom: 0px;
}

.video-block .bottom.clickable img {
  opacity: 0.6;
}

.video-block .bottom.clickable img:hover {
  opacity: 1;
}

.vc-backed .play-button,
.video-block .play-button {
  width: 108px;
  height: 108px;
  border: solid 1px var(--white);
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
  color: white;
}

.vc-backed .play-button {
  margin-top: 4rem!important;
}

.video-block .background-video {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.video-block .video-holder {
  position: relative;
  height: 100%;
}

.video-block .background-video iframe {
  position: absolute;
}

.video-block .full-screen-video {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.vc-backed .bottom {
  margin-bottom: 8rem;
}

.countdown-block {
  background-color: white;
  min-height: 554px;
  font-family: Poppins;
  font-size: 2.375rem;
  text-align: center;
  color: #061d2a;
}

.countdown-block .segment-subtitle,
.countdown-block-TEMPHIDE .segment-subtitle {
  margin-top: -15px;
  margin-bottom: 32px;
}

.countdown-block-TEMPHIDE .clock-title,
.countdown-block .clock-title {
  max-width: 756px;
}

.countdown-block .clock {
  font-size: 3.8rem;
  font-weight: 500;
  width: 500px;
}

.countdown-block .clock .subtitle {
  margin-top: -15px;
  font-size: 0.65rem;
  color: #061d2a;
  font-weight: 300;
}

.countdown-block .clock .clock-progress-bar {
  padding: 15px;
  border: solid 5px var(--blue);
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.email-form {
  margin-bottom: 80px;
}

.email-form input[type=submit] {
  background: url(/static/img/triangle.png) no-repeat center;
  border: 0;
  border-radius: 25px;
  display: block;
  background-color: var(--blue);
  height: 50px;
  width: 50px;
  padding: 0px;
}

.email-form input[type=submit]:disabled {
  background-color: #868e96;
}

.email-form .email-input {
  border: 0px;
  border-bottom: solid 1px #bdcbd5;
  min-width: 200px;
  font-family: Lato;
  font-size: 1.25rem;
  color: #061d2a;
}

.email-form .email-input::placeholder, .email-form .email-input:disabled {
  color: #8fa7b7;
}

.buy-sell-block {
  background-color: #007cff;
  color: white;
  font-weight: normal;
}

.buy-sell-block .segment-subtitle {
  font-family: Lato;
  font-size: 0.875rem;
  text-align: center;
  max-width: 320px;
  margin-top: -10px;
  /* margin-bottom: 50px; */
}

.buy-sell-block .btn-dark {
  min-height: 51px;
  min-width: 300px;
  font-weight: normal;
}

.buy-sell-block .marketplace {
  text-align: center;
}

.buy-sell-block .marketplace .title {
  font-size: 1.5rem;
  text-align: center;
}

.buy-sell-block .marketplace .text {
  font-family: Lato;
  line-height: 1.39;
  max-width: 340px;
  font-size: 0.875rem;
}

.vc-backed .button,
.buy-sell-block .marketplace .button {
  margin-top: 50px;
  margin-bottom: 76px;
  font-size: 1.125rem;
  max-width: 350px;
  width: 100%;
  border-radius: 26px;
  border: solid 1px var(--white);
  padding: 12px 0;
  color: white;
  background-color: transparent;
  text-align: center;
}

.buy-sell-block .marketplace .button:hover {
  background-color: #036ddd;
  cursor: pointer;
}

.buy-sell-block .opaque {
  opacity: 0.7;
}

/* NFT pitch section */
.nft-pitch {
  max-width: 940px;
}
.nft-pitch .img-wrapper {
  height:200px;
  min-height:200px;
}
.nft-pitch .custom-domain .img-wrapper {
  padding-top:30px;
}
.nft-pitch .join-ogn .img-wrapper {
  padding-top:35px;
}
.nft-pitch p {
  margin-top:20px;
}

/* Origin Dollar pitch */
.ousd-pitch {
  color:white;
  /* background-color: #183140; */
  background-color: transparent;
}
.ousd-pitch .container {
  max-width: 940px;
}
.ousd-pitch {
  color:white;
  background-color: #183140;
  background-image: url('/static/img/landing/coin-waves.png');
  background-position: center;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: auto 70%;
  font-size:32px;
  min-height: 834px;
  padding-top:0px;
}
.ousd-pitch .btn {
  background-color: #007cff;
  border-color: #007cff;
  color: #ffffff;
  padding:15px 30px 15px 30px;
  font-weight: normal;
}
.ousd-pitch .btn:hover {
  background-color: #458efe;
  color: white;
}
.ousd-pitch h2 {
  font-size: 62px;
  font-weight: 500;
}

.partners img {
  max-height: 70px;
  max-width:180px;
  margin: 22px 22px;
}

.sharing-economy {
  color: black;
  background-color: white;
  color: #061d2a;
}

.segment-title {
  max-width: 940px;
  margin-top: 74px;
}

.segment-subtitle {
  font-family: Lato;
  font-size: 1.125rem;
  text-align: center;
  max-width: 680px;
  margin-top: -25px;
  font-weight: normal;
}

.sharing-economy .pies {
  max-width: 100%;
}

.sharing-economy .segment-title {
  max-width: 630px;
}

.sharing-economy .percentages {
  margin-top: 60px;
  margin-bottom: 95px;
}

.sharing-economy .percentages-holder {
  width: 50%;
}

.sharing-economy .percentages-holder a {
  font-family: Lato;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.21;
  margin-top: 10px;
  color: #638298;
  text-align: left;
  width: 100%;
}

.sharing-economy .percentage {
  font-family: Poppins;
  font-size: 3.75rem;
  font-weight: 300;
  text-align: center;
}

.sharing-economy .percentages .percentage {
  font-family: Poppins;
  font-size: 3.125rem;
  font-weight: normal;
  color: #061d2a;
  text-align: left;
}

.sharing-economy .percentage .small {
  font-size: 2.2rem;
  font-weight: 500;
  vertical-align: 38%;
}

.sharing-economy .percentage .small_percent {
  font-size: 2.2rem;
  vertical-align: 20%;
}

.sharing-economy .subtitle1 {
  font-family: Lato;
  font-size: 0.875rem;
  line-height: 1.21;
  text-align: left;
  font-weight: normal;
  max-width: 230px;
}

.sharing-economy .subtitle2 {
  margin-top: 16px;
  font-family: Lato;
  font-size: 0.875rem;
  line-height: 1.21;
  text-align: center;
  color: #638298;
  font-weight: normal;
}

.circular-stats-holder {
  margin-top: 35px;
  margin-bottom: 50px;
}

.circular-stats .percentage {
  font-family: Poppins;
  font-size: 2.8rem;
  font-weight: 500;
  color: #6e3bea;
  margin-top: -10px;
}

.circular-stats {
  margin-left: 0;
}

.circular-stats .text {
  font-family: Lato;
  font-size: 0.875rem;
  font-weight: normal;
  text-align: center;
  color: #000000;
}

.circular-stats.blue .percentage {
  color: #1a82ff;
}

.circular-stats a {
  font-family: Lato;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.21;
  text-align: center;
  color: #638298;

}

.decentralised-marketplaces {
  background-color: #fafbfc;
}

.decentralised-marketplaces .tiles-holder {
  margin-top: 70px;
  margin-bottom: 0px;
}

.decentralised-marketplaces .tiles-holder .tile {
  padding: 10px;
}

.decentralised-marketplaces .tiles-holder .image-holder {
  width: 200px;
  height: 200px;
}

.decentralised-marketplaces .tiles-holder .tile-name {
  text-align: center;
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 500;
  color: #061d2a;
  margin-top: 30px;
}

.decentralised-marketplaces .tiles-holder .tile-text {
  font-family: Lato;
  font-size: 0.875rem;
  font-weight: normal;
  text-align: center;
  color: #061d2a;
  max-width: 170px;
  margin-top: 7px;
}

.world-class {
  background-color: white;
}

.world-class .logos-holder img {
  padding: 20px;
}

.world-class .team_img {
  max-width: 90%;
}

.vc-backed h1 {
  font-size: 1.75rem;
}

.vc-backed {
  background-color: #007cff;
  color: white;
}

.vc-backed .contents{
  height: 100%;
}

.vc-backed .video-title {
  max-width: 1020px;
  padding: 0 50px;
}

.vc-backed .watch {
  font-family: Lato;
  font-size: 1.125rem;
  font-weight: normal;
  text-align: center;
}

.vc-backed .contents .button {
  width: auto;
  padding: 12px 32px;
  white-space: nowrap;
}

.landing-page .carousel-item {
  height: auto;
  margin-bottom: 4rem;
}

.landing-page .carousel-indicators li {
  width: 10px;
  height: 10px;
  margin: 0 5px 0 5px;
}

.landing-page .carousel-indicators li.active {
  color: #061d2a;
}

.featured-partner {
  background-color: #fafbfc;
}

.featured-partner .box {
  max-width: 940px;
  margin-top: 65px;
  margin-bottom: 70px;
}

.featured-partner .box .text {
  background-color: #061d2a;
  padding: 50px;
  color: white;
  font-family: Lato;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.5;
}

.featured-partner .box .text .fname {
  line-height: normal;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: right;
}

.featured-partner .box .text .position {
  line-height: normal;
  font-size: 1.125rem;
  text-align: right;
}

.featured-video {
  background-color: white;
}

.landing-page .featured-video .segment-title {
  margin-top: 70px;
  margin-bottom: 25px;
}

.featured-video .tiles-holder {
  
}

.featured-video .tiles-holder .tile {
  max-width: 320px;
  font-family: Lato;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.56;
  color: #061d2a;
  padding: 0 15px;
}

.featured-video .tiles-holder .tile-title {
  font-weight: 600;
  margin-bottom: 20px;
}

.featured-video .tiles-holder .tile-text {
  font-weight: normal;
  margin-bottom: 15px;
}

.featured-video .tiles-holder .tile a {
  margin-top: auto;
}

.featured-video .white-button-blue-border {
  margin-top: 40px;
  margin-bottom: 70px;
}

.landing-page .vc-backed .button,
.landing-page .white-button-blue-border {
  font-weight: normal;
}

.recent-news {
  color: #061d2a;
  background-color: #fafbfc;
}

.recent-news .segment-title {
  margin-top: 70;
  margin-bottom: 60;
}

.recent-news .tiles-holder .tile {
  max-width: 320px;
  font-family: Lato;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.56;
  color: #061d2a;
  padding: 0 15px;
}

.recent-news .tiles-holder .tile-title {
  font-weight: 600;
  margin-bottom: 20px;
}

.recent-news .tiles-holder .tile-text {
  font-weight: normal;
  margin-bottom: 15px;
}

.recent-news .tiles-holder .tile img {
  margin-bottom: 1rem;
  width: 100%;
}

.recent-news .white-button-blue-border {
  margin-top: 30px;
  margin-bottom: 70px;
}

.recent-news .tiles-holder a {
  margin-top: 17px;
}

.landing-page .countdown-timer {
  width: 345px;
}

.landing-page .video-item {
  display: block;
  max-width: 320px;
}

.landing-page .segment-title {
  line-height: 1.25;
  margin-bottom: 45px;
}

.landing-page .prod-image {
  max-width: 900px;
}

/* sm + */
@media (min-width: 576px) {
  .vc-backed .bottom img {
    margin: 10px;
    max-height: 16px;
  }

  .vc-backed .bottom {
    margin-bottom: 10rem;
  }

  .vc-backed.video-block .contents {
    margin-bottom: 60px;
  }

  .landing-page .countdown-timer {
    width: 570px;
  }

  .buy-sell-block .marketplace {
    text-align: left;
  }

  .buy-sell-block .marketplace .title {
    text-align: left;
    font-family: 'Poppins';
    font-weight: 500;
  }

  .email-form .email-input {
    font-size: 1.75rem;
    min-width: 300px;
  }

  .buy-sell-block .marketplace .text {
    max-width: auto;
    font-size: 1.125rem;
  }

  .buy-sell-block .marketplace .button {
    max-width: 600px;
    margin-top: 30px;
  }

  .sharing-economy .percentages {
    margin-top: 60px;
    margin-bottom: 75px;
  }

  .sharing-economy .percentage {
    margin-bottom: 10px;
  }

  .sharing-economy .pies {
    margin-right: 0px;
  }

  .circular-stats-holder {
    margin-top: 75px;
    margin-bottom: 100px;
  }

  .circular-stats {
    margin-left: 40px;
    margin-right: 40px;
  }

  .circular-stats .text {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #061d2a;
    text-align: center;
  }

  .circular-stats .percentage {
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
  }

  .buy-sell-block .segment-subtitle {
    font-size: 1.125rem;
    max-width: 680px;
    margin-top: -15px;
  }

  .recent-news .tiles-holder .tile img {
    margin-bottom: 21px;
  }

  .featured-video .white-button-blue-border {
    margin-top: 40px;
  }

  .recent-news .white-button-blue-border {
    margin-top: 60px;
  }
}

/* md + */
@media (min-width: 768px) {
  .video-block .bottom img,
  .buy-sell-block .bottom img,
  .vc-backed .bottom img {
    margin: 21px;
    max-height: 26px;
  }

  .buy-sell-block .bottom img.big {
    max-height: 36px;
  }

  .decentralised-marketplaces .tiles-holder {
    margin-bottom: 97px;
  }

  .landing-page h1 {
    font-family: Poppins;
    font-weight: normal;
    text-align: center;
    line-height: normal;
  }

  .buy-sell-block .segment-subtitle {
    font-size: 1.125rem;
    max-width: 680px;
    margin-top: -15px;
  }

  .sharing-economy .percentages-holder {
    width: 260px;
  }

  .sharing-economy .percentages-holder a {
    text-align: center;
  }

  .sharing-economy .percentages .percentage {
    text-align: center;
  }

  .sharing-economy .percentages .subtitle1 {
    text-align: center;
  }

  .featured-partner .box .text {
    font-size: 1.375rem;
  }

  .sharing-economy .percentage .small {
    font-size: 2.8rem;
    vertical-align: 30%;
  }
}

/* lg + */
@media (min-width: 992px) {
  .video-block .bottom img,
  .buy-sell-block .bottom img,
  .vc-backed .bottom img {
    margin: 30px;
    max-height: 30px;
  }

  .buy-sell-block .bottom img.big {
    max-height: 41px;
  }

  .landing-page .video-block .video-title {
    max-width: 610px;
  }
}

/* - lg */
@media (max-width: 960px) {
  .landing-page .prod-image {
    max-width: 100%;
  }
}