
.presale-page {
  background-color: #fff;
  padding-top: 6.875rem;
}

.presale-form .form-group {
  margin-bottom: 2.5rem;
}

.presale-form .form-control {
  font-style: normal;
}

.presale-form .form-group p {
  font-size: 1.0rem;
  margin-bottom: 0.5rem;
}

.presale-form .form-group #desired_allocation {
  min-width: unset;
}

.presale-form .form-group .input-group .input-group-btn {
  min-width: 75px;
  max-width: 100px;
}

.presale-form .form-group .input-group .input-group-btn #desired_allocation_currency {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

main.presale-page section .h1 {
  margin-bottom: 0;
}

main.presale-page section h2 {
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 0;
}

.presale-form .btn-container {
  text-align: center;
}
