.tokens-page {
  padding-top: 6.875rem;
  font-weight: normal;
}

.tokens-page .countdown-section .mailing-list {
  margin-bottom: 4.1875rem;
}

.tokens-page .countdown-section button {
  margin-left: auto;
  margin-right: auto;
}

.tokens-page .segment-subtitle {
  margin-top: -40px;
  margin-bottom: 32px;
}

.tokens-page .feature-box {
  margin-bottom: 4.1875rem;
  text-align: center;
}

.tokens-page .btn {
  max-width: 300px;
}

.tokens-page .feature-box img {
  margin: 0 0 1.75rem 0;
  max-width: 187px;
  object-fit: contain;
  min-height: 200px;
}

.tokens-page .feature-box h3 {
  font-weight: 500;
}

.tokens-page .feature-box p {
  text-align: left;
  font-size: 1.125rem;
}

.tokens-page .explanation {
  margin: 3.5rem 0;
  font-family: Lato;
  font-size: 1.5rem;
  font-weight: normal;
  color: #061d2a;
  text-align: center;
}

.tokens-page .app-showcase {
  padding: 7.5rem 0 5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tokens-page .app-showcase.grey {
  background-color: #fafbfc;
}

.tokens-page .app-showcase .showcase-content {
  flex: 1;
  text-align: left;
  max-width: 430px;
  margin-right: 130px;
}

.tokens-page .app-showcase .showcase-image + .showcase-content {
  margin-right: 0;
  margin-left: 80px;
}

.tokens-page .app-showcase .showcase-content p {
  font-size: 1.0625rem;
  margin-bottom: 3.125rem;
  margin-left: 0;
  font-family: Lato;
  font-weight: normal;
  line-height: 1.55;
}

.tokens-page .app-showcase .showcase-content p span {
  display: block;
  font-size: 0.875rem;
  font-style: italic;
  color: #212529;
  margin-top: 1.25rem;
}

.tokens-page .app-showcase .showcase-image {
  flex: auto 0 0;
  padding: 0 1rem;
}

.tokens-page .app-showcase .showcase-content h1 {
  text-align: left;
  margin-top: 0;
}

.tokens-page .app-showcase img {
  max-width: 378px;
}

.tokens-page .app-showcase.image-first img {
  max-width: 355px;
}

.tokens-page .rnd-section p {
  font-family: Lato;
  font-size: 1.0625rem;
  font-weight: normal;
  line-height: 1.39;
  max-width: 280px;
}

.tokens-page .rnd-section h3 {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.tokens-page .primary-cta {
  text-align: center;
  margin-bottom: 4.375rem;
}

.tokens-page .email-form {
  margin-bottom: 0px;
}

.tokens-page .showcase-content.higher {
  margin-top: -20px;
}

.tokens-page .presale-mailing-list {
  max-height: 0px;
  transition: max-height 0.5s ease, opacity 0.1s ease;
  overflow: hidden;
  opacity: 0;
}

.tokens-page .presale-mailing-list.open {
  max-height: 1000px;
  opacity: 1;
}

.tokens-page .token-exchange {
  margin: 1rem 1.5rem;
}

.tokens-page .token-exchange.feat {
  margin: 1rem 3rem;
}

.tokens-page .exchanges-section h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-family: Poppins;
  font-size: 38px;
  color: #061d2a;
  margin-top: 10px;
  font-weight: normal;
}

.tokens-page .exchanges-section .dark-button {
  min-width: 309px;
  height: 52px;
  border-radius: 26px;
  background-color: #061d2a;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.tokens-page .exchanges-section .button-holder {
  margin-bottom: 22px;
}

.tokens-page .exchanges-section .dark-button:hover {
  background-color: #162d3a;
}

.tokens-page .exchanges-section .subtitle {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #061d2a;
}

.tokens-page .exchanges-section .subtitle2 {
  margin-bottom: 57px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #638298;
}

.tokens-page .exchanges-section .statistic {
  min-width: 298px;
  min-height: 128px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--white);
  padding: 25px 20px;
  margin: 11px;
}

.tokens-page .exchanges-section .exchange-holder {
  margin-left: -71px;
}

.tokens-page .exchanges-section .statistic.purple {
  background-color: #6e3bea;
}

.tokens-page .exchanges-section .statistic.green {
  background-color: #26d198;
}

.tokens-page .exchanges-section .statistic.blue {
  background-color: #007cff;
}

.tokens-page .exchanges-section .statistic .text {
  font-size: 38px;
}

.tokens-page .token-exchange img {
  width: 80px;
  object-fit: contain;
  margin-bottom: 1.5rem;
}

.tokens-page .token-exchange.feat img {
  width: 225px;
}

.tokens-page .token-exchange.feat.upbit img {
  width: 150px;
  height: 65px;
}

.tokens-page .token-exchange .btn {
  width: 100%;
}

.tokens-page .discounts-section {
  color: white;
  background-color: #007cff;
}

.tokens-page .discounts-section .text {
  margin-bottom: 56px;
  max-width: 715px;
}

.tokens-page .discounts-section .btn {
  margin-bottom: 66px;
  min-width: 309px;
  min-height: 52px;
  border-radius: 26px;
  border: solid 1px var(--white);
  font-weight: normal;
}

.tokens-page .discounts-section h2 {
  font-family: Poppins;
  font-size: 32px;
  margin-top: 74px;
}

.tokens-page .discounts-section .text {
  font-size: 18px;
  line-height: 1.5;
}

.tokens-page .discounts-section img {
  max-width: 100%;
}

.tokens-page .dark-btn {
  font-size: 0.75rem;
  color: #333;
}

@media (max-width: 575px) {
  .tokens-page .app-showcase {
    flex-direction: column;
  }
  .tokens-page .app-showcase.image-first {
    flex-direction: column-reverse;
  }

  .tokens-page .app-showcase.image-first img {
    max-width: 190px;
  }

  .tokens-page .app-showcase img {
    max-width: 200px;
  }

  .tokens-page .app-showcase .showcase-content h1 {
    text-align: center;
  }

  .tokens-page .app-showcase {
    padding: 70px 0 24px 0;
  }

  .tokens-page .app-showcase .showcase-content {
    max-width: 430px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .tokens-page .app-showcase .showcase-image + .showcase-content {
    margin-right: 40px;
    margin-left: 40px;
  }

  .tokens-page .rewards-section .btn {
    margin-bottom: 35px;
  }

  .tokens-page .feature-box h3 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .tokens-page .feature-box p {
    margin: 20px 40px;
  }

  .tokens-page .showcase-content.higher {
    margin-top: 0px;
  }

  .tokens-page .exchanges-section .exchange-holder {
    margin-left: 0px;
  }
}

@media (max-width: 767px) {
  .tokens-page .app-showcase img {
    max-width: 200px;
  }

  .tokens-page .app-showcase .showcase-content {
    margin-right: 40px;
  }

  .tokens-page .app-showcase.image-first img {
    max-width: 190px;
  }

  .tokens-page .app-showcase .showcase-image + .showcase-content {
    margin-left: 10px;
  }

  .tokens-page .token-exchange {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .tokens-page .token-exchange img,
  .tokens-page .token-exchange.feat img {
    width: 175px;
    margin-left: auto;
    margin-right: auto;
  }

}
