.tokens-page {
  padding-top: 6.875rem;
}

.tokens-page .countdown-section .mailing-list {
  margin-bottom: 4.1875rem;
}

.tokens-page .feature-box {
  margin-bottom: 4.1875rem;
  text-align: center;
}

.tokens-page .feature-box img {
  margin: 0 auto 1.75rem 0;
  max-width: 187px;
  object-fit: contain;
  min-height: 200px;
}

.tokens-page .feature-box h3 {
  font-weight: 500;
}

.tokens-page .feature-box p {
  text-align: left;
  font-size: 1.125rem;
}

.tokens-page .app-showcase {
  padding: 8.75rem 0 6rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tokens-page .app-showcase .showcase-content {
  flex: 1;
  text-align: left;
  max-width: 500px;
  margin-right: auto;
}
.tokens-page .app-showcase .showcase-image + .showcase-content {
  margin-right: 0;
  margin-left: auto;
}

.tokens-page .app-showcase .showcase-content p {
  font-size: 1.125rem;
  margin-bottom: 3.125rem;
  margin-left: 0;
}

.tokens-page .app-showcase .showcase-content p span {
  display: block;
  font-size: 0.875rem;
  font-style: italic;
  color: #dbe6eb;
  margin-top: 1.25rem
}

.tokens-page .app-showcase .showcase-image {
  flex: auto 0 0;
  padding: 0 1rem;
}

.tokens-page .app-showcase .showcase-content h1 {
  text-align: left;
  margin-top: 0;
}

.tokens-page .primary-cta {
  text-align: center;
  margin-bottom: 4.375rem;
}