.videos-page {
  padding-top: 6.875rem;
}

.videos-page .videos-tabbed-view-section h1 {
  text-align: left;
  margin-bottom: 1.5rem;
}

.videos-page .category-tab-groups {
  margin-bottom: 2.25rem;
}

.videos-page .video-item {
  margin: 2.25rem 0;
  flex-direction: column;
  display: none;
}

.videos-page .video-item.active {
  display: flex;
}

.videos-page .video-item > a {
  display: block;
}

.videos-page .video-item img {
  max-width: 100%;
  cursor: pointer;
}

.videos-page .video-item .title {
  margin-top: 1.5rem;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.videos-page .video-item .summary {
  margin-top: 1.5rem;
}

.videos-page .video-item .watch-link {
  margin-top: auto;
  padding-top: 1.5rem;
  cursor: pointer;
}

.videos-page .video-item .watch-link span {
  font-size: 0.75rem;
}

.videos-page .category-tab-groups {
  display: flex;
  justify-content: flex-start;
}

.videos-page .category-tab-groups .category-tab {
  display: inline-block;
  margin-right: 4.5rem;
  font-size: 1.125rem;
  color: #638298;
  padding-bottom: 0.5rem;
}

.videos-page .category-tab-groups .category-tab.active {
  color: #000;
  border-bottom: 4px solid #007cff;
}

.videos-page .category-tab-groups .category-tab:last-child {
  margin-right: 0;
}
