.whitepaper-hero {
  height: 500px;
  padding-top: 105px;

  background-image: url('/static/img/whitepaper/sharing-economy-graphic.png');    background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 632px 368px;
  background-position: 100% 100%;
}

.whitepaper-hero .container, 
.whitepaper-hero .container > .row, 
.whitepaper-hero .container > .row > div {
  height: 100%;
}

.whitepaper-hero h1.title {
  text-align: left;
  max-width: 475px;
}

.whitepaper-hero h1.title > span {
  font-weight: 500;
  display: block;
}

.whitepaper-sidebar-nav {
  position: -webkit-sticky;
	position: sticky;
  top: 0;

  overflow: scroll;

  padding: 80px 0;
}

.whitepaper-sidebar-nav a {
  display: block;
  color: #638298;
  padding: 10px 0 0 24px;
  font-size: 0.75rem;
}

.whitepaper-sidebar-nav a.active {
  color: #061d2a;
}

a.whitepaper-nav-title {
  font-weight: bold;
  padding-left: 0;
}

.whitepaper-nav-title .content-index {
  width: 24px;
  display: inline-block;
}

main section.whitepaper-container h1, main section.whitepaper-container h2 {
  text-align: left;
  font-weight: bold;
}

.whitepaper-content p {
  margin-bottom: 1rem;
}

.whitepaper-content h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.whitepaper-content .whitepaper-image {
  width: 100%;
  margin: 2rem 0;
}

.whitepaper-team-logo {
  height: 25px;
  margin: 1rem 1rem;
}
