.countdown-bar {
  height: 130px;
  background-color: #007cff;
  color: white;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.countdown-bar .video-tokens {
  width: 80px;
  height: 67px;
  margin-right: 25px;
}

.countdown-bar .the-logo {
  width: 120px;
}

.countdown-bar .title {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.36;
  max-width: 300px;
}

.countdown-bar p {
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
}

.countdown-bar input {
  padding: 0px;
  min-width: 150px;
  max-width: 250px;
  margin-right: 10px !important;
}

.countdown-bar .learn-more {
  font-family: Lato;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  color: white;
  border-radius: 18px;
  background-color: #061d2a;
  padding: 5px 17px 6px 17px;
  white-space: nowrap;
}

.countdown-bar .exclusively-on {
  font-family: Lato;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.36;
  color: white;
}

.countdown-bar .exclusively-on > div {
  padding: 4px;
}

.countdown-bar form {
  margin-bottom: 0px !important;
}

.countdown-bar input::placeholder {
  color: #8fc5ff;
}

.countdown-bar .email-input.input-group .btn {
  color: white;
  border-color: white;
  width: 32px;
  height: 32px;
  line-height: 1.75rem;
  font-size: 14px;
}

.countdown-bar .vertical-separator {
  width: 1px;
  height: 80px;
  background-color: #0066d2;
}

.countdown-bar .horizontal-separator {
  width: 90%;
  height: 1px;
  background-color: #0066d2;
  margin-bottom: 15px;
  margin-top: 15px;
}

.countdown-bar .time-value {
  line-height: 1.2;
}

.countdown-bar .countdown-timer {
  padding-top: 0.6rem;
}

.countdown-bar .countdown-time-left {
  width: 165px !important;
  margin-bottom: 9px;
  display: flex;
  justify-content: center;
}

.countdown-bar .countdown-time-left .time-group {
  max-width: 40px;
}

.countdown-bar .countdown-time-left .time-group:not(:first-child):not(:last-child) .time-value:after {
  right: -0.175rem;
}

.countdown-bar .time-label {
  font-family: Lato;
  font-size: 11px;
  font-weight: normal;
}

@media (max-width: 575px) {
  .countdown-bar .countdown-timer {
    margin-bottom: 0.5rem;
  }

  .countdown-bar {
    height: auto;
  }

  .countdown-bar form {
    padding-bottom: 35px;
  }

  .countdown-bar input {
    min-width: 200px;
  }

  .countdown-bar p {
    text-align: center;
    font-size: 14px;
  }

  .countdown-bar .title {
    font-size: 17px;
    text-align: center;
    max-width: 170px;
  }

  .countdown-bar .title .wider {
    width: 110%;
  }

  .countdown-bar .learn-more {
    width: 90%;
  }
}