.nft-page {
  background-color: #007cff;
}

.nft-page .drops-section {
  background-color: #061d2a;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 65px;
}

.nft-page .drops-section:last-of-type {
  padding-bottom: 65px;
}

.nft-page .drops-section h1 {
  margin-top: 1rem;
  color: #fafbfc;
  font-size: 1.9rem;
  font-weight: normal;
  font-family: Poppins;
  line-height: normal;
  margin-bottom: 40px;
}

.nft-page .drops-section h2 {
  margin-top: 1rem;
  color: #fafbfc;
  font-size: 1rem;
  font-weight: normal;
}

.nft-page .drops-section .drop-card {
  margin: auto;
}
