.nft-card {
    background-color: #061d2a;
  }

.nft-card img {
    width: 100%
} 

.nft-card .title{
    margin-top: 2px;
    color: #fafbfc;
    font-size: 20px;
    font-weight: bold;
  }

.nft-card .subtitle {
    margin-top: 2px;
    color: #fafbfc;
    font-size: 16px;
    font-weight: normal;
}

.nft-card .time {
    margin-top: 2px;
    color: #fafbfc;
    font-size: 20px;
    font-weight: normal;
    text-align: right;
}