.nft-card {
    background-color: #061d2a;
    margin-bottom: 2rem;
  }

.nft-card img {
    width: 100%
} 

.nft-card .title{
    margin-top: .25rem;
    color: #fafbfc;
    font-size: 1rem;
    font-weight: bold;
  }

.nft-card .subtitle {
    margin-top: .25rem;
    color: #fafbfc;
    font-size: 1rem;
    font-weight: normal;
}

.nft-card .time {
    margin-top: .25rem;
    color: #fafbfc;
    font-size: 1rem;
    font-weight: normal;
    text-align: right;
}