.nft-page {
  background-color: #007cff;
}

.nft-page .upcoming-drops-section {
  background-color: #061d2a;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 65px;
  margin-bottom: 134;
}

.nft-page .upcoming-drops-section h1{
  margin-top: 1rem;
  color: #fafbfc;
  font-size: 1.9rem;
  font-weight: normal;
  font-family: Poppins;
  line-height: normal;
  margin-bottom: 40px;
}

.nft-page .upcoming-drops-section h2{
  margin-top: 1rem;
  color: #fafbfc;
  font-size: 1rem;
  font-weight: normal;
}

.nft-page .upcoming-drops-section .drop-card {
  margin: auto;
}
