{% extends 'base.html' %}

{% block title %}{{ gettext("Origin Protocol - Build on Origin") }}{% endblock %}

{% block meta_description %}{{ gettext("Origin Protocol - Build on Origin") }}{% endblock %}

{% block content %}

{% with theme_dark=True %}
{% include 'navbar.html' %}
{% endwith %}  

<main class="about-page">
  <div class="video-block screen-size-segment d-flex flex-column justify-content-center align-items-center">
    <div id="about-video" class="full-screen-video d-none" ></div>
    <div class="background-video">
      <div class="video-holder d-flex flex-column justify-content-end align-items-center">
        <div id="about-video-background" ></div>
      </div>
    </div>
    <div class="video-overlay"></div>
    <div class="contents d-flex flex-column justify-content-center align-items-center">
      <h1 class="video-title">{{gettext("It’s time to build the sharing economy without intermediaries")}}</h1>
      <button id="about-video-button" class="play-button d-flex justify-content-center align-items-center m-4">
        <img class="ml-2" src="/static/img/landing/play-triangle.svg"/>
      </button>
      <div class="mt-2">{{gettext("Watch the video")}}</div>
    </div>
  </div>
  <!-- Origin enables true peer to peer commerce -->
  <div class="world-class d-flex flex-column justify-content-center align-items-center">
    <h1 class="segment-title ml-4 mr-4">{{gettext("Origin enables true peer-to-peer commerce")}}</h1>
    <div class="segment-subtitle ml-3 mr-3">{{gettext("Origin is a startup headquartered in San Francisco, but we also have team members in China, Korea, Russia, India, New Zealand, and even Slovenia. Our 800+ investors include top venture capitalists and cryptocurrency funds all over the world.")}}</div>
    <div class="d-flex justify-content-center mt-4 pt-2 flex-column flex-md-row">
      <a class="white-button-blue-border m-2" href="/team">{{gettext("Learn more about our team")}}</a>
      <a class="white-button-blue-border m-2" href="/investors">{{gettext("Learn more about our investors")}}</a>
    </div>
    <img class="team-photo" src="/static/img/about/team-photo-2.jpg"/>
  </div>
  <!-- Lower fees section -->
  <div class="blue-section d-flex screen-size-segment justify-content-center align-items-center">
    <div class="section-content d-flex justify-content-between flex-column flex-md-row">
      <div class="text-block col-12 col-md-6 d-flex flex-column justify-content-center">
        <div class="section-name">{{gettext("Lower fees")}}</div>
        <div class="section-text mb-4 mt-3">{{gettext("Centralized intermediaries often charge 20-30%% in transaction fees. By removing the middlemen, Origin removes these fees.")}}</div>
        <div class="section-text">{{gettext("Sellers can make more money while passing on savings to buyers. Both sides benefit when the middlemen are removed.")}}</div>
      </div>
      <div class="image col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
        <img src="/static/img/about/fees-graphic-large.svg"/>
      </div>
    </div>
  </div>
  <!-- Better incentives -->
  <div class="white-section d-flex screen-size-segment justify-content-center align-items-center">
    <div class="section-content d-flex justify-content-between flex-column flex-md-row">
      <div class="image col-12 col-md-6 d-flex justify-content-center justify-content-md-start">
        <img src="/static/img/about/ogn-graphic-large.svg"/>
      </div>
      <div class="text-block col-12 col-md-6 d-flex flex-column justify-content-center">
        <div class="section-name">{{gettext("Better Incentives")}}</div>
        <div class="section-text mb-4 mt-3">{{gettext("Origin enables buyers, sellers, developers, and other ecosystem participants to own stakes in the network.")}}</div>
        <div class="section-text">{{gettext("Everyone is incentivized to promote the health and growth of the network.")}}</div>
      </div>
    </div>
  </div>
  <!-- Increased access section -->
  <div class="access-section blue-section d-flex screen-size-segment justify-content-center align-items-center">
    <div class="section-content d-flex justify-content-between flex-column flex-md-row">
      <div class="text-block col-12 col-md-6 d-flex flex-column justify-content-center">
        <div class="section-name">{{gettext("Increased access")}}</div>
        <div class="section-text mb-4 mt-3">{{gettext("Origin makes it easy for 2 billion unbanked individuals to participate in the new Internet economy.")}}</div>
        <div class="section-text">{{gettext("Users from all around the world can transact with each other even if they do not have stable local fiat currencies")}}</div>
      </div>
      <div class="image col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
        <img src="/static/img/about/access-graphic-large.png"/>
      </div>
    </div>
  </div>
  <!-- Better incentives -->
  <div class="better-incentives white-section d-flex screen-size-segment justify-content-center align-items-center">
    <div class="section-content d-flex justify-content-between flex-column flex-md-row">
      <div class="image col-12 col-md-6 d-flex justify-content-center justify-content-md-start">
        <img src="/static/img/about/resiliance-graphic-large.png"/>
      </div>
      <div class="text-block col-12 col-md-6 d-flex flex-column justify-content-center">
        <div class="section-name">{{gettext("More Resilience")}}</div>
        <div class="section-text mb-4 mt-3">{{gettext("Decentralized marketplaces promote open and free commerce.")}}</div>
        <div class="section-text">{{gettext("Unlike centralized alternatives, they can't be banned or shut down.")}}</div>
      </div>
    </div>
  </div>
  <!-- Origin in the press section -->
  <div class="the-press d-flex flex-column justify-content-center align-items-center">
    <h1 class="segment-title ml-4 mr-4">{{gettext("Origin in the Press")}}</h1>
    <div class="content d-flex flex-wrap align-items-center justify-content-center">
      <div class="d-flex justify-content-center" ><a href="https://www.coindesk.com/tag/origin-protocol" target="_blank"><img src="/static/img/about/coindesk.jpg"/></a></div>
      <div class="d-flex justify-content-center" ><a href="https://www.wsj.com/articles/origin-protocol-nabs-28-million-for-peer-to-peer-blockchain-platform-1524700028" target="_blank"><img src="/static/img/about/wsj.jpg"/></a></div>
      <div class="d-flex justify-content-center" ><a href="/#" target="_blank"><img src="/static/img/about/nasdaq.jpg"/></a></div>
      <div class="d-flex justify-content-center" ><a href="/#" target="_blank"><img src="/static/img/about/tnw.jpg"/></a></div>
      <div class="d-flex justify-content-center" ><a href="https://www.fastcompany.com/40578033/five-ways-blockchain-could-disrupt-the-sharing-economys-disrupters" target="_blank"><img src="/static/img/about/fast-company.jpg"/></a></div>
      <div class="d-flex justify-content-center" ><a href="https://www.vice.com/en_us/article/j5aj3y/how-the-blockchain-will-change-uber-lyft-peer-to-peer-transportation-startups" target="_blank"><img src="/static/img/about/vice.jpg"/></a></div>
      <div class="d-flex justify-content-center" ><a href="/#" target="_blank"><img src="/static/img/about/cointelegraph.jpg"/></a></div>
      <div class="d-flex justify-content-center" ><a href="/#" target="_blank"><img src="/static/img/about/wired.jpg"/></a></div>
      <div class="d-flex justify-content-center" ><a href="/#" target="_blank"><img src="/static/img/about/bitcoinmag.jpg"/></a></div>
      <div class="d-flex justify-content-center" ><a href="https://www.inc.com/joel-comm/why-best-blockchain-is-an-invisible-blockchain.html" target="_blank"><img src="/static/img/about/inc.jpg"/></a></div>
      <div class="d-flex justify-content-center" ><a href="https://www.forbes.com/sites/leslieankney/2019/01/21/why-these-innovators-left-facebook-google-and-more-for-crypto/#6f0bf6e85a06" target="_blank"><img src="/static/img/about/forbes.jpg"/></a></div>
      <div class="d-flex justify-content-center" ><a href="https://techcrunch.com/2018/10/10/origin-protocol/" target="_blank"><img src="/static/img/about/techcrunch.jpg"/></a></div>
    </div>
  </div>
  <!-- Social media section -->
  <div class="social-media-section d-flex flex-column justify-content-between align-items-center">
    <h1>{{gettext("We have a large and growing community of developers and supporters")}}</h1>
    <div id="social-media-list" class="d-flex flex-wrap justify-content-center">
      <div class="d-flex flex-column social-box">
        <img src="/static/img/about/discord.svg"/>
        <div class="mt-auto">1K members</div>
      </div>
      <div class="d-flex flex-column social-box">
        <img src="/static/img/about/telegram.svg"/>
        <div class="mt-auto">12.6K members</div>
      </div>
      <div class="d-flex flex-column social-box">
        <img src="/static/img/about/wechat.svg"/>
        <div class="mt-auto">1.1K followers</div>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
</main>

{% endblock %}