<div class="announcement">
  <div class="d-flex flex-wrap align-items-center container justify-content-between">
    <div class="img-container d-flex align-items-center">
      <img src="/static/img/coinlist-logo.png"
        srcset="/static/img/coinlist-logo@2x.png 2x, /static/img/coinlist-logo@3x.png 3x"
        role="presentation" />
    </div>
    <div class="message mr-auto">
      <h1>CoinList <span class="subdued">Sale</span></h1>
      <h2><strong>Register today!</strong> Availability is extremely limited.</h2>
    </div>
    <div class="registration-alert">
      <header>Registration Ends In</header>
      <div class="countdown">8d 22h 32m</div>
    </div>
    <div class="registration-arrow">
    </div>
    <div class="link-container">
      <a href="https://coinlist.co/" class="registration-button">Register Now</a>
    </div>
  </div>
</div>
