<div class="announcement">
  <div class="d-flex flex-wrap align-items-center container justify-content-between">
    <div class="img-container d-flex align-items-center">
      <img src="/static/img/coinlist-logo.png"
        srcset="/static/img/coinlist-logo@2x.png 2x, /static/img/coinlist-logo@3x.png 3x"
        role="presentation" />
    </div>
    <div class="message mr-auto">
      <h1>CoinList <span class="subdued">Round</span></h1>
      <h2><strong>Register today!</strong> Availability is extremely limited.</h2>
    </div>
    <div class="registration-alert">
      <header>Registration Ends In</header>
      <div id="countdown">
        <span class="days"></span>d
        <span class="hours"></span>h
        <span class="minutes"></span>m
        <span class="seconds"></span>s
      </div>
    </div>
    <div class="registration-arrow">
    </div>
    <div class="link-container">
      <a href="http://coinlist.co/origin" target="_blank" class="registration-button">Register Now</a>
    </div>
  </div>
</div>

{% block extra_scripts %}
  <script>
    const timeRemaining = (end) => {
      const total = Date.parse(end) - Date.parse(new Date());
      const seconds = Math.floor((total / 1000) % 60);
      const minutes = Math.floor((total / 1000 / 60) % 60);
      const hours = Math.floor((total / (1000 * 60 * 60)) % 24);
      const days = Math.floor(total / (1000 * 60 * 60 * 24));

      return { total, days, hours, minutes, seconds };
    }

    const initTimer = (id, end) => {
      const clock = document.getElementById(id);
      const daysEl = clock.querySelector('.days');
      const hoursEl = clock.querySelector('.hours');
      const minutesEl = clock.querySelector('.minutes');
      const secondsEl = clock.querySelector('.seconds');

      const update = () => {
        const t = timeRemaining(end);

        daysEl.innerHTML = t.days;
        hoursEl.innerHTML = (`0${t.hours}`).slice(-2);
        minutesEl.innerHTML = (`0${t.minutes}`).slice(-2);
        secondsEl.innerHTML = (`0${t.seconds}`).slice(-2);

        if (t.total <= 0) {
          clearInterval(int);
        }
      }

      update();

      const int = setInterval(update, 1000);
    }

    // end of day (PDT) on June 27, 2018
    const deadline = new Date('2018-06-28T06:59:59.999Z');

    initTimer('countdown', deadline);
  </script>
{% endblock %}