{% extends 'base.html' %}

{% block title %}{{ gettext("Origin Protocol - Marketplace Acceptable Use Policy") }}{% endblock %}

{% block meta_description %}{{ gettext("Origin Protocol - Marketplace Acceptable Use Policy") }}{% endblock %}

{% block content %}

{% include 'warning.html' %}

<main class="presale-page">
  {% include 'navbar.html' %}
  <section class="header-section">
    <div class="container foreground-content">
      <div class="row">
        <div class="col-10 offset-1">
          <h1>
            {{ gettext("Marketplace Acceptable Use Policy") }}
          </h1>
        </div>
      </div>
    </div>
  </section>
  <section class="core-team-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-pane background-panes">
          <div class="row row-pane">
            <div class="col-4 col-pane">
              <div class="left-upper-pane">
              </div>
            </div>
            <div class="col-8 col-pane">
              <div class="right-upper-pane">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="filler-section">
  </section>
  <section class="investors-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-pane background-panes">
          <div class="row row-pane">
            <div class="col-4 col-pane">
              <div class="left-upper-pane">
              </div>
            </div>
            <div class="col-8 col-pane">
              <div class="right-upper-pane">
              </div>
            </div>
          </div>
        </div>
        <div class="container foreground-content privacy">
          <div class="row">
            <div class="col-10 offset-1">
              Last updated: March 11th, 2019<br/>
              <br/>
              Origin Protocol ("<b>Origin</b>) enables the creation of decentralized marketplaces that allow buyers and sellers to connect directly on the blockchain without any intermediaries. Origin makes it easy to sell products and services or create your own decentralized marketplace without having to pay any fees to a middleman. 
              <br/><br/>
              We believe strongly in free and transparent commerce. Our code is 100% open-source and our smart contracts are freely available on the Ethereum blockchain without exceptions or restrictions. However, there are some limits on the goods and services are allowed to be shown on any Origin-hosted version of our DApp, including marketplace DApps that were created using our Marketplace Creator. We will not hesitate to hide any items which present legal risks to our community or are inconsistent with our values.
              <br/><br/>
              This Acceptable Use Policy ("<b>AUP</b>") describes activities that are prohibited in connection with your use of the Services.
              <br/><br/>
              "<b>Materials</b>" means any photo, image, video, graphic, written content, audio file, code, information, data or other content uploaded, collected, generated, stored, displayed, distributed, transmitted or exhibited on or in connection with your Origin account or Ethereum wallet.
              <br/><br/>
              The following activities are prohibited:
              <br/><br/>
              <ol>
                <li><b>Child exploitation</b>: You may not offer goods or services, or post or upload Materials that exploit or abuse children, including but not limited to images or depictions of child abuse or sexual abuse, or that present children in a sexual manner.</li>
                <li><b>Drugs</b>: You may not offer goods or services that are, or appear to be, illegal or prescription drugs.</li>
                <li><b>Guns</b>: You may not offer goods or services that are, or appear to be, automatic and semi-automatic weapons and their components.</li>
                <li><b>Securities</b>: You may not offer the sale of stocks or security interests due to regulations by the U.S. Securities and Exchange Commission (SEC).</li>
                <li><b>Harassment, bullying, defamation and threats</b>: You may not offer goods or services, or post or upload Materials, that harass, bully, defame or threaten a specific individual.</li>
                <li><b>Hateful content</b>: You may not use the Services to promote or condone hate or violence against people based on race, ethnicity, color, national origin, religion, age, gender, sexual orientation, disability, medical condition, veteran status or other forms of discriminatory intolerance. You may not use the Services to promote or support organizations, platforms or people that: (i) promote or condone such hate; or (ii) threaten or condone violence to further a cause.</li>
                <li><b>Illegal activities</b>: You may not offer goods or services, or post or upload Materials, that contravene or that facilitate or promote activities that contravene, the laws of the jurisdictions in which you operate or do business.</b></li>
                <li><b>Intellectual property</b>: You may not offer goods or services, or post or upload Materials, that infringe on the copyright or trademarks of others.</li>
                <li><b>Malicious and deceptive practices</b>: You may not use the Services to transmit malware or host phishing pages. You may not perform activities or upload or distribute Materials that harm or disrupt the operation of the Services or other infrastructure of Origin or others, including Origin’s third party providers. You may not use the Services for deceptive commercial practices or any other illegal or deceptive activities.</li>
                <li><b>Personal and confidential information</b>: You may not post or upload any Materials that contain personally identifiable information, sensitive personal information, or confidential information, such as credit card numbers, confidential national ID numbers, or account passwords unless you have consent from the person to whom the information belongs or who is otherwise authorized to provide such consent.</li>
                <li><b>Self-harm</b>: You may not offer goods or services, or post or upload Materials, that promote self-harm.</li>
                <li><b>Spam</b>: You may not use the Services to transmit unsolicited commercial electronic messages.</li>
                <li><b>Terrorist organizations</b>: You may not offer goods or services, or post or upload Materials, that imply or promote support or funding of, or membership in, a terrorist organization.</li>
              </ol>

              We may, at any time and without notice, hide any Materials from appearing in our hosted version of the Origin Marketplace DApp that violate the letter or spirit of this AUP.
              <br/><br/>
              Origin Protocol has the right, but not the obligation, to monitor or investigate any Materials and your use of the Services at any time for compliance with this AUP and Origin’s Terms of Service, or any other agreement between you and Origin governing your use of the Services (collectively, the "<b>Terms</b>"). Our determination of whether a violation of this AUP has occurred will be final and binding, and any action taken with respect to enforcing this AUP, including taking no action at all, will be at our sole discretion.
              <br/><br/>
              Origin may modify this AUP, including the list of Restricted Items, at any time by posting a revised version at https://www.originprotocol.com/aup. By continuing to use the Services after a revised version of the AUP has been posted, you agree to comply with the latest version of the AUP. In the event of a conflict between the AUP and the Terms, this AUP will take precedence, but only to the extent required to resolve such conflict. Capitalized terms used but not defined in this AUP shall have the meanings set forth in the Terms.
              <br/><br/>
              If you feel that a user of the Services has violated this AUP, please contact us at:

              <br/><br/>
              Origin Protocol, Inc.<br/>
              845 Market St, #450A<br/>
              San Francisco, California 94103<br/>
              Email: <a href="malito:support@originprotocol.com">support@originprotocol.com</a><br />

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'footer.html' %}
</main>
{% endblock %}
{% block extra_scripts %}
{% endblock %}