<div class="vectors-container">
  <svg height="100%" width="100%">
    <defs>
      <linearGradient id="green-to-purple" x1="320" y1="73" x2="320" y2="27" gradientUnits="userSpaceOnUse">
        <stop offset="0%" stop-color="#26d198"/>
        <stop offset="100%" stop-color="#6e3bea"/>
      </linearGradient>
      <linearGradient id="purple-to-green" x1="0%" y1="0%" x2="100%" y2="100%">
        <stop offset="0%" stop-color="#6e3bea"/>
        <stop offset="100%" stop-color="#26d198"/>
      </linearGradient>
      <linearGradient id="green-to-blue" x1="0%" y1="0%" x2="100%" y2="0">
        <stop offset="0%" stop-color="#26d198"/>
        <stop offset="100%" stop-color="#1a82ff"/>
      </linearGradient>
    </defs>
    <circle cx="320" cy="80" r="7" stroke="#26d198" stroke-width="1" fill="transparent" />
    <line x1="320" y1="73" x2="320" y2="27" stroke="url(#green-to-purple)" stroke-width="1" />
    <circle cx="320" cy="20" r="7" stroke="#6e3bea" stroke-width="1" fill="transparent" />
    <line x1="326" y1="24" x2="364" y2="46" stroke="url(#purple-to-green)" stroke-width="1" />
    <circle cx="370" cy="50" r="7" stroke="#26d198" stroke-width="1" fill="transparent" />
    <line x1="376" y1="46" x2="414" y2="24" stroke="url(#green-to-blue)" stroke-width="1" />
    <circle cx="420" cy="20" r="7" stroke="#1a82ff" stroke-width="1" fill="transparent" />
  </svg>
</div>
