<!DOCTYPE html>
<html lang="{{ CURRENT_LANGUAGE }}">
<head>
  {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"/>

    <meta property="og:url" content="https://www.originprotocol.com"/>
    <meta property="og:image" content="https://www.originprotocol.com/static/img/fb-og-img.png"/>
    <meta property="og:locale" content="{{ CURRENT_LANGUAGE }}"/>
    <meta property="og:title" content="{{gettext("Origin Protocol")}}"/>
    <meta property="og:description" content="{{gettext("Origin Protocol enables the sharing economy on the blockchain")}}"/>

    {% block styles %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,500"/>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500"/>
      <link rel="stylesheet" href="/static/css/style.css"/>
      <link rel="stylesheet" href="/static/css/alertify.css"/>
      <link rel="stylesheet" href="/static/css/animate.css"/>
      <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
      <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
      <link rel="stylesheet" href="https://use.fontawesome.com/a0d3d1535a.css" media="all"/>

      {% block extra_styles %}
      {% endblock %}
    {% endblock %}


  {% endblock %}
</head>
<body dir="{{ CURRENT_LANGUAGE_DIRECTION }}" id="{{ CURRENT_LANGUAGE_DIRECTION }}">
  {% block body %}
    {% block content %}
    {% endblock %}

    {% block scripts %}
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
      <script src="/static/js/alertify.js"></script>
      <script src="/static/js/script.js"></script>
      <script src="/static/js/wow.min.js"></script>
      <script>
      new WOW().init();
      </script>

      {% block extra_scripts %}
      {% endblock %}
    {% endblock %}
  {% endblock %}
  <script type="text/javascript">
    /* Google Analytics */
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-106384880-1', 'auto');
    ga('send', 'pageview');

    /* FB pixel */
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1637426076553052');
    fbq('track', 'PageView');

    /* <![CDATA[ */
    var google_conversion_id = 825554032;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
  </script>

  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/825554032/?guid=ON&amp;script=0"/>
  </div>
  </noscript>

  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1637426076553052&ev=PageView&noscript=1"/></noscript>
  {% include 'flashes.html' %}
</body>
</html>
