<div id="countdown-hero-banner" class="countdown-hero-banner d-flex justify-content-center align-items-center">
  <button
    id="countdown-hero-banner-button"
    class="countdown-hero-banner-button"
  >
    &times;
  </button>
  <div class="container d-flex flex-column justify-content-between align-items-center">
    <div class="d-flex flex-column">
      <img class="video-tokens d-none d-md-flex" src="/static/img/ogn-launch-graphic-1.svg" />
      <div class="d-flex flex-column pt-4 pb-2 pt-md-0 pb-md-0 align-items-center align-items-md-start">
        <div class="title">{{gettext("Origin Tokens (OGN) are launching soon!")}}</div>
      </div>
    </div>
    <div class="clock d-flex align-items-center justify-content-center">
      {% with timer_nav=True %}
      {% include 'components/countdown-timer.html' %}
      {% endwith %}
    </div>
    <a href="/#" class="learn-more">{{gettext("Learn more")}}</a>
    <div class="d-flex pt-3 pb-1 pt-md-0 pb-md-0 align-items-center align-items-md-start exclusively-on">
      <div class="mr-1">{{gettext("Exclusively on")}}</div>
      <div class="ml-1">TODO: LOGO HERE</div>
    </div>
    <div class="horizontal-separator"></div>
    <div class="d-flex flex-column justify-content-center email-signup">
      <p>{{gettext("Subscribe to stay in touch.")}}</p>
      <form id="mailing-list-nav-bar" class="email-input input-group" method="post" action="/mailing-list/join">
        <input id="email" name="email" type="email" class="form-control" placeholder="{{gettext("Your email")}}" aria-label="Your email" aria-describedby="basic-addon2">
        <div class="input-group-append d-flex align-items-end">
          <button class="btn btn-outline-primary" type="submit">
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>