<div class="countdown-bar d-flex justify-content-center align-items-center">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
    <div class="title d-flex">
      <img class="video-tokens d-none d-md-flex" src="/static/img/ogn.png" />
      <div class="d-flex flex-column py-4 py-md-0 align-items-center align-items-md-start">
        <div>{{gettext("Origin Tokens are launching soon!")}}</div>
        <div class="d-flex">
          {{gettext("Exclusively on ")}}
          <!-- TODO: add exchange logo -->
        </div>
      </div>
    </div>
    <div class="clock d-flex align-items-center justify-content-center">
      {% with timer_nav=True %}
      {% include 'components/countdown-timer.html' %}
      {% endwith %}
    </div>
    <div class="vertical-separator d-none d-md-flex mr-2"></div>
    <div class="horizontal-separator d-flex d-md-none"></div>
    <div class="d-flex flex-column justify-content-center">
      <p>{{gettext("Subscribe to stay in touch.")}}</p>
      <form id="mailing-list-nav-bar" class="email-input input-group" method="post" action="/mailing-list/join">
        <input id="email" name="email" type="email" class="form-control" placeholder="{{gettext("Your email")}}" aria-label="Your email" aria-describedby="basic-addon2">
        <div class="input-group-append d-flex align-items-end">
          <button class="btn btn-outline-primary" type="submit">
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>