{% extends 'base.html' %}

{% block title %}{{ gettext("Origin Protocol - Creator") }}{% endblock %}

{% block meta_description %}{{ gettext("Origin Protocol - Creator") }}{% endblock %}

{% block content %}

<main>
  <section class="creator-header">
    {% with theme_dark=True %}
    {% include 'navbar.html' %}
    {% endwith %}  

    <div class="creator-impact-graphic">
      <div class="container foreground-content">

        <div class="row">
          <div class="col-12 col-md-5">
            <h1>{{ gettext("Build your<br>peer-to-peer<br>marketplace") }}</h1>
            <h4>{{ gettext("Blockchain enabled.<br>No code required.<br>100%% free to operate.") }}</h4>
            <div class="btn-container">
              <a href="https://creator.originprotocol.com" role="button" class="btn btn-primary btn-min-size">
                {{ gettext("Get Started") }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container foreground-content">
    <div class="row">
      <div class="col-12">
        <h1>{{ gettext("Launch your decentralized goods or<br>services marketplace today") }}</h1>
      </div>
    </div>
  </div>

  <div class="container foreground-content">
    <div class="row">
      <div class="col-12">
        <h1>{{ gettext("Earn Origin tokens, etc") }}</h1>
      </div>
    </div>
  </div>

  <div class="container foreground-content">
    <div class="row">
      <div class="col-12">
        <h1>{{ gettext("Features") }}</h1>
      </div>
    </div>
  </div>

  <section class='creator-bottom-cta'>
    <div class="container text-center">
      <div class="row">
        <div class="col-12">

          <h2>{{ gettext("Get started for free today") }}</h2>
          <div>
            <a href="https://creator.originprotocol.com" role="button" class="btn btn-outline-white btn-min-size">
              {{ gettext("Get Started") }}
            </a>
          </div>

          {{ gettext("Have questions?") }} <a href="mailto:support@originprotocol.com">{{ gettext("Get in touch") }}</a>

        </div>
      </div>
    </div>
  </section>

  {% with theme_dark=False %}
  {% include 'footer.html' %}
  {% endwith %}  
</section>
{% endblock %}
{% block extra_scripts %}
{% endblock %}