{% extends 'base.html' %}

{% block title %}{{ gettext("Origin Protocol - Origin Token Dashboard") }}{% endblock %}

{% block meta_description %}{{ gettext("Origin Protocol's platform powers true peer-to-peer marketplaces everywhere.") }}{% endblock %}

{% block extra_scripts %}
<script>
  var ognStakedStats = {{staked_data | safe }};
  var ognSupplyHistory = {{supply_history | safe}};
</script>
{% endblock %}

{% block content %}

{% with theme_dark=True %}
{% include 'navbar.html' %}
{% endwith %}  

<main class="dashboard-page">

  {%if ogn_stats %}

  <section class="title-section blue-section">
    <div class="container">
      <h1>{{gettext("Origin Token Dashboard")}}</h1>

      <div class="row">

        <div class="col-md-3 mx-md-0 px-md-0">
          <div class="stats-widget">
            <img src="/static/img/dashboard/price-icon.svg" />
            <div class="stats-label">{{gettext("Price")}}</div>
            <div class="stats-value">{{ogn_stats.formatted_ogn_usd_price}}</div>
          </div>
        </div>

        <div class="col-md-3 mx-md-0 px-md-0">
          <div class="stats-widget">
            <img src="/static/img/dashboard/market-cap-icon.svg" />
            <div class="stats-label">{{gettext("Market Cap")}}</div>
            <div class="stats-value">{{ogn_stats.formatted_market_cap}}</div>
          </div>
        </div>

        <div class="col-md-3 mx-md-0 px-md-0">
          <div class="stats-widget">
            <img src="/static/img/dashboard/circulating-supply-icon.svg" />
            <div class="stats-label">{{gettext("Circulating Supply")}}</div>
            <div class="stats-value">
              {{ogn_stats.formatted_circulating_supply}}
              <div class="ogn-label">OGN</div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mx-md-0 px-md-0">
          <div class="stats-widget">
            <img src="/static/img/dashboard/total-supply-icon.svg" />
            <div class="stats-label">{{gettext("Total Supply")}}</div>
            <div class="stats-value">
              {{ogn_stats.formatted_total_supply}}
              <div class="ogn-label">OGN</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="schedule-section white-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3>{{gettext("Token Unlock Schedule")}}</h3>
          <div class="desc">
            {{gettext("On January 4, 2020, we released our projected token release schedule. This can also be found in <a href='https://research.binance.com/projects/origin' target='_blank' rel='noreferrer noopener'>Binance's Research Report</a> on Origin. Note that actual circulating supply may differ from modeled circulating supply as time passes. It is our intention to decrease actual circulating supply when compared to modeled circulating supply whenever possible.")}}
          </div>
        </div>
        <div class="col-lg-6 mt-5 mt-lg-0">
          <h3>{{gettext("Modeled vs. actual token release schedule")}}</h3>
          <div class="desc" id="supplyDataEl">
            {{gettext("Currently, OGN's actual circulating supply is ogn_circulating_supply. Modeled circulating supply was projected at ogn_modeled_supply. The difference is ogn_supply_diff tokens (ogn_supply_diff_pct%%).")}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="chart-container">
            <canvas id="unlock_schedule_chart" height="290"></canvas>
          </div>
          <div id="unlock_schedule_legends" class="chart-legends-container"></div>
        </div>
        <div class="col-lg-6 mt-5 mt-lg-0">
          <div class="chart-container">
            <canvas id="release_schedule_chart" height="290"></canvas>
          </div>
          <div id="release_schedule_legends" class="chart-legends-container"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="locked-tokens-section grey-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3>{{gettext("Locked Tokens")}}</h3>
          <div class="desc">
            {{gettext("Many of our investors and team members have voluntarily increased their lock-ups. Locked tokens include tokens that otherwise would have been released and entered the circulating supply.")}}
          </div>
          
          <div class="locked-token-widget">
            <div class="title">
              {{gettext("Total number of tokens in investor and team lockups")}}
            </div>
            <div class="value">
              {{ogn_stats.formatted_staked_token_count}}
              <div class="ogn-label">OGN</div>
            </div>
          </div>
          
          <div class="locked-token-widget">
            <div class="title">
              {{gettext("Total number of staked tokens")}}
            </div>
            <div class="value">
              {{ogn_stats.formatted_ogn_staked_amount}}
              <div class="ogn-label">OGN</div>
            </div>
          </div>

          <div class="locked-token-widget">
            <div class="title">
              {{gettext("Total number of tokens founders have sold")}}
            </div>
            <div class="value">
              0
              <div class="ogn-label">OGN</div>
            </div>
          </div>

          <div class="subtitle2 mb-0">{{gettext("Last updated ")}}{{ogn_stats["created_at_formatted_timeago"]}}</div>

        </div>
        <div class="col-lg-6 mt-5 mt-lg-0">
          <h3>{{gettext("Staked amount by duration")}}</h3>

          <div class="reserved-wallets mb-0">
            <div class="row staked-chart">
              <div class="col-md-3">
                <div class="chart-container">
                  <canvas id="staked_amount_chart" height="110px"></canvas>
                </div>
              </div>
              <div class="col">
                <div id="staked_amount_legends" class="chart-legends-container"></div>
              </div>
            </div>

            <h3>{{gettext("Wallets excluded from circulating supply")}}</h3>
            <div class="reserved-wallet">
              <div class="wallet-name">{{gettext("Foundation Reserves")}}</div>
              <a class="wallet-link" href="https://etherscan.io/address/{{ogn_stats.foundation_reserve_address}}" target="_blank" rel="noopener noreferrer">
                <div class="wallet-address d-none">{{ogn_stats.foundation_reserve_address}}</div>
                <div class="wallet-address d-md-none">{{ogn_stats.foundation_reserve_address[:6]}}...{{ogn_stats.foundation_reserve_address[-4:]}}</div>
                <div class="wallet-address d-none d-md-flex">{{ogn_stats.foundation_reserve_address[:11]}}...{{ogn_stats.foundation_reserve_address[-8:]}}</div>
              </a>
              <div class="wallet-balance">{{ogn_stats.foundation_reserve_balance_formatted}} OGN</div>
              <div class="placeholder">&nbsp;</div>
            </div>

            <div class="reserved-wallet">
              <div class="wallet-name">{{gettext("Team Distribution")}}</div>
              <a class="wallet-link" href="https://etherscan.io/address/{{ogn_stats.team_dist_address}}" target="_blank" rel="noopener noreferrer">
                <div class="wallet-address d-none">{{ogn_stats.team_dist_address}}</div>
                <div class="wallet-address d-md-none">{{ogn_stats.team_dist_address[:6]}}...{{ogn_stats.team_dist_address[-4:]}}</div>
                <div class="wallet-address d-none d-md-flex">{{ogn_stats.team_dist_address[:11]}}...{{ogn_stats.team_dist_address[-8:]}}</div>
              </a>
              <div class="wallet-balance">{{ogn_stats.team_dist_balance_formatted}} OGN</div>
              <div class="placeholder">&nbsp;</div>
            </div>

            <div class="reserved-wallet">
              <div class="wallet-name">{{gettext("Investor Distribution")}}</div>
              <a class="wallet-link" href="https://etherscan.io/address/{{ogn_stats.investor_dist_address}}" target="_blank" rel="noopener noreferrer">
                <div class="wallet-address d-none">{{ogn_stats.investor_dist_address}}</div>
                <div class="wallet-address d-md-none">{{ogn_stats.investor_dist_address[:6]}}...{{ogn_stats.investor_dist_address[-4:]}}</div>
                <div class="wallet-address d-none d-md-flex">{{ogn_stats.investor_dist_address[:11]}}...{{ogn_stats.investor_dist_address[-8:]}}</div>
              </a>
              <div class="wallet-balance">{{ogn_stats.investor_dist_balance_formatted}} OGN</div>
              <div class="placeholder">&nbsp;</div>
            </div>

            <div class="reserved-wallet">
              <div class="wallet-name">{{gettext("Distribution Staging")}}</div>
              <a class="wallet-link" href="https://etherscan.io/address/{{ogn_stats.dist_staging_address}}" target="_blank" rel="noopener noreferrer">
                <div class="wallet-address d-none">{{ogn_stats.dist_staging_address}}</div>
                <div class="wallet-address d-md-none">{{ogn_stats.dist_staging_address[:6]}}...{{ogn_stats.dist_staging_address[-4:]}}</div>
                <div class="wallet-address d-none d-md-flex">{{ogn_stats.dist_staging_address[:11]}}...{{ogn_stats.dist_staging_address[-8:]}}</div>
              </a>
              <div class="wallet-balance">{{ogn_stats.dist_staging_balance_formatted}} OGN</div>
              <div class="placeholder">&nbsp;</div>
            </div>

            <div class="reserved-wallet">
              <div class="wallet-name">{{gettext("Partnerships")}}</div>
              <a class="wallet-link" href="https://etherscan.io/address/{{ogn_stats.partnerships_address}}" target="_blank" rel="noopener noreferrer">
                <div class="wallet-address d-none">{{ogn_stats.partnerships_address}}</div>
                <div class="wallet-address d-md-none">{{ogn_stats.partnerships_address[:6]}}...{{ogn_stats.partnerships_address[-4:]}}</div>
                <div class="wallet-address d-none d-md-flex">{{ogn_stats.partnerships_address[:11]}}...{{ogn_stats.partnerships_address[-8:]}}</div>
              </a>
              <div class="wallet-balance">{{ogn_stats.partnerships_balance_formatted}} OGN</div>
              <div class="placeholder">&nbsp;</div>
            </div>

            <div class="reserved-wallet">
              <div class="wallet-name">{{gettext("Ecosystem Growth")}}</div>
              <a class="wallet-link" href="https://etherscan.io/address/{{ogn_stats.ecosystem_growth_address}}" target="_blank" rel="noopener noreferrer">
                <div class="wallet-address d-none">{{ogn_stats.ecosystem_growth_address}}</div>
                <div class="wallet-address d-md-none">{{ogn_stats.ecosystem_growth_address[:6]}}...{{ogn_stats.ecosystem_growth_address[-4:]}}</div>
                <div class="wallet-address d-none d-md-flex">{{ogn_stats.ecosystem_growth_address[:11]}}...{{ogn_stats.ecosystem_growth_address[-8:]}}</div>
              </a>
              <div class="wallet-balance">{{ogn_stats.ecosystem_growth_balance_formatted}} OGN</div>
              <div class="placeholder">&nbsp;</div>
            </div>

          </div>

        </div>
      </div>
      <div class="stake-banner-blue d-flex flex-column flex-lg-row justify-content-center align-items-center">
        <div class="coins-icon">
          <img class="ousd-coin" src="/static/img/coins/ousd-coin.svg"/>
          <img class="ogn-coin" src="/static/img/coins/ogn-coin.svg"/>
        </div>
        <div class="stake-content d-flex flex-column">
          <h1>{{gettext("Stake OGN on OUSD.com")}}</h1>
          <p>{{gettext("Stake your OGN to earn up to 25%%")}}</p>
        </div>
        <a class='btn btn-dark ml-lg-auto' href="{{universal.STAKE_URL}}" target="_blank" rel="noopener noreferrer">
          {{gettext("Stake OGN now")}}
        </a>
      </div>
      <div class="additional-token-metrics px-3">
        <h3>{{gettext("Additional Token Metrics")}}</h3>
        <div class="d-flex flex-column flex-sm-row flex-sm-wrap metric-holder">
          <div class="metric d-flex flex-column">
            <div class="name">{{gettext("Total number of unique wallets")}}</div>
            <div class="value">{{ogn_stats.number_of_addresses_formatted}}</div>
          </div>
          <div class="metric d-flex flex-column">
            <div class="name">{{gettext("Total number of presale investors")}}</div>
            <div class="value">700</div>
          </div>
          <div class="metric d-flex flex-column bigger">
            <div class="name">{{gettext("Presale investor vesting schedule length")}}</div>
            <div class="value">2+ years</div>
          </div>
          <div class="metric d-flex flex-column">
            <div class="name">{{gettext("Team vesting schedule length*")}}</div>
            <div class="value">4-6 years</div>
          </div>
          <div class="metric d-flex flex-column">
            <div class="name">{{gettext("Average presale purchase size in USD")}}</div>
            <div class="value">$54,346</div>
          </div>
        </div>
        <div class="subtitle">{{gettext("* Founders signed new 4 year vesting schedule on Jan 8 2020")}}</div>
      </div>
    </div>
  </section>

  {% endif %}

  <section class="exchanges-section white-section">
    <div class="container">
      <h3>{{gettext("Centralized Exchanges")}}</h3>
      <div class="exchanges row">
        <div class="col-12 col-sm-6 col-md-2 token-exchange text-center">
          <a target="_blank" rel="noopener noreferrer"
            href="https://www.binance.com/{{binance_lang_code}}/register?ref=38914658">
            <img src="/static/img/ognToken/binance.svg" />
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-2 token-exchange text-center larger">
          <a target="_blank" rel="noopener noreferrer" href="https://www.huobi.com/en-us/exchange/ogn_usdt/">
            <img src="/static/img/ognToken/huobi.png" style='position:relative; top:-5px'/>
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-2 token-exchange text-center">
          <a target="_blank" rel="noopener noreferrer" href="https://coinone.co.kr/">
            <img src="/static/img/ognToken/coinone.svg" />
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-2 token-exchange text-center larger">
          <a target="_blank" rel="noopener noreferrer" href="https://upbit.com/exchange?code=CRIX.UPBIT.BTC-OGN">
            <img src="/static/img/ognToken/upbit.png" style='position:relative; top:-5px'/>
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-2 token-exchange text-center">
          <a target="_blank" rel="noopener noreferrer" href="#">
            <img src="/static/img/ognToken/gopax.svg" />
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-2 token-exchange text-center medium">
          <a target="_blank" rel="noopener noreferrer" href="https://crypto.com/">
            <img src="/static/img/ognToken/cryptocom-logo.svg" />
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-2 token-exchange text-center larger">
          <a target="_blank" rel="noopener noreferrer" href="https://exchange.blockchain.com/trade/OGN-USD">
            <img src="/static/img/ognToken/blockchaincom.png" style='position:relative; top:-5px'/>
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-2 token-exchange text-center large">
          <a target="_blank" rel="noopener noreferrer" href="https://pro.ambergroup.io/">
            <img src="/static/img/ognToken/amber.png" style='position:relative; top:-3px'/>
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-2 token-exchange text-center">
          <a target="_blank" rel="noopener noreferrer" href="https://global.bittrex.com/">
            <img src="/static/img/ognToken/bittrex-logo.svg" />
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-2 token-exchange text-center larger">
          <a target="_blank" rel="noopener noreferrer" href="https://www.gate.io/trade/OGN_USDT">
            <img src="/static/img/ognToken/gateio.svg" style='position:relative; top:-5px'/>
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-2 token-exchange text-center larger">
          <a target="_blank" rel="noopener noreferrer" href="https://hitbtc.com/ogn-to-btc">
            <img src="/static/img/ognToken/hitbtc-logo.svg" style='position:relative; top:-14px'/>
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-2 token-exchange text-center">
          <a target="_blank" rel="noopener noreferrer" href="https://www.mxc.com/trade/pro#OGN_USDT">
            <img src="/static/img/ognToken/mxc.svg" />
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-2 token-exchange text-center">
          <a target="_blank" rel="noopener noreferrer" href="https://www.biki.com/trade/OGN_USDT">
            <img src="/static/img/ognToken/biki.svg" />
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-2 token-exchange text-center">
          <a target="_blank" rel="noopener noreferrer" href="https://tokocrypto.com/id/dashboard/OGNIDR">
            <img src="/static/img/ognToken/tokocrypto.svg" />
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-2 token-exchange text-center large">
          <a target="_blank" rel="noopener noreferrer" href="https://www.hotbit.io/exchange?symbol=OGN_USDT">
            <img src="/static/img/ognToken/hotbit.svg" />
          </a>
        </div>
      </div>
    </div>
    <br><br>
    <div class="container">
      <h3>{{gettext("Decentralized Exchanges")}}</h3>
      <div class="exchanges row mb-5">
        <div class="col-12 col-sm-6 col-md-2 token-exchange text-center xxl">
          <a target="_blank" rel="noopener noreferrer"
            href="https://exchange.sushiswapclassic.org/#/swap?outputCurrency=0x8207c1FfC5B6804F6024322CcF34F29c3541Ae26">
            <img src="/static/img/ognToken/sushiswap.png" />
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-2 token-exchange text-center xxl">
          <a target="_blank" rel="noopener noreferrer"
            href="https://uniswap.exchange/swap?outputCurrency=0x8207c1FfC5B6804F6024322CcF34F29c3541Ae26">
            <img src="/static/img/ognToken/uniswap.png" />
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-2 token-exchange text-center xxl">
          <a target="_blank" rel="noopener noreferrer"
            href="https://balancer.exchange/#/swap/ether/0x8207c1FfC5B6804F6024322CcF34F29c3541Ae26">
            <img src="/static/img/ognToken/balancer.svg" />
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-2 token-exchange text-center xxl">
          <a target="_blank" rel="noopener noreferrer" href="https://kyberswap.com/swap/eth-ogn">
            <img src="/static/img/ognToken/kyber.svg" />
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <a target='_blank' rel='noreferrer noopener' href="https://coinmarketcap.com/currencies/origin-protocol/markets">{{gettext("See more on Coinmarketcap >")}}</a>
    </div>
  </section>

  {% include 'footer.html' %}
</main>

{% endblock %}