{% extends 'base.html' %}

{% block title %}{{ gettext("Origin Protocol - OGN Dashboard") }}{% endblock %}

{% block meta_description %}{{ gettext("Origin Protocol's platform powers true peer-to-peer marketplaces everywhere.") }}{% endblock %}

{% block content %}

{% with theme_dark=True %}
{% include 'navbar.html' %}
{% endwith %}  

<main class="dashboard-page">
  <section class="title-section blue-section">
    <div class="container">
      <h1>{{gettext("OGN Dashboard")}}</h1>

      <div class="row">

        <div class="col-md-3 mx-md-0 px-md-0">
          <div class="stats-widget">
            <img src="/static/img/dashboard/price-icon.svg" />
            <div class="stats-label">{{gettext("Price")}}</div>
            <div class="stats-value">{{ogn_stats.ogn_price}}</div>
          </div>
        </div>

        <div class="col-md-3 mx-md-0 px-md-0">
          <div class="stats-widget">
            <img src="/static/img/dashboard/circulating-supply-icon.svg" />
            <div class="stats-label">{{gettext("Circulating Supply")}}</div>
            <div class="stats-value">
              {{ogn_stats.circulating_supply}}
              <div class="ogn-label">OGN</div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mx-md-0 px-md-0">
          <div class="stats-widget">
            <img src="/static/img/dashboard/market-cap-icon.svg" />
            <div class="stats-label">{{gettext("Market Cap")}}</div>
            <div class="stats-value">{{ogn_stats.market_cap}}</div>
          </div>
        </div>

        <div class="col-md-3 mx-md-0 px-md-0">
          <div class="stats-widget">
            <img src="/static/img/dashboard/total-supply-icon.svg" />
            <div class="stats-label">{{gettext("Total Supply")}}</div>
            <div class="stats-value">
              {{ogn_stats.total_supply}}
              <div class="ogn-label">OGN</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="schedule-section white-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>{{gettext("Token Unlock Schedule")}}</h3>
          <div class="desc">
            {{gettext("This was the token release schedule we committed to in January for the next 4 years. In that blurb, we also highlight that we anticipate actual circulating supply to be significantly lower than modeled supply for X, Y, and Z reasons.")}}
          </div>
        </div>
        <div class="col-md-6">
          <h3>{{gettext("Modeled vs. actual token release schedule")}}</h3>
          <div class="desc">
            {{gettext("Fusce condimentum ultrices est quis dapibus. Phasellus massa tortor, ultricies a imperdiet in, dapibus ac ligula. Duis suscipit odio sed sagittis finibus. Curabitur justo neque, scelerisque eu velit interdum, finibus varius purus.")}}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="locked-tokens-section grey-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>{{gettext("Locked Tokens")}}</h3>
          <div class="desc">
            {{gettext("Fusce condimentum ultrices est quis dapibus. Phasellus massa tortor, ultricies a imperdiet in, dapibus ac ligula. Duis suscipit odio sed sagittis finibus. Curabitur justo neque, scelerisque eu velit interdum, finibus varius purus.")}}
          </div>
          
          <div class="locked-token-widget">
            <div class="title">
              {{gettext("Total number of locked tokens")}}
            </div>
            <div class="value">
              {{ogn_stats.locked_tokens}}
              <div class="ogn-label">OGN</div>
            </div>
          </div>
          
          <div class="locked-token-widget">
            <div class="title">
              {{gettext("Investors & team members with locked tokens")}}
            </div>
            <div class="value">
              {{ogn_stats.locked_user_count}}
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <h3>{{gettext("Wallets excluded from circulating supply")}}</h3>

          <div class="reserved-wallets">

            <div class="reserved-wallet">
              <div class="wallet-name">{{gettext("Foundation Reserves")}}</div>
              <div class="wallet-address">{{ogn_stats.foundation_reserve_address}}</div>
              <a class="wallet-link" href="https://etherscan.io/address/{{ogn_stats.foundation_reserve_address}}" target="_blank" rel="noopener noreferrer">
                <img src="/static/img/dashboard/new-window-icon.svg" />
              </a>
            </div>

            <div class="reserved-wallet">
              <div class="wallet-name">{{gettext("Team Distribution")}}</div>
              <div class="wallet-address">{{ogn_stats.team_dist_address}}</div>
              <a class="wallet-link" href="https://etherscan.io/address/{{ogn_stats.team_dist_address}}" target="_blank" rel="noopener noreferrer">
                <img src="/static/img/dashboard/new-window-icon.svg" />
              </a>
            </div>

            <div class="reserved-wallet">
              <div class="wallet-name">{{gettext("Investor Distribution")}}</div>
              <div class="wallet-address">{{ogn_stats.investor_dist_address}}</div>
              <a class="wallet-link" href="https://etherscan.io/address/{{ogn_stats.investor_dist_address}}" target="_blank" rel="noopener noreferrer">
                <img src="/static/img/dashboard/new-window-icon.svg" />
              </a>
            </div>

            <div class="reserved-wallet">
              <div class="wallet-name">{{gettext("Distribution Staging")}}</div>
              <div class="wallet-address">{{ogn_stats.dist_staging_address}}</div>
              <a class="wallet-link" href="https://etherscan.io/address/{{ogn_stats.dist_staging_address}}" target="_blank" rel="noopener noreferrer">
                <img src="/static/img/dashboard/new-window-icon.svg" />
              </a>
            </div>

            <div class="reserved-wallet">
              <div class="wallet-name">{{gettext("Partnerships")}}</div>
              <div class="wallet-address">{{ogn_stats.partnerships_address}}</div>
              <a class="wallet-link" href="https://etherscan.io/address/{{ogn_stats.partnerships_address}}" target="_blank" rel="noopener noreferrer">
                <img src="/static/img/dashboard/new-window-icon.svg" />
              </a>
            </div>

            <div class="reserved-wallet">
              <div class="wallet-name">{{gettext("Ecosystem Growth")}}</div>
              <div class="wallet-address">{{ogn_stats.ecosystem_growth_address}}</div>
              <a class="wallet-link" href="https://etherscan.io/address/{{ogn_stats.ecosystem_growth_address}}" target="_blank" rel="noopener noreferrer">
                <img src="/static/img/dashboard/new-window-icon.svg" />
              </a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

  {% include 'footer.html' %}
</main>

{% endblock %}