{% extends 'base.html' %}
{% block title %}{{ gettext("Origin Protocol - Developers") }}{% endblock %}
{% block meta_description %}{{ gettext("Origin Protocol's open-source codebase is being developed by a global network of contributors") }}{% endblock %}
{% block content %}

{% with theme_dark=True %}
{% include 'navbar.html' %}
{% endwith %}

<main class="developers-page">
  <div class="stack-section">
    <div class="container d-flex flex-column justify-content-start">
      <h1>{{gettext("Our open-source codebase is being developed by a global network of contributors")}}</h1>
      <div class="d-flex flex-column">
        <!-- desktop layout -->
        <div class="d-none d-md-flex desktop mt-7">
          <!-- first column -->
          <div class="col-4 d-flex flex-column column1">
            <div>
              <div class="d-flex left-indicator-holder">
                <h2 class="ml-0 mr-auto">{{gettext("Mobile Apps")}}</h2>
                <img class="d-none d-md-flex indicator-left" src="/static/img/developers/indicator-left.svg"/>
              </div>
              <div class="text">{{gettext("Native applications that offer fully-integrated marketplace experiences with a built-in Ethereum wallet")}}</div>
            </div>
            <div>
              <div class="d-flex left-indicator-holder">
                <h2 class="ml-0 mr-auto">{{gettext("DApps")}}</h2>
                <img class="d-none d-md-flex indicator-left" src="/static/img/developers/indicator-left.svg"/>
              </div>
              <div class="text">{{gettext("Decentralized applications that enable true peer-to-peer commerce on the Origin platform")}}</div>
            </div>
          </div>
          <!-- second column -->
          <div class="col-4 column2">
            <img src="/static/img/developers/mobile-apps@3x.png"/>
            <img src="/static/img/developers/infrastructure@3x.png"/>
            <img src="/static/img/developers/dapps@3x.png"/>
            <img src="/static/img/developers/core-packages@3x.png"/>
          </div>
          <!-- third column -->
          <div class="col-4 d-flex flex-column column3">
            <div class="d-flex flex-column text-holder align-items-start pl-4">
              <img class="d-none d-md-flex indicator-right" src="/static/img/developers/indicator-right.svg"/>
              <h2 class="ml-0 mr-3">{{gettext("Infrastructure")}}</h2>
              <div class="text">{{gettext("Services enabling functionality that is either impossible or impractical to do directly on-chain, such as indexing, messaging, and notifications")}}</div>
            </div>
            <div class="d-flex flex-column text-holder pt-60 align-items-start pl-4">
              <img class="d-none d-md-flex indicator-right" src="/static/img/developers/indicator-right.svg"/>
              <h2 class="ml-0 mr-3">{{gettext("Core Packages")}}</h2>
              <div class="text">{{gettext("A suite of smart contracts and standards for creating listings, offers, and identities on decentralized marketplaces")}}</div>
            </div>
          </div>
        </div>
        <!-- mobile layout -->
        <div class="d-flex flex-column align-items-center d-md-none mobile">
          <img class="img1" src="/static/img/developers/mobile-apps@3x.png"/>
          <h2>{{gettext("Mobile Apps")}}</h2>
          <div class="text">{{gettext("Native applications that offer fully-integrated marketplace experiences with a built-in Ethereum wallet")}}</div>

          <img class="img2" src="/static/img/developers/infrastructure@3x.png"/>
          <h2>{{gettext("Infrastructure")}}</h2>
          <div class="text">{{gettext("Services enabling functionality that is either impossible or impractical to do directly on-chain, such as indexing, messaging, and notifications")}}</div>

          <img class="img3" src="/static/img/developers/dapps@3x.png"/>
          <h2>{{gettext("DApps")}}</h2>
          <div class="text">{{gettext("Decentralized applications that enable true peer-to-peer commerce on the Origin platform")}}</div>

          <img class="img4" src="/static/img/developers/core-packages@3x.png"/>
          <h2>{{gettext("Core Packages")}}</h2>
          <div class="text">{{gettext("A suite of smart contracts and standards for creating listings, offers, and identities on decentralized marketplaces")}}</div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <a href="https://github.com/OriginProtocol/origin" target="_blank" rel="noopener noreferrer" class="button mt-6">{{gettext("See the Code")}}</a>
  </div>
  <!-- getting involved -->
  <div class="getting-involved">
    <div class="container d-flex flex-column justify-content-start align-items-center">
      <h1>{{gettext("Getting Involved")}}</h1>
      <div class="subtitle">
        {{gettext("Our company has a culture of radical inclusion and transparency. Everyone is welcome to participate in our open-source engineering process and our product discussions, which are all public by default.")}}</h1>
      </div>
      <!-- steps section -->
      <div class="d-flex flex-column steps">
        <div class="d-flex step flex-column flex-md-row">
          <div class="col-12 col-md-4">
            <div class="d-flex justify-content-center align-items-center number">1</div>
          </div>
          <div class="col-12 col-md-6 subtext">
            {{gettext("Introduce yourself in our public Discord #engineering channel.")}}</h1>
          </div>
        </div>
        <div class="d-flex step flex-column flex-md-row">
          <div class="col-12 col-md-4">
            <div class="d-flex justify-content-center align-items-center number">2</div>
          </div>
          <div class="col-12 col-md-6 subtext">
            {{gettext("Find an open issue in our monorepo and tell us that you would like to solve it.")}}</h1>
          </div>
        </div>
        <div class="d-flex step flex-column flex-md-row">
          <div class="col-12 col-md-4">
            <div class="d-flex justify-content-center align-items-center number">3</div>
          </div>
          <div class="col-12 col-md-6 subtext">
            {{gettext("Merge your first pull request today.")}}</h1>
          </div>
        </div>
      </div>
      <!-- github labels section -->
      <div class="d-flex justify-content-center flex-wrap labels-section">
        <a href='https://github.com/OriginProtocol/origin/issues?q=is%3Aissue+is%3Aopen+label%3A"good+first+issue"' class="github-label mx-1 my-2" target="_blank" rel="noopener noreferrer">
          {{gettext("good first issue")}}
        </a>
        <a href='https://github.com/OriginProtocol/origin/issues?q=is%3Aissue+is%3Aopen+label%3Asolidity' class="github-label mx-1 my-2" target="_blank" rel="noopener noreferrer">
          {{gettext("solidity")}}
        </a>
        <a href='https://github.com/OriginProtocol/origin/issues?q=is%3Aissue+is%3Aopen+label%3Ajavascript' class="github-label mx-1 my-2" target="_blank" rel="noopener noreferrer">
          {{gettext("javascript")}}
        </a>
        <a href='https://github.com/OriginProtocol/origin/issues?q=is%3Aissue+is%3Aopen+label%3Agraphql' class="github-label mx-1 my-2" target="_blank" rel="noopener noreferrer">
          {{gettext("graphql")}}
        </a>
        <a href='https://github.com/OriginProtocol/origin/issues?q=is%3Aissue+is%3Aopen+label%3Ahtml%2Fcss' class="github-label mx-1 my-2" target="_blank" rel="noopener noreferrer">
          {{gettext("html/css")}}
        </a>
      </div>
      <div class="mt-6 d-flex flex-column flex-md-row">
        <a href="https://discordapp.com/invite/jyxpUSe" target="_blank" rel="noopener noreferrer" class="button ml-0 ml-md-2">{{gettext("Join us on Discord")}}</a>
      </div>
    </div>
  </div>

{% include 'footer.html' %}
</main>

{% endblock %}

{% block extra_scripts %}
{% endblock %}
