{% if theme_dark==False %}
<footer class="light-footer">
{% else %}
<footer class="dark-footer">
{% endif %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-lg-6">
        <div class="logo-container">
          {% if theme_dark==False %}
            <img src="/static/img/origin-logo-dark.png"
            srcset="/static/img/origin-logo-dark@2x.png 2x,
              /static/img/origin-logo-dark@3x.png 3x"
            class="origin-logo"
            alt="Origin Protocol logo">
          {% else %} 
            <img src="/static/img/origin-logo.png"
            srcset="/static/img/origin-logo@2x.png 2x,
              /static/img/origin-logo@3x.png 3x"
            class="origin-logo"
            alt="Origin Protocol logo">
          {% endif %}
        </div>
        <p class="company-mission">
          {{ gettext("Origin is building the sharing economy of tomorrow. Buyers and sellers will be able to transact without rent-seeking middlemen. We believe in lowering transaction fees, promoting free and transparent commerce, and giving early participants in the community a stake in the network.") }}
        </p>
        <p>
          &copy; {{ now.year }} {{ gettext("Origin Protocol, Inc.") }}  &bull;
          <a href="{{ url_for('privacy', lang_code=CURRENT_LANGUAGE) }}">
            {{ gettext("Privacy") }}
          </a>
          &bull;
          <a href="{{ url_for('tos', lang_code=CURRENT_LANGUAGE) }}">
            {{ gettext("Terms of Service") }}
          </a>

        </p>
      </div>
      <div class="col-12 col-md-7 col-lg-6">
        <div class="row">
          <div class="col-6 col-lg-3">
            <div class="footer-header">
              {{ gettext("Resources") }}
            </div>
            <ul class="footer-links">
              <li class="footer-link">
                <a href="{{ url_for('product_brief', lang_code=CURRENT_LANGUAGE) }}">
                  {{ gettext("Product Brief") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="{{ url_for('whitepaper', lang_code=CURRENT_LANGUAGE) }}">
                  {{ gettext("Whitepaper") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="https://dapp.originprotocol.com" target="_blank">
                  {{ gettext("DApp") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="{{ url_for('developers', lang_code=CURRENT_LANGUAGE) }}">
                  {{ gettext("Developers") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="https://github.com/OriginProtocol" target="_blank">
                  {{ gettext("GitHub") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="http://docs.originprotocol.com/" target="_blank">
                  {{ gettext("Docs") }}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-lg-3">
            <div class="footer-header">
              {{ gettext("Community") }}
            </div>
            <ul class="footer-links">
              <li class="footer-link">
                <a href="{{ universal.TELEGRAM_URL }}" target="_blank">
                  <i class="fab fa-telegram"></i> {{ gettext("Telegram") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="{{ universal.DISCORD_URL }}" target="_blank">
                  <i class="fab fa-discord"></i> {{ gettext("Discord") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="https://www.reddit.com/r/originprotocol/" target="_blank">
                  <i class="fab fa-reddit"></i> {{ gettext("Reddit") }}
                </a>
              </li>
              <li class="footer-link">
                <a data-container="body" data-toggle="tooltip" title="<img src='/static/img/origin-wechat-qr.png' />"><i class="fab fa-weixin"></i> {{ gettext("WeChat") }}</a>
              </li>
              <li class="footer-link">
                <a data-container="body" data-toggle="tooltip" title="<img src='/static/img/origin-weibo-qr.png' />"><i class="fab fa-weibo"></i> {{ gettext("Weibo") }}</a>
              </li>
              <li class="footer-link">
                <a href="https://open.kakao.com/o/ganyghS" target="_blank">
                  <i class="fas fa-comment"></i> {{ gettext("KakaoTalk") }}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-lg-3">
            <div class="footer-header">Social</div>
            <ul class="footer-links">
              <li class="footer-link">
                <a href="https://twitter.com/originprotocol" target="_blank">
                  <i class="fab fa-twitter-square"></i> {{ gettext("Twitter") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="https://instagram.com/originprotocol" target="_blank">
                  <i class="fab fa-instagram"></i> {{ gettext("Instagram") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="https://www.facebook.com/originprotocol" target="_blank">
                  <i class="fab fa-facebook-square"></i> {{ gettext("Facebook") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="https://medium.com/originprotocol" target="_blank">
                  <i class="fab fa-medium"></i> {{ gettext("Medium") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="http://www.youtube.com/c/originprotocol" target="_blank">
                  <i class="fab fa-youtube"></i> {{ gettext("Youtube") }}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-lg-3">
            <div class="footer-header">
              {{ gettext("Organization") }}
            </div>
            <ul class="footer-links">
              <li class="footer-link">
                <a href="{{ url_for('team', lang_code=CURRENT_LANGUAGE) }}">
                  {{ gettext("Team") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="{{ url_for('presale', lang_code=CURRENT_LANGUAGE) }}">
                  {{ gettext("Presale") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="{{ url_for('partners', lang_code=CURRENT_LANGUAGE) }}">
                  {{ gettext("Partners") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="https://www.eventbrite.com/o/origin-protocol-17702006678" target="_blank">
                  {{ gettext("Meetups") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="https://angel.co/originprotocol/jobs" target="_blank">
                  {{ gettext("Jobs") }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
