<footer class="dark-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="logo-container">
          <img src="/static/img/origin-logo.png"
            srcset="/static/img/origin-logo@2x.png 2x,
              /static/img/origin-logo@3x.png 3x"
            class="origin-logo"
            alt="Origin Protocol logo">
        </div>
        <p class="company-mission">
          {{ gettext("Origin is building the sharing economy of tomorrow. Buyers and sellers will be able to transact without rent-seeking middlemen. We believe in lowering transaction fees, promoting free and transparent commerce, and giving early participants in the community a stake in the network.") }}
        </p>
        <p>
          &copy; {{ now.year }} {{ gettext("Origin Protocol, Inc.") }}  &bull;
          <a href="{{ url_for('privacy', lang_code=CURRENT_LANGUAGE) }}">
            {{ gettext("Privacy") }}
          </a>
          &bull;
          <a href="{{ url_for('tos', lang_code=CURRENT_LANGUAGE) }}">
            {{ gettext("Terms of Service") }}
          </a>

        </p>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-6 col-md-4">
            <div class="footer-header">
              {{ gettext("Documentation") }}
            </div>
            <ul class="footer-links">
              <li class="footer-link">
                <a href="{{ url_for('product_brief', lang_code=CURRENT_LANGUAGE) }}">
                  {{ gettext("Product Brief") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="{{ url_for('whitepaper', lang_code=CURRENT_LANGUAGE) }}">
                  {{ gettext("Whitepaper") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="https://demo.originprotocol.com" target="_blank">
                  {{ gettext("Demo DApp") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="https://github.com/OriginProtocol" target="_blank">
                  {{ gettext("Github") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="http://docs.originprotocol.com/" target="_blank">
                  {{ gettext("Docs") }}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-md-4">
            <div class="footer-header">
              {{ gettext("Community") }}
            </div>
            <ul class="footer-links">
              <li class="footer-link">
                <a href="{{ universal.TELEGRAM_URL }}" target="_blank">
                  {{ gettext("Telegram") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="{{ universal.DISCORD_URL }}" target="_blank">
                  {{ gettext("Discord") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="https://medium.com/originprotocol" target="_blank">
                  {{ gettext("Medium") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="https://www.reddit.com/r/originprotocol/" target="_blank">
                  {{ gettext("Reddit") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="https://twitter.com/originprotocol" target="_blank">
                  {{ gettext("Twitter") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="https://instagram.com/originprotocol" target="_blank">
                  {{ gettext("Instagram") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="https://www.facebook.com/originprotocol" target="_blank">
                  {{ gettext("Facebook") }}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-md-4">
            <div class="footer-header">
              {{ gettext("Organization") }}
            </div>
            <ul class="footer-links">
              <li class="footer-link">
                <a href="{{ url_for('team', lang_code=CURRENT_LANGUAGE) }}">
                  {{ gettext("Team") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="{{ url_for('presale', lang_code=CURRENT_LANGUAGE) }}">
                  {{ gettext("Presale") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="{{ url_for('partners', lang_code=CURRENT_LANGUAGE) }}">
                  {{ gettext("Partners") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="https://angel.co/originprotocol/jobs" target="_blank">
                  {{ gettext("Jobs (We're hiring!)") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="https://www.google.com/maps/place/845+Market+St+%23450a,+San+Francisco,+CA+94103" target="_blank">
                  {{ gettext("845 Market St, #450A<br>San Francisco, CA 94103") }}
                </a>
              </li>
              <li class="footer-link">
                <a href="mailto:info@originprotocol.com">
                  info@originprotocol.com
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
