{% extends 'base.html' %} {% block title %}{{ gettext("Origin Protocol -
Investors") }}{% endblock %} {% block meta_description %}{{ gettext("Origin
Protocol is backed by top investors from all over the world") }}{% endblock %}
{% block content %} {% with theme_dark=True %} {% include 'navbar.html' %} {%
endwith %}

<main class="investors-page">
  <div
    class="video-block screen-size-segment d-flex flex-column justify-content-center align-items-center"
  >
    <div id="investors-video" class="full-screen-video d-none"></div>
    <div id="exit-fullscreen-button" class="d-none">
      {{gettext("Exit full screen")}}
    </div>
    <div class="background-video">
      <div
        class="video-holder d-flex flex-column justify-content-end align-items-center"
      >
        <div id="investors-video-background"></div>
      </div>
    </div>
    <div class="video-overlay"></div>
    <div class="video-overlay-gradient"></div>
    <div id="investor-video-poster" class="video-overlay-poster"></div>
    <div
      class="contents d-flex flex-column justify-content-center align-items-center"
    >
      <h1 class="video-title">
        {{gettext("We're backed by top investors from all over the world")}}
      </h1>
      <button
        id="investors-video-button"
        class="play-button d-flex justify-content-center align-items-center m-4"
      >
        <img class="ml-2" src="/static/img/landing/play-triangle.svg" />
      </button>
      <div class="mt-2">{{gettext("Watch the video")}}</div>
    </div>
  </div>

  <section class="fundraising-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>{{gettext("Funding")}}</h1>
          <div class="section-desc">
            {{gettext("Origin's native token is called OGN. Today, OGN is publicly traded on top exchanges like Coinbase, Binance and Huobi.")}}
            <br>
            {{gettext("We previously raised funding from presale investors across three previous rounds to build our platform.")}}
          </div>
          <!-- <img src="/static/img/investors/graph.svg" /> -->
        </div>
        <div class="col-12 col-md-6">
          <div class="investment-counter investments">
            {{gettext("$38.1M")}}
          </div>
          <div class="investment-caption">
            {{gettext("total raised to date")}}
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="investment-counter investors">{{gettext("800+")}}</div>
          <div class="investment-caption">{{gettext("presale investors")}}</div>
        </div>
        <div class="col-12">
          <div class="get-stake-desc">
            {{gettext("Sign up to get regular token holder updates:")}}
          </div>
          {% include 'components/email-input.html' %}
        </div>
      </div>
    </div>
  </section>
  <section class="featured-investor-section grey-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>{{gettext("Featured Investor")}}</h1>
        </div>
        <div class="col-12">
          <div
            id="featuredInvestors"
            class="carousel slide"
            data-touch="true"
            data-ride="carousel"
          >
            <ol class="carousel-indicators">
              <li
                data-target="#featuredInvestors"
                data-slide-to="0"
                class="active"
              ></li>
              <li data-target="#featuredInvestors" data-slide-to="1"></li>
              <li data-target="#featuredInvestors" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div
                  class="featured-investor d-flex flex-column-reverse justify-content-end flex-md-row"
                >
                  <div class="investor-data col-md-6">
                    <div class="investor-quote">
                      {{gettext("\"The reason we invested in Origin was
                      primarily because of the team. They have amazing
                      backgrounds and they come from iconic consumer
                      companies.\"")}}
                    </div>
                    <div class="investor-info">
                      <div class="investor-name">
                        {{gettext("Rodolfo Gonzalez")}}
                      </div>
                      <div class="investor-title">
                        {{gettext("Partner, Foundation Capital")}}
                      </div>
                    </div>
                    <div class="actions">
                      <a
                        href="{{ url_for('video', lang_code=CURRENT_LANGUAGE, video_slug='rodolfo-gonzalez-foundation-capital') }}"
                        class="btn btn-primary-outline btn-inverse mx-0"
                        >Watch Rodolfo talk about Origin</a
                      >
                    </div>
                  </div>
                  <div class="investor-image col-md-6 p-0 d-flex">
                    <img
                      src="/static/img/investors/featured/rodolfo.jpg"
                      srcset="
                        /static/img/investors/featured/rodolfo@2x.jpg 2x,
                        /static/img/investors/featured/rodolfo@3x.jpg 3x
                      "
                      class="rodolfo"
                    />
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div
                  class="featured-investor d-flex flex-column-reverse flex-md-row"
                >
                  <div class="investor-data col-md-6">
                    <div class="investor-quote">
                      {{gettext("\"We're talking about over 100,000 members
                      around the world that are hard-core fans of Origin. Origin
                      has done a tremendous job executing at a global
                      scale.\"")}}
                    </div>
                    <div class="investor-info">
                      <div class="investor-name">
                        {{gettext("Sophie Liao")}}
                      </div>
                      <div class="investor-title">
                        {{gettext("Founding Partner, Oyster VC")}}
                      </div>
                    </div>
                    <!-- <div class="actions">
                      <a href="" class="btn btn-primary-outline btn-inverse">Watch Sophie talk about Origin</a>
                    </div> -->
                  </div>
                  <div class="investor-image col-md-6 p-0 d-flex">
                    <img src="/static/img/investors/featured/sophie.jpeg" />
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div
                  class="featured-investor d-flex flex-column-reverse flex-md-row"
                >
                  <div class="investor-data col-md-6">
                    <div class="investor-quote">
                      {{gettext("\"Origin stands out from any of the other
                      decentralized applications that we've invested into,
                      because they've gone out there and built probably the best
                      community that we've seen. For us, that was a game
                      changer.\"")}}
                    </div>
                    <div class="investor-info">
                      <div class="investor-name">
                        {{gettext("Paul Veradittakit")}}
                      </div>
                      <div class="investor-title">
                        {{gettext("Co-investment Officer at Pantera Capital")}}
                      </div>
                    </div>
                    <!-- <div class="actions">
                      <a href="" class="btn btn-primary-outline btn-inverse">Watch Paul talk about Origin</a>
                    </div> -->
                  </div>
                  <div class="investor-image col-md-6 p-0 d-flex">
                    <img src="/static/img/investors/featured/paul.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="vc-section blue-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>
            {{gettext("We are backed by top venture capital firms and investors
            in Silicon Valley and around the world")}}
          </h1>
        </div>
      </div>
    </div>
  </section>
  <section class="vc-section blue-section vc-firms">
    <div class="container px-3">
      <div class="row d-none d-md-flex">
        <div class="col-4">
          {% include 'vc-firms/usa.html' %} {% include 'vc-firms/germany.html'
          %} {% include 'vc-firms/uk.html' %} {% include 'vc-firms/uae.html' %}
        </div>
        <div class="col-4">
          {% include 'vc-firms/china.html' %} {% include 'vc-firms/russia.html'
          %} {% include 'vc-firms/singapore.html' %}
        </div>
        <div class="col-4">
          {% include 'vc-firms/hongkong.html' %} {% include
          'vc-firms/korea.html' %} {% include 'vc-firms/japan.html' %}
        </div>
      </div>

      <div class="row d-flex d-md-none">
        <div class="col-6">
          {% include 'vc-firms/usa.html' %} {% include 'vc-firms/germany.html'
          %} {% include 'vc-firms/uk.html' %} {% include 'vc-firms/uae.html' %}
          {% include 'vc-firms/russia.html' %} {% include
          'vc-firms/singapore.html' %}
        </div>
        <div class="col-6">
          {% include 'vc-firms/china.html' %} {% include
          'vc-firms/hongkong.html' %} {% include 'vc-firms/korea.html' %} {%
          include 'vc-firms/japan.html' %}
        </div>
      </div>
    </div>
  </section>
  <section class="individual-investors-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>{{gettext("Individual Investors")}}</h1>
          <div class="section-desc">
            {{gettext("We are supported by some of the best angel investors and
            previous founders in Silicon Valley.")}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="team-member col-12 col-md-3">
          <div class="headshot-wrapper">
            <img
              src="/static/img/investors/steve.jpeg"
              class="headshot"
              alt="Steve Chens headshot"
            />
          </div>
          <div class="name">
            {{ gettext("Steve Chen") }}
          </div>
          <div class="title">
            {{ gettext("Founder, YouTube") }}
          </div>
        </div>
        <div class="team-member col-12 col-md-3">
          <div class="headshot-wrapper">
            <img
              src="/static/img/investors/alex.png"
              class="headshot"
              alt="Alexis Ohanian headshot"
            />
          </div>
          <div class="name">
            {{ gettext("Alexis Ohanian") }}
          </div>
          <div class="title">
            {{ gettext("Founder, Reddit") }}
          </div>
        </div>
        <div class="team-member col-12 col-md-3">
          <div class="headshot-wrapper">
            <img
              src="/static/img/investors/garry.png"
              class="headshot"
              alt="Garry Tan headshot"
            />
          </div>
          <div class="name">
            {{ gettext("Garry Tan") }}
          </div>
          <div class="title">
            {{ gettext("Partner, Y Combinator") }}
          </div>
        </div>
        <div class="team-member col-12 col-md-3">
          <div class="headshot-wrapper">
            <img
              src="/static/img/investors/gil.png"
              class="headshot"
              alt="Gil Penchina headshot"
            />
          </div>
          <div class="name">
            {{ gettext("Gil Penchina") }}
          </div>
          <div class="title">
            {{ gettext("Angel Investor") }}
          </div>
        </div>
        <div class="team-member col-12 col-md-3">
          <div class="headshot-wrapper">
            <img
              src="/static/img/investors/justin.jpg"
              class="headshot"
              alt="Justin Blau headshot"
            />
          </div>
          <div class="name">
            {{ gettext("Justin Blau") }}
          </div>
          <div class="title">
            {{ gettext("Acclaimed DJ") }}
          </div>
        </div>
        <div class="team-member col-12 col-md-3">
          <div class="headshot-wrapper">
            <img
              src="/static/img/investors/steve.png"
              class="headshot"
              alt="Steve Jang headshot"
            />
          </div>
          <div class="name">
            {{ gettext("Steve Jang") }}
          </div>
          <div class="title">
            {{ gettext("Advisor & Angel, Uber") }}
          </div>
        </div>
        <div class="team-member col-12 col-md-3">
          <div class="headshot-wrapper">
            <img
              src="/static/img/investors/kamal.png"
              class="headshot"
              alt="Kamal Ravikant headshot"
            />
          </div>
          <div class="name">
            {{ gettext("Kamal Ravikant") }}
          </div>
          <div class="title">
            {{ gettext("Serial Entrepreneur") }}
          </div>
        </div>
        <div class="team-member col-12 col-md-3">
          <div class="headshot-wrapper">
            <img
              src="/static/img/investors/randall.png"
              class="headshot"
              alt="Randall Kaplan headshot"
            />
          </div>
          <div class="name">
            {{ gettext("Randall Kaplan") }}
          </div>
          <div class="title">
            {{ gettext("Founder, Akamai") }}
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include 'footer.html' %}
</main>

{% endblock %} {% block extra_scripts %} {% endblock %}
