{% extends 'base.html' %}

{% block title %}{{ gettext("Origin Protocol") }}{% endblock %}

{% block meta_description %}{{ gettext("The sharing economy without intermediaries. Origin is a protocol for creating sharing economy marketplaces using the Ethereum blockchain and IPFS.") }}{% endblock %}

{% block content %}

{% with theme_dark=True %}
{% include 'navbar.html' %}
{% endwith %}  

<main class="landing-page">
  <div class="video-block screen-size-segment d-flex flex-column justify-content-center align-items-center">
    <div id="landing-video" class="full-screen-video d-none" ></div>
    <div class="background-video">
      <div class="video-holder d-flex flex-column justify-content-end align-items-center">
        <div id="landing-video-background" ></div>
      </div>
    </div>
    <div class="video-overlay"></div>
    <div class="contents d-flex flex-column justify-content-center align-items-center">
      <h1 class="video-title">{{gettext("The blockchain platform for building decentralized marketplaces")}}</h1>
      <button id="index-video-button" class="play-button d-flex justify-content-center align-items-center m-4">
        <img class="ml-2" src="/static/img/landing/play-triangle.svg"/>
      </button>
      <div class="mt-2">{{gettext("Watch the video")}}</div>
      <div class="bottom d-flex justify-content-center mb-5">
        <img src="/static/img/landing/techcrunch.svg"/>
        <img src="/static/img/landing/forbes.svg"/>
        <img src="/static/img/landing/inc.svg"/>
        <img src="/static/img/landing/coindesk.svg"/>
        <img src="/static/img/landing/wsj.svg"/>
      </div>
    </div>
  </div>
  <!-- Countdown section -->
  <div class="countdown-block d-flex flex-column justify-content-center align-items-center">
    <h1 class="clock-title">{{gettext("Token launch date")}}</h1>
    <div class="clock d-flex align-items-center justify-content-center">
      <div class="clock-progress-bar d-flex justify-content-center align-items-center mr-5">
        <img src="/static/img/landing/ogn-icon.svg"/>
      </div>
      <div class="days">
        <div class="number">30</div>
        <div class="subtitle">{{gettext("days")}}</div>
      </div>
      <div class="ml-2 mr-2"> </div>
      <div class="hours">
        <div class="number">23</div>
        <div class="subtitle">{{gettext("hours")}}</div>
      </div>
      <div class="number ml-2 mr-2">:</div>
      <div class="minutes">
        <div class="number">43</div>
        <div class="subtitle">{{gettext("minutes")}}</div>
      </div>
      <div class="number ml-2 mr-2">:</div>
      <div class="seconds">
        <div class="number">12</div>
        <div class="subtitle">{{gettext("seconds")}}</div>
      </div>
    </div>
    <div class="email-form">
      <form id="mailing-list" class="d-flex" method="post" action="/mailing-list/join">
        <input id="email" class="email-input" type="email" name="email" placeholder="{{gettext("Enter yout email")}}">
        <input class="ml-2" type="submit" value="">
      </form>
    </div>
  </div>
  <!-- Buy and Sell on Origin section -->
  <div class="buy-sell-block d-flex flex-column justify-content-between align-items-center">
    <h1>{{gettext("Buy and Sell on Origin")}}</h1>
    <div class="segment-subtitle ml-3 mr-3">{{gettext("The Origin platform will power hundreds of decentralized, peer-to-peer marketplaces. Download our flagship app today.")}}</div>
    <div class="d-flex marketplace">
      <img src="/static/img/landing/origin-marketplace.png">
      <div class="d-flex flex-column">
        <div class="title m-0 mb-3">{{gettext("Origin Marketplace")}}</div>
        <div class="text mb-2">{{gettext("Rent a home, buy concert tickets, or hire a contractor on our flagship app, built on the Origin platform.")}}</div>
        <div class="d-flex mt-4">
          <a class="p-2" href="https://apps.apple.com/us/app/origin-marketplace/id1446091928" target="_blank"><img src="/static/img/landing/app-store-button.svg"></a>
          <a class="p-2" href="https://play.google.com/store/apps/details?id=com.origincatcher" target="_blank"><img src="/static/img/landing/google-play-button.svg"></a>
        </div>
        <div class="mt-4 text align-self-center">{{gettext("Visit us on the web")}}</div>
        <a class="button mt-4" href="https://shoporigin.com" target="_blank">{{gettext("shoporigin.com")}}</a>
      </div>
    </div>
    <div class="opaque mt-3">{{gettext("Available on")}}</div>
    <div class="bottom d-flex justify-content-center mb-4">
      <img src="/static/img/landing/coinbase.svg"/>
      <img src="/static/img/landing/imtoken.svg"/>
      <img src="/static/img/landing/trustwallet.svg"/>
      <img src="/static/img/landing/metamask.svg"/>
    </div>
  </div>
  <!-- The sharing economy section -->
  <div class="sharing-economy d-flex flex-column justify-content-center align-items-center">
    <h1 class="segment-title ml-4 mr-4">{{gettext("The sharing economy is a massive opportunity waiting to be disrupted")}}</h1>
    <div class="segment-subtitle title ml-3 mr-3">{{gettext("Gross bookings are expected to reach $335B by 2025")}}</div>
    <div class="percentages d-flex justify-content-center">
      <div class="d-flex flex-column percentages-holder">
        <div class="percentage">33%</div>
        <div class="subtitle1 mb-auto">{{gettext("Uber’s average take per ride")}}</div>
        <a href="https://www.epi.org/publication/uber-and-the-labor-market-uber-drivers-compensation-wages-and-the-scale-of-uber-and-the-gig-economy/" target="_blank" class="subtitle2">www.epi.org</a>
      </div>
      <div class="d-flex flex-column percentages-holder">
        <div class="percentage">20%</div>
        <div class="subtitle1 mb-auto">{{gettext("Percentage of total value of a booking Airbnb charged guests")}}</div>
        <a href="https://skift.com/2019/05/27/airbnb-eliminates-most-guest-fees-to-take-on-booking-holdings/" target="_blank" class="subtitle2">www.skift.com</a>
      </div>
      <div class="d-flex flex-column percentages-holder">
        <div class="percentage">30%</div>
        <div class="subtitle1 mb-auto">{{gettext("Uber driver churn by quarter")}}</div>
        <a href="https://www.vox.com/2018/2/5/16777536/uber-travis-kalanick-recruit-drivers-tipping" target="_blank" class="subtitle2">www.vox.com</a>
      </div>
      <div class="d-flex flex-column percentages-holder">
        <div class="percentage">80%</div>
        <div class="subtitle1 mb-auto">{{gettext("Airbnb Japan home-share listings removed in 2018")}}</div>
        <a href="https://asia.nikkei.com/Spotlight/Most-read-in-2018/Airbnb-removes-80-of-Japan-home-share-listings" target="_blank" class="subtitle2">asia.nikkei.com</a>
      </div>
    </div>
  </div>
  <!-- Decentralised marketplaces inevitable -->
  <div class="decentralised-marketplaces d-flex flex-column justify-content-center align-items-center">
    <h1 class="segment-title ml-4 mr-4">{{gettext("Decentralized marketplaces are inevitable")}}</h1>
    <div class="segment-subtitle ml-3 mr-3">{{gettext("For the first time in history, the blockchain enables buyers and sellers to securely meet and transact without any middlemen.")}}</div>
    <div class="tiles-holder d-flex justify-content-center">
      <div class="d-flex flex-column tile align-items-center">
        <div class="image-holder d-flex align-items-center justify-content-center">
          <img src="/static/img/landing/fees-graphic.svg"/>
        </div>
        <div class="tile-name">{{gettext("Lower fees")}}</div>
        <div class="tile-text">{{gettext("Buyers and sellers share 20-30%% in savings when middlemen are removed")}}</div>
      </div>
      <div class="d-flex flex-column tile align-items-center">
        <div class="image-holder d-flex align-items-center justify-content-center">
          <img src="/static/img/landing/incentives-graphics.svg"/>
        </div>
        <div class="tile-name">{{gettext("Better incentives")}}</div>
        <div class="tile-text">{{gettext("Everyone can own a stake in the network by contributing to its growth")}}</div>
      </div>
      <div class="d-flex flex-column tile align-items-center">
        <div class="image-holder d-flex align-items-center justify-content-center">
          <img src="/static/img/landing/access-graphic.png"/>
        </div>
        <div class="tile-name">{{gettext("Increased access")}}</div>
        <div class="tile-text">{{gettext("2 billion unbanked people can access new markets globally")}}</div>
      </div>
      <div class="d-flex flex-column tile align-items-center">
        <div class="image-holder d-flex align-items-center justify-content-center">
          <img src="/static/img/landing/resilience-graphic.png"/>
        </div>
        <div class="tile-name">{{gettext("More resilience")}}</div>
        <div class="tile-text">{{gettext("Decentralized marketplaces can’t be banned or shut down")}}</div>
      </div>
    </div>
  </div>
  <!-- World class team -->
  <div class="world-class d-flex flex-column justify-content-center align-items-center">
    <h1 class="segment-title ml-4 mr-4">{{gettext("Origin has a world-class team")}}</h1>
    <div class="segment-subtitle ml-3 mr-3">{{gettext("Our team is led by serial entrepreneurs, a founder of PayPal, early employees at YouTube, and engineering managers at Google and Dropbox.")}}</div>
    <div class="d-flex logos-holder mt-4 justify-content-center align-items-center">
        <img src="/static/img/landing/paypal-logo.svg"/>
        <img src="/static/img/landing/youtube-logo.svg"/>
        <img src="/static/img/landing/google-logo.svg"/>
        <img src="/static/img/landing/dropbox-logo.svg"/>
    </div>
    <a class="white-button-blue-border mt-4" href="/team">{{gettext("Learn more about our team")}}</a>
    <img class="mt-5 mb-5 pb-3" src="/static/img/landing/team-photo.jpg"/>
  </div>
  <!-- Backed by venture capital firms -->
  <div class="vc-backed screen-size-segment d-flex flex-column justify-content-between align-items-center">
    <div class="contents d-flex flex-column justify-content-center align-items-center">
      <h1 class="video-title mt-5 pt-4">{{gettext("We are backed by top venture capital firms and investors in Silicon Valley and around the world")}}</h1>
      <button id="investor-video-button" class="mt-auto play-button d-flex justify-content-center align-items-center m-4">
        <img class="ml-2" src="/static/img/landing/play-triangle.svg"/>
      </button>
      <div class="watch mt-2 mb-auto">{{gettext("Watch the video")}}</div>
      <div class="bottom d-flex justify-content-center mb-5">
        <img src="/static/img/landing/pantera.svg"/>
        <img src="/static/img/landing/foundation-capital.svg"/>
        <img src="/static/img/landing/preangel.svg"/>
        <img src="/static/img/landing/hashed.svg"/>
      </div>
      <a class="button mt-4 mb-4" href="/investors">{{gettext("Learn more about our investors")}}</a>
    </div>
  </div>
  <!-- Featured partner -->
  <div class="featured-partner d-flex flex-column justify-content-center align-items-center">
    <h1 class="segment-title ml-4 mr-4">{{gettext("Featured Partner")}}</h1>
    <div class="segment-subtitle ml-3 mr-3">{{gettext("Trips Community is building a homesharing DApp in Italy with 3,000 hosts")}}</div>
    <div class="box d-flex">
      <div class="col-6 text d-flex flex-column">
        <div>{{gettext("“The short-term rentals space is exploding and needs more innovation and competition. A neutral and open platform will empower renters, hosts, and channel partners. We are excited to partner with Origin to create this new wave of innovation in homesharing.”")}}</div>
        <div class="fname mt-auto">{{gettext("Luca De Giglio")}}</div>
        <div class="position">{{gettext("Founder, Trips Community")}}</div>
      </div>
      <img class="col-6 p-0" src="/static/img/landing/luca-photo.jpg"/>
    </div>
  </div>
  <!-- Featured video -->
  <div class="featured-video d-flex flex-column justify-content-center align-items-center">
    <h1 class="segment-title ml-4 mr-4">{{gettext("Featured Videos")}}</h1>
    <div class="tiles-holder d-flex justify-content-center">
      <div class="d-flex flex-column tile align-items-center">
        <div class="tile-title">{{gettext("Fortune Magazine, Balancing The Ledger: Origins Mission to Decentralize Marketplaces")}}</div>
        <div class="tile-text mb-auto">{{gettext("Fortune covers our goal to create a truly decentralized sharing...")}}</div>
        <a class="align-self-start" href="/#">{{gettext("Watch now")}}</a>
      </div>
      <div class="d-flex flex-column tile align-items-center">
        <div class="tile-title">{{gettext("The first Origin Tech Workshop in Venezuela")}}</div>
        <div class="tile-text mb-auto">{{gettext("We teamed up with the Aktio team to host the first Origin Protocol tech workshop in Caracas.")}}</div>
        <a class="align-self-start" href="/#">{{gettext("Watch now")}}</a>
      </div>
      <div class="d-flex flex-column tile align-items-center">
        <div class="tile-title">{{gettext("K.E.Y. Conference - Micah Alcorn")}}</div>
        <div class="tile-text mb-auto">{{gettext("Lorem ipsum dolor sit amet consectetuer adsplicing nonummy pellentesque curabitur lorem ipsum dolor sit...")}}</div>
        <a class="align-self-start" href="/#">{{gettext("Watch now")}}</a>
      </div>
    </div>
    <a class="white-button-blue-border" href="/videos">{{gettext("Watch more videos")}}</a>
  </div>
  <!-- Recent news -->
  <div class="recent-news d-flex flex-column justify-content-center align-items-center">
    <h1 class="segment-title ml-4 mr-4">{{gettext("Recent News")}}</h1>
    <div class="tiles-holder d-flex justify-content-center">
      <div class="d-flex flex-column tile align-items-center">
        <img src="/static/img/landing/medium-header-1.jpg"/>
        <div class="tile-title">{{gettext("Announcing Origin’s Upcoming China Tour")}}</div>
        <div class="tile-text mb-auto">{{gettext("Recently, we ran an Origin Rewards campaign that showcased our sellers from Greater China and Korea to show them our appreciation. From the...")}}</div>
        <a class="align-self-start" href="/#">{{gettext("Read")}}</a>
      </div>
      <div class="d-flex flex-column tile align-items-center">
        <img src="/static/img/landing/medium-header-2.jpg"/>
        <div class="tile-title">{{gettext("Bridging the Decentralized and Centralized Worlds")}}</div>
        <div class="tile-text mb-auto">{{gettext("At Origin, we are building a platform to enable many peer-to-peer marketplaces. Our long-term goal is to have a fully decentralized...")}}</div>
        <a class="align-self-start" href="/#">{{gettext("Read")}}</a>
      </div>
      <div class="d-flex flex-column tile align-items-center">
        <img src="/static/img/landing/medium-header-3.jpg"/>
        <div class="tile-title">{{gettext("Follow and Share on Social Media to Earn Origin Tokens")}}</div>
        <div class="tile-text mb-auto">{{gettext("To reward our early users who help us grow & bootstrap our network, we came up with Origin Rewards early this year. As Origin continues to...")}}</div>
        <a class="align-self-start" href="/#">{{gettext("Read")}}</a>
      </div>
    </div>
    <a class="white-button-blue-border" href="https://medium.com/originprotocol">{{gettext("Read more on Medium")}}</a>
  </div>

  {% include 'footer.html' %}
</main>

{% endblock %}