{% extends 'base.html' %}

{% block title %}{{ gettext("Origin Protocol") }}{% endblock %}

{% block meta_description %}{{ gettext("Origin Protocol is bringing NFTs and DeFi to the masses.") }}{% endblock %}

{% block content %}

{% with theme_dark=True %}
{% include 'navbar.html' %}
{% endwith %}

<main class="landing-page">
  <div class="video-block screen-size-segment d-flex flex-column justify-content-center align-items-center">
    <div id="landing-video" class="full-screen-video d-none"></div>
    <div id="exit-fullscreen-button" class="d-none">{{gettext("Exit full screen")}}</div>
    <div class="background-video">
      <div class="video-holder d-flex flex-column justify-content-end align-items-center">
        <div id="landing-video-background" ></div>
      </div>
    </div>
    <div class="video-overlay"></div>
    <div id="landing-video-poster" class="video-overlay-poster"></div>
    <div class="video-overlay-gradient"></div>
    <div class="contents d-flex flex-column justify-content-center align-items-center">
      <h1 class="video-title">{{gettext("Bringing NFTs and DeFi<br>to the masses")}}</h1>
      <button id="index-video-button" class="play-button d-flex justify-content-center align-items-center m-4">
        <img class="ml-2" src="/static/img/landing/play-triangle.svg"/>
      </button>
      <div class="mt-2">{{gettext("Watch the video")}}</div>
      <div class="bottom clickable d-flex justify-content-center mb-4 flex-wrap">
        <a href="https://techcrunch.com/2018/10/10/origin-protocol/" target="_blank" rel="noopener noreferrer"><img src="/static/img/landing/techcrunch.svg"/></a>
        <a href="https://www.forbes.com/sites/leslieankney/2019/01/21/why-these-innovators-left-facebook-google-and-more-for-crypto/#7f2871a15a06" target="_blank" rel="noopener noreferrer"><img src="/static/img/landing/forbes.svg"/></a>
        <a href="https://www.inc.com/joel-comm/why-best-blockchain-is-an-invisible-blockchain.html" target="_blank" rel="noopener noreferrer"><img src="/static/img/landing/inc.svg"/></a>
        <a href="https://www.coindesk.com/pantera-invests-3-million-sharing-economy-token-origin/" target="_blank" rel="noopener noreferrer"><img src="/static/img/landing/coindesk.svg"/></a>
        <a href="https://www.wsj.com/articles/origin-protocol-nabs-28-million-for-peer-to-peer-blockchain-platform-1524700028" target="_blank" rel="noopener noreferrer"><img src="/static/img/landing/wsj.svg"/></a>
      </div>
    </div>
  </div>
  <!-- Countdown section -->
  <div class="countdown-block-TEMPHIDE d-flex flex-column justify-content-between align-items-center" style='background-color:white'>
  <h1 class="clock-title">{{gettext("Never miss a drop. Sign up now!")}}</h1>


    <div class="segment-subtitle ml-3 mr-3">{{gettext("Be the first to hear when we announce big NFT drops, important partnerships, and new products. Your email will be kept private.")}}</div>
    <div class="email-form">
      <form id="mailing-list" class="d-flex" method="post" action="/mailing-list/join">
        <input id="email" class="email-input" type="email" name="email" placeholder="{{gettext("Email")}}">
        <input class="ml-2" type="submit" value="">
      </form>
    </div>
  </div>

  <!-- Put drops here-->
  {% with 
    drops=allDrops
  %} 
  {% include 'components/drops.html' %} 
  {% endwith %} 

  <!-- Buy and Sell on Origin section -->
  <!-- origin-marketplace-0.23.16.apk -->
  <div class="buy-sell-block d-flex flex-column justify-content-between align-items-center px-3 px-md-0">
    <h1>{{gettext("Where top creators launch their NFTs")}}</h1>
    <div class="segment-subtitle mx-3">{{gettext("Origin has hosted record-breaking NFT sales for top musicans, celebrities and creators. Sell NFTs on your own website, not someone else's marketplace.")}}</div>
    <a class="mb-5 mt-5 btn btn-dark d-flex justify-content-center align-items-center" href="https://share.hsforms.com/1y9oMr3DSRg-QSnfPoaYY0Qbye5b">
      {{gettext("Interested in running an NFT sale?")}}</a>

      <div class="container mb-6 nft-pitch">
        <div class="row">
          <div class="col-sm text-center p-4 custom-domain">
            <div class="img-wrapper">
              <img src="/static/img/landing/nft-1.png" srcset="/static/img/landing/nft-1@2x.png 2x, /static/img/landing/nft-1@3x.png 3x">
            </div>
            <p>You control the experience. Host your NFT sale on your own domain and start growing your community.</p>
          </div>
          <div class="col-sm text-center p-4 more-sales inline-table">
            <div class="img-wrapper">
              <img src="/static/img/landing/nft-2.png" srcset="/static/img/landing/nft-2@2x.png 2x, /static/img/landing/nft-2@3x.png 3x">
            </div>
            <p>Run a more profitable sale with time-limited open-editions or a unique leaderboard auction.</p>
          </div>
          <div class="col-sm text-center p-4 join-ogn">
            <div class="img-wrapper">
              <img src="/static/img/landing/nft-3.png" srcset="/static/img/landing/nft-3@2x.png 2x, /static/img/landing/nft-3@3x.png 3x">
            </div>
            <p>Participate in the network with OGN. Available on top exchanges like Coinbase and Binance.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="buy-sell-block ousd-pitch d-flex flex-column justify-content-between align-items-center px-3 px-md-0">
    <div class="container text-center">
      <h1 class="pt-3">Origin Dollar is the first stablecoin that earns yield while sitting in your wallet</h1>
      <p class="d-none d-sm-block">Get access to exciting DeFi returns, with none of the hassles.</p>
      <a class="mb-5 mt-5 btn justify-content-center align-items-center" href="https://www.ousd.com">
        {{gettext("Learn more about OUSD")}}</a>
      <p class="d-none d-sm-block">Currently earning</p>
      <h2>{{ousd_apy}}% APY</h2>


    </div>
  </div>
  <!-- Decentralised marketplaces inevitable -->
  <!-- <div class="decentralised-marketplaces d-flex flex-column justify-content-center align-items-center">
    <h1 class="segment-title ml-4 mr-4">{{gettext("Blockchain-powered commerce is the future")}}</h1>
    <div class="segment-subtitle ml-3 mr-3">{{gettext("Blockchain will redefine online commerce and allow both buyers and sellers to benefit from lower costs and improved infrastructure")}}</div>
    <div class="tiles-holder d-flex justify-content-center flex-wrap">
      <div class="d-flex flex-column tile align-items-center mb-5 mb-md-0">
        <div class="image-holder d-flex align-items-center justify-content-center">
          <img class="mw-200" src="/static/img/landing/lower-fees@2x.jpg"/>
        </div>
        <div class="tile-name">{{gettext("Lower fees")}}</div>
        <div class="tile-text">{{gettext("Buyers and sellers share 20-30%% in savings when middlemen are removed")}}</div>
      </div>
      <div class="d-flex flex-column tile align-items-center mb-5 mb-md-0">
        <div class="image-holder d-flex align-items-center justify-content-center">
          <img class="mw-200" src="/static/img/landing/better-incentives@2x.jpg"/>
        </div>
        <div class="tile-name">{{gettext("Better incentives")}}</div>
        <div class="tile-text">{{gettext("Everyone can own a stake in the network by contributing to its growth")}}</div>
      </div>
      <div class="d-flex flex-column tile align-items-center mb-5 mb-md-0">
        <div class="image-holder d-flex align-items-center justify-content-center">
          <img class="mw-200" src="/static/img/landing/increased-access@2x.jpg"/>
        </div>
        <div class="tile-name">{{gettext("Increased access")}}</div>
        <div class="tile-text">{{gettext("2 billion unbanked people can access new markets globally")}}</div>
      </div>
      <div class="d-flex flex-column tile align-items-center mb-5 mb-md-0">
        <div class="image-holder d-flex align-items-center justify-content-center">
          <img class="mw-200" src="/static/img/landing/more-resilience@2x.jpg"/>
        </div>
        <div class="tile-name">{{gettext("More resilience")}}</div>
        <div class="tile-text">{{gettext("Blockchain-powered commerce can't be banned or shut down")}}</div>
      </div>
    </div>
  </div> -->
  <!-- World class team -->
  <div class="world-class d-flex flex-column justify-content-center align-items-center">
    <h1 class="segment-title ml-4 mr-4">{{gettext("Origin has a world-class team")}}</h1>
    <div class="segment-subtitle ml-3 mr-3">{{gettext("Our team is led by serial entrepreneurs, a founder of PayPal, early employees at YouTube, and engineering managers at Google and Dropbox.")}}</div>
    <div class="d-flex logos-holder mt-4 justify-content-center align-items-center flex-wrap">
        <img src="/static/img/landing/paypal-logo.svg"/>
        <img src="/static/img/landing/youtube-logo.svg"/>
        <img src="/static/img/landing/google-logo.svg"/>
        <img src="/static/img/landing/dropbox-logo.svg"/>
    </div>
    <a class="white-button-blue-border mt-4" href="/team">{{gettext("Learn more about our team")}}</a>
    <div class="mw-940 d-flex justify-content-center">
      <img class="mt-5 mb-5 pb-3 team_img align-self-center" src="/static/img/landing/team-photo@3x.jpg"/>
    </div>
  </div>

  <!-- Backed by venture capital firms -->
  <div class="video-block vc-backed screen-size-segment d-flex flex-column justify-content-between align-items-center">
    <div id="landing-video2" class="full-screen-video d-none" ></div>
    <div class="background-video">
      <div class="video-holder d-flex flex-column justify-content-end align-items-center">
        <div id="landing-video-background2" ></div>
      </div>
    </div>
    <div class="video-overlay blue"></div>
    <div id="landing-video-poster2" class="video-overlay-poster"></div>
    <div class="contents d-flex flex-column justify-content-between align-items-center">
      <h1 class="video-title small mt-5 pt-4">{{gettext("We are backed by top venture capital firms and investors in Silicon Valley and around the world")}}</h1>
      <button id="landing-video-button2" class="play-button d-flex justify-content-center align-items-center m-4">
        <img class="ml-2" src="/static/img/landing/play-triangle.svg"/>
      </button>
      <div class="watch mt-2 mb-auto">{{gettext("Watch the video")}}</div>
      <div class="bottom d-flex justify-content-center flex-wrap">
        <img src="/static/img/landing/pantera.svg"/>
        <img src="/static/img/landing/foundation-capital.svg"/>
        <img src="/static/img/landing/preangel.svg"/>
        <img src="/static/img/landing/hashed.svg"/>
      </div>
      <a class="button mb-md-6 mb-5" href="/investors">{{gettext("Learn more about our investors")}}</a>
    </div>
  </div>
  <!-- Featured partner -->
  <div class="featured-partner d-flex flex-column justify-content-center align-items-center">
    <h1 class="segment-title ml-4 mr-4">{{gettext("Featured Partners")}}</h1>
    <div class="container mb-5">
      <div class="partners row">

        <div class="col-12 col-md-4 col-sm-6 text-center">
          <a target="_blank" rel="noopener noreferrer" href="https://aws.amazon.com/blogs/awsmarketplace/launch-a-blockchain-powered-ecommerce-store-with-dshop-in-aws-marketplace/">
            <img src="/static/img/landing/partner-amazon.png" />
          </a>
        </div>
        <div class="col-12 col-md-4 col-sm-6 text-center">
          <a target="_blank" rel="noopener noreferrer" href="https://btcmanager.com/samsung-blockchain-wallet-origin-marketplace-app/">
            <img src="/static/img/landing/partner-samsung.png" />
          </a>
        </div>
        <div class="col-12 col-md-4 col-sm-6 text-center">
          <a target="_blank" rel="noopener noreferrer" href="https://coinmarketcap.com/headlines/news/origin-protocol-and-google-cloud/">
            <img src="/static/img/landing/partner-google.png" />
          </a>
        </div>
        <div class="col-12 col-md-4 col-sm-6 text-center">
          <a target="_blank" rel="noopener noreferrer" href="https://brave.com/brave-launches-new-swag-store-powered-by-origin/">
            <img src="/static/img/landing/partner-brave.png" />
          </a>
        </div>
        <div class="col-12 col-md-4 col-sm-6 text-center">
          <a target="_blank" rel="noopener noreferrer" href="https://www.binance.com/en/support/articles/360038151092">
            <img src="/static/img/landing/partner-binance.png" />
          </a>
        </div>
        <div class="col-12 col-md-4 col-sm-6 text-center">
          <a target="_blank" rel="noopener noreferrer" href="https://medium.com/originprotocol/how-origin-uses-chainlink-oracles-to-secure-ousd-bff5601e840e">
            <img src="/static/img/landing/partner-chainlink.png" />
          </a>
        </div>

      </div>
    </div>
  </div>
  <!-- Featured video -->
  <div class="featured-video d-flex flex-column justify-content-center align-items-center">
    <h1 class="segment-title ml-4 mr-4">{{gettext("Featured Videos")}}</h1>
    <div class="tiles-holder d-flex justify-content-center flex-wrap">
      {% for video in featured_videos %}
        <div class="col-12 col-md-4 video-item" data-category="{{video.category}}">
          <a class="image-video-link" href="{{ url_for('video', lang_code=CURRENT_LANGUAGE, video_slug=video.slug) }}">
            <img src="{{ "/static/img/videos/%s.jpg" % (video.hash)}}" />
            <div class="overlay hide hover-show justify-content-center align-items-center">
              <img class="play" src="/static/img/landing/play-triangle.svg" />
            </div>
            <div class="overlay d-flex justify-content-end align-items-end">
              <div class="duration mb-2 mr-2">{{video.duration}}</div>
            </div>
          </a>
          <a href="{{ "/video/%s" % (video.slug)}}" class="title">
            {{ gettext(video.title) }}
          </a>
        </div>
      {% endfor %}
    </div>
    <a class="white-button-blue-border" href="/videos">{{gettext("Watch more videos")}}</a>
  </div>
  {% include 'footer.html' %}
</main>

{% endblock %}