{% extends 'base.html' %}

{% block title %}{{ gettext("Origin Protocol - Litepaper") }}{% endblock %}

{% block meta_description %}{{ gettext("Origin Protocol - Litepaper") }}{% endblock %}

{% block content %}

{% with theme_dark=True %}
{% include 'navbar.html' %}
{% endwith %}

<main class="whitepaper-page">
  <section class="whitepaper-hero dark-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 d-flex align-items-center">
          <h1 class="title big">
            <span>{{gettext("Origin Protocol")}}</span>
            {{gettext("Bringing peer-to-peer commerce and decentralized finance to the masses")}}
          </h1>
        </div>
      </div>
    </div>
  </section>

  <section class="whitepaper-container">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          {% include 'litepaper/sidebar.html' %}
        </div>
        <div class="col-md-9">
          <div class="whitepaper-content" id="whitepaperContent">
            {% include 'litepaper/exec-summary.html' %}
            {% include 'litepaper/intro.html' %}
            {% include 'litepaper/platform.html' %}
            {% include 'litepaper/team.html' %}
            {% include 'litepaper/conclusion.html' %}
          </div>
        </div>
      </div>
    </div>
  </section>

{% include 'footer.html' %}
</main>
{% endblock %}
{% block extra_scripts %}
{% endblock %}