{% extends 'base.html' %}

{% block title %}{{ gettext("Origin Protocol - Mobile") }}{% endblock %}
{% block meta_description %}{{ gettext("Origin Protocol - Mobile") }}{% endblock %}
{% block content %}

  <main class="landing-page">
    {% include 'navbar.html' %}
    <section class="header-section {{ 'mobile' if 'mobile' in request.path }}">
    <div class="container foreground-content">
      <div class="row">
        <div class="col-12 col-md-6">
          <p>
            <div class="general-panel">
              Look for our mobile app in the google play store. Coming soon...
            </div>
            {% if link_code %}
              <div class="ios-panel">
                {% if role == 'seller' %}
                  <p class="message">
                    Get the <span class="wallet">Origin Wallet</span> to start selling on Origin.
                  </p>
                  <button role="button" class="btn btn-primary btn-min-size copy-get-app">Download Origin Wallet</button>
                  <div class="image-container">
                    <img src="/static/img/eth-pile.svg" alt="ethereum coins" />
                  </div>
                {% elif role == 'buyer' %}
                  <p class="message">
                    Get the <span class="wallet">Origin Wallet</span> to complete your transaction.
                  </p>
                  <button role="button" class="btn btn-primary btn-min-size copy-get-app">Download Origin Wallet</button>
                  <div class="image-container">
                    <img src="/static/img/buyer-graphic-generic.svg" alt="ethereum coins" />
                  </div>
                  {% else %}
                    <p class="message">
                      Get the <span class="wallet">Origin Wallet</span> to buy or sell on Origin.
                    </p>
                    <button role="button" class="btn btn-primary btn-min-size copy-get-app">Download Origin Wallet</button>
                  {% endif %}
                </div>
              </div>
              {% else %}
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </section>
    {% include 'footer.html' %}
  </main>
{% endblock %}
{% block extra_scripts %}
<script src="/static/js/clipboard-polyfill.js"></script>
<script>
$(function() {
  var iOS = !!navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform);
  if (iOS)
  {
    {% if link_code %}
    $(".general-panel").hide();
    $(".ios-panel").show();
    $(".copy-get-app").click(function() {
      clipboard.writeText("orgw:{{link_code}}").then(function(){
        window.open("https://itunes.apple.com/us/app/apple-store")
      },function(err){
        console.log("copy failed");
      });
    });
    {% else %}
      window.location = "https://itunes.apple.com/us/app/apple-store";
    {% endif %}
  }
  else
  {
    $(".ios-panel").hide();
  }
});
</script>
{% endblock %}
{% block extra_styles %}
<style>
.ios-panel {display:none}
</style>
{% endblock %}
