{% extends 'base.html' %}

{% block title %}{{ gettext("Origin Protocol - Mobile") }}{% endblock %}

{% block meta_description %}{{ gettext("Origin Protocol - Mobile") }}{% endblock %}

{% block content %}

<main class="presale-page">
  {% include 'navbar.html' %}
  <section class="header-section">
    <div class="container foreground-content">
      <div class="col-12">
        <center>
          {% if role == 'seller' %}
            <h2>Get the <strong>Origin Wallet</strong> to start selling on Origin</h2>
          {% elif role == 'buyer' %}
            <h2>Get the <strong>Origin Wallet</strong> to complete your purchase</h2>
          {% else %}
            <h2>Get the <strong>Origin Wallet</strong> to buy or sell on Origin</h2>
          {% endif %}

          <br><br>

          {% if link_code %}
            <button role="button" class="btn btn-primary btn-min-size copy-get-app">Download</button>
          {% else %}
            <a href="{{universal.IOS_URL}}"><button role="button" class="btn btn-primary btn-min-size">iOS</button></a>
            <a href="{{universal.ANDROID_URL}}"><button role="button" class="btn btn-primary btn-min-size">Andoid</button></a>
          {% endif %} 

          <br><br><br>

          {% if role == 'buyer' %}
            <img class="img-fluid" src="/static/img/eth-pile.svg" alt="ethereum coins" />
          {% else %}
            <img class="img-fluid" src="/static/img/buyer-graphic-generic.svg" alt="ethereum coins" />
          {% endif %}
          
        </center>
        <br><br><br><br>
      </div>
    </div>
  </section>

  {% include 'footer.html' %}
</main>
{% endblock %}
{% block extra_scripts %}

<script src="/static/js/clipboard-polyfill.js"></script>
<script type='text/javascript'>
  $(function() {
    var iOS = !!navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform);
    var android = navigator.userAgent.toLowerCase().indexOf("android") > -1;

    {% if link_code %}

      $(".copy-get-app").click(function() {
        clipboard.writeText("orgw:{{ link_code }}").then(function() {
          if (iOS) {
            window.open("{{ universal.IOS_URL }}")
          } else {
            window.open("{{ universal.ANDROID_URL }}")
          }
        }, function(err) {
          console.log("Copy failed.");
        });
      });

    {% else %}

      if (iOS) {
        window.location = "{{ universal.IOS_URL }}"
      } else if (android) {
        window.location = "{{ universal.ANDROID_URL }}"
      }

    {% endif %}
  });
</script>


{% endblock %}