{% extends 'base.html' %}
<!-- temporarily hide warning -->
{#% include 'warning.html' %#}

{% block title %}{{ gettext("Origin Protocol - Mobile") }}{% endblock %}
{% block meta_description %}{{ gettext("Origin Protocol - Mobile") }}{% endblock %}
{% block content %}
  <main class="landing-page">
    {% include 'navbar.html' %}
    <section class="header-section">
    <div class="container foreground-content">
      <div class="row">
        <div class="col-12 col-md-6">
          <p>
          <div class="general-panel">
          Look for our mobile apps in the apple app and google play store. Coming soon...
          </div>
          {% if link_code %}
            <div class="ios-panel">
            Looks like you are attempting to process an origin transaction on the origin app
            <button role="button" class="btn btn-primary btn-min-size copy-get-app">Copy code &amp; Get our app from the app store</button>
            </div>
          {% else %}
          {% endif %}
          </p>
        </div>
      </div>
    </div>
    </section>
{% include 'footer.html' %}
</main>
{% endblock %}
{% block extra_scripts %}
<script src="/static/js/clipboard-polyfill.js"></script>
<script>
$(function() {
  var iOS = !!navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform);
  if (iOS)
  {
    {% if link_code %}
    $(".general-panel").hide();
    $(".ios-panel").show();
    $(".copy-get-app").click(function() {
      clipboard.writeText("orgw:{{link_code}}").then(function(){
        window.open("https://itunes.apple.com/us/app/apple-store")
      },function(err){
        console.log("copy failed");
      });
    });
    {% else %}
      window.location = "https://itunes.apple.com/us/app/apple-store";
    {% endif %}
  }
  else
  {
    $(".ios-panel").hide();
  }
});
</script>
{% endblock %}
{% block extra_styles %}
<style>
.ios-panel {display:none}
</style>
{% endblock %}
