<nav class="navbar navbar-expand-md navbar-origin navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <div class="logo-container">
        <img src="static/img/origin-logo.png"
          srcset="static/img/origin-logo@2x.png 2x,
            static/img/origin-logo@3x.png 3x"
          class="origin-logo">
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/product-brief">Product Brief</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/whitepaper">Whitepaper</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://medium.com/originprotocol">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/OriginProtocol/demo-dapp" target="_blank">Demo</a>
        </li>
      </ul>
    </div>
  </div>
</nav>