<nav class="navbar navbar-expand-md navbar-origin navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="{{'/%s'% CURRENT_LANGUAGE}}">
      <div class="logo-container">
        <img src="/static/img/origin-logo.png"
          srcset="/static/img/origin-logo@2x.png 2x,
            /static/img/origin-logo@3x.png 3x"
          class="origin-logo">
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{'/%s/presale'% CURRENT_LANGUAGE}}">{{gettext("Presale")}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product-brief">{{gettext("Product Brief")}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{'/%s/team'% CURRENT_LANGUAGE}}">{{gettext("Team")}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://medium.com/originprotocol">{{gettext("Blog")}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://medium.com/originprotocol/origin-demo-dapp-is-now-live-on-testnet-835ae201c58" target="_blank">{{gettext("Demo")}}</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ AVAILABLE_LANGUAGES[CURRENT_LANGUAGE] }}</a>
          <div class="dropdown-menu language">
          {% for language in AVAILABLE_LANGUAGES.items() %}
              {% if CURRENT_LANGUAGE == language[0] %}
                <div class="dropdown-item-selected">{{ language[1] }}</div>
              {% else %}
                <a class="dropdown-item" href="/{{language[0]}}" >{{ language[1] }}</a>
              {%  endif %}
          {% endfor %}
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
