<div class="nft-banner">
  <div class="container">
    <div class="banner-logo banner-logo-{{ CURRENT_LANGUAGE }}"></div>
    <div class="row banner-content-row align-items-center justify-content-end">
      <div class="col-lg-7 col-md-6 banner-content">
        <h1>{{gettext("Interested in running an NFT sale?")}}</h1>
      </div>
      <div class="col-md-3 banner-button">
        <a class="btn btn-lg btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSf1ArOFye1PWZshoQI5a3TJWIYShC89G6-R8mPgAt92dSiJ9w/viewform" target="_blank" rel="noopener noreferrer">{{gettext("Yes, please!")}}</a>
      </div>
    </div>
  </div>
</div>