{% extends 'base.html' %} {% block title %}{{ gettext("Origin Protocol - OGN
Token") }}{% endblock %} {% block meta_description %}{{ gettext("Origin Tokens
(OGN) ensure the health and growth of the Origin network.") }}{% endblock %} {%
block content %} {% with theme_dark=False %} {% include 'navbar.html' %} {%
endwith %}

<main class="tokens-page">
  <section class="exchanges-section my-0 my-md-5 py-3">
    <div class="container">
      <h2>{{gettext("OGN is Now Trading")}}</h2>
      <div class="d-flex flex-column flex-md-row justify-content-center mb-3">
        <div class="statistic d-flex flex-column purple">
          <div class="d-flex flex-row">
            <img src="/static/img/ognToken/price-icon.svg"/>
            <div>{{gettext("Last Price")}}</div>
          </div>
          <div class="text">{{ogn_stats["formatted_ogn_usd_price"]}}</div>
        </div>
        <div class="statistic d-flex flex-column green">
          <div class="d-flex flex-row">
            <img src="/static/img/ognToken/circulating-supply-icon.svg"/>
            <div>{{gettext("Circulating Supply")}}</div>
          </div>
          <div class="text">{{ogn_stats["formatted_circulating_supply"]}}</div>
        </div>
        <div class="statistic d-flex flex-column blue">
          <div class="d-flex flex-row">
            <img src="/static/img/ognToken/market-cap-icon.svg"/>
            <div>{{gettext("Market Cap")}}</div>
          </div>
          <div class="text">{{ogn_stats["formatted_market_cap"]}}</div>
        </div>
      </div>
      <div class="subtitle2">{{gettext("Last updated on ")}}{{ogn_stats["created_at_formatted"]}}</div>
      <div class="subtitle">{{gettext("Available on")}}</div>
      <div class="d-flex flex-column flex-md-row justify-content-center align-items-center exchange-holder">
        <div class="token-exchange feat">
          <a target="_blank" rel="noopener noreferrer"
            href="https://www.binance.com/{{binance_lang_code}}/register?ref=38914658">
            <img src="/static/img/ognToken/binance.svg" />
          </a>
        </div>
        <div class="token-exchange feat huobi">
          <a target="_blank" rel="noopener noreferrer" href="https://www.huobi.com/en-us/exchange/ogn_usdt/">
            <img src="/static/img/ognToken/huobi.png" />
          </a>
        </div>
        <div class="token-exchange feat upbit">
          <a target="_blank" rel="noopener noreferrer" href="https://upbit.com/exchange?code=CRIX.UPBIT.BTC-OGN">
            <img src="/static/img/ognToken/upbit.png" />
          </a>
        </div>
      </div>
      <div class="subtitle2">{{gettext("…and many others")}}</div>
      <!--<div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
        <div class="token-exchange feat">
          <a target="_blank" rel="noopener noreferrer" href="https://crypto.com/">
            <img src="/static/img/ognToken/cryptocom-logo.svg" />
          </a>
        </div>
        <div class="token-exchange feat">
          <a target="_blank" rel="noopener noreferrer" href="https://global.bittrex.com/">
            <img src="/static/img/ognToken/bittrex-logo.svg" />
          </a>
        </div>
        <div class="token-exchange feat">
          <a target="_blank" rel="noopener noreferrer" href="https://coinone.co.kr/">
            <img src="/static/img/ognToken/coinone.svg" />
          </a>
        </div>
      </div>

      <div class="d-flex flex-column flex-md-row justify-content-center align-items-center mt-4">
        <div class="token-exchange">
          <a target="_blank" rel="noopener noreferrer" href="https://www.mxc.com/trade/pro#OGN_USDT">
            <img src="/static/img/ognToken/mxc.svg" />
          </a>
        </div>
        <div class="token-exchange">
          <a target="_blank" rel="noopener noreferrer"
            href="https://uniswap.exchange/swap?outputCurrency=0x8207c1FfC5B6804F6024322CcF34F29c3541Ae26">
            <img src="/static/img/ognToken/uniswap.png" />
          </a>
        </div>
        <div class="token-exchange">
          <a target="_blank" rel="noopener noreferrer" href="https://kyberswap.com/swap/eth-ogn">
            <img src="/static/img/ognToken/kyber.svg" />
          </a>
        </div>
        <div class="token-exchange">
          <a target="_blank" rel="noopener noreferrer" href="#">
            <img src="/static/img/ognToken/gopax.svg" />
          </a>
        </div>
        <div class="token-exchange">
          <a target="_blank" rel="noopener noreferrer" href="https://www.hotbit.io/exchange?symbol=OGN_USDT">
            <img src="/static/img/ognToken/hotbit.svg" />
          </a>
        </div>
        <div class="token-exchange">
          <a target="_blank" rel="noopener noreferrer" href="https://www.biki.com/trade/OGN_USDT">
            <img src="/static/img/ognToken/biki.svg" />
          </a>
        </div>
        <div class="token-exchange">
          <a target="_blank" rel="noopener noreferrer" href="https://tokocrypto.com/id/dashboard/OGNIDR">
            <img src="/static/img/ognToken/tokocrypto.svg" />
          </a>
        </div>
      </div>-->
      <div class="d-flex flex-md-row flex-column justify-content-center button-holder">
        <div class='text-center'>
          <a class='dark-button'
            href="/dashboard">{{gettext("View the OGN Dashboard")}}</a>
        </div>
        <div class='text-center'>
          <a target="_blank" rel="noopener noreferrer" class='dark-button'
            href="https://coinmarketcap.com/currencies/origin-protocol/markets/">{{gettext("Visit CoinMarketCap")}}</a>
        </div>
      </div>


    </div>
  </section>

  <section class="payments-section">
    <div class="container">
      <div class="app-showcase d-flex justify-content-center">
        <div class="showcase-content">
          <h1 class="mb-3">{{gettext("Commissions")}}</h1>
          <p>
            {{gettext("Promote your listings across the Origin flagship app and
            third-party apps with Origin Commissions. Pay with OGN to get
            featured prominently in search results. Application developers and
            marketplace operators earn Origin Tokens (OGN) by helping sellers
            complete their sales.")}}
          </p>
        </div>
        <div class="showcase-image">
          <img src="/static/img/ognToken/commissions.png" srcset="
              /static/img/ognToken/commissions@2x.png 2x,
              /static/img/ognToken/commissions@3x.png 3x
            " />
        </div>
      </div>
    </div>
  </section>
  <section class="commissions-section grey-section">
    <div class="container">
      <div class="app-showcase image-first d-flex justify-content-center">
        <div class="showcase-image">
          <img src="/static/img/ognToken/payments.png" srcset="
              /static/img/ognToken/payments@2x.png 2x,
              /static/img/ognToken/payments@3x.png 3x
            " />
        </div>
        <div class="showcase-content">
          <h1 class="mb-3">{{gettext("Payments")}}</h1>
          <p>
            {{gettext("Use the Origin Tokens (OGN) that you've earned in Origin
            Rewards to pay for goods and services. Sellers earn larger stakes in
            the network by accepting OGN as a preferred payment method.")}}
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="rewards-section">
    <div class="container">
      <div class="app-showcase d-flex justify-content-center">
        <div class="showcase-content higher">
          <h1 class="mb-3">{{gettext("Origin Rewards")}}</h1>
          <p>
            {{gettext("Earn your stake in the Origin network today. Users can
            earn Origin Tokens (OGN) by verifying their profiles, referring
            friends and family to Origin, sharing news about Origin on social
            media, and making purchases from our featured sellers.")}}
            <span class="unavailable-text">
              {{gettext("Not available in the United States")}}
            </span>
          </p>
        </div>
        <div class="showcase-image">
          <img src="/static/img/ognToken/origin-rewards.png" srcset="
              /static/img/ognToken/origin-rewards@2x.png 2x,
              /static/img/ognToken/origin-rewards@3x.png 3x
            " />
        </div>
      </div>
    </div>
  </section>
  {% include 'footer.html' %}
</main>

{% endblock %}