<style>
  .ogv-banner {
    background-color: black;
    color: white;
    position: relative;
    height: 60px;
  }
  .ogv-banner .container {
    height: 60px;
  }
  .ogv-banner h2 {
    position: relative;
    color: white;
    font-size: 1rem;
    font-weight: 500;
  }
  .ogv-banner a:hover {
    opacity: 0.8;
  }
</style>

<div class="ogv-banner">
    <a href="https://blog.originprotocol.com/tokenomics-retroactive-rewards-and-prelaunch-liquidity-mining-campaign-for-ogv-1b20b8ab41c8">
        <div class="container d-flex align-items-center justify-content-center"> 
            <h2 class="m-0">Get ready for the upcoming OGV airdrop</h2>
        </div>
    </a>
</div>