<style>
  .ogv-banner {
    background-color: #0d3020;
    color: white;
    position: relative;
    height: 60px;
  }
  .ogv-banner .container {
    height: 60px;
  }
  .ogv-banner h2 {
    position: relative;
    color: white;
    font-size: 1rem;
    font-weight: 500;
  }
  .ogv-banner a:hover {
    opacity: 0.8;
  }
</style>

<div class="ogv-banner">
    <a href="https://governance.ousd.com/claim">
        <div class="container d-flex align-items-center justify-content-center"> 
            <h2 class="m-0">OGV airdrop is live! Check your eligibility.</h2>
        </div>
    </a>
</div>