<style>
    .origin-story-banner {
        background-image: url("/static/img/story-bg@3x.png");
        background-color: #000000;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: white;
        position: relative;
        height:200px;
    }
    .origin-story-banner .container {
        height:200px;
    } 
    .origin-story-banner .banner-logo {
        background-repeat: no-repeat;
        background-image: url("/static/img/story-logo@3x.png");
        background-size: 307px 35px;
        width:307px;
        height:35px;
        margin-left:auto;
        margin-right:auto;
        top:63px;
        position:relative;
    }
    .origin-story-banner h2 {
        top:63px;
        position:relative;
        color:white;
        font-size:24px;
        text-align: center;
    }
</style>

<div class="origin-story-banner">
    <a href="https://blog.originprotocol.com/introducing-origin-story-the-nft-platform-for-all-creators-7d6ba21ea528">
        <div class="container align-items-center">
            <div class="banner-logo "></div>   
            <h2>Sell NFTs on your own terms</h2>
        </div>
    </a>
</div>