<div class="ousd-banner d-flex justify-content-center align-items-center">
  <div class="container d-flex">
    <div class="banner-logo-container">
      <img src="/static/img/ousd/ousd-coin.svg" />
    </div>

    <div class="banner-content">
      <h1>{{gettext("Introducing")}} <span>OUSD</span></h1>
      <div class="desc">{{gettext("The first stablecoin that earns a yield while it's still in your wallet")}}</div>
      <a href="https://ousd.com" target="_blank" rel="noopener noreferrer">
        {{gettext("Earn 15.34%% APY")}}
      </a>
    </div>
  </div>
</div>
