{% extends 'base.html' %}

{% block title %}{{ gettext("Get Origin Protocol") }}{% endblock %}

{% block meta_description %}{{ gettext("Get Origin Protocol") }}{% endblock %}

{% block extra_styles %}
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
<style type="text/css">
  body {
    background: #007fff;
    color: #fff;
  }
  .partner-campaign-page {}
  .partner-campaign-page hr {
    background: #fff;
    height: 1px;
    border: 0;
  }
  .partner-campaign-page .desktop {}
  #app-download-button {
    font-size: 1.125rem;
    width: 100%;
    border-radius: 26px;
    border: solid 1px var(--white);
    padding: 12px 0;
    margin: 0 auto 50px;
    max-width: 350px;
    color: white;
    background-color: transparent;
    text-align: center;
    visibility: hidden;
  }
  #app-download-button:hover {
    background-color: #036ddd;
    cursor: pointer;
  }
  #partner-campaign-header {
    background: #fff;
    display: block;
    width: 100%;
    height: 90px;
  }
  #partner-campaign-header .logo {
    display: block;
    float: left;
    text-align: center;
    height: 90px;
    margin: 10px 0;
    padding: 15px;
  }
  #partner-campaign-header .logo img {
    height: 22px;
    width: auto;
    margin: 10px auto;
  }
  #tagline {
    margin: 50px 25px 25px;
  }
  #tagline p {

    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
  }
  #intro {}
  #intro p {
    font-family: Lato, sans-serif;
    font-size: 20px;
    line-height: 1.3;
    margin: 30px 0;
  }
  #callout {}
  #callout p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 27px;
    font-weight: 1000;
    text-transform: uppercase;
  }
  #callout .value {
    display: block;
    font-size: 72px;
  }
  #download {
    text-align: center;
  }
  #app-download-button {
    text-indent: -9999px;
    margin: 0 auto;
  }
  #rewards {
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height: 1.44;
    margin: 30px;
  }
  #rewards h2 {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
  #screenshot1 {
    padding-top: 40px;
    text-align: center;
  }
  #screenshot1 img,
  #screenshot2 img,
  #screenshot2-desktop img {
    /* these have some drop shadow on the right */
    position: relative;
    left: 15px;
  }
  #screenshot1 hr {
    width: 100%;
    margin: 0;
  }
  #screenshot2 {
    text-align: center;
  }
  #screenshot2 img {}
  #screenshot2 hr {
    width: 100%;
    margin: 0;
  }
  #testing {}
  .cta-wrapper {
    max-width: 360px;
  }

  @media only screen and (min-width: 768px) {
    #screenshot1 hr,
    #screenshot2 hr {
      display: none;
    }
    #tagline p { font-size: 25px; }
    #callout { font-size: 32px }
    #callout .value { font-size: 88px }
    #intro p { font-size: 18px; }

    .qrcode-wrapper p {
      font-family: Lato, sans-serif;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.86;
      margin-top: 2px;
      text-align: center;
    }
    .qrcode-wrapper img {
      margin: 0 auto;
      margin-top: 10px;
    }
    .qrcode-wrapper {
      background: #fff;
      color: #000;
      padding: 5px;
      margin: 0 auto;
      width: 190px;
      height: 190px;
      border-radius: 20px;
    }
    .what .qrcode-wrapper {
      margin: 0 0 0 30px;
    }
    .page-splitter {
      width: 100%;
      margin: 50px auto;
    }
  }
</style>
{% endblock %}

{% block extra_scripts %}
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script src="/static/js/qrcode.min.js" type="text/javascript"></script>
  <script>
    const isIOS = navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform)
    const referralCode = 'op:{{ referral_code }}'
    const me = `${location.origin}/partner/{{ referral_code }}`
    const url = isIOS ? '{{ app_store_url }}' : '{{ play_store_url }}'

    const qrOptions = {
      text: me,
      width: 140,
      height: 140,
      colorDark : "#000000",
      colorLight : "#ffffff",
      correctLevel : QRCode.CorrectLevel.H
    }
    const qrcode1 = new QRCode('qrcode1', qrOptions)
    const qrcode2 = new QRCode('qrcode2', qrOptions)

    /**
     * Figure out which button to display
     */
    function detectButton() {
      const button = document.getElementById('app-download-button')
      if (!button) {
        console.warn('Did not find #app-download-button')
        return
      }

      const clipboard = new ClipboardJS('#app-download-button')

      clipboard.on('success', e => {
        const opened = window.open(url)
        // If we got snagged by a popup blocker(firefox) just go direct
        if (!opened) {
          window.location = url
        }
      })
      clipboard.on('error', e => {
        console.error('Problem copying code to clipboard')
        console.error(e)
        window.location = url
      })

      button.style.backgroundRepeat = 'no-repeat'
      button.style.backgroundSize = 'cover'
      button.style.border = 'none'
      button.style.borderRadius = '12px'
      button.style.visibility = 'visible'
      button.style.width = '280px'
      if (isIOS) {
        console.log('ios')
        button.style.backgroundImage = 'url(/static/img/app-store.svg)'
        button.style.height = `${280 / 3}px`
      } else {
        console.log('not-ios')
        button.style.backgroundImage = 'url(/static/img/play-store.svg)'
        button.style.height = `${280 / 3.33}px`
      }
      console.log('setting backgroundImage to: ', button.style.backgroundImage)

      button.addEventListener('click', e => {
        codeToClipboard()
      })
    }

    window.addEventListener('DOMContentLoaded', () => {
      detectButton()
      const values = document.getElementsByClassName('value')
      for (const el of values) {
        el.innerHTML = Number(el.innerHTML).toLocaleString()
      }
    })
  </script>
{% endblock %}

{% block content %}

<main class="partner-campaign-page">
  <div id="partner-campaign-header">
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <div class="logo">
            <a href="/"><img src="/static/img/origin-logo-dark@3x.png" alt="Origin" /></a>
          </div>
          <div class="logo">
            <img src="{{ partner.logo.uri }}" alt="{{ partner.name }}" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="cta-wrapper m-auto">
          <section id="tagline">
            <p>{{ gettext("Get Origin Marketplace & earn") }}</p>
          </section>
          <hr />
          <section id="callout">
            <p><span class="value">{{ reward.value }}</span> {{ gettext("Origin Tokens") }}</p>
          </section>
          <hr />
          <section id="intro">
            <p>{{ gettext("Get started by downloading Origin Marketplace - the app that allows you to buy and sell anything using crypto right from your phone.") }}</p>
          </section>
          <section id="download" class="d-md-none">
            <button id="app-download-button" data-clipboard-text="op:{{ referral_code }}"></button>
          </section>
          <section class="qrcode-wrapper d-none d-md-block">
            <div id="qrcode1"></div>
            <p>Scan to install our app</p>
          </section>
        </div>
      </div>
      <div class="col-md-6">
        <section id="screenshot1">
          <img class="d-md-none" src="/static/img/partner/iphone-1.png" />
          <img class="d-none d-md-block" src="/static/img/partner/iphone-1-full.png" />
          <hr />
        </section>
      </div>
    </div>
    <hr class="d-none d-md-block page-splitter" />
    <div class="row">
      <div class="col-md-6">
        <section id="screenshot2-desktop" class="d-none d-md-block text-center">
          <img src="/static/img/partner/iphone-2-full.png" />
          <hr class="d-md-none" />
        </section>
      </div>
      <div class="col-md-6 what">
        <section id="rewards">
          <h2>{{ gettext("What are Origin Rewards?") }}</h2>
          <p>{{ gettext("OGN is a rewards cryptocurrency earned by Origin users. Earn rewards when you verify your account or invite your friends to join Origin. Even get OGN as cash back when you buy and sell.") }}</p>
        </section>
        <section id="screenshot2" class="d-md-none">
          <img src="/static/img/partner/iphone-2.png" />
          <hr />
        </section>
        <section class="qrcode-wrapper d-none d-md-block">
          <div id="qrcode2"></div>
          <p>{{ gettext("Scan to install our app") }}</p>
        </section>
      </div>
    </div>
  </div>
</main>

{% endblock %}