{% extends 'base.html' %}

{% block title %}{{ gettext("Origin Protocol - Build on Origin") }}{% endblock %}

{% block meta_description %}{{ gettext("Origin Protocol - Build on Origin") }}{% endblock %}

{% block content %}

<main class="build-page">
  {% include 'navbar.html' %}
  <section class="header-section build-header-section">
    <div class="container foreground-content">
      <div class="row">
        <div class="col-12 col-md-6">
          <h1>
            {{ gettext("Build on Origin") }}
          </h1>
        </div>
        <div class="col-12 col-md-6">
          <div class="text-container">
            <p>
              {{ gettext("<strong>Teams all over the world are building their projects using Origin’s protocols. We are looking for more amazing people to <a href='#join_our_mission'>join our mission</a>.</strong>") }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="building-partners-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-pane background-panes">
          <div class="row row-pane">
            <div class="col-4 col-pane">
              <div class="left-upper-pane">
              </div>
            </div>
            <div class="col-8 col-pane">
              <div class="right-upper-pane">
              </div>
            </div>
          </div>
        </div>
        <div class="container foreground-content">
          <div class="row">
            <div class="col-12">
              <div class="logos row justify-content-center">
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://canya.io/" target="_blank">
                      <img src="/static/img/partners/canya.png"
                        srcset="/static/img/partners/canya@2x.png 2x,
                        /static/img/partners/canya@3x.png 3x"
                        class="canya-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://www.beetoken.com/" target="_blank">
                      <img src="/static/img/partners/beetoken.png"
                        srcset="/static/img/partners/beetoken@2x.png 2x,
                        /static/img/partners/beetoken@3x.png 3x"
                        class="beetoken-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://www.wetrust.io/" target="_blank">
                      <img src="/static/img/partners/wetrust.png"
                        class="wetrust-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://propy.com/" target="_blank">
                      <img src="/static/img/partners/propy-dark.png"
                        class="propy-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://antiqmall-ico.io/" target="_blank">
                      <img src="/static/img/partners/antiq-mall.png"
                        srcset="/static/img/partners/antiq-mall@2x.png 2x,
                        /static/img/partners/antiq-mall@3x.png 3x"
                        class="antiqmall-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://aworker.io/" target="_blank">
                      <img src="/static/img/partners/aworker-white.png"
                        srcset="/static/img/partners/aworker-white@2x.png 2x,
                        /static/img/partners/aworker-white@3x.png 3x"
                        class="aworker-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://acquaint.biz/" target="_blank">
                      <img src="/static/img/partners/acquaint.png"
                        srcset="/static/img/partners/acquaint@2x.png 2x,
                        /static/img/partners/acquaint@3x.png 3x"
                        class="acquaint-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://www.snagride.com/" target="_blank">
                      <img src="/static/img/partners/snagride.png"
                        srcset="/static/img/partners/snagride@2x.png 2x,
                        /static/img/partners/snagride@3x.png 3x"
                        class="snagride-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://www.edgecoin.io/" target="_blank">
                      <img src="/static/img/partners/edge.png"
                        srcset="/static/img/partners/edge@2x.png 2x,
                        /static/img/partners/edege@3x.png 3x"
                        class="edgecoin-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://jolyy.com/" target="_blank">
                      <img src="/static/img/partners/jolyy.png"
                        srcset="/static/img/partners/jolyy@2x.png 2x,
                        /static/img/partners/jolyy@3x.png 3x"
                        class="jolyy-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://blockfood.io/" target="_blank">
                      <img src="/static/img/partners/blockfood.svg"
                        class="blockfood-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://galaxy-esolutions.com/" target="_blank">
                      <img src="/static/img/partners/galaxy.png"
                        srcset="/static/img/partners/galaxy@2x.png 2x,
                        /static/img/partners/galaxy@3x.png 3x"
                        class="galaxy-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://www.ico.thrivelabs.io/" target="_blank">
                      <img src="/static/img/partners/thrive-white.png"
                        srcset="/static/img/partners/thrive-white@2x.png 2x,
                        /static/img/partners/thrive-white@3x.png 3x"
                        class="thrive-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="http://mobotiq.com/" target="_blank">
                      <img src="/static/img/partners/mobotiq.png"
                        srcset="/static/img/partners/mobotiq@2x.png 2x,
                        /static/img/partners/mobotiq@3x.png 3x"
                        class="mobotiq-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://odem.io/" target="_blank">
                      <img src="/static/img/partners/odem-logo-sq-v-0-2.png"
                        srcset="/static/img/partners/odem-logo-sq-v-0-2@2x.png 2x,
                        /static/img/partners/odem-logo-sq-v-0-2@3x.png 3x"
                        class="odem-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://www.brixby.io/" target="_blank">
                      <img src="/static/img/partners/brixby.png"
                        class="brixby-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://hirematch.io/" target="_blank">
                      <img src="/static/img/partners/hirematch.png"
                        class="hirematch-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://smartrefer.io/" target="_blank">
                      <img src="/static/img/partners/smartrefer.png"
                        class="smartrefer-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://lotus.sh/" target="_blank">
                      <img src="/static/img/partners/lotus.png"
                        class="lotus-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://deco.network/" target="_blank">
                      <img src="/static/img/partners/deconet.jpg"
                        class="deconet-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://thegastronomie.com/" target="_blank">
                      <img src="/static/img/partners/gastronomie.png"
                        class="gastronomie-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                  <div class="img-graphic">
                    <a href="https://workspace0x.com/" target="_blank">
                      <img src="/static/img/partners/workspace0x.png"
                        class="workspace0x-logo wow fadeInUp">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-pane background-panes bottom-panes offset-panes">
          <div class="row row-pane align-items-end">
            <div class="col-9 col-pane">
              <div class="left-lower-pane">
              </div>
            </div>
            <div class="col-3 col-pane">
              <div class="right-lower-pane">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="building-interest-section">
    <div class="container-fluid">
      <div class="row">
        <div class="container foreground-content">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="build-on-origin-form">
                <h2>
                  <a name="join_our_mission"/>
                  {{ gettext("Join our mission!") }}
                </h2>
                <p>
                  {{ gettext("Whether you’re an existing blockchain company or a traditional marketplace thinking about blockchain technology, we’d love to hear from you. Fill out the form below and we will get back to you shortly.") }}
                </p>
                <form method="post" action="/partners/interest" id="partners-interest">
                  <div class="form-group flex">
                    <label for="name"><strong>{{ gettext("Name") }}</strong></label>
                    <input name="name" id="name" class="form-control" placeholder="{{ gettext('Firstname Lastname') }}" />
                  </div>
                  <div class="form-group flex">
                    <label for="company_name"><strong>{{ gettext("Company") }}</strong></label>
                    <input name="company_name" id="company_name" class="form-control" placeholder="{{ gettext('My Amazing Company') }}" />
                  </div>
                  <div class="form-group flex">
                    <label for="email"><strong>{{ gettext("Email") }}</strong></label>
                    <input name="email" id="email" type="email" class="form-control" placeholder="{{ gettext('yourname@websitename.com') }}" />
                  </div>
                  <div class="form-group flex">
                    <label for="website"><strong>{{ gettext("Website") }}</strong></label>
                    <input name="website" id="website" type="url" class="form-control" placeholder="{{ gettext('https://websitename.com') }}" />
                  </div>
                  <div class="form-group">
                    <label for="note">{{ gettext("<strong>Anything else we should know?</strong> (optional)") }}</label>
                  </div>
                  <div class="form-group flex">
                    <div class="flex-offset"></div>
                    <textarea name="note" id="note" type="textarea" class="form-control"></textarea>
                  </div>
                  <div class="form-group flex">
                    <div class="flex-offset"></div>
                    <!-- Recaptcha -->
                    {{ recaptcha('partners-interest', 'partnerFormSubmit') }}
                  </div>
                  <div class="btn-container">
                    <input type="submit" class="btn btn-primary" value="{{ gettext('Become a Partner') }}">
                  </div>
                </form>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="partners img-graphic">
                <img src="/static/img/partners-graphic.png"
                  srcset="/static/img/partners-graphic@2x.png 2x,
                  /static/img/partners-graphic@3x.png 3x"
                  class="partners-graphic">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'footer.html' %}
</main>

{% endblock %}

{% block extra_scripts %}
{% endblock %}
