{% extends 'base.html' %}

{% block title %}{{ gettext("Origin Protocol - Build on Origin") }}{% endblock %}

{% block meta_description %}{{ gettext("Origin Protocol - Build on Origin") }}{% endblock %}

{% block content %}

{% include 'countdown-bar.html' %}

<main class="build-page">
  {% include 'navbar.html' %}
  <section class="header-section build-header-section">
    <div class="container foreground-content">
      <div class="row">
        <div class="col-12 col-md-6">
          <h1>
            {{ gettext("Build on Origin") }}
          </h1>
        </div>
        <div class="col-12 col-md-6">
          <div class="indented text-container">
            <p>
              {{ gettext("<strong>Teams all over the world are building their projects using Origin’s protocols. We are looking for more amazing people to <a href='#join_our_mission'>join our mission</a>.</strong>") }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="building-partners-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-pane background-panes">
          <div class="row row-pane">
            <div class="col-4 col-pane">
              <div class="left-upper-pane">
              </div>
            </div>
            <div class="col-8 col-pane">
              <div class="right-upper-pane">
              </div>
            </div>
          </div>
        </div>
        <div class="container foreground-content">
          <div class="row">
            <div class="col-12">
              <div class="logos row justify-content-center">
                {% for partner in partners_dict[0:12] %}
                  <div class="col-12 col-sm-6 col-md-2">
                    <div class="img-graphic m-auto">
                      <a href="{{ partner.url }}" target="_blank" rel="noopener noreferrer">
                        <img src="/static/img/partners/{{ partner.name }}.png"
                          class="{{'%s-logo wow fadeInUp' %partner.name }}"
                          title="{{ partner.desc }}"
                          data-toggle="tooltip"
                          alt="{{ partner.name }} logo">
                      </a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="col-12">
              <div class="collapse additional logos row justify-content-center" id="additionalLogos">
                {% for partner in partners_dict[12:] %}
                  <div class="col-12 col-sm-6 col-md-2">
                    <div class="img-graphic m-auto">
                      <a href="{{ partner.url }}" target="_blank" rel="noopener noreferrer">
                        <img src="/static/img/partners/{{ partner.name }}.png"
                          class="{{'%s-logo' %partner.name }}"
                          title="{{ partner.desc }}"
                          data-toggle="tooltip"
                          alt="{{ partner.name }} logo">
                      </a>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <div class="btn-container">
                <button
                  class="btn btn-outline-primary toggle"
                  type="button"
                  data-toggle="collapse"
                  data-target="#additionalLogos"
                  aria-expanded="false"
                  aria-controls="additionalLogos">
                  <span class="d-block more">{{ gettext("View More") }}</span>
                  <span class="d-none less">{{ gettext("View Less") }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-pane background-panes bottom-panes offset-panes">
          <div class="row row-pane align-items-end">
            <div class="col-9 col-pane">
              <div class="left-lower-pane">
              </div>
            </div>
            <div class="col-3 col-pane">
              <div class="right-lower-pane">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="building-interest-section">
    <div class="container-fluid">
      <div class="row">
        <div class="container foreground-content">
          <a id="join_our_mission"></a>
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="build-on-origin-form">
                <h2>
                  {{ gettext("Join our mission!") }}
                </h2>
                <p>
                  {{ gettext("Whether you’re an existing blockchain company or a traditional marketplace thinking about blockchain technology, we’d love to hear from you. Fill out the form below and we will get back to you shortly.") }}
                </p>
                <form method="post" action="/partners/interest" id="partners-interest">
                  <div class="form-group flex">
                    <label for="name"><strong>{{ gettext("Name") }}</strong></label>
                    <input name="name" id="name" class="form-control" placeholder="{{ gettext('Firstname Lastname') }}" />
                  </div>
                  <div class="form-group flex">
                    <label for="company_name"><strong>{{ gettext("Company") }}</strong></label>
                    <input name="company_name" id="company_name" class="form-control" placeholder="{{ gettext('My Amazing Company') }}" />
                  </div>
                  <div class="form-group flex">
                    <label for="email"><strong>{{ gettext("Email") }}</strong></label>
                    <input name="email" id="email" type="email" class="form-control" placeholder="{{ gettext('yourname@websitename.com') }}" />
                  </div>
                  <div class="form-group flex">
                    <label for="website"><strong>{{ gettext("Website") }}</strong></label>
                    <input name="website" id="website" type="url" class="form-control" placeholder="{{ gettext('https://websitename.com') }}" />
                  </div>
                  <div class="form-group">
                    <label for="note">{{ gettext("<strong>Anything else we should know?</strong> (optional)") }}</label>
                  </div>
                  <div class="form-group flex">
                    <div class="flex-offset"></div>
                    <textarea name="note" id="note" class="form-control"></textarea>
                  </div>
                  <div class="form-group flex">
                    <div class="flex-offset"></div>
                    <!-- Recaptcha -->
                    {{ recaptcha('partners-interest', 'partnerFormSubmit') }}
                  </div>
                  <div class="btn-container">
                    <input type="submit" class="btn btn-primary btn-min-size" value="{{ gettext('Become a Partner') }}">
                  </div>
                </form>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="partners img-graphic">
                <img src="/static/img/partners-graphic.png"
                  srcset="/static/img/partners-graphic@2x.png 2x,
                  /static/img/partners-graphic@3x.png 3x"
                  class="partners-graphic"
                  alt="partners">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'footer.html' %}
</main>

{% endblock %}

{% block extra_scripts %}
    <script>
      alertify.log("<a href='#join_our_mission' role='button' class='btn btn-primary btn-min-size'>Join Our Mission</a>", "default", 0);
    </script>
{% endblock %}
