{% extends 'base.html' %}

{% block title %}{{ gettext("Origin Protocol - Product") }}{% endblock %}

{% block meta_description %}{{ gettext("Origin Protocol's platform powers true peer-to-peer marketplaces everywhere.") }}{% endblock %}

{% block content %}

{% with theme_dark=True %}
{% include 'navbar.html' %}
{% endwith %}  

<main class="product-page">
  <section class="product-title-section blue-section screen-size-segment d-flex flex-column justify-content-start justify-content-md-center">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 d-flex align-items-start align-items-lg-center">
          <!-- the &#8209; below is a non breakable hyphen -->
          <div>
          <h1 class="title big">{{gettext("Origin Protocol is bringing NFTs and DeFi to the masses")}}</h1>
          <a
        href="{{ url_for('litepaper', lang_code=CURRENT_LANGUAGE) }}"
        class="btn btn-dark d-flex align-items-center justify-content-center mr-2">
        {{gettext("Read our new Litepaper")}}
      </a>
          </div>
        </div>
        <div class="col-12 col-md-6 d-flex align-items-center hero-image-holder justify-content-center mb-4 mb-md-0">
          <img src="/static/img/product/origin-stack.png" srcset="/static/img/product/origin-stack@2x.png 2x, /static/img/product/origin-stack@3x.png 3x" />
        </div>
      </div>
    </div>
  </section>

  <div class="nft-launchpad d-flex flex-column justify-content-between align-items-center px-3 px-md-0 pb-5">
    <h1>{{gettext("NFT Launchpad")}}</h1>
    <div class="checked-items d-flex justify-content-center flex-wrap">
      <div class="row nft-benefits">
        <div class="col-12 col-md-4 pt-1 pb-2">
          <h4 class='ml-3 mb-0'>Direct-to-fan experience</h4><br>
          <div class="d-flex checked-item">
            <img class="mr-2" src="/static/img/product/checkmark.svg">
            {{gettext("Customizable and hosted on your own domain")}}
          </div>
          <div class="d-flex checked-item">
            <img class="mr-2" src="/static/img/product/checkmark.svg">
            {{gettext("Maintain control of your brand")}}
          </div>
        </div>
        <div class="col-12 col-md-4 pt-1 pb-2">
          <h4 class='ml-3 mb-0'>Product features</h4><br>
          <div class="d-flex checked-item">
            <img class="mr-2" src="/static/img/product/checkmark.svg">
            {{gettext("Unique auction mechanics to maximize revenue")}}
          </div>
          <div class="d-flex checked-item">
            <img class="mr-2" src="/static/img/product/checkmark.svg">
            {{gettext("Secondary marketplace launching soon")}}
          </div>
        </div>
        <div class="col-12 col-md-4 pt-1 pb-2">
          <h4 class='ml-3 mb-0'>Technology</h4><br>
          <div class="d-flex checked-item">
            <img class="mr-2" src="/static/img/product/checkmark.svg">
            {{gettext("Best-in-class uptime and scaling")}}
          </div>
          <div class="d-flex checked-item">
            <img class="mr-2" src="/static/img/product/checkmark.svg">
            {{gettext("Supports both credit cards and cryptocurrency")}}
          </div>
        </div>
      </div>
    
    </div>
    
    <div class="nft-benefits">
      <img class="p-4 img-fluid" src='/static/img/product/leaderboard.png' />
    </div>
    

    <div class="d-flex">
      <a
        href="https://share.hsforms.com/1y9oMr3DSRg-QSnfPoaYY0Qbye5b"
        class="btn btn-primary d-flex align-items-center justify-content-center mr-2 p-3 mt-5 mb-5">
        {{gettext("Interested in running an NFT sale?")}}
      </a>
      </div>

</div>


<div class="origin-dollar d-flex flex-column justify-content-between align-items-center px-3 px-md-0">
  <h1>{{gettext("Origin Dollar")}}</h1>
  <div class="segment-subtitle mx-3">{{gettext("The first stablecoin that earns a yield while it's still in your wallet.")}}</div>
  <a class="mb-5 mt-0 btn btn-dark d-flex justify-content-center align-items-center" href="https://ousd.com" target="_blank" rel="noreferrer noopener">
    {{gettext("Get OUSD")}}</a>
  <div class="d-flex flex-column flex-md-row marketplace align-items-center align-items-md-start">
    <img class="prod-image" src="/static/img/ousd/origindollar-screenshots.png" srcset="/static/img/ousd/origindollar-screenshots@2x.png 2x, /static/img/ousd/origindollar-screenshots@3x.png 3x" >
  </div>
</div>

<!--
  <div class="dshop-section d-flex flex-column justify-content-between align-items-center px-3 px-md-0">
    <h1>{{gettext("Dshop")}}</h1>
    <div class="sub-title">{{gettext("A decentralized and open source e-commerce platform that allows anyone to create an online store easily")}}</div>
    <div class="checked-items d-flex justify-content-center flex-wrap">
      <div class="d-flex checked-item">
        <img class="mr-2" src="/static/img/product/checkmark.svg">
        {{gettext("No transaction fees")}}
      </div>
      <div class="d-flex checked-item">
        <img class="mr-2" src="/static/img/product/checkmark.svg">
        {{gettext("Fully customizeable")}}
      </div>
      <div class="d-flex checked-item">
        <img class="mr-2" src="/static/img/product/checkmark.svg">
        {{gettext("Supports credit card payments")}}
      </div>
      <div class="d-flex checked-item">
        <img class="mr-2" src="/static/img/product/checkmark.svg">
        {{gettext("Free to run")}}
      </div>
    </div>

    <div class="d-flex">
      <div class="row">
      <div class="col-12 col-sm-6">
      <a
        href="{{ url_for('dshop', lang_code=CURRENT_LANGUAGE) }}"
        class="btn btn-primary d-flex align-items-center justify-content-center mr-2">
        {{gettext("Try Dshop")}}
      </a>
      </div>
      <div class="col-12 col-sm-6">
      <a
        href="https://store.originprotocol.com"
        class="btn btn-primary d-flex align-items-center justify-content-center ml-2">
        {{gettext("Visit Origin Store")}}
      </a>
      </div>
      </div>
    </div>
    <img class="dshop-image" src="/static/img/product/dshop-screenshots.png" srcset="/static/img/product/dshop-screenshots@2x.png 2x, /static/img/product/dshop-screenshots@3x.png 3x" />
    <div class="sub-title mt-5">{{gettext("Online stores created with Dshop")}}</div>
    <div class="bottom d-flex justify-content-center align-items-center flex-wrap mt-3 mt-md-0">
      <a href="https://store.originprotocol.com/" target="_blank" rel="noopener noreferrer"><img class="swag mt-4 mt-md-3" src="/static/img/origin-logo-dark.png"/></a>
      <a href="https://store.brave.com/" target="_blank" rel="noopener noreferrer"><img class="swag mt-4 mt-md-3" src="/static/img/product/brave-logo-color-rgb.svg"/></a>
      <a href="https://kyber.ogn.app/" target="_blank" rel="noopener noreferrer"><img class="swag mt-4 mt-md-3" src="/static/img/product/kyber-network.svg"/></a>
      <a href="https://store.contentos.io/" target="_blank" rel="noopener noreferrer"><img class="swag mt-4 mt-md-3" src="/static/img/product/contentos.png" srcset="/static/img/product/contentos@2x.png 2x, /static/img/product/contentos@3x.png 3x"/></a>
      <a href="https://ternio.ogn.app/" target="_blank" rel="noopener noreferrer"><img class="swag mt-4 mt-md-3" src="/static/img/product/ternio.png" srcset="/static/img/product/ternio@2x.png 2x, /static/img/product/ternio@3x.png 3x"/></a>
    </div>
    <div class="sub-title-footer">{{gettext("...and hundreds more")}}</div>
  </div>
-->

  <section class="tokens-section white-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>{{gettext("Origin Token")}}</h1>
        </div>
        <div class="col-12">
          <div class="subtitle">{{gettext("Origin Token (OGN) is an incentive token that ensures the health and growth of the network.")}}</div>
        </div>
        <div class="col-12">
          <div class="action-buttons">
            <a href="{{ url_for('dashboard', lang_code=CURRENT_LANGUAGE) }}" class="btn btn-primary btn-inverse">{{gettext("View the OGN Dashboard")}}</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include 'footer.html' %}
</main>

{% endblock %}