{% extends 'base.html' %}

{% block title %}{{ gettext("Origin Protocol - Product") }}{% endblock %}

{% block meta_description %}{{ gettext("Origin Protocol's platform powers true peer-to-peer marketplaces everywhere.") }}{% endblock %}

{% block content %}

{% with theme_dark=True %}
{% include 'navbar.html' %}
{% endwith %}  

<main class="product-page">
  <section class="product-title-section blue-section screen-size-segment d-flex flex-column justify-content-start justify-content-md-center">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 d-flex align-items-start align-items-lg-center">
          <!-- the &#8209; below is a non breakable hyphen -->
          <div>
          <h1 class="title big">{{gettext("Origin Protocol is bringing NFTs and DeFi to the masses")}}</h1>
          <a
        href="{{ url_for('litepaper', lang_code=CURRENT_LANGUAGE) }}"
        class="btn btn-dark d-flex align-items-center justify-content-center mr-2">
        {{gettext("Read our Litepaper")}}
      </a>
          </div>
        </div>
        <div class="col-12 col-md-6 d-flex align-items-center hero-image-holder justify-content-center mb-4 mb-md-0">
          <img src="/static/img/product/origin-stack.png" srcset="/static/img/product/origin-stack@2x.png 2x, /static/img/product/origin-stack@3x.png 3x" />
        </div>
      </div>
    </div>
  </section>


  <!-- Buy and Sell on Origin section -->
  <!-- origin-marketplace-0.23.16.apk -->
  <section class="tokens-section white-section">
  <div class="d-flex flex-column justify-content-between align-items-center">
    <h1>{{gettext("Origin Story is where top creators launch their NFTs")}}</h1>
    <div class="segment-subtitle mt-1">{{gettext("Origin has hosted record-breaking NFT sales for top musicians, celebrities and creators. Sell NFTs on your own website, not someone else's marketplace.")}}</div>
    <a class="mb-5 mt-5 btn btn-dark d-flex justify-content-center align-items-center" href="https://story.xyz">
      {{gettext("Interested in selling NFTs?")}}</a>

      <div class="container mb-6 nft-pitch">
        <div class="row">
          <div class="col-sm text-center p-4 custom-domain">
            <div class="img-wrapper">
              <img src="/static/img/landing/nft-1.png" srcset="/static/img/landing/nft-1@2x.png 2x, /static/img/landing/nft-1@3x.png 3x">
            </div>
            <p>You control the experience. Host your NFT sale on your own domain and start growing your community.</p>
          </div>
          <div class="col-sm text-center p-4 more-sales inline-table">
            <div class="img-wrapper">
              <img src="/static/img/landing/nft-2.png" srcset="/static/img/landing/nft-2@2x.png 2x, /static/img/landing/nft-2@3x.png 3x">
            </div>
            <p>Increase your sales by intelligently targeting different audiences with different sales formats.</p>
          </div>
          <div class="col-sm text-center p-4 join-ogn">
            <div class="img-wrapper">
              <img src="/static/img/landing/nft-3.png" srcset="/static/img/landing/nft-3@2x.png 2x, /static/img/landing/nft-3@3x.png 3x">
            </div>
            <p>Participate in the network with OGN. Available on top exchanges like Coinbase and Binance.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>


  <div class="nft-launchpad d-flex flex-column justify-content-between align-items-center px-3 pt-5 pb-5">
    <div class="checked-items d-flex justify-content-center flex-wrap">
      <div class="row nft-benefits">
        <div class="col-12 col-md-4 pt-1 pb-2">
          <h4 class='ml-3 mb-0'>Direct-to-fan experience</h4><br>
          <div class="d-flex checked-item">
            <img class="mr-2" src="/static/img/product/checkmark.svg">
            {{gettext("Customizable and hosted on your own domain")}}
          </div>
          <div class="d-flex checked-item">
            <img class="mr-2" src="/static/img/product/checkmark.svg">
            {{gettext("Maintain control of your brand")}}
          </div>
        </div>
        <div class="col-12 col-md-4 pt-1 pb-2">
          <h4 class='ml-3 mb-0'>Product features</h4><br>
          <div class="d-flex checked-item">
            <img class="mr-2" src="/static/img/product/checkmark.svg">
            {{gettext("Unique auction mechanics to maximize revenue")}}
          </div>
          <div class="d-flex checked-item">
            <img class="mr-2" src="/static/img/product/checkmark.svg">
            {{gettext("Sell on both Ethereum and Polygon")}}
          </div>
        </div>
        <div class="col-12 col-md-4 pt-1 pb-2">
          <h4 class='ml-3 mb-0'>Technology</h4><br>
          <div class="d-flex checked-item">
            <img class="mr-2" src="/static/img/product/checkmark.svg">
            {{gettext("Best-in-class uptime and scaling")}}
          </div>
          <div class="d-flex checked-item">
            <img class="mr-2" src="/static/img/product/checkmark.svg">
            {{gettext("Supports both credit cards and cryptocurrency")}}
          </div>
        </div>
      </div>
    
    </div>
    
    <div class="nft-benefits">
      <a href="https://story.xyz"><img class="p-4 img-fluid" src='/static/img/product/leaderboard.png' /></a>
    </div>
    

    <div class="d-flex">
      <a
        href="https://story.xyz"
        class="btn btn-primary d-flex align-items-center justify-content-center mr-2 p-3 mt-5 mb-5">
        {{gettext("Learn more at story.xyz")}}
      </a>
      </div>

</div>

<div class="buy-sell-block ousd-pitch d-flex flex-column justify-content-between align-items-center px-3 px-md-0">
  <div class="container text-center">
    <h1 class="pt-3">Origin Dollar is the first stablecoin that earns yield while sitting in your wallet</h1>
    <p class="d-none d-sm-block">Get access to exciting DeFi returns, with none of the hassles.</p>
    <a class="mb-5 mt-5 btn justify-content-center align-items-center" href="https://www.ousd.com">
      {{gettext("Learn more about OUSD")}}</a>
    <p class="d-none d-sm-block">Currently earning</p>
    <h2>{{ousd_apy}}% APY</h2>


  </div>
</div>

<div class="nft-launchpad d-flex flex-column justify-content-between align-items-center px-3 pt-5 pb-5">
  <div class="checked-items d-flex justify-content-center flex-wrap">
    <div class="row nft-benefits">
      <div class="col-12 col-md-4 pt-1 pb-2">
        <h4 class='ml-3 mb-0'>Highest yields. Least hassle.</h4><br>
        <div class="d-flex checked-item">
          <img class="mr-2" src="/static/img/product/checkmark.svg">
          {{gettext("Automated smart contracts manage your funds")}}
        </div>
        <div class="d-flex checked-item">
          <img class="mr-2" src="/static/img/product/checkmark.svg">
          {{gettext("No staking, claiming, or lock-ups required")}}
        </div>
        <div class="d-flex checked-item">
          <img class="mr-2" src="/static/img/product/checkmark.svg">
          {{gettext("Take advantage of the highest APYs in DeFi")}}
        </div>
      </div>
      <div class="col-12 col-md-4 pt-1 pb-2">
        <h4 class='ml-3 mb-0'>Elastic supply. Stable price.</h4><br>
        <div class="d-flex checked-item">
          <img class="mr-2" src="/static/img/product/checkmark.svg">
          {{gettext("Your tokenized high-yield savings account")}}
        </div>
        <div class="d-flex checked-item">
          <img class="mr-2" src="/static/img/product/checkmark.svg">
          {{gettext("Backed 1:1 by USDT, USDC, and DAI")}}
        </div>
        <div class="d-flex checked-item">
          <img class="mr-2" src="/static/img/product/checkmark.svg">
          {{gettext("Your balance grows automatically in your wallet")}}
        </div>
      </div>
      <div class="col-12 col-md-4 pt-1 pb-2">
        <h4 class='ml-3 mb-0'>Secure and battle tested.</h4><br>
        <div class="d-flex checked-item">
          <img class="mr-2" src="/static/img/product/checkmark.svg">
          {{gettext("Audited by Trail of Bits, Open Zeppelin, and more")}}
        </div>
        <div class="d-flex checked-item">
          <img class="mr-2" src="/static/img/product/checkmark.svg">
          {{gettext("Optional smart contract insurance available")}}
        </div>
        <div class="d-flex checked-item">
          <img class="mr-2" src="/static/img/product/checkmark.svg">
          {{ousd_supply}} {{gettext(" is being held in OUSD today")}}
        </div>
      </div>
    </div>
  </div>

  <div class="nft-benefits">
    <a href="https://ousd.com"><img class="m-4 img-fluid" src='/static/img/ousd/origindollar-screenshot.png' /></a>
  </div>

    <div class="d-flex">
      <a
        href="https://ousd.com"
        class="btn btn-primary d-flex align-items-center justify-content-center mr-2 p-3 mt-5 mb-5">
        {{gettext("Learn more at ousd.com")}}
      </a>
      </div>

</div>


  <section class="tokens-section white-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>{{gettext("Origin Token (OGN)")}}</h1>
        </div>
        <div class="col-12">
          <div class="subtitle">{{gettext("Origin Token (OGN) allows you to own a stake in the Origin ecosystem.<br>Buy OGN to participate in governance and growth of the network.")}}</div>
        </div>
        <div class="col-12">
          <div class="action-buttons">
            <a href="{{ url_for('dashboard', lang_code=CURRENT_LANGUAGE) }}" class="btn btn-primary btn-inverse">{{gettext("View the OGN Dashboard")}}</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include 'footer.html' %}
</main>

{% endblock %}