{% extends 'base.html' %}

{% block title %}{{ gettext("Origin Protocol - ImToken") }}{% endblock %}

{% block meta_description %}{{ gettext("Origin Protocol - ImToken") }}{% endblock %}

{% block content %}

<main class="singles-page">
  <div class="container relative">
    <img src="/static/img/origin-logo.png" srcset="/static/img/origin-logo@2x.png 2x, /static/img/origin-logo@3x.png 3x" class="origin-logo" alt="Origin Protocol logo">
  </div>
  <section class="singles-title-section blue-section screen-size-segment d-flex flex-column justify-content-start justify-content-md-center">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 d-flex flex-column align-items-start align-items-lg-center">
          <h1 class="title big mb-1 ml-md-2">起源惊喜购</h1>
          <h2 class="title mt-0 ml-md-2">以太买买买，送礼还送 DAI</h1>
          <div class="d-flex wallets justify-content-start ml-md-3">
            <img src="/static/img/singles/imtoken_green.svg"/>
            <img src="/static/img/singles/slife_green.svg"/>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="explanation-section white-section">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <h1>活动规则</h1>
      </div>
      <div class="text-block">
        <div>前往 ImToken 浏览 Origin 抢购双棍节优惠，将获得 DAI 和 OGN，前50位完成订单支付的还会得到价值200元的神秘福袋！</div>
      </div>

      <div class="text-block">
        <div class="title">活动周期</div>
        <div>2019.11.11 - 2019.11.17</div>
      </div>
      <div class=" d-flex flex-column flex-md-row justify-content-between">
        <div class="text-block">
          <div class="title">如何参与Origin平台上的优惠抢购</div>
          <ol>
            <li>点击以下的“查看全部优惠产品”商品</li>
            <li>浏览Origin上的11.11优惠商品列表，并选择想购买的商品</li>
            <li>选择购买的数量，然后点击“采购”</li>
            <li>选择使用以太币(ETH)支付，然后输入送货地址</li>
            <li>商家接受订单后，点击“已购商品”并完成交易</li>
          </ol>
        </div>
      </div>
      <div class="text-block">
        <div class="title">注意事项</div>
        <ol>
          <li>如果这是您第一次使用Origin，您需要创建一个个人账号，添加您的照片、姓名和电子邮箱。</li>
          <li>验证您的社交账户，如Github、爱彼迎、推特，谷歌账户，进一步增强您的个人资料，可以获得额外的OGN奖励。</li>
          <li>所有在11月份获得的OGN将于12月上旬分发。</li>
          <li>完成购买后，会在24小时之内收到 DAI 奖励。</li>
        </ol>
      </div>
      <div class="text-block-holder d-flex flex-column align-items-center">
        <div>欢迎新老朋友<span class="red">关注</span>Origin的官方微信，以便获得<span class="red">及时更新</span>，每个月也会有机会参与不同的OGN奖励活动以赚取OGN。</div>
        <img class="qrcode mt-4" src="/static/img/singles/qrCode.png"/>
      </div>
    </div>
  </section>
  <section class="items-section grey-section">
    <div class="container pb-4 pb-md-5">
      <div class="row justify-content-center">
        <div class="col-12">
          <h1>推荐产品</h1>
        </div>
        <div class="items-holder d-flex justify-content-center flex-wrap">
          <div class="d-flex flex-column item align-items-left mb-5 mb-md-0">
            <div class="image-holder d-flex align-items-center justify-content-center">
              <img src="/static/img/singles/textThing.jpg"/>
            </div>
            <div class="item-name">送礼还送Dai | 开吃卡-购卡即返30元Dai! 198元得12个吃货大福袋，还送168元惊喜礼包</div>
            <div class="item-price">¥198 CNY</div>
            <div class="item-desc mb-auto">我们派出农业买手团队，让他们前往全国各地，走遍山河田野，精选最佳产物；我们成立吃货俱乐部，以吃货福袋的形式推出【开吃卡】，邀请吃货品鉴。</div>
            <a href="https://shoporigin.com/#/search?q=slife2ori9imt174x" class="item-link replaceable-link">立即购买 &#62;</a>
          </div>
          <div class="d-flex flex-column item align-items-left mb-5 mb-md-0">
            <div class="image-holder d-flex align-items-center justify-content-center">
              <img src="/static/img/singles/legends.jpg"/>
            </div>
            <div class="item-name">送礼还送Dai | 王者荣耀皮肤288点券-下单即返7元Dai！</div>
            <div class="item-price">¥28.80 CNY</div>
            <div class="item-desc mb-auto">王者荣耀App内价值288点券的英雄皮肤可任选一。</div>
            <a href="https://shoporigin.com/#/search?q=slife2ori9imt174x" class="item-link replaceable-link">立即购买 &#62;</a>
          </div>
          <div class="d-flex flex-column item align-items-left mb-5 mb-md-0">
            <div class="image-holder d-flex align-items-center justify-content-center">
              <img src="/static/img/singles/bike.jpg"/>
            </div>
            <div class="item-name">送礼还送Dai | Mobike骑行单车7次卡-下单即返2.5元Dai！</div>
            <div class="item-price">¥4.90 CNY</div>
            <div class="item-desc mb-auto">摩拜单车7天7次骑行卡。</div>
            <a href="https://shoporigin.com/#/search?q=slife2ori9imt174x" class="item-link replaceable-link">立即购买 &#62;</a>
          </div>
          <div class="d-flex flex-column item align-items-left mb-5 mb-md-0">
            <div class="image-holder d-flex align-items-center justify-content-center">
              <img src="/static/img/singles/tegicBattery.jpg"/>
            </div>
            <div class="item-name">送礼还送Dai | 电磁块无线TS1充电宝-下单即返29元Dai！</div>
            <div class="item-price">¥139 CNY</div>
            <div class="item-desc mb-auto">TEGIC 无线充电器 无线充电宝 无线10W QI协议充电宝 移动电源苹果安卓通用 TS1 电磁块</div>
            <a href="https://shoporigin.com/#/search?q=slife2ori9imt174x" class="item-link replaceable-link">立即购买 &#62;</a>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <a class="white-button-blue-border replaceable-link" href="https://shoporigin.com/#/search?q=slife2ori9imt174x">查看全部优惠产品</a>
      </div>
    </div>
  </section>
  <section class="info-box-section white-section">
    <div class="container">
      <div class="holder d-flex flex-column flex-md-row justify-content-center align-items-start">
        <div class="item">
          <img src="/static/img/singles/imtoken_blue.svg"/>
          <div>
            <p>ImToken 是全球最受欢迎的数字资产钱包之一，累计设备量超过800万，支持以太坊、比特币、EOS、Cosmos 四条公链。旨在为普通用户提供一款安全放心、简单好用、功能强大的钱包应用。</p>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/singles/slife_blue.svg"/>
          <div>
            <p>SLife 的使命是致力于为线下商业提供去中心化的金融服务和数据服务。我们将加入得到普遍认可的公链社区，和开发者深度互动，获得更多基于区块链技术和数字货币的应用工具，以满足线下商业实体经营需求；这些工具将构建一个区块链世界入口，帮助线下商业实体的经营者和消费者便利地使用众多区块链技术服务；这些流量将形成一个新的商家社区，有效地极大降低实体商家的参与风险和成本，并最大可能地获取商业贡献带来的各种收益。</p>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/singles/origin_blue.svg"/>
          <div>
            <p>Origin Protocol（起源协议）正在构建一个平台，该平台由一系列协议，开发者库和去中心化应用程序组成，使用以太坊区块链和IPFS创建共享经济市场。该平台使开发人员和企业能够快速在区块链上建立去中心化的市场平台，并具有共享经济市场的特定功能和功能。 Origin的使命是降低费用、消除网络封锁，并在共享经济和其他P2P市场中更公平地重新分配价值。</p>
            <p>Origin 是基于以太坊和ipfs建立的去中心化的共享经济协议，允许任何人（企业或个人）简单快速地建立没有中介的共享经济市场平台，比如去中心化的Didi、爱彼迎。</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}