{% extends 'base.html' %}

{% block title %}{{ gettext("Origin Protocol - ImToken") }}{% endblock %}

{% block meta_description %}{{ gettext("Origin Protocol - ImToken") }}{% endblock %}

{% block content %}

{% with theme_dark=True %}
{% include 'navbar.html' %}
{% endwith %}  

<main class="singles-page">
  <section class="singles-title-section blue-section screen-size-segment d-flex flex-column justify-content-start justify-content-md-center">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 d-flex flex-column align-items-start align-items-lg-center">
          <h1 class="title big mb-1 ml-md-2">起源惊喜购</h1>
          <h2 class="title mt-0 ml-md-2">以太买买买，送礼还送 DAI</h1>
          <div class="d-flex wallets justify-content-start ml-md-3">
            <img src="/static/img/singles/imtoken_green.svg"/>
            <img src="/static/img/singles/slife_green.svg"/>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="explanation-section white-section">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <h1>活动规则</h1>
      </div>
      <div class="text-block">
        <div class="title">奖励细节</div>
        <div>在ImToken APP上使用Origin平台优惠抢购，支付使用ETH，完成订单即可得到一定比例的DAI返佣，另外赠送专场福袋（前50名可以获得免费福袋；福袋将在11月11日后发放），也可获得OGN的奖励</div>
      </div>
      <div class="text-block">
        <div class="title">奖励的发放</div>
        <div>订单在Origin平台内确认后，在一个工作日内将完成DAI代币奖励的发放，Origin平台在发放完成后即与SLife来福进行确认和兑付。</div>
      </div>
      <div class="text-block-holder d-flex flex-column flex-md-row justify-content-between">
        <div class="text-block">
          <div class="title">如何参与Origin平台上的优惠抢购</div>
          <ol>
            <li>点击以下的“查看全部优惠产品“商品</li>
            <li>浏览Origin上的11.11优惠商品列表，并选择想购买的商品</li>
            <li>选择购买的数量，然后点击“采购”</li>
            <li>选择使用以太币(ETH)支付，然后输入送货地址</li>
            <li>商家接受订单后，点击“已购商品”并完成交易</li>
          </ol>
        </div>
        <div class="text-block">
          <div>请查看视频以了解购买的流程：</div>
          <div>VIDEO THING</div>
        </div>
      </div>
    </div>
  </section>
  <section class="items-section grey-section">
    <div class="container pb-4 pb-md-5">
      <div class="row justify-content-center">
        <div class="col-12">
          <h1>推荐产品</h1>
        </div>
        <div class="items-holder d-flex justify-content-center flex-wrap">
          <div class="d-flex flex-column item align-items-left mb-5 mb-md-0">
            <div class="image-holder d-flex align-items-center justify-content-center">
              <img src="/static/img/singles/shoes.jpg"/>
            </div>
            <div class="item-name">特価 NIKE INTERNAIONALIST nike…</div>
            <div class="item-price">$145.64</div>
            <div class="item-desc">即購入オッケーです。特価 NIKE INTERNAIONALIST nike internationalistスニスニ...</div>
            <a href="https://shoporigin.com/#/search?q=singles" class="item-link">Shop now &#62;</a>
          </div>
          <div class="d-flex flex-column item align-items-left mb-5 mb-md-0">
            <div class="image-holder d-flex align-items-center justify-content-center">
              <img src="/static/img/singles/watch.jpg"/>
            </div>
            <div class="item-name">Exclusive PokerStars watches</div>
            <div class="item-price">$500</div>
            <div class="item-desc">Exclusive PokerStars watches. Limited edition of 750 pieces. That's 45 exemplar. There...</div>
            <a href="https://shoporigin.com/#/search?q=singles" class="item-link">Shop now &#62;</a>
          </div>
          <div class="d-flex flex-column item align-items-left mb-5 mb-md-0">
            <div class="image-holder d-flex align-items-center justify-content-center">
              <img src="/static/img/singles/headphones.jpg"/>
            </div>
            <div class="item-name">Headphones Pioneer 2000</div>
            <div class="item-price">$100</div>
            <div class="item-desc">Good condition, great sound! The best DJs in the world used such headphones</div>
            <a href="https://shoporigin.com/#/search?q=singles" class="item-link">Shop now &#62;</a>
          </div>
          <div class="d-flex flex-column item align-items-left mb-5 mb-md-0">
            <div class="image-holder d-flex align-items-center justify-content-center">
              <img src="/static/img/singles/tray.jpg"/>
            </div>
            <div class="item-name">Genuine Leather Origin Tray</div>
            <div class="item-price">$127.43</div>
            <div class="item-desc">This genuine leather tray is a conversation starter, and the perfect place to store your...</div>
            <a href="https://shoporigin.com/#/search?q=singles" class="item-link">Shop now &#62;</a>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <a class="white-button-blue-border" href="/#">查看全部优惠产品</a>
      </div>
    </div>
  </section>
  <section class="info-box-section white-section">
    <div class="container">
      <div class="holder d-flex flex-column flex-md-row justify-content-center align-items-start">
        <div class="item">
          <img src="/static/img/singles/imtoken_blue.svg"/>
          <div>
            <p>Quisque consequat convallis est rhoncus dapibus. Vestibulum scelerisque scelerisque enim, eget maximus nibh maximus eu. Ut in urna diam. In pharetra mi id commodo volutpat. Sed tempor, lorem ut ornare varius, enim enim imperdiet neque, in iaculis magna odio at tortor. Duis rutrum ante ac lectus bibendum malesuada. </p>
            <p>Vivamus suscipit vehicula aliquet. Nunc bibendum interdum elit et maximus. Cras et leo ut justo rutrum tincidunt. Nam porttitor vulputate quam, eu ultricies quam pulvinar in. Morbi vulputate tellus vitae felis commodo interdum. Vivamus pellentesque nibh vitae lectus lacinia, et interdum nunc congue. Proin elit mi, vehicula blandit orci nec, convallis mollis purus.</p>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/singles/slife_blue.svg"/>
          <div>
            <p>Quisque consequat convallis est rhoncus dapibus. Vestibulum scelerisque scelerisque enim, eget maximus nibh maximus eu. Ut in urna diam. In pharetra mi id commodo volutpat. Sed tempor, lorem ut ornare varius, enim enim imperdiet neque, in iaculis magna odio at tortor. Duis rutrum ante ac lectus bibendum malesuada. </p>
            <p>Vivamus suscipit vehicula aliquet. Nunc bibendum interdum elit et maximus. Cras et leo ut justo rutrum tincidunt. Nam porttitor vulputate quam, eu ultricies quam pulvinar in. Morbi vulputate tellus vitae felis commodo interdum. Vivamus pellentesque nibh vitae lectus lacinia, et interdum nunc congue. Proin elit mi, vehicula blandit orci nec, convallis mollis purus.</p>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/singles/origin_blue.svg"/>
          <div>
            <p>Origin Protocol（起源协议）正在构建一个平台，该平台由一系列协议，开发者库和去中心化应用程序组成，使用以太坊区块链和IPFS创建共享经济市场。该平台使开发人员和企业能够快速在区块链上建立去中心化的市场平台，并具有共享经济市场的特定功能和功能。 Origin的使命是降低费用、消除网络封锁，并在共享经济和其他P2P市场中更公平地重新分配价值。</p>
            <p>Origin 是基于以太坊和ipfs建立的去中心化的共享经济协议，允许任何人（企业或个人）简单快速地建立没有中介的共享经济市场平台，比如去中心化的Didi、爱彼迎。</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'footer.html' %}
</main>

{% endblock %}