{% extends 'base.html' %}

{% block title %}{{ gettext("Origin Protocol - ImToken") }}{% endblock %}

{% block meta_description %}{{ gettext("Origin Protocol - ImToken") }}{% endblock %}

{% block content %}

{% with theme_dark=True %}
{% include 'navbar.html' %}
{% endwith %}  

<main class="singles-page">
  <section class="singles-title-section blue-section screen-size-segment d-flex flex-column justify-content-start justify-content-md-center">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 d-flex flex-column align-items-start align-items-lg-center">
          <h1 class="title big mb-1 ml-md-2">起源惊喜购</h1>
          <h2 class="title mt-0 ml-md-2">以太买买买，送礼还送 DAI</h1>
          <div class="d-flex wallets justify-content-start ml-md-3">
            <img src="/static/img/singles/imtoken_green.svg"/>
            <img src="/static/img/singles/slife_green.svg"/>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="explanation-section white-section">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <h1>活动规则</h1>
      </div>
      <div class="text-block">
        <div class="title">奖励细节</div>
        <div>在ImToken APP上使用Origin平台优惠抢购，支付使用ETH，完成订单即可得到一定比例的DAI返佣，另外赠送专场福袋（前50名可以获得免费福袋；福袋将在11月11日后发放），也可获得OGN的奖励</div>
      </div>
      <div class="text-block">
        <div class="title">奖励的发放</div>
        <div>订单在Origin平台内确认后，在一个工作日内将完成DAI代币奖励的发放，Origin平台在发放完成后即与SLife来福进行确认和兑付。</div>
      </div>
      <div class="text-block-holder d-flex flex-column flex-md-row justify-content-between">
        <div class="text-block">
          <div class="title">如何参与Origin平台上的优惠抢购</div>
          <ol>
            <li>点击以下的“查看全部优惠产品“商品</li>
            <li>浏览Origin上的11.11优惠商品列表，并选择想购买的商品</li>
            <li>选择购买的数量，然后点击“采购”</li>
            <li>选择使用以太币(ETH)支付，然后输入送货地址</li>
            <li>商家接受订单后，点击“已购商品”并完成交易</li>
          </ol>
        </div>
        <!--<div class="text-block">
          <div>请查看视频以了解购买的流程：</div>
          <div>VIDEO THING</div>
        </div>-->
      </div>
    </div>
  </section>
  <section class="items-section grey-section">
    <div class="container pb-4 pb-md-5">
      <div class="row justify-content-center">
        <div class="col-12">
          <h1>推荐产品</h1>
        </div>
        <div class="items-holder d-flex justify-content-center flex-wrap">
          <div class="d-flex flex-column item align-items-left mb-5 mb-md-0">
            <div class="image-holder d-flex align-items-center justify-content-center">
              <img src="/static/img/singles/textThing.jpg"/>
            </div>
            <div class="item-name">送礼还送Dai | 开吃卡-购卡即返30元Dai! 198元得12个吃货大福袋，还送168元惊喜礼包</div>
            <div class="item-price">$28.13</div>
            <div class="item-desc mb-auto">我们派出农业买手团队，让他们前往全国各地，走遍山河田野，精选最佳产物；我们成立吃货俱乐部，以吃货福袋的形式推出【开吃卡】，邀请吃货品鉴。</div>
            <a href="https://shoporigin.com/#/search?q=slife2ori9imt174x" class="item-link replaceable-link">Shop now &#62;</a>
          </div>
          <div class="d-flex flex-column item align-items-left mb-5 mb-md-0">
            <div class="image-holder d-flex align-items-center justify-content-center">
              <img src="/static/img/singles/legends.jpg"/>
            </div>
            <div class="item-name">送礼还送Dai | 王者荣耀皮肤288点券-下单即返7元Dai！</div>
            <div class="item-price">$4.09</div>
            <div class="item-desc mb-auto">王者荣耀App内价值288点券的英雄皮肤可任选一。</div>
            <a href="https://shoporigin.com/#/search?q=slife2ori9imt174x" class="item-link replaceable-link">Shop now &#62;</a>
          </div>
          <div class="d-flex flex-column item align-items-left mb-5 mb-md-0">
            <div class="image-holder d-flex align-items-center justify-content-center">
              <img src="/static/img/singles/bike.jpg"/>
            </div>
            <div class="item-name">送礼还送Dai | Mobike骑行单车7次卡-下单即返2.5元Dai！</div>
            <div class="item-price">$0.70</div>
            <div class="item-desc mb-auto">摩拜单车7天7次骑行卡。</div>
            <a href="https://shoporigin.com/#/search?q=slife2ori9imt174x" class="item-link replaceable-link">Shop now &#62;</a>
          </div>
          <div class="d-flex flex-column item align-items-left mb-5 mb-md-0">
            <div class="image-holder d-flex align-items-center justify-content-center">
              <img src="/static/img/singles/tegicBattery.jpg"/>
            </div>
            <div class="item-name">送礼还送Dai | 电磁块无线TS1充电宝-下单即返29元Dai！</div>
            <div class="item-price">$19.76</div>
            <div class="item-desc mb-auto">TEGIC 无线充电器 无线充电宝 无线10W QI协议充电宝 移动电源苹果安卓通用 TS1 电磁块</div>
            <a href="https://shoporigin.com/#/search?q=slife2ori9imt174x" class="item-link replaceable-link">Shop now &#62;</a>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <a class="white-button-blue-border replaceable-link" href="https://shoporigin.com/#/search?q=slife2ori9imt174x">查看全部优惠产品</a>
      </div>
    </div>
  </section>
  <section class="info-box-section white-section">
    <div class="container">
      <div class="holder d-flex flex-column flex-md-row justify-content-center align-items-start">
        <div class="item">
          <img src="/static/img/singles/imtoken_blue.svg"/>
          <div>
            <p>SLife 的使命是致力于为线下商业提供去中心化的金融服务和数据服务。我们将加入得到普遍认可的公链社区，和开发者深度互动，获得更多基于区块链技术和数字货币的应用工具，以满足线下商业实体经营需求；这些工具将构建一个区块链世界入口，帮助线下商业实体的经营者和消费者便利地使用众多区块链技术服务；这些流量将形成一个新的商家社区，有效地极大降低实体商家的参与风险和成本，并最大可能地获取商业贡献带来的各种收益。</p>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/singles/slife_blue.svg"/>
          <div>
            <p>imToken，是一款去中心化的且支持多链的移动数字货币钱包，为用户提供数字货币世界的密钥管理工具，让用户安全、轻松地存储、使用和获取加密货币；做为去中心化的钱包，imToken通刻仅是手机本地的密钥管理工具，将密钥通过使用用户自行设定的密码加密方式安全存储在用户手机的沙盒中，并不会将用户的密钥等敏感信息传输到服务器上，从而最大程度地给予用户对资产的管控及资产安全</p>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/singles/origin_blue.svg"/>
          <div>
            <p>Origin Protocol（起源协议）正在构建一个平台，该平台由一系列协议，开发者库和去中心化应用程序组成，使用以太坊区块链和IPFS创建共享经济市场。该平台使开发人员和企业能够快速在区块链上建立去中心化的市场平台，并具有共享经济市场的特定功能和功能。 Origin的使命是降低费用、消除网络封锁，并在共享经济和其他P2P市场中更公平地重新分配价值。</p>
            <p>Origin 是基于以太坊和ipfs建立的去中心化的共享经济协议，允许任何人（企业或个人）简单快速地建立没有中介的共享经济市场平台，比如去中心化的Didi、爱彼迎。</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'footer.html' %}
</main>

{% endblock %}