{% extends 'base.html' %} {% block title %} {{ gettext("Origin Protocol -
Team")}} {% endblock %} {% block meta_description %}{{ gettext("Origin
Protocol's world-class team is led by entrepreneurs and engineers from iconic
tech companies") }}{% endblock %} {% block content %} {% with theme_dark=True %}
{% include 'navbar.html' %} {% endwith %}

<main class="team-page">
  <div class="video-block screen-size-segment d-flex flex-column justify-content-center align-items-center">
    <div id="team-video" class="full-screen-video d-none"></div>
    <div id="exit-fullscreen-button" class="d-none">
      {{gettext("Exit full screen")}}
    </div>
    <div class="background-video">
      <div class="video-holder d-flex flex-column justify-content-end align-items-center">
        <div id="team-video-background"></div>
      </div>
    </div>
    <div class="video-overlay"></div>
    <div class="video-overlay-gradient"></div>
    <div id="team-video-poster" class="video-overlay-poster"></div>
    <div class="contents d-flex flex-column justify-content-center align-items-center">
      <h1 class="video-title">
        {{gettext("Our world-class team is led by entrepreneurs and engineers
        from iconic tech companies")}}
      </h1>
      <button id="team-video-button" class="play-button d-flex justify-content-center align-items-center m-4">
        <img class="ml-2" src="/static/img/landing/play-triangle.svg" />
      </button>
      <div class="mt-2">{{gettext("Watch the video")}}</div>
    </div>
  </div>

  <section class="core-team-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>{{gettext("Core team")}}</h1>
        </div>
        <div class="col-12">
          <div class="row team-members">
            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-josh.jpg" class="headshot" alt="Josh Fraser headshot" />
                </div>
                <div class="name">
                  <a href="http://www.linkedin.com/in/joshuafraser" target="_blank"
                    rel="noopener noreferrer">{{ gettext("Josh Fraser") }}
                  </a>
                </div>
                <div class="title">
                  {{ gettext("Cofounder") }}
                </div>
                <div class="bio">
                  {{ gettext("Josh started coding at the age of 10. Prior to
                  Origin, he co-founded three other venture-backed companies:
                  EventVue, Torbit (acquired by Walmart Labs) &amp; Forage.") }}
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-matt.jpg" class="headshot" alt="Matthew Liu headshot" />
                </div>
                <div class="name">
                  <a href="http://www.linkedin.com/in/matthewliu" target="_blank"
                    rel="noopener noreferrer">{{ gettext("Matthew Liu") }}
                  </a>
                </div>
                <div class="title">
                  {{ gettext("Cofounder") }}
                </div>
                <div class="bio">
                  {{ gettext("Matt was the 3rd PM at YouTube (acquired by
                  Google) and VP PM at Qwiki (acquired by Yahoo) and Bonobos
                  (acquired by Walmart). He has an MS and BS from Stanford.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-yupan.jpg" class="headshot" alt="Yu Pan headshot" />
                </div>
                <div class="name">
                  <a href="https://en.wikipedia.org/wiki/Yu_Pan" target="_blank"
                    rel="noopener noreferrer">{{ gettext("Yu Pan") }}
                  </a>
                </div>
                <div class="title">
                  {{ gettext("Founding Engineer") }}
                </div>
                <div class="bio">
                  {{ gettext("Yu Pan was one of the 6 founding team members of
                  PayPal and was the 1st employee at YouTube. He is a former
                  Google employee and co-founder of Kiwi Crate.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-franck.jpg" class="headshot" alt="Franck Chastagnol headshot" />
                </div>
                <div class="name">
                  <a href="https://www.linkedin.com/in/franckc/" target="_blank"
                    rel="noopener noreferrer">{{ gettext("Franck Chastagnol") }}
                  </a>
                </div>
                <div class="title">
                  {{ gettext("VP of Engineering") }}
                </div>
                <div class="bio">
                  {{ gettext("Franck has had a successful career as an early
                  employee at numerous high-profile companies. He previously led
                  engineering teams at Inktomi, Paypal, YouTube, Google and
                  Dropbox.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-micah.jpg" class="headshot" alt="Micah Alcorn headshot" />
                </div>
                <div class="name">
                  <a href="https://twitter.com/micahalcorn" target="_blank"
                    rel="noopener noreferrer">{{ gettext("Micah Alcorn") }}
                  </a>
                </div>
                <div class="title">
                  {{ gettext("Director of Product") }}
                </div>
                <div class="bio">
                  {{ gettext("Micah was the technical co-founder of
                  WellAttended, a bootstrapped box office management platform.
                  He worked as a commercial real estate broker while learning to
                  code.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-kay.jpg" class="headshot" alt="Kay Yoo headshot" />
                </div>
                <div class="name">
                  <a href="https://www.linkedin.com/in/kay-yoo-53006960/" target="_blank"
                    rel="noopener noreferrer">{{ gettext("Kay Yoo") }}
                  </a>
                </div>
                <div class="title">
                  {{ gettext("Finance & Operations") }}
                </div>
                <div class="bio">
                  {{ gettext("Kay is a Chartered Professional Accountant (CPA).
                  She previously worked as a Senior Accountant and then as a
                  Senior Consultant at KPMG Canada.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-coleman.jpg" class="headshot" alt="Coleman Maher headshot" />
                </div>
                <div class="name">
                  <a href="https://www.linkedin.com/in/coleman-maher-sf/" target="_blank"
                    rel="noopener noreferrer">Coleman Maher
                  </a>
                </div>
                <div class="title">
                  {{ gettext("Business Development") }}
                </div>
                <div class="bio">
                  {{ gettext("Coleman is an active cryptocurrency investor and
                  real estate entrepreneur, owning and managing multiple Airbnb
                  properties. He studied mathematics at Berkeley.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-mila.jpg" class="headshot" alt="Mila Choi headshot" />
                </div>
                <div class="name">
                  <a href="https://www.linkedin.com/in/so-young-mila-choi-30514769/" target="_blank"
                    rel="noopener noreferrer">{{ gettext("Mila Choi") }}
                  </a>
                </div>
                <div class="title">
                  {{ gettext("Regional Manager Korea") }}
                </div>
                <div class="bio">
                  {{ gettext("Mila is leading our community efforts in South
                  Korea. She previously organized blockhain hackathons and has
                  degrees from Penn State and Erasmus University Rotterdam.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-tom.jpg" class="headshot" alt="Tom Linton headshot" />
                </div>
                <div class="name">
                  <a href="https://www.linkedin.com/in/tom-linton-68866b140/" target="_blank"
                    rel="noopener noreferrer">{{ gettext("Tom Linton") }}
                  </a>
                </div>
                <div class="title">
                  {{ gettext("Senior Engineer") }}
                </div>
                <div class="bio">
                  {{ gettext("Before Origin, Tom had a successful career as a
                  solo startup founder. He has two Masters degrees in
                  Distributed Systems from the Technical University of Berlin
                  and KTH in Stockholm.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-nick.jpg" class="headshot" alt="Nick Poulden headshot" />
                </div>
                <div class="name">
                  <a href="https://www.linkedin.com/in/nickpoulden/" target="_blank"
                    rel="noopener noreferrer">{{ gettext("Nick Poulden") }}
                  </a>
                </div>
                <div class="title">
                  {{ gettext("Senior Engineer") }}
                </div>
                <div class="bio">
                  {{ gettext("Nick studied Computer Science at the University of
                  Warwick. Prior to joining Origin, he worked as an engineer at
                  Sencha, C3 Energy Network and Palo Alto Networks.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-domen.jpg" class="headshot" alt="Domen Grabec headshot" />
                </div>
                <div class="name">
                  <a href="https://www.linkedin.com/in/domen-grabec-a5821a7/" target="_blank"
                    rel="noopener noreferrer">{{ gettext("Domen Grabec") }}
                  </a>
                </div>
                <div class="title">
                  {{ gettext("Engineer") }}
                </div>
                <div class="bio">
                  {{ gettext("Domen co-founded and led a team developing a
                  mobile application with 2 chess Grandmasters. He previously
                  had a successful career at Cetra, Zemanta and Peerindex.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-shahul.jpg" class="headshot" alt="Shahul Hameed headshot" />
                </div>
                <div class="name">
                  <a href="https://www.linkedin.com/in/shahthepro/" target="_blank"
                    rel="noopener noreferrer">{{ gettext("Shahul Hameed") }}
                  </a>
                </div>
                <div class="title">
                  {{ gettext("Engineer") }}
                </div>
                <div class="bio">
                  {{ gettext("Shahul is a fullstack engineer who started
                  programming at age of 10. He previously worked as a freelancer
                  and then joined Zoho as a front-end developer.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-mike.jpg" class="headshot" alt="Mike Shultz headshot" />
                </div>
                <div class="name">
                  <a href="https://www.linkedin.com/in/shultzm/" target="_blank"
                    rel="noopener noreferrer">{{ gettext("Mike Shultz") }}
                  </a>
                </div>
                <div class="title">
                  {{ gettext("Engineer") }}
                </div>
                <div class="bio">
                  {{ gettext("Mike is a long-time contributor to open-source. He
                  created a dev toolkit for creating Ethereum smart contracts
                  with Python and previously worked with Ethereum and IPFS at
                  Lunyr.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-aure.jpeg" class="headshot" alt="Aure Gimon headshot" />
                </div>
                <div class="name">
                  <a href="https://www.linkedin.com/in/aure-gimon-8501041/" target="_blank"
                    rel="noopener noreferrer">{{ gettext("Aure Gimon") }}
                  </a>
                </div>
                <div class="title">
                  {{ gettext("Product Designer") }}
                </div>
                <div class="bio">
                  {{ gettext("Aure is a product designer with 10+ years of
                  experience. Prior to joining Origin, Aure worked at multiple
                  startups and Fortune 500 companies. In a past life, he was
                  also a software engineer.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-max.png" class="headshot" alt="Max Unger headshot" />
                </div>
                <div class="name">
                  <a href="https://www.linkedin.com/in/max-unger-3ba1621a6/" target="_blank"
                    rel="noopener noreferrer">{{ gettext("Max Unger") }}
                  </a>
                </div>
                <div class="title">
                  {{ gettext("Head of Community") }}
                </div>
                <div class="bio">
                  {{ gettext("Before joining Origin, Max helped build
                  communities for notable blockchain companies like OKEx. He
                  also worked with RedNova, the marketing and incubation entity
                  for Du Capital.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-daniel.jpg" class="headshot" alt="Daniel Von Fange headshot" />
                </div>
                <div class="name"><a href="https://github.com/DanielVF" target="_blank"
                  rel="noopener noreferrer">{{ gettext("Daniel Von Fange") }}</a></div>
                <div class="title">
                  {{ gettext("Senior Engineer") }}
                </div>
                <div class="bio">
                  {{ gettext("Daniel brings a strong emphasis on security and data analysis to our team. Daniel has earned a reputation for being able to gather massive amounts of data and create dynamic visualizations at lightning speed.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-mark.jpg" class="headshot" alt="Mark Mathis headshot" />
                </div>
                <div class="name"><a href="https://github.com/cipherzzz" target="_blank"
                  rel="noopener noreferrer">{{ gettext("Mark Mathis") }}</a></div>
                <div class="title">
                  {{ gettext("Engineer") }}
                </div>
                <div class="bio">
                  {{ gettext("Mark Mathis has a broad background in fintech and defi. As a former touring musician, Mark has a particular interest in seeing artists compensated fairly for their work through decentralized channels.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-william.jpeg" class="headshot" alt="William Tong headshot" />
                </div>
                <div class="name"><a href="https://www.linkedin.com/in/williamjtong/" target="_blank"
                  rel="noopener noreferrer">{{ gettext("William Tong") }}</a></div>
                <div class="title">
                  {{ gettext("Business Development") }}
                </div>
                <div class="bio">
                  {{ gettext("William Tong was a real estate broker before stumbling into the world of NFTs. He quickly built a reputation as a connector and community builder on the Clubhouse app and within the broader NFT collector community.  ") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-chase.png" class="headshot" alt="Chase Colman headshot" />
                </div>
                <div class="name"><a>{{ gettext("Chase Colman") }}</a></div>
                <div class="title">
                  {{ gettext("Project Manager") }}
                </div>
                <div class="bio">
                  {{ gettext("Chase comes from creative and marketing agency life in Los Angeles. She’s managed projects and accounts for clients like YouTube, W Hotels, and Stitch Fix. She's now in charge of creator relationship management at Origin.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-eric.jpg" class="headshot" alt="Eric Charles headshot" />
                </div>
                <div class="name">
                  <a href="https://www.linkedin.com/in/eric-charles-86099336/" target="_blank"
                    rel="noopener noreferrer">{{ gettext("Eric Charles") }}
                  </a>
                </div>
                <div class="title">
                  {{ gettext("Account Manager") }}
                </div>
                <div class="bio">
                  {{ gettext("Eric was an early employee at Lyft and a founding member of their first B2B solution. He was an account manager at Tophatter and worked at a marketing agency connecting brands with creators and celebrities.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-jon.jpeg" class="headshot" alt="Jon Youshaei headshot" />
                </div>
                <div class="name">
                  <a href="https://www.linkedin.com/in/youshaei/" target="_blank"
                    rel="noopener noreferrer">{{ gettext("Jon Youshaei") }}
                  </a>
                </div>
                <div class="title">
                  {{ gettext("Creator in Residence") }}
                </div>
                <div class="bio">
                  {{ gettext("Jon has spent his career helping creators. Before joining Origin, Jon was responsible for creator monetization marketing at YouTube and product marketing at Instagram. He's also a frequent contributor for Forbes.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-kara.png" class="headshot" alt="Kara Chang headshot" />
                </div>
                <div class="name">
                  <a href="https://www.linkedin.com/in/kara-chang-6b277126/" target="_blank"
                    rel="noopener noreferrer">{{ gettext("Kara Chang") }}
                  </a>
                </div>
                <div class="title">
                  {{ gettext("Executive Assistant") }}
                </div>
                <div class="bio">
                  {{ gettext("Kara is the executive assistant to Origin co-founders, Josh and Matt. She graduated from UC San Diego and previously managed a team of 10 people at an ecommerce company in Taiwan.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-ed.png" class="headshot" alt="Ed Spencer headshot" />
                </div>
                <div class="name">
                  <a href="https://www.linkedin.com/in/edspencer85/" target="_blank"
                    rel="noopener noreferrer">{{ gettext("Ed Spencer") }}
                  </a>
                </div>
                <div class="title">
                  {{ gettext("Senior Engineer") }}
                </div>
                <div class="bio">
                  {{ gettext("Ed previously worked at Sencha, C3 Energy Network, and Palo Alto Networks as a UI and software architect. He studied at the University of Warwick where he met his lifelong friend and now colleague, Nick Poulden.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-aaron.jpg" class="headshot" alt="Aaron Faulkner headshot" />
                </div>
                <div class="name">
                  <a href="https://www.linkedin.com/in/amfaulkner/" target="_blank"
                    rel="noopener noreferrer">{{ gettext("Aaron Faulkner") }}
                  </a>
                </div>
                <div class="title">
                  {{ gettext("Social Media Manager") }}
                </div>
                <div class="bio">
                  {{ gettext("Aaron has spent his career building and managing communities. He has specialized in writing, community management, and marketing for multiple crypto companies. He also served as a long-term member of the community team at Origin before joining fulltime.") }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="team-member">
                <div class="headshot-wrapper">
                  <img src="/static/img/headshot-you.png" class="headshot" alt="You headshot" />
                </div>
                <div class="name"><a href="https://" target="_blank"
                  rel="noopener noreferrer">{{ gettext("You?") }}</a></div>
                <div class="title">
                  {{ gettext("We're hiring!") }}
                </div>
                <div class="bio">
                  {{ gettext("We are a distributed team with employees all over the world. We have a fast-paced bias-to-action culture and a really big vision for bringing crypto mainstream. Check out our <a href='https://angel.co/originprotocol/jobs'>open-positions on AngelList</a>.") }}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <br><Br>

  <section class="advisor-team-section grey-section pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>{{gettext("Community team")}}</h1>
        </div>
      </div>
      <div class="d-flex flex-sm-row flex-wrap align-items-center justify-content-sm-center justify-content-around">
       
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-zoe.jpg" class="headshot" alt="Zoe Hoang headshot" />
          </div>
          <div class="name">
            {{ gettext("Zoe Hoang") }}
          </div>
        </div>
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-moises.jpg" class="headshot" alt="Moisés Sosa headshot" />
          </div>
          <div class="name">
            {{ gettext("Moisés Sosa") }}
          </div>
        </div>
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-kevin.png" class="headshot" alt="Kevin Lee headshot" />
          </div>
          <div class="name">
            {{ gettext("Kevin Lee") }}
          </div>
        </div>
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-danil.jpeg" class="headshot" alt="Danil Myakin headshot" />
          </div>
          <div class="name">
            {{ gettext("Danil Myakin") }}
          </div>
        </div>
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-joseph.jpg" class="headshot" alt="Joseph Stewart headshot" />
          </div>
          <div class="name">
            {{ gettext("Joseph Stewart") }}
          </div>
        </div>
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-erkan.png" class="headshot" alt="Erkan Ciftci headshot" />
          </div>
          <div class="name">
            {{ gettext("Erkan Ciftci") }}
          </div>
        </div>
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-stefano.jpg" class="headshot" alt="Stefano Terenzi headshot" />
          </div>
          <div class="name">
            {{ gettext("Stefano Terenzi") }}
          </div>
        </div>
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-zizen.jpg" class="headshot" alt="Zizen Chang headshot" />
          </div>
          <div class="name">
            {{ gettext("Zizen Chang") }}
          </div>
        </div>
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-lee.png" class="headshot" alt="Lee Gwangmyeong headshot" />
          </div>
          <div class="name">
            {{ gettext("Lee Gwangmyeong") }}
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="advisor-team-section white-section pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>{{gettext("Advisors")}}</h1>
        </div>
      </div>
      <div class="d-flex flex-sm-row flex-wrap align-items-center justify-content-sm-center justify-content-around">
        
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-melody.jpg" class="headshot" alt="Melody He headshot" />
          </div>
          <div class="name">
            <a href="https://www.linkedin.com/in/melody-he-497a5b25/" target="_blank"
              rel="noopener noreferrer">{{ gettext("Melody He") }}
            </a>
          </div>
          <div class="title">
            {{ gettext("Spartan Group") }}
          </div>
        </div>
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-paul.jpg" class="headshot" alt="Paul Veradittakit headshot" />
          </div>
          <div class="name">
            <a href="https://www.linkedin.com/in/veradittakit/" target="_blank"
              rel="noopener noreferrer">{{ gettext("Paul Veradittakit") }}
            </a>
          </div>
          <div class="title">
            {{ gettext("Pantera Capital") }}
          </div>
        </div>
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-joey.jpg" class="headshot" alt="Joey Krug headshot" />
          </div>
          <div class="name">
            <a href="https://www.linkedin.com/in/joeykrug/" target="_blank"
              rel="noopener noreferrer">{{ gettext("Joey Krug") }}
            </a>
          </div>
          <div class="title">
            {{ gettext("Pantera Capital") }}
          </div>
        </div>
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-andrew.jpeg" class="headshot" alt="Andrew Kang headshot" />
          </div>
          <div class="name">
            <a href="https://twitter.com/Rewkang" target="_blank"
              rel="noopener noreferrer">{{ gettext("Andrew Kang") }}
            </a>
          </div>
          <div class="title">
            {{ gettext("Mechanism Capital") }}
          </div>
        </div>
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/investors/justin.jpg" class="headshot" alt="Justin Blau headshot" />
          </div>
          <div class="name">
            <a href="https://twitter.com/3lau" target="_blank"
              rel="noopener noreferrer">{{ gettext("Justin Blau") }}
            </a>
          </div>
          <div class="title">
            {{ gettext("3LAU") }}
          </div>
        </div>
        <div class="team-member">
          <div class="headshot-wrapper">
            <img src="/static/img/headshot-paris.png" class="headshot" alt="Paris Hilton headshot" />
          </div>
          <div class="name">
            <a href="https://twitter.com/parishilton" target="_blank"
              rel="noopener noreferrer">{{ gettext("Paris Hilton") }}
            </a>
          </div>
          <div class="title">
            {{ gettext("Paris Hilton") }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contributing-team-section blue-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>{{gettext("100%% open-source.")}}</h1>
          <h1>{{ contributors|length }} {{gettext(" contributors.")}}</h1>
        </div>
      </div>
      <div class="d-flex flex-row flex-wrap justify-content-center">
        {% for person in contributors %} {% if person.avatar %}
        <div class="p-0 px-md-3 col-3 col-md-2 col-lg-2 col-xl-2">
          <div class="team-member">
            <div class="headshot-wrapper-small">
              <a href="https://github.com/{{ person.username }}" target="_blank" rel="noopener noreferrer">
                <img src="{{ person.avatar }}" class="headshot" alt="{{ person.username }}"
                  title="{{ person.username }}" />
              </a>
            </div>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
      <div class="row">
        <div class="col-12">
          <h3>{{gettext("Want to contribute?")}}</h3>
        </div>
        <div class="col-12">
          <div class="action-buttons">
            <a href="https://github.com/OriginProtocol" class="btn btn-primary btn-inverse" target="_blank"
              rel="noopener noreferrer">{{gettext("Visit our GitHub Repository")}}</a>
            <a href="https://discord.gg/rZnxkSq"
              class="btn btn-primary btn-inverse">{{gettext("Join our #engineering channel on Discord")}}</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="join-team-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>{{gettext("Interested in working at Origin?")}}</h1>
        </div>
        <div class="col-12">
          <div class="subtitle">
            {{gettext("We are a distributed team and are hiring all around the
            world.")}}
          </div>
        </div>
        <div class="col-12">
          <div class="action-buttons">
            <a href="https://angel.co/originprotocol/jobs" class="btn btn-primary" target="_blank"
              rel="noopener noreferrer">{{gettext("View open positions")}}</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include 'footer.html' %}
</main>

{% endblock %} {% block extra_scripts %} {% endblock %}