{% extends 'base.html' %}

{% block title %}The sharing economy without intermediaries: Origin Protocol Team{% endblock %}

{% block meta_description %}Origin Protocol - Team{% endblock %}

{% block content %}

<main class="landing-page">
  {% include 'navbar_light.html' %}
  <section class="team-header-section">
    <div class="container foreground-content">
      <div class="row">
        <div class="col-12 col-md-6">
          <h1>
            Our Team
          </h1>
        </div>
        <div class="col-12 col-md-6">
          <p>
            Origin is a team of distributed entrepreneurs, engineers, and blockchain experts. Our mission is to enable the sharing economy on the decentralized web. We're hiring!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="core-team-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-pane background-panes">
          <div class="row row-pane">
            <div class="col-4 col-pane">
              <div class="left-upper-pane">
              </div>
            </div>
            <div class="col-8 col-pane">
              <div class="right-upper-pane">
              </div>
            </div>
          </div>
        </div>
        <div class="container foreground-content">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2>
                Core Team
              </h2>
              <div class="row">
                <div class="col-12 col-md-6 col-xl-3">
                  <div class="team-member">
                    <div class="headshot-wrapper">
                      <img src="/static/img/headshot-josh.jpg" class="headshot">
                    </div>
                    <div class="name">
                      <a href="http://www.linkedin.com/in/joshuafraser">Josh Fraser
                      </a>
                    </div>
                    <div class="title">
                      Cofounder
                    </div>
                    <div class="bio">
                      Josh started coding at the age of 10. Prior to Origin, he co-founded three other venture-backed companies: EventVue, Torbit (acquired by Walmart Labs) & Forage.
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                  <div class="team-member">
                    <div class="headshot-wrapper">
                      <img src="/static/img/headshot-matt.jpg" class="headshot">
                    </div>
                    <div class="name">
                      <a href="http://www.linkedin.com/in/matthewliu">Matthew Liu
                      </a>
                    </div>
                    <div class="title">
                      Cofounder
                    </div>
                    <div class="bio">
                      Matt has an MS from Stanford. He was the 3rd PM at YouTube (acquired by Google) and VP PM at Qwiki (acquired by Yahoo) and Bonobos (acquired by Walmart).
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                  <div class="team-member">
                    <div class="headshot-wrapper">
                      <img src="/static/img/headshot-stan.jpg" class="headshot">
                    </div>
                    <div class="name">
                      <a href="http://www.linkedin.com/in/wanderingstan">Stan James
                      </a>
                    </div>
                    <div class="title">
                      Senior engineer
                    </div>
                    <div class="bio">
                      Stan is a software architect with deep experience in game design and machine learning. Previously, he founded Lijit Networks (acquired by Federated Media).
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                  <div class="team-member">
                    <div class="headshot-wrapper">
                      <img src="/static/img/headshot-andrew.jpg" class="headshot">
                    </div>
                    <div class="name">
                      <a href="http://www.linkedin.com/in/andrewhyde">Andrew Hyde
                      </a>
                    </div>
                    <div class="title">
                      Community
                    </div>
                    <div class="bio">
                      Andrew is the founder of four startups, including Startup Weekend, and has built global communities across dozens of countries. He was employee 1 at TechStars.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contributing-team-section">
    <div class="container-fluid">
      <div class="row">
        <div class="container foreground-content">
          <div class="row">
            <div class="col-12 offset-xl-2 col-xl-10">
              <h2>
                Contributing Team
              </h2>
              <div class="row">
                <div class="col-12 col-md-6 col-xl-3">
                  <div class="team-member">
                    <div class="headshot-wrapper">
                      <img src="/static/img/headshot-aure.jpg" class="headshot">
                    </div>
                    <div class="name">
                      <a href="http://www.linkedin.com/in/aure-gimon-8501041">Aure Gimon
                      </a>
                    </div>
                    <div class="title">
                      Product Design
                    </div>
                    <div class="bio">
                      Aure has deep experience in crafting products that delight users. He has designed experiences with top brands (Nike, Sony, Virgin) and Silicon Valley startups. 
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                  <div class="team-member">
                    <div class="headshot-wrapper">
                      <img src="/static/img/headshot-derek.jpg" class="headshot">
                    </div>
                    <div class="name">
                      <a href="http://www.linkedin.com/in/derekhkan">Derek Kan
                      </a>
                    </div>
                    <div class="title">
                      Evangelism
                    </div>
                    <div class="bio">
                      Derek is a product executive that has built global marketing and ad technology business lines. He's held leadership positions at GroupM and Omnicom Media Group.
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                  <div class="team-member">
                    <div class="headshot-wrapper">
                      <img src="/static/img/headshot-saureen.jpg" class="headshot">
                    </div>
                    <div class="name">
                      <a href="http://www.linkedin.com/in/saureenshah">Saureen Shah
                      </a>
                    </div>
                    <div class="title">
                      Engineering and BD
                    </div>
                    <div class="bio">
                      Saureen is a serial entrepreneur and investor. He was cofounder and CTO of sharing economy marketplace InstaWork and 10th software engineer at YouTube.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-pane background-panes bottom-panes offset-panes">
          <div class="row row-pane align-items-end">
            <div class="col-9 col-pane">
              <div class="left-lower-pane">
              </div>
            </div>
            <div class="col-3 col-pane">
              <div class="right-lower-pane">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="filler-section">
  </section>
  <section class="investors-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-pane background-panes">
          <div class="row row-pane">
            <div class="col-4 col-pane">
              <div class="left-upper-pane">
              </div>
            </div>
            <div class="col-8 col-pane">
              <div class="right-upper-pane">
              </div>
            </div>
          </div>
        </div>
        <div class="container foreground-content">
          <div class="row">
            <div class="col-12 offset-xl-1 col-xl-10">
              <h2>
                Investors and Partners
              </h2>
              <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="investor">
                    <div class="logo-wrapper">
                      <a href="https://www.panteracapital.com/">
                        <img src="/static/img/pantera-logo.png" class="investor-logo">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="investor consensys">
                    <div class="supported-by">
                      Supported by
                    </div>
                    <div class="logo-wrapper">
                      <a href="https://consensys.net/">
                        <img src="/static/img/consensys-logo.png" class="investor-logo">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  
  {% include 'footer.html' %}
</main>

{% endblock %}

{% block extra_scripts %}
{% endblock %}
