{% extends 'base.html' %}

{% block title %}{{ gettext("Origin Protocol - Team") }}{% endblock %}

{% block meta_description %}{{ gettext("Origin Protocol - Team") }}{% endblock %}

{% block content %}

<main class="team-page">
  <div class="background-wrapper">
    {% with theme_dark=True %}
    <div class="particles-container">
      {% include 'particles.html' %}
    </div>
    {% include 'navbar.html' %}
    {% endwith %}
    <section class="header-section team-header-section">
      <div class="container foreground-content">
        <div class="row">
          <div class="col-12 col-md-6">
            <h1>
              {{ gettext("Our Team") }}
            </h1>
          </div>
          <div class="col-12 col-md-6">
            <p>
              {{ gettext("Origin is a team of distributed entrepreneurs, engineers, and blockchain experts. Our mission is to enable the sharing economy on the decentralized web. We're hiring!") }}
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="core-team-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-pane background-panes top-panes">
            <div class="row row-pane">
              <div class="col-4 col-pane">
                <div class="left-upper-pane">
                </div>
              </div>
              <div class="col-8 col-pane">
                <div class="right-upper-pane">
                </div>
              </div>
            </div>
            <div class="row row-pane">
              <div class="col-12 col-pane">
                <div class="core-team-bottom-pane">
                </div>
              </div>
            </div>
          </div>
          <div class="container foreground-content">
            <div class="row">
              <div class="col-12">
                <h2>
                  {{ gettext("Core Team") }}
                </h2>
                <div class="row">
                  <div class="col-12 col-md-6 col-xl-3">
                    <div class="team-member">
                      <div class="headshot-wrapper">
                        <img src="/static/img/headshot-josh.jpg" class="headshot" alt="Josh Fraser headshot">
                      </div>
                      <div class="name">
                        <a href="http://www.linkedin.com/in/joshuafraser" target="_blank">{{ gettext("Josh Fraser") }}
                        </a>
                      </div>
                      <div class="title">
                        {{ gettext("Cofounder") }}
                      </div>
                      <div class="bio">
                        {{ gettext("Josh started coding at the age of 10. Prior to Origin, he co-founded three other venture-backed companies: EventVue, Torbit (acquired by Walmart Labs) &amp; Forage.") }}
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-3">
                    <div class="team-member">
                      <div class="headshot-wrapper">
                        <img src="/static/img/headshot-matt.jpg" class="headshot" alt="Matthew Liu headshot">
                      </div>
                      <div class="name">
                        <a href="http://www.linkedin.com/in/matthewliu" target="_blank">{{ gettext("Matthew Liu") }}
                        </a>
                      </div>
                      <div class="title">
                        {{ gettext("Cofounder") }}
                      </div>
                      <div class="bio">
                        {{ gettext("Matt was the 3rd PM at YouTube (acquired by Google) and VP PM at Qwiki (acquired by Yahoo) and Bonobos (acquired by Walmart). He has an MS and BS from Stanford.") }}
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-3">
                    <div class="team-member">
                      <div class="headshot-wrapper">
                        <img src="/static/img/headshot-stan.jpg" class="headshot" alt="Stan James headshot">
                      </div>
                      <div class="name">
                        <a href="http://www.linkedin.com/in/wanderingstan" target="_blank">{{ gettext("Stan James") }}
                        </a>
                      </div>
                      <div class="title">
                        {{ gettext("Senior Engineer") }}
                      </div>
                      <div class="bio">
                        {{ gettext("Stan is a software architect with deep experience in game design and machine learning. Previously, he founded Lijit Networks (acquired by Federated Media).") }}
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-3">
                    <div class="team-member">
                      <div class="headshot-wrapper">
                        <img src="/static/img/headshot-andrew.jpg" class="headshot" alt="Andrew Hyde headshot">
                      </div>
                      <div class="name">
                        <a href="http://www.linkedin.com/in/andrewhyde" target="_blank">{{ gettext("Andrew Hyde") }}
                        </a>
                      </div>
                      <div class="title">
                        {{ gettext("Community") }}
                      </div>
                      <div class="bio">
                        {{ gettext("Andrew was the founder of four startups, including Startup Weekend, and has built global communities across dozens of countries. He was employee number 1 at TechStars.") }}
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-3">
                    <div class="team-member">
                      <div class="headshot-wrapper">
                        <img src="/static/img/headshot-coleman.jpg" class="headshot" alt="Coleman Maher headshot">
                      </div>
                      <div class="name">
                        <a href="https://www.linkedin.com/in/coleman-maher-sf/" target="_blank">Coleman Maher
                        </a>
                      </div>
                      <div class="title">
                        {{ gettext("Partnerships") }}
                      </div>
                      <div class="bio">
                        {{ gettext("Coleman is an active cryptocurrency investor and real estate entrepreneur, owning and managing multiple Airbnb properties. He studied mathematics at Berkeley.") }}
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-3">
                    <div class="team-member">
                      <div class="headshot-wrapper">
                        <img src="/static/img/headshot-jon.jpg" class="headshot" alt="Jon Hearty headshot">
                      </div>
                      <div class="name">
                        <a href="https://www.linkedin.com/in/jonhearty/" target="_blank">{{ gettext("Jon Hearty") }}
                        </a>
                      </div>
                      <div class="title">
                        {{ gettext("Business Development") }}
                      </div>
                      <div class="bio">
                        {{ gettext("Jon was the 10th hire at Redbeacon (acquired by The Home Depot) and 1st hire at Datanyze where he served in multiple business development roles from VP of growth to COO.") }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="contributing-team-section">
    <div class="container-fluid">
      <div class="row">
        <div class="container foreground-content">
          <div class="row">
            <div class="col-12">
              <h2>
                {{ gettext("Contributing Team and Advisors") }}
              </h2>
              <div class="row">
                <div class="col-12 col-md-6 col-xl-3">
                  <div class="team-member">
                    <div class="headshot-wrapper">
                      <img src="/static/img/headshot-aure.jpg" class="headshot" alt="Aure Gimon headshot">
                    </div>
                    <div class="name">
                      <a href="http://www.linkedin.com/in/aure-gimon-8501041" target="_blank">{{ gettext("Aure Gimon") }}
                      </a>
                    </div>
                    <div class="title">
                      {{ gettext("Product Designer") }}
                    </div>
                    <div class="bio">
                      {{ gettext("Aure has deep experience in crafting products that delight users. He has designed experiences with top brands (Nike, Sony, Virgin) and Silicon Valley startups.") }}
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                  <div class="team-member">
                    <div class="headshot-wrapper">
                      <img src="/static/img/headshot-ryan.jpg" class="headshot" alt="Ryan Angilly headshot">
                    </div>
                    <div class="name">
                      <a href="https://www.linkedin.com/in/ryanangilly/" target="_blank">{{ gettext("Ryan Angilly") }}
                      </a>
                    </div>
                    <div class="title">
                      {{ gettext("Engineer") }}
                    </div>
                    <div class="bio">
                      {{ gettext("Ryan has 10+ years experience building and operating consumer-facing web applications and highly scalable B2B APIs. He is founder of Ramen and ChartURL.") }}
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                  <div class="team-member">
                    <div class="headshot-wrapper">
                      <img src="/static/img/headshot-daniel.jpg" class="headshot" alt="Daniel Von Fange headshot">
                    </div>
                    <div class="name">
                      <a href="https://www.leancoder.com" target="_blank">{{ gettext("Daniel Von Fange") }}
                      </a>
                    </div>
                    <div class="title">
                      {{ gettext("Engineer") }}
                    </div>
                    <div class="bio">
                      {{ gettext("Daniel is a full stack, polyglot developer. He's worked on projects from assembly programming to architecting systems tracking billions of dollars of NGO spend worldwide.") }}
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                  <div class="team-member">
                    <div class="headshot-wrapper">
                      <img src="/static/img/headshot-addison.jpg" class="headshot" alt="Addison Huegel headshot">
                    </div>
                    <div class="name">
                      <a href="https://www.linkedin.com/in/addisonhuegel/" target="_blank">{{ gettext("Addison Huegel") }}
                      </a>
                    </div>
                    <div class="title">
                      {{ gettext("Advisor/PR") }}
                    </div>
                    <div class="bio">
                      {{ gettext("Addison is a communications and marketing specialist with a degree in Physics from UC Berkeley. He previously worked with the Ethereum Foundation and DEVCON1.") }}
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                  <div class="team-member">
                    <div class="headshot-wrapper">
                      <img src="/static/img/headshot-melody.jpg" class="headshot" alt="Melody He headshot">
                    </div>
                    <div class="name">
                      <a href="https://www.linkedin.com/in/melody-he-497a5b25/" target="_blank">{{ gettext("Melody He") }}
                      </a>
                    </div>
                    <div class="title">
                      {{ gettext("Advisor/International BD") }}
                    </div>
                    <div class="bio">
                      {{ gettext("Melody is founder of Spartan Group, a blockchain advisory and investment fund. She was an early investor in TenX and strategic advisor to Gifto and Appcoins.") }}
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                  <div class="team-member">
                    <div class="headshot-wrapper">
                      <img src="/static/img/headshot-paul.jpg" class="headshot" alt="Paul Veradittakit headshot">
                    </div>
                    <div class="name">
                      <a href="https://www.linkedin.com/in/veradittakit/" target="_blank">{{ gettext("Paul Veradittakit") }}
                      </a>
                    </div>
                    <div class="title">
                      {{ gettext("Advisor") }}
                    </div>
                    <div class="bio">
                      {{ gettext("Paul is a Partner at Pantera Capital. He is also an advisor to several highly successful cryptocurrency projects including Orchid Labs, Enigma and ICON.") }}
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                  <div class="team-member">
                    <div class="headshot-wrapper">
                      <img src="/static/img/headshot-joey.jpg" class="headshot" alt="Joey Krug headshot">
                    </div>
                    <div class="name">
                      <a href="https://www.linkedin.com/in/joeykrug/" target="_blank">{{ gettext("Joey Krug") }}
                      </a>
                    </div>
                    <div class="title">
                      {{ gettext("Advisor") }}
                    </div>
                    <div class="bio">
                      {{ gettext("Joey is the co-founder of Augur, the world’s first decentralized prediction market and oracle system. He is a Co-Chief Investment Officer at Pantera Capital.") }}
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                  <div class="team-member">
                    <div class="headshot-wrapper">
                      <img src="/static/img/headshot-tyler.jpg" class="headshot" alt="Tyler Yasaka headshot">
                    </div>
                    <div class="name">
                      <a href="https://github.com/tyleryasaka" target="_blank">{{ gettext("Tyler Yasaka") }}
                      </a>
                    </div>
                    <div class="title">
                      {{ gettext("Engineer") }}
                    </div>
                    <div class="bio">
                      {{ gettext("Tyler is a full stack developer and blockchain enthusiast. He is a recent college graduate who has helped build an ecommerce platform in the auto recycling industry.") }}
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                  <div class="team-member">
                    <div class="headshot-wrapper">
                      <img src="/static/img/headshot-gagan.jpg" class="headshot" alt="Gagandeep Singh headshot">
                    </div>
                    <div class="name">
                      <a href="https://www.linkedin.com/in/gagandeep-singh-60040b92/" target="_blank">{{ gettext("Gagandeep Singh") }}
                      </a>
                    </div>
                    <div class="title">
                      {{ gettext("Engineer") }}
                    </div>
                    <div class="bio">
                      {{ gettext("Gagan is a full stack developer with over 4 years of experience working with several early stage startups. He has expertise in building scalable enterprise-grade applications.") }}
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                  <div class="team-member">
                    <div class="headshot-wrapper">
                      <img src="/static/img/headshot-brad.jpg" class="headshot" alt="Brad Davis headshot">
                    </div>
                    <div class="name">
                      <a href="https://www.linkedin.com/in/bradrobertdavis" target="_blank">{{ gettext("Brad Davis") }}
                      </a>
                    </div>
                    <div class="title">
                      {{ gettext("Engineer") }}
                    </div>
                    <div class="bio">
                      {{ gettext("Brad is a full stack developer, product manager and entrepreneur. He is founder of real estate collaboration platform, BoxMLS and a P2P used-goods marketplace, HashtagSell.") }}
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                  <div class="team-member">
                    <div class="headshot-wrapper">
                      <img src="/static/img/headshot-nick.jpg" class="headshot" alt="Nick Poulden headshot">
                    </div>
                    <div class="name">
                      <a href="http://poulden.com/" target="_blank">{{ gettext("Nick Poulden") }}
                      </a>
                    </div>
                    <div class="title">
                      {{ gettext("Engineer") }}
                    </div>
                    <div class="bio">
                      {{ gettext("Nick founded his first company while still at college in the UK, later moving to Silicon Valley to work as a UI Architect for multiple organizations, small and large.") }}
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                  <div class="team-member">
                    <div class="headshot-wrapper">
                      <img src="/static/img/headshot-micah.jpg" class="headshot" alt="Micah Alcorn headshot">
                    </div>
                    <div class="name">
                      <a href="https://twitter.com/micahalcorn" target="_blank">{{ gettext("Micah Alcorn") }}
                      </a>
                    </div>
                    <div class="title">
                      {{ gettext("Engineer") }}
                    </div>
                    <div class="bio">
                      {{ gettext("Micah has been a commercial real estate broker for over a decade while developing software along the way. He is the technical cofounder of WellAttended, a bootstrapped box office management platform.") }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-pane background-panes bottom-panes offset-panes">
          <div class="row row-pane align-items-end">
            <div class="col-9 col-pane">
              <div class="left-lower-pane">
              </div>
            </div>
            <div class="col-3 col-pane">
              <div class="right-lower-pane">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="filler-section">
  </section>
  <section class="investors-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-pane background-panes">
          <div class="row row-pane">
            <div class="col-4 col-pane">
              <div class="left-upper-pane">
              </div>
            </div>
            <div class="col-8 col-pane">
              <div class="right-upper-pane">
              </div>
            </div>
          </div>
        </div>
        <div class="container foreground-content">
          <div class="row">
            <div class="col-12 offset-xl-1 col-xl-10">
              <h2>
                {{ gettext("Investors") }}
              </h2>
              <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="investor">
                    <div class="logo-wrapper">
                      <a href="https://www.panteracapital.com/" target="_blank">
                        <img src="/static/img/pantera-logo.png" class="investor-logo" alt="Pantera logo">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'footer.html' %}
</main>

{% endblock %}

{% block extra_scripts %}
{% endblock %}
