{% extends 'base.html' %}

{% block title %}{{gettext(video.title)}} | {{ gettext("Origin Protocol") }}{% endblock %}

{% block meta_description %}{{ gettext(video.summary) }}{% endblock %}

{% block content %}

{% with theme_dark=True %}
{% include 'navbar.html' %}
{% endwith %}  

<main class="video-page">
  <div class="video-block screen-size-segment d-flex flex-column justify-content-center align-items-center">
    <div id="video-page-video" data-video-source="{{"%s" % (video.hash)}}" class="full-screen-video d-none" ></div>
    <div class="background-video">
      <div class="video-holder d-flex flex-column justify-content-end align-items-center">
        <img id="video-page-video-background" src="{{"/static/img/videos/%s.png" % (video.hash)}}"/>
      </div>
    </div>
    <div class="video-overlay"></div>
    <div class="contents d-flex flex-column justify-content-center align-items-center">
      <button id="video-page-video-button" class="play-button d-flex justify-content-center align-items-center m-4">
        <img class="ml-2" src="/static/img/landing/play-triangle.svg"/>
      </button>
      <div class="mt-2">{{gettext("Watch the video")}}</div>
    </div>
  </div>
  <!-- Video info -->
  <div class="video-info d-flex flex-column justify-content-center align-items-center">
    <div class="container d-flex flex-column">
      <h1 class="segment-title ml-0 mr-4">{{gettext(video.title)}}</h1>
      <div class="share">{{gettext("Share")}}</div>
      <div class="d-flex share-items">
        <a href="#" target="_blank" rel="noopener noreferer" share-video-to="facebook" id="facebook-share"><img src="/static/img/video/facebook.svg"/></a>
        <a href="#" target="_blank" rel="noopener noreferer" share-video-to="twitter" id="twitter-share"><img src="/static/img/video/twitter.svg"/></a>
        <a href="#" target="_blank" rel="noopener noreferer" share-video-to="link" id="link-share"><img src="/static/img/video/link.svg"/></a>
      </div>
      <div class="tiles-holder d-flex justify-content-start align-self-center flex-wrap">
        {% for video in featured_videos %}
          <div class="col-12 col-md-3 video-item">
            <a href="{{ "/video/%s" % (video.hash)}}"><img src="{{"/static/img/videos/%s_thumb.png" % (video.hash)}}" /></a>
            <a href="{{ "/video/%s" % (video.hash)}}" class="title">
              {{ gettext(video.title) }}
            </a>
            <div class="summary">
              {{ gettext(video.summary) }}
            </div>
            <a class="watch-link" href="{{ "/video/%s" % (video.hash)}}">{{ gettext("Watch now") }} <span>></span></a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
</main>

{% endblock %}