{% extends 'base.html' %}

{% block title %}{{ gettext("Origin Protocol - Build on Origin") }}{% endblock %}

{% block meta_description %}{{ gettext("Origin Protocol - Build on Origin") }}{% endblock %}

{% block content %}

{% with theme_dark=True %}
{% include 'navbar.html' %}
{% endwith %}  

<main class="video-page">
  <div class="video-block screen-size-segment d-flex flex-column justify-content-center align-items-center">
    <div id="about-video" class="full-screen-video d-none" ></div>
    <div class="background-video">
      <div class="video-holder d-flex flex-column justify-content-end align-items-center">
        <img src="/static/img/videos/zZcOdbYo7ys.png"/>
      </div>
    </div>
    <div class="video-overlay"></div>
    <div class="contents d-flex flex-column justify-content-center align-items-center">
      <button id="about-video-button" class="play-button d-flex justify-content-center align-items-center m-4">
        <img class="ml-2" src="/static/img/landing/play-triangle.svg"/>
      </button>
      <div class="mt-2">{{gettext("Watch the video")}}</div>
    </div>
  </div>
  <!-- Video info -->
  <div class="video-info d-flex flex-column justify-content-center align-items-center">
    <div class="container d-flex flex-column">
      <h1 class="segment-title ml-0 mr-4">{{gettext("Video Title Goes Here and Can Be Long")}}</h1>
      <div>{{gettext("Share")}}</div>
      <div class="d-flex share-items">
        <div id="facebook-share"><img src="/static/img/video/facebook.svg"/></div>
        <div id="twitter-share"><img src="/static/img/video/twitter.svg"/></div>
        <div id="link-share"><img src="/static/img/video/link.svg"/></div>
      </div>
      <div class="tiles-holder d-flex justify-content-center align-self-center">
        <div class="d-flex flex-column tile align-items-center">
          <div class="tile-title">{{gettext("Fortune Magazine, Balancing The Ledger: Origins Mission to Decentralize Marketplaces")}}</div>
          <div class="tile-text mb-auto">{{gettext("Fortune covers our goal to create a truly decentralized sharing...")}}</div>
          <a class="align-self-start" href="/#">{{gettext("Watch now")}}</a>
        </div>
        <div class="d-flex flex-column tile align-items-center">
          <div class="tile-title">{{gettext("The first Origin Tech Workshop in Venezuela")}}</div>
          <div class="tile-text mb-auto">{{gettext("We teamed up with the Aktio team to host the first Origin Protocol tech workshop in Caracas.")}}</div>
          <a class="align-self-start" href="/#">{{gettext("Watch now")}}</a>
        </div>
        <div class="d-flex flex-column tile align-items-center">
          <div class="tile-title">{{gettext("K.E.Y. Conference - Micah Alcorn")}}</div>
          <div class="tile-text mb-auto">{{gettext("Lorem ipsum dolor sit amet consectetuer adsplicing nonummy pellentesque curabitur lorem ipsum dolor sit...")}}</div>
          <a class="align-self-start" href="/#">{{gettext("Watch now")}}</a>
        </div>
        <div class="d-flex flex-column tile align-items-center">
          <div class="tile-title">{{gettext("K.E.Y. Conference - Micah Alcorn")}}</div>
          <div class="tile-text mb-auto">{{gettext("Lorem ipsum dolor sit amet consectetuer adsplicing nonummy pellentesque curabitur lorem ipsum dolor sit...")}}</div>
          <a class="align-self-start" href="/#">{{gettext("Watch now")}}</a>
        </div>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
</main>

{% endblock %}