{% extends 'base.html' %}

{% block title %}{{ gettext("Origin Protocol - Videos") }}{% endblock %}

{% block meta_description %}{{ gettext("Watch videos featuring Origin's top investors, employees, and other supporters.") }}{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<main class="videos-page">
  <section class="videos-tabbed-view-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Videos</h1>
          <div class="alert alert-warning" role="alert">
           <strong>Much of this content is out of date. Since finding traction in NFTs and DeFi, our team is no longer focused on decentralized marketplaces and the sharing economy. The videos are made available for historical context and posterity.</strong>
          </div>
          <div class="category-tab-groups">
            <a href="#" class="category-tab d-none d-md-flex" data-category-group="featured">{{ gettext("Featured") }}</a>
            <a href="#" class="category-tab d-none d-md-flex" data-category-group="employee">{{ gettext("Employee Videos") }}</a>
            <!-- <a href="#" class="category-tab d-none d-md-flex" data-category-group="meetup">{{ gettext("Meetup Videos") }}</a> -->
            <a href="#" class="category-tab d-flex d-md-none" data-category-group="featured">{{ gettext("Featured") }}</a>
            <a href="#" class="category-tab d-flex d-md-none" data-category-group="employee">{{ gettext("Employees") }}</a>
            <!-- <a href="#" class="category-tab d-flex d-md-none" data-category-group="meetup">{{ gettext("Meetups") }}</a> -->
          </div>
        </div>
      </div>
      <div class="row">
        {% for video in videos %}
          <div class="col-12 col-md-3 video-item" data-category="{{video.category}}">
            <a class="image-video-link" href="{{ url_for('video', lang_code=CURRENT_LANGUAGE, video_slug=video.slug) }}">
              <img src="{{ "/static/img/videos/%s.jpg" % (video.hash)}}" />
              <div class="overlay hide hover-show justify-content-center align-items-center">
                <img class="play" src="/static/img/landing/play-triangle.svg" />
              </div>
              <div class="overlay d-flex justify-content-end align-items-end">
                <div class="duration mb-2 mr-2">{{video.duration}}</div>
              </div>
            </a>
            <a href="{{ "/video/%s" % (video.slug)}}" class="title">
              {{ gettext(video.title) }}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <br><br><br>
  
{% include 'footer.html' %}
</main>

{% endblock %}