{% if timer_nav==True %}
<div 
  data-countdown-timer 
  data-startdate="2019/12/01" 
  data-enddate="2020/2/15"
  data-nav
  placeholder="{{gettext("To be Announced")}}">
 </div>
{% elif timer_large==True %}
<div 
  data-countdown-timer 
  data-startdate="2019/12/01" 
  data-enddate="2020/2/15"
  data-large
  placeholder="{{gettext("To be Announced")}}">
 </div>
{% else %}
<div 
  data-countdown-timer 
  data-startdate="2019/12/01" 
  data-enddate="2020/2/15"
  placeholder="{{gettext("To be Announced")}}">
 </div>
{% endif %}


