{% extends 'email/email_base.html' %}

{% block content %}

<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td style="padding: 40px; font-family: 'Lato', sans-serif; font-size: 15px; line-height: 20px; color: #444444;">
      
April News From Origin Protocol

<br><br>

<a href="https://medium.com/originprotocol/announcing-origin-protocols-successful-strategic-round-36c9779a356e">
<img src='http://www.originprotocol.com/static/img/emails/origin-rocket.png' width='100%'/>
</a>

<br><br>

It has been another amazing month at Origin Protocol! We are working hard to build the sharing economy without intermediaries. We are so excited to have a so many people from all and the globe joining us on our journey!

<br>

<h2>Strategic Sale</h2>

We are happy to announce that Origin has raised $28.5M in our strategic sale. These strategic partners include traditional Venture Capital firms, top Silicon Valley angel investors, global cryptocurrency funds, and founders of other leading blockchain companies. While this round was limited to accredited investors, we are currently working on multiple projects that are focused on giving the broader community an ability to participate in our platform in a meaningful way. <a href="https://medium.com/originprotocol/announcing-origin-protocols-successful-strategic-round-36c9779a356e">Read the full funding announcement on our blog.</a>

<h2>Community</h2>

<a href="http://www.originprotocol.com/telegram">
<img src='http://www.originprotocol.com/static/img/emails/telegram-23k.png' width='100%'/>
</a>

<br><br>

We now have over 23,000 members on <a href="http://www.originprotocol.com/telegram">Telegram</a>! This is all organic without any sort of bounties or airdrop. We are thankful to those who invited friends and family into our community.

<h2>Product</h2>

We have been heads down and working hard developing Origin.js, our smart contract library, and other components of our platform. Identity is the foundation of much of what we are building, and we’re proud of the ground-breaking work we’ve been doing in this area. We recently <a href="https://medium.com/originprotocol/managing-identity-with-a-ui-for-erc-725-5c7422b38c09">announced our support of ERC 725 and open-sourced our identity playground</a>. This is the first known working implementation of this identity standard, authored by Fabian Vogelsteller (creator of the ERC 20 standard, the Mist browser and Web3) and we’re excited to implement this open standard as part of the Origin platform.
<br><br>
Over 40 people have now contributed to <a href="http://www.github.com/originprotocol">our open-source codebase</a> and we are thankful for the amount of enthusiasm from the open-source community. Stan James is doing an amazing job coordinating a truly global team. 

<h2>Partnerships</h2>

We are thrilled that over 45 marketplace partners have signed commitments to build on Origin’s platform. We will be supporting some of the top teams in blockchain like <a href="https://medium.com/originprotocol/building-on-origin-announcing-our-partnership-with-canya-f82a490f6e71">CanYa</a> and Spin (Pin Protocol), as well as thriving marketplaces like <a href="https://medium.com/originprotocol/building-on-origin-announcing-our-partnership-with-servishero-159d1a24bf5a">ServisHero</a> (freelancing in Southeast Asia) and <a href="https://medium.com/originprotocol/origin-protocol-kozaza-bridging-the-past-and-the-future-using-blockchain-566f7a0b35b6">Kozaza</a> (homesharing in Korea) that are moving their businesses to the blockchain.

<h2>Security</h2>

We had a few phishing sites pop up and try to scam our users. If you see an email that looks like it's from us, be sure to verify the information on our <a href="http://www.originprotocol.com/telegram">Telegram</a> and <a href="http://www.originprotocol.com">website</a> to make sure it is really from us. Please report any suspicious activity to security@originprotocol.com immediately.

<h2>Events</h2>


<img src='http://www.originprotocol.com/static/img/emails/matt-conference.jpg' width='100%'/>

<br><br>

We have spoken at several conferences lately (Beyond Blocks Tokyo, ETHDenver, CryptoBlockCon in LA, GMIC in Beijing) and will be attending more throughout the year. Our cofounder Matt Liu is currently on the road giving presentations, meeting with our community, and talking to potential partners in Asia. Matt has met with several sharing economy giants such as Grab (which recently acquired Uber in Southeast Asia), Ofo, GO-JEK, and Xiaozhu and enjoyed the chance to learn from them while sharing our perspective on how the blockchain will impact the sharing economy.

<br><br>

<img src='http://www.originprotocol.com/static/img/emails/matt-grab.jpg' width='100%'/>

<br><br>

Members of the Origin team will also be attending the following blockchain conferences, and we’d love to say hello if you’re going to be attending:

<br>

<ul>
	<li><a href="http://wdas.world/">World Digitial Assets Summit</a> in Singapore (May 1-3)</li>
	<li><a href="https://www.crowdinvestsummit.com/">CrowdInvest</a> in Los Angeles (May 1-3)</li>
	<li><a href="https://svef.biz/">Silicon Valley Entreprenuers Festival</a> in Santa Clara (May 2)</li>
	<li><a href="https://edcon.io/">EdCon</a> in Toronto (May 3-5)</li>
	<li><a href="https://etherealsummit.com/">Ethereal</a> in NYC (May 11-13)</li>
	<li><a href="https://www.coindesk.com/events/consensus-2018/">Consensus</a> in NYC (May 14-16)</li>
	<li><a href="http://tokensummit.com/">Token Summit</a> in NYC (May 16-17)</li>
</ul>

We value everyone in our community and would love to meet with you either in our home cities of San Francisco and Boulder or in any of the cities we are visiting. 
<br><br>
Know any other conferences we should be speaking at? Email andrew@originprotocol.com.
<br><br>
<a href="http://www.originprotocol.com/telegram">Join our Telegram</a> to get more regular news updates or <a href="http://www.originprotocol.com/discord>">Join our Discord</a> if you want to get more involved with our work. Thanks to everyone for being a part of our community. We couldn't do this without you.

<br><br>

Cheers from Origin Protocol! 

    </td>
  </tr>
</table>
  
{% endblock %}

