{% extends 'email/email_base.html' %}

{% block content %}

<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td style="padding: 40px; font-family: 'Lato', sans-serif; font-size: 15px; line-height: 20px; color: #444444;">
      Thank you for your interest in {{ universal.BUSINESS_NAME }}. 
      <br><br>
      We have your information and will be in touch soon.
      <br><br>
      Thanks,
      <br>
      The {{ universal.BUSINESS_NAME }} team
      <br><br>
    </td>
  </tr>
</table>
  
{% endblock %}

