{% extends 'email/email_base.html' %}

{% block content %}

<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td style="padding: 40px; font-family: 'Lato', sans-serif; font-size: 15px; line-height: 20px; color: #444444;">
      
As we approach the one-year anniversary of the beginning of Origin, we continue to be blown away by the number of incredible people that have chosen to join us on this journey. With over 31K members in our Telegram, more than 40 contributors to our open-source codebase, and 190 investors in our recent Strategic Round, we are humbled to have found so many people who share our ideals. Thank you for joining us on our mission to enable truly decentralized peer-to-peer marketplaces. 
<br><br>
Today we are incredibly excited to share with our loyal (and patient!) community that registration to participate in our next fundraising milestone, Origin’s CoinList Round, is now open. Registration will stay open till June 27th, but we expect the round to close quickly, so be sure to get started with the process as soon as possible.

<br><br>

<a href="https://www.coinlist.co/origin">
<img src='http://www.originprotocol.com/static/img/coinlist.png' width='100%'/>
</a>

<br><br>
After registering, you will need to pass accreditation, anti-money laundering and know-your-customer verifications in a timely manner to be ready to fund your investment as soon as the round opens. The process can take up to 3 days, so be sure to get started early!
<br><br>
Because our goal with this round is to maximize the total number of participants, we will keep the maximum investment capped. We are targeting a raise of $6.6M USD for the current round. For more information on the Origin platform, our team, and the details of the offering, check out <a href="https://medium.com/@hearty/147096f6a906">our official announcement on Medium</a>.
<br><br>

<br>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" style="border-radius: 6px;" bgcolor="#1a82ff"><a href="https://www.coinlist.co/origin" target="_blank" style="font-size: 16px; font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif; color: #ffffff; text-decoration: none; text-decoration: none;border-radius: 6px; padding: 12px 18px; border: 1px solid #1a82ff; display: inline-block;">REGISTER NOW ON COINLIST</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<br>


    </td>
  </tr>
</table>
  
{% endblock %}

