{% extends 'email/email_base.html' %}

{% block content %}

<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td style="padding: 40px; font-family: 'Lato', sans-serif; font-size: 15px; line-height: 20px; color: #444444;">
      
<h2>New release of our demo DApp!</h2>

We have lots of exciting new functionality to show off with our latest release of the <a href="https://demo.originprotocol.com">Origin demo DApp</a> that is live on the Ropsten and Rinkeby test networks. We’ve crammed a lot of new features into this latest release, including user identity (supporting the ERC 725 standard), transaction steps, escrow, ratings, and reviews.

<br><br>

<a href="https://medium.com/originprotocol/tech-update-dapp-gets-erc-725-identity-transaction-steps-escrow-reviews-298a7c91b7a5">
<img src='http://www.originprotocol.com/static/img/emails/origin-dapp-profile.png' width='100%'/>
</a>

<br><br>

Please read our <a href="https://medium.com/originprotocol/tech-update-dapp-gets-erc-725-identity-transaction-steps-escrow-reviews-298a7c91b7a5">latest tech update</a> to learn more about our progress with this latest release or head straight to <a href="https://demo.originprotocol.com">our demo DApp</a> to check it out for yourself.

<br><br>

In the last few months, we’ve had over 1,700 commits to our Github repositories and merged 340 pull requests from over 40 open-source contributors. Our progress is only accelerating, and we are on track for platform launch on the Ethereum mainnet by the end of Q3 this year. 

<br><br>

We owe a huge thanks to every one of our incredible open-source contributors who made this release possible. As always, thank you for your support of this project. Please continue to spread the word and tell your friends about Origin!

    </td>
  </tr>
</table>
  
{% endblock %}

