{% extends 'email/email_base.html' %}

{% block content %}

<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
		<td style="padding: 40px; font-family: 'Lato', sans-serif; font-size: 15px; line-height: 20px; color: #444444;">
			Decentralized applications work differently from the centralized applications you’re accustomed to using. Here are a few core concepts you should know as you start using the Origin marketplace:
			<br><br>
			<strong>What is blockchain?</strong>
			<br><br>
			Picture a spreadsheet that is duplicated thousands of times across a network of computers. Then imagine that this network is designed to update this spreadsheet regularly and you have a basic understanding of the blockchain.
			<br><br>
			Information shared on the blockchain is constantly updated and verified, then duplicated to many locations. The end result is that everyone using the blockchain trusts that the data is accurate, meaning a lot of people that don't know each other can still interact and transact with each other safely.
			<br><br>
			Decentralized Applications (DApps) running on the blockchain are not controlled by any central entity. End users like you are in full control.
			<br><br>
			<strong>Private keys: Keep them secret. Keep them safe.</strong>
			<br><br>
			While anyone can read information from the blockchain, to write to the blockchain you need to own the right private key.
			<br><br>
			A private key is a secret that is randomly generated when you create a wallet. Nobody on earth knows it besides you (and it's too long to merely guess). The decentralized nature of the blockchain means that every individual needs to safeguard their own private key.
			<br><br>
			This is harder than it sounds, and most people never had to do it before. With centralized services such as Google and Facebook, you did not control your data. Those services did, which is why you never had to truly own a private key.
			<br><br>
			Be advised: If you lose all copies of your private key, there is no way to recover it. If someone gets their hands on a copy of your private key, they can steal all of your funds, and there is no way to undo it.
			<br><br>
			<strong>Setting Up Your Wallet</strong>
			<br><br>
			Wallets are a secure place to store your private keys. Wallets can be hardware devices (Ledger, Trezor), mobile apps (Coinbase Wallet, imToken, Trust Wallet), or a browser extension like MetaMask. All of these wallets will work with Origin. Here’s a video tutorial on how to set up <a href="https://metamask.io">MetaMask</a> on your desktop browser:
			<br><br>
			<a href="https://www.youtube.com/watch?v=EMVh3b29gYA">
				<img src="{{universal.BASE_URL }}/static/img/emails/metamask-youtube-screenshot.png" width="100%" />
			</a>
			<br><br>
			While MetaMask is generally the best wallet option for desktop users, we recommend using the Origin Marketplace mobile app <a href="https://www.originprotocol.com/mobile">Origin Wallet</a>. Origin Marketplace offers the most convenient way to experience true peer-to-peer commerce from your mobile device.
			<br><br>
			<strong>Acquiring ETH</strong>
			<br><br>
			Before you can purchase anything using Origin, you will need to acquire ETH from an exchange or a friend. There are cryptocurrency exchanges in every region of the world. <a href="https://www.coinbase.com">Coinbase</a> is a popular choice that is currently available in <a href="https://www.coinbase.com/global?locale=en-US">42 countries</a>, but Google can help you find the best option for where you live. Once you obtain your initial ETH, you’ll want to transfer it to the wallet that you plan to use with the DApp so you can start buying and selling on the Origin marketplace.
			<br><br>
			<strong>Getting Started</strong>
			<br><br>
			Open <a href="https://www.originprotocol.com/mobile">Origin Marketplace</a> or <a href="https://www.shoporigin.com">ShopOrigin.com</a> to find something to buy or create your first listing today. If you have any questions as you’re getting started, please feel free to respond to this email or you can find our entire team on <a href="https://www.originprotocol.com/discord">Discord</a>.
			
		</td>
	</tr>
</table>

{% endblock %}

