{% extends 'email/email_base.html' %}

{% block content %}

<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
		<td style="padding: 40px; font-family: 'Lato', sans-serif; font-size: 15px; line-height: 20px; color: #444444;">
			In order to be able to transact as a buyer or seller on the Origin DApp, you’ll need a crypto wallet attached to your browser. We recommend using the <a href="https://www.metamask.io">Metamask extension</a> with Chrome or Firefox. Install the extension to your browser, create a wallet, and then transfer some ETH to it to begin using our DApp. Here's a video explaining how to get started on our Marketplace:
			<br><br>
			<a href="https://www.youtube.com/watch?v=EMVh3b29gYA">
				<img src="{{universal.BASE_URL }}/static/img/emails/metamask-youtube-screenshot.png" width="100%" />
			</a>
			<br><br>
			As a second step, we highly encourage our users to enable Origin Messaging. Because this is a decentralized service, our buyers and sellers communicate directly with each other (without Origin in the middle). If you don’t enable Origin Messaging, it will be difficult to interact with counterparties in a transaction. Origin Messaging is a great way for buyers and sellers to securely chat with each other (e.g. to ask questions about the item for sale, to provide a shipping address, etc.); messages are encrypted and only the sender and receiver can decrypt them.
			<br><br>
			As a final step, we recommend you <a href="https://dapp.originprotocol.com/#/profile">setup an Origin profile</a> — this is optional but whether you are a seller or a buyer, a strong profile gives higher confidence to the other party that the transaction is legitimate. Note that Origin will show other users you have verified your phone number or email address, but will NOT reveal your actual phone number or other sensitive data. When ready, publish your profile so that other users can learn more about you before buying or selling with you.
			<br><br>
			You are now ready to start buying and selling on the Origin DApp! If you have any questions or need help, feel free to respond to this email or ask for help in our <a href="https://www.originprotocol.com/discord">Discord</a>.

		</td>
	</tr>
</table>

{% endblock %}

