{% extends 'email/email_base.html' %}

{% block content %}

<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
		<td style="padding: 40px; font-family: 'Lato', sans-serif; font-size: 15px; line-height: 20px; color: #444444;">
			Decentralized applications work differently from the centralized applications you’re used to using. Here are a few core concepts you should know as you start using the Origin marketplace:
			<br><br>
			<strong>What is blockchain?</strong>
			<br><br>
			Picture a spreadsheet that is duplicated thousands of times across a network of computers. Then imagine that this network is designed to update this spreadsheet regularly and you have a basic understanding of the blockchain.
			<br><br>
			Information held on the blockchain exists as a shared and continually reconciled database. Since the blockchain database isn’t stored in any single location, the records it keeps are truly public, easily verifiable and no hacker can corrupt them.
			<br><br>
			Decentralized Applications (DApps) running on the blockchain store more than data on this network. They also store the rules that dictate how data gets updated. This means applications that are not controlled by any central entity, meaning you, the end users, are in full control.
			<br><br>
			<strong>Private keys: Keep them secret. Keep them safe.</strong>
			<br><br>
			While anyone can read information from the blockchain, to write to the blockchain you need to own the right private key.
			<br><br>
			A private key is a secret that is randomly generated when you create a wallet. Nobody on earth knows it besides you (and it's too long to merely guess). The decentralized nature of the blockchain means that every individual needs to safeguard their own private key.
			<br><br>
			This is harder than it sounds, and most people never had to do it before. With centralized services such as Google and Facebook, you did not control your data. Those services did, which is why you never had to truly own a private key.
			<br><br>
			Be advised: If you lose all copies of your private key - there is no way to recover it. If someone gets their hands on a copy of your private key - they can steal all of your funds, and there is no way to undo it.
			<br><br>
			<strong>Setting up your wallet.</strong>
			<br><br>
			Wallets are a secure place to store your private keys. Wallets can be hardware devices (Ledger, Trezor), mobile apps (Coinbase Wallet, imToken, Trust Wallet), or a browser extension like Metamask. All of these wallets will work with the Origin marketplace DApp. Here’s a video tutorial on how to setup <a href="https://metamask.io">Metamask</a> on your desktop browser:
			<br><br>
			<a href="https://www.youtube.com/watch?v=EMVh3b29gYA">
				<img src="{{universal.BASE_URL }}/static/img/emails/metamask-youtube-screenshot.png" width="100%" />
			</a>
			<br><br>
			While Metamask is generally the best option for desktop users, on mobile, we recommend using the <a href="https://www.originprotocol.com/ios">Origin Wallet</a>. The Origin Wallet is currently only available for iOS and is limited to English speakers.
			<br><br>
			<strong>Gas fees</strong>
			<br><br>
			Whenever you interact with the blockchain, your request gets sent to miners on the Ethereum network who crunch the numbers and confirm the transaction. For that service the miners receive a fee paid by the person submitting the transaction request (please note that entire fee goes to the miners, not us!). You can think of it a bit like paying for shipping and handling.
			<br><br>
			Gas represents the computational power used to process and add a transaction to the Ethereum blockchain. For a transaction to be approved a user must pay a transaction fee to the computers that confirm transactions. A transaction will use as much gas as is required, up to the user-defined limit. If the gas limit is reached, the transaction will fail (and no gas cost will be refunded).
			<br><br>
			Sometimes you’ll be prompted to sign a message using your private key. Signing allows you to prove that you are the owner of a specific wallet. Unlike sending a transaction, signing is free and doesn’t require any gas.
			<br><br>
			<strong>Acquiring ETH</strong>
			<br><br>
			Before you can use our DApp, you will need to acquire ETH from an exchange or a friend. There are cryptocurrency exchanges in every region of the world. <a href="https://www.coinbase.com">Coinbase</a> is a popular choice that is currently available in <a href="https://www.coinbase.com/global?locale=en-US">42 countries</a>, but Google can help you find the best option for where you live. Once you obtain your initial ETH, you’ll want to transfer it to the wallet that you plan to use with the DApp so you can start buying and selling on Origin marketplace.
		</td>
	</tr>
</table>

{% endblock %}

