{% extends 'email/email_base.html' %}

{% block content %}

<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td style="padding: 40px; font-family: 'Lato', sans-serif; font-size: 15px; line-height: 20px; color: #444444;">
      Welcome to the {{ universal.BUSINESS_NAME }} email list! 
      <br><br>
      We’ll keep you updated on our latest news from now on.
      <br><br>
      But why just read when you can contribute? Please join our community on your favorite platforms and help shape the future of the decentralized sharing economy.
      <br><br><br>
      <center>
        <a href="{{ universal.TELEGRAM_URL}}"><img src='{{universal.BASE_URL }}/static/img/telegram-button.png' /></a>
      </center>
      <br><br>
      Are you a developer? We’re actively developing our demo DApp and protocol specification on <a href="{{ universal.GITHUB_URL }}">Github</a> and welcome good pull requests. We use <a href="{{ universal.DISCORD_URL}}">Discord</a> for our team collaboration and we welcome you to join us there. You can also find us on <a href="{{ universal.FACEBOOK_URL}}">Facebook</a> and <a href="{{ universal.TWITTER_URL}}">Twitter</a>.
      <br><br>
      To learn more about our project, our <a href="{{ universal.PRODUCT_BRIEF_URL }}">product brief<a> and <a href="{{ universal.WHITEPAPER_URL }}">whitepaper</a> are a great place to start.
      <br><br>
      Looking forward to getting to know you over the coming weeks and months!
      <br><br>
      Thanks,
      <br>
      The {{ universal.BUSINESS_NAME }} team
      <br><br>
    </td>
  </tr>
</table>
  
{% endblock %}

