{% extends 'email/email_base.html' %}

{% block content %}

<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
		<td style="padding: 40px; font-family: 'Lato', sans-serif; font-size: 15px; line-height: 20px; color: #444444;">
			The best way to get started with true peer-to-peer commerce is to <a href="https://www.originprotocol.com/mobile">download our mobile app</a>. With <a href="https://www.originprotocol.com/mobile">Origin Marketplace</a>, you can do everything from buying and selling to managing your identity on the blockchain. If you're already a MetaMask user and want to migrate your account to our mobile wallet, <a href="https://docs.google.com/document/d/19zwT_xaq-cQHpsTE3eWIFOiRRYsrkOqudpJ64mhs_U8/edit?usp=sharing">check out our step-by-step guide</a>.
			<br><br>
			Origin Protocol is a distributed company that depends on the involvement of hundreds of volunteer contributors. All of our code is open-source, and much of our product development happens out in the open. Our philosophy is that everything we do should be "public by default". You can get involved today and help shape the future of peer-to-peer commerce by joining us on <a href="https://www.originprotocol.com/discord">Discord</a>.

		</td>
	</tr>
</table>

{% endblock %}
